[2014-03-11 00:58] ken-okabe opened #1 "beautify on save option"
Hi,

beautify on save option please.

 `atom.workspaceView.command "core:save", => @convert()`

[2014-03-12 06:03] #1 closed, assigned to nobody

[2014-03-12 06:16] donaldpipowitch opened #2 "expose beautify settings"
As mentioned here: https://github.com/donaldpipowitch/atom-beautify/issues/1#issuecomment-37301849

It would be great to use a `.jsbeautifyrc` which looks like this (defaults):

[code]

And maybe `.cssbeautifyrc` and `.htmlbeautifyrc`, too. (Doesn't seem to be used by https://github.com/einars/js-beautify itself? See https://github.com/einars/js-beautify/issues/391)
- Settings for JS: https://gith

[2014-04-04 17:19] tinyfly opened #4 "Messed up CSS pseudo selectors"
CSS selectors like `a:link` becomes `a: link` after beautifying. This breaks those styles.

[2014-05-06 15:53] BigAB opened #5 "Beautify on Save does not seem to be working"
I am on a Mac OSX 10.9.2

With the beautify on save option checked in preferences, still nothing happens on save. Clicking beautify option or ctrl-alt-b works fine though.

[2014-05-13 05:32] #2 closed, assigned to nobody

[2014-05-13 05:32] #5 closed, assigned to nobody

[2014-05-13 10:44] karolyi opened #7 "Place cursor back to edited place after beautifying"
Hi,

Using the plugin, when the file gets modified, the cursor jumps to the end of the file.

This needs to be fixed, it had to stay at its position.

[2014-05-13 10:46] karolyi opened #8 "Ignore jsbeautify when editing .jsbeautifyrc in place"
When editing `.jsbeautifyrc`, and if it's in the path to be evaluated, we get an error from the config-chain module, which is right, because the invalid syntax (in the middle of editing/saving) causes the json file failing to load.

Needs to be fixed.

I'll provide a fix for this later on.

[2014-05-14 18:12] gvn opened #9 ".jsbeautifyrc doesn't support all 3 language preferences"
I'm not sure if I'm doing something wrong because using a .jsbeautifyrc is undocumented, but from your source it looks like it should be loaded.

Repro:
- Clone https://github.com/mozilla/webmaker-profile-2
- Open the cloned folder in Atom via File -> Open
- Run _Beautify_ from Packages menu on a JS file that has some extra line breaks added

Expected:
- `max_preserve_newlines` is set to 1, so ext

[2014-05-14 21:05] #7 closed, assigned to nobody

[2014-05-14 21:05] #8 closed, assigned to nobody

[2014-06-01 01:18] mattatcha opened #12 "ReactJS"
Would it be possible to add support for ReactJS JSX files?

[2014-06-02 05:20] #12 closed, assigned to nobody

[2014-06-12 23:09] Glavin001 opened #13 "Handlebars support"
See https://github.com/taronfoxworth/atom-beautifier/issues/4

In progress :smile:..

[2014-06-12 23:12] Glavin001 opened #14 "Other Data Support"
- [x] SQL, See https://github.com/vkiryukhin/pretty-data
- [x] CSS, by js-beauty
- [x] JSON, with comments
- [x] XML, see #3

[2014-06-12 23:26] Glavin001 opened #15 "Single .jsbeautifyrc for a project (in project's root directory)"
See https://github.com/sindresorhus/atom-jshint/blob/master/load-config.js#L13-L70

I am working on this now. Just confirmed it is an issue, as `editor.getPath()` returns the path for the current window, and of course that directory is not necessarily the project root.

[2014-06-13 00:14] Glavin001 opened #16 "[BUG] Custom configuration is ignored and overridden"
![image](https://cloud.githubusercontent.com/assets/1885333/3265362/84e95a52-f28f-11e3-88bb-4b8cf9aa650c.png)

Notice that in the first log, under `html` the `indent_size` is `6`. However, later on it is overridden to `indent_size: 6`.

[2014-06-13 01:04] Glavin001 opened #18 "Specs (and Travis CI)"
- [x] Specs
See https://atom.io/docs/latest/writing-specs
  - [x] Fix specs that are currently hidden / disabled with underscore (`_`).

- [x] Travis CI
See https://github.com/atom/ci
  - [x] Install dependencies for CLI beautifiers
  - [x] Install Atom package dependencies

---

TODO: Current languages not working for Tests

- [ ] PHP with PHP_Beautifier is still not working. I do not yet know ho

[2014-06-13 03:26] Glavin001 opened #19 "Beautify not yet created files."
This occurs when beautifying on a file in a new window, because the `editorFilePath` is `undefined`.

[code]

This is when the file is not yet created.
- [x] Verify that the path is being passed a valid string

[2014-06-13 04:08] Glavin001 opened #20 "Sass and LESS support"

[2014-06-13 16:56] #13 closed, assigned to nobody

[2014-06-13 16:56] #15 closed, assigned to nobody

[2014-06-13 16:56] #16 closed, assigned to nobody

[2014-06-13 16:56] #19 closed, assigned to nobody

[2014-06-13 16:56] #20 closed, assigned to nobody

[2014-06-13 18:08] #4 closed, assigned to nobody

[2014-06-14 05:20] Glavin001 opened #21 ".jsbeautifyrc written in YAML (alternative to JSON) for config options file"
Should we?

If yes, we can use: https://github.com/nodeca/js-yaml

[2014-06-14 05:27] Glavin001 opened #22 "Use Atom Packages Config Settings as default options"
See https://github.com/taronfoxworth/atom-beautifier/blob/master/lib/beautifier.coffee#L70-L94

[code]

I know I liked `atom-beautifier` a lot more because I could easily edit settings in the Atom package settings panel. And so did this user: https://github.com/taronfoxworth/atom-beautifier/issues/3#issuecomment-46056496

@karolyi , thoughts?

[2014-06-14 09:45] #14 closed, assigned to nobody

[2014-06-14 15:38] Glavin001 opened #24 "AutoPEP8 support for Python Beautification"
See https://github.com/wistful/SublimeAutoPEP8 and https://github.com/hhatto/autopep8

[2014-06-14 15:42] Glavin001 opened #25 "Ruby beautification support"
See https://github.com/CraigWilliams/BeautifyRuby

[2014-06-14 15:46] Glavin001 opened #26 "PHP beautifcation support"
See https://github.com/sdwood/php-beautifier and https://github.com/SublimeText/PhpBeautifier and http://pear.php.net/package/PHP_Beautifier

[2014-06-14 15:53] Glavin001 opened #27 "Atom commands for specific language"
See https://github.com/taronfoxworth/atom-beautifier/blob/master/lib/beautifier.coffee#L99-L102

[code]

**Use case:** highlight a specific area of code that is a different language than the overall file's grammar type. Now apply the desired, correct, beautification.

[2014-06-14 15:54] Glavin001 opened #28 "Animated screencaptures for demoing each language"
See https://itunes.apple.com/ca/app/gifgrabber/id668208984?mt=12 for Mac

[2014-06-14 15:59] Glavin001 opened #29 "Improve Package.json"
- [x] Keywords
  See https://github.com/ardcore/atom-colorpicker/blob/master/package.json#L7-L13 for example
  - [x] List languages
- [x] Contributors

[2014-06-14 16:18] #9 closed, assigned to nobody

[2014-06-15 04:52] Glavin001 opened #31 "Coffeescript support"
See https://github.com/derekchiang/Coffee-Formatter

[2014-06-15 11:56] #21 closed, assigned to nobody

[2014-06-15 11:56] #22 closed, assigned to nobody

[2014-06-15 11:56] #29 closed, assigned to nobody

[2014-06-16 02:57] Glavin001 opened #33 "Perl support"
See http://search.cpan.org/dist/Perl-Tidy/

[2014-06-16 06:13] #24 closed, assigned to nobody

[2014-06-16 06:13] #25 closed, assigned to nobody

[2014-06-16 06:13] #26 closed, assigned to nobody

[2014-06-18 12:39] mansona opened #34 "Changing indents to tabs even though my .jsbeautifyrc says otherwise"
Hi Folks,

bit of a strange one here but I've only noticed it since i've updated to 0.3.3 (not sure if it was going on before).

here is the contents of my .jsbeautifyrc:

[code]

but it is still replacing my spaces for tabs

https://cloudup.com/cz5VzNyU_ZB

... eh.. what? things just got even stranger. I don't really know why that happened (mixed tabs and spaces).

any logs i can do to help out w

[2014-06-19 13:06] #34 closed, assigned to nobody

[2014-06-28 00:02] Glavin001 opened #35 "More customization for Python (AutoPEP8)"
See [autopep8 usage](https://github.com/hhatto/autopep8#id3).
- [x] max line length
- [x] indent size
- [x] ignore errors

/cc @dreid93 @liamcoau , here's to you buds :).

[2014-06-28 00:19] Glavin001 opened #36 "Right-Click in File Tree to Beautify other files"
- [x] Right-click single file
- [x] Right-click directory

[2014-06-28 03:23] Glavin001 opened #37 "Support upwards recursive .jsbeautifyrc fallback"
Instead of finding the closest `.jsbeautifyrc` file and applying it, we should instead find all `.jsbeautifyrc` files upwards from the starting directory. Thus, you can apply Project Specific  as a fallback for directory specific, and so forth.

[2014-06-28 08:36] #35 closed, assigned to nobody

[2014-07-01 08:28] Glavin001 opened #39 "Use Atom Logger instead of console.log for debugging"
See https://github.com/Glavin001/atom-logger

[2014-07-01 10:21] donaldpipowitch opened #40 "Future maintenance"
Hi @Glavin001 and @karolyi,

thank you both for the great work on this project in the last weeks. Amazing! As you've seen I didn't contributed a lot recently (say: nothing).

Reasons for this: little free time and little motivation, because Atom isn't my main editor. I've created this package even before I had access to Atom, because I wanted to test the APIs for plugins :) So I couldn't know if I

[2014-07-01 10:33] donaldpipowitch opened #41 "Rename .jsbeautifyrc to .atombeautifyrc"
Hi @Glavin001 and @karolyi,

Before leaving (?) the project (https://github.com/donaldpipowitch/atom-beautify/issues/40) I have one last question/advice:
As you've added new languages we are in the need to clarify the relation to https://github.com/beautify-web/js-beautify.

The project started as an Atom wrapper for js-beautify, but it should be treated independent to js-beautify now.
We already

[2014-07-02 05:12] #40 closed, assigned to nobody

[2014-07-03 06:04] tresni opened #42 "Unable to update to 0.3.4"
You probably  already know but looks like we are unable to update to 0.3.4 via the package manager.  I believe this may be due to the packaging moving from @donaldpipowitch to @Glavin001 .  You may need to update the repo information in package.json to point to the new URL.

[code]

[2014-07-03 16:31] #42 closed, assigned to Glavin001

[2014-07-03 21:20] tedserbinski opened #43 "breaks Sass selectors when using Link state styles (such as &:hover)"
When beautifying a Sass document it breaks this:

[code]

It inserts a _space_ breaking the selector: `&: hover`

[2014-07-04 02:46] #43 closed, assigned to nobody

[2014-07-04 02:51] Glavin001 opened #44 "Improve SASS Support by switching to Pretty-Diff"
See https://github.com/badsyntax/SassBeautify

[2014-07-07 21:56] m1ga opened #45 "Java support"
support for Java would be nice,too

[2014-07-09 14:23] Glavin001 opened #46 "Use ActivationEvents to speed up loading time"
Use ActivationEvents to speed up loading time

[2014-07-10 01:20] #46 closed, assigned to Glavin001

[2014-07-12 13:55] Glavin001 opened #47 "Google Analytics"
- [x] Track most popular languages beautified (so we know what to prioritize development on)

[2014-07-12 15:02] #47 closed, assigned to Glavin001

[2014-07-22 20:05] mcdonnelldean opened #48 "QUESTION: Line up . characters in Javascript"
Hi,

Just downloaded your beautifier, it works wonderfully. I wanted to know if there is a way in the settings to have all .'s line up..

Current Code:

[code]

What I would like:

[code]

Is this currently possible?

Thanks!

[2014-07-22 20:57] #48 closed, assigned to nobody

[2014-07-23 01:27] Glavin001 opened #49 "TypeScript support"
see https://www.npmjs.org/package/typescript-formatter

[2014-07-23 15:38] Frozenfire92 opened #50 "Use atom editor settings for indentation level"
Currently you use the specific beautifiers settings (ie js is 2) when my editor is set to 4

[2014-07-24 23:35] AndalfTheBeard opened #51 "ENOENT -4058 when beautifying php"
As seen below:
http://prntscr.com/461gkr

[2014-07-26 22:52] mcdonnelldean opened #52 "Issues Beautifying LESS when using @variable or &:hover syntax"
When using the `beautify` command on a less file, their seems to be issues with how items are restructured. I have no custom settings or overrides.

_Note: The screenshots are missing the trailing `}` but it is included in the raw testing text._
#### Before Command

![beforebeautifycommand](https://cloud.githubusercontent.com/assets/3625961/3712471/6fe0b728-1516-11e4-8587-5de82579b0da.png)
#### Af

[2014-07-28 11:13] #52 closed, assigned to nobody

[2014-07-28 20:28] nojaf opened #53 "Less beautify error with Link style states"
Hi,

I'm using atom 0.119.0 on Windows to format my less file. Whoever the output isn't exactly better at all. Also there is a bug when using statements as &:hover and &:link

[code]

&:hover and &:link become &:(space)hover and &:(space)link. Which doesn't compile anymore.

[2014-07-28 20:32] #53 closed, assigned to nobody

[2014-07-28 21:01] Glavin001 opened #54 "Switch to Pretty-Diff for LESS support"
See https://github.com/austincheney/Pretty-Diff

/cc #53 , #52

[2014-07-29 21:01] RangerMauve opened #55 "Cannot set html indent to tabs from within atom"
Trying to set the `Html indent char` field to `\t` makes it insert the characters `\` and `t`. It's also impossible to paste a tab character into the text input.

[2014-07-30 02:08] #55 closed, assigned to Glavin001

[2014-08-02 00:07] #54 closed, assigned to Glavin001

[2014-08-04 03:31] #31 closed, assigned to Glavin001

[2014-08-04 03:36] #44 closed, assigned to Glavin001

[2014-08-04 04:11] Glavin001 opened #56 "Message/Loading Popup/Modal"
Currently there is no way to display a message to the user, such as errors or warnings or deprecation notices (see #40). Let's put a little overlay on the top for displaying such information.

[2014-08-04 04:16] #50 closed, assigned to Glavin001

[2014-08-04 04:21] #39 closed, assigned to Glavin001

[2014-08-08 01:07] Glavin001 opened #57 "Uncrustify for C, C++, C#, ObjectiveC, D, Java, Pawn and VALA language support"
Closes existing issue #45 (Java).

[2014-08-08 17:42] #45 closed, assigned to nobody

[2014-08-08 17:45] Glavin001 opened #58 "Improve usage documentation"
Each language should have detailed installation and usage customization instructions.

[2014-08-08 21:43] #57 closed, assigned to Glavin001

[2014-08-09 04:45] Icehunter opened #59 "save on beautify refuses to fire unless manually done first"
Issue:
saving on beautify is on yet when I save it does not beautify unless I used ctrl-alt-b first. This however prevents whitespace from ensuring a blank line at the end of the file.

Installed Packages:

[code]

I'm also using OSX Yosemite. Not sure if that matters but this started happening in last 24 hours and I went through my install history and can't figure out what could have caused it.

[2014-08-09 05:24] #59 closed, assigned to Glavin001

[2014-08-10 21:24] Glavin001 opened #60 "Switch from JavaScript to CoffeeScript as package language"
Use http://js2coffee.org/

Since Atom is written in CoffeeScript and most packages for Atom are also written in CoffeeScript, it is becoming increasingly advantageous to switch to CoffeeScript for the package's core language.

[2014-08-10 21:52] #60 closed, assigned to Glavin001

[2014-08-13 03:38] sebastiankade opened #61 "Less Beautify Crashing when using multiple parameters in mixin"
Hi,

Love the package.

I'm getting:

[code]

for mixins with multiple parameters:

[code]

Cheers

[2014-08-13 04:18] Glavin001 opened #62 "Lint languages on error to verify if the error is with Atom Beautify or with the input"
For example, #61.

[2014-08-13 10:51] jamhall opened #63 "SQL beautify - all lines are 'beautified' into one long line"
Hi there,

Nice plugin :-)

I have a little issue with formatting SQL.

Let's take this example:

[code]

It gets beautified into this:

[code]

I'm not sure about you, but that's not very 'beautiful' ;-)

Perhaps this is standard behaviour? Or I'm missing a config option?

Thanks in advance.

[2014-08-13 19:10] nojaf opened #64 "Additional blank line in html formatting"
Hi,

I'm having some weird behavior when formatting html.
After the beautify command the html contains some unwanted blank lines.

F.ex.:

[code]

Will format to

[code]

It there a setting I'm missing to prevent this?

[2014-08-13 19:33] Glavin001 opened #65 "Beautify selection of code"

[2014-08-13 19:38] #64 closed, assigned to Glavin001

[2014-08-13 19:42] #61 closed, assigned to Glavin001

[2014-08-13 19:44] #51 closed, assigned to Glavin001

[2014-08-15 07:11] bluedaniel opened #66 "Scss files indentation"
With the new Pretty Diff, Scss files indent incorrectly. Is there a setting in Pretty Diff we can edit to correct this?

Screenshot taken from http://prettydiff.com/?m=beautify
![screenshot 2014-08-15 08 06 58](https://cloud.githubusercontent.com/assets/189383/3930713/241e75a2-244b-11e4-89c8-36ad08aa0b6b.png)

[2014-08-15 14:24] #66 closed, assigned to Glavin001

[2014-08-15 18:00] #65 closed, assigned to Glavin001

[2014-08-21 12:25] db6edr opened #68 "Support editorconfig"
Support .editorconfig to auto-configure atom-beautify if there is one in the current project

[2014-08-22 05:12] vorou opened #69 "How to turn off space between function and opening bracket?"
Thanks for the great package!

In this code I don't want beautify to put a whitespace between `function` and `(`:

[code]

Didn't find the option, is it possible?

[2014-08-24 17:21] phillip-haydon opened #70 "Formatting LESS re-writes LESS..."
Just tried this package out, before formatting:

[code]

After

[code]

See how it removed the `auto` on the margin... Don't care if its valid or not, this library formats code does it not, not rewrites it for me...

Also it seems to be completely broken with LESS, as you can see it left-aligned my `width`.

Other issues like this occur:

[code]

A complete mess.

This is using the latest version

[2014-08-24 21:44] StevenACoffman opened #71 "Support reserved words as property names"
I'm using Q and some of its methods are reserved words, like catch and finally.

In Q for example you can write:

[code]

But this is formatted by atom-beautifier in:

[code]

Because catch is interpreted as a keyword.

Is there a way to format this code properly without using the square bracket notation (i.e. Q($.ajax(...))['catch'](...))?

This issue appears to have been resolved in js beautify:

[2014-08-30 09:28] #69 closed, assigned to Glavin001

[2014-08-30 18:32] #63 closed, assigned to Glavin001

[2014-09-02 17:37] lombardi-gux opened #72 "Fails on SCSS file"
Tried to run "beautify" on a fairly simple SCSS file: http://cl.ly/code/4201472J3l2F/kendoui.scss

![screen shot 2014-09-02 at 1 33 25 pm](https://cloud.githubusercontent.com/assets/7459986/4122699/3d70a7ca-32c7-11e4-909b-e472fd0283ae.png)

[2014-09-03 07:23] garrows opened #73 "Extra cursor at end of file"
Hi,
Love your project.
Since updating to v0.6.3 I've noticed when it formats a file and makes a change, there is an extra cursor at the bottom of the page. At first I thought the module was corrupting my file since I was typing off screen without noticing.

I'm using atom v0.121.0

Thanks

[2014-09-03 18:57] gagna opened #74 "Can't Beautify SCSS files."
Hi all, beautify SCSS files cause this:

![issue](https://cloud.githubusercontent.com/assets/7458860/4139612/8961cc9c-339c-11e4-9a9d-e31b321f000d.jpg)

I'm on OSX

[2014-09-04 17:49] #73 closed, assigned to Glavin001

[2014-09-05 13:09] garrows opened #76 "Just highlighted section formatted on save"
Hello again,

I'm on v0.6.4 and I've noticed if you have the 'beautify on save' setting on and have something highlighted when saving a file, only the highlighted code is formatted.

This is mainly annoying when commenting/uncommenting code and saving.

Again, love your work.

Thanks.

[2014-09-06 09:29] gagna opened #77 "SCSS Syntax Disappear"
Hi @Glavin001, again i am really unlucky with this package.
When i beautify SCSS my code change from this:

[code]

To:

[code]

[2014-09-07 12:51] m1ga opened #78 "Slow startup time"
![startuptime](https://cloud.githubusercontent.com/assets/4334997/4178313/7afbb746-368d-11e4-9f8d-b130379b1a81.jpeg)

Perhaps there is some space for improvements. The package is the slowest in my list

[2014-09-07 14:46] #74 closed, assigned to nobody

[2014-09-07 14:47] #77 closed, assigned to Glavin001

[2014-09-07 21:30] #76 closed, assigned to Glavin001

[2014-09-07 22:33] #78 closed, assigned to Glavin001

[2014-09-07 23:15] #71 closed, assigned to Glavin001

[2014-09-08 09:47] SubZane opened #79 "Can't get "unformatted" to work in my . jsbeautifyrc"
I don't want to format my ul/li lists when beautifying so I add them to "unformatted" but they still get formatted. Either I'm doing something wrong or it's not working as intended. Please help :)

source of my .jsbeautifyrc

[code]

[2014-09-08 11:10] borisdamato opened #80 "Support HTML (Ruby - ERB)"
When I try to beautify an html.erb file, atom returns the "Unsupported language for grammar 'HTML (Ruby - ERB)'." error. Since html.erb is just a simple html file with embed ruby, could it be possibile to support it?

[2014-09-08 12:32] #79 closed, assigned to Glavin001

[2014-09-08 17:25] Glavin001 opened #81 ""Uncaught TypeError: Cannot read property 'messagePanel' of undefined" when "Beautify On Save" enabled"
See https://github.com/Glavin001/atom-beautify/issues/71 for details from @StevenACoffman

[2014-09-08 19:28] #81 closed, assigned to Glavin001

[2014-09-08 21:51] #80 closed, assigned to Glavin001

[2014-09-08 22:12] #70 closed, assigned to Glavin001

[2014-09-09 01:07] raimckenzie opened #82 "Installing “atom-beautify@0.8.1” failed"
I'm receiving the following error when trying to install the package from Atom.

Running Atom 0.125.0 on Windows 7 64-bit.

[code]

[2014-09-09 01:28] #82 closed, assigned to Glavin001

[2014-09-09 02:12] IdanAdar opened #83 "Changelog stopped at 0.2.6"
It appears that in the changelog area, the changelog stopped at 0.2.6 whereas the app is at 0.8.1 by now.

[2014-09-09 03:30] #37 closed, assigned to Glavin001

[2014-09-09 04:01] #83 closed, assigned to Glavin001

[2014-09-09 08:54] hced opened #84 "Disable "Popup" message?"
Each time I've beautified my document a message 'thingy' pops up in the lower part of the window:

![beautify_popup](https://cloud.githubusercontent.com/assets/93350/4198826/24c312ee-37fe-11e4-840f-8b2ae07f7966.png)

I have two questions:
1. What's the use for this? :) (I don't mean to sound rude!)
2. Is it possible to suppress this message?
3. What does the 'squeeze'-looking button next to the X

[2014-09-10 09:58] BlaM opened #85 "Fix Windows support for upwards recursive .jsbeautifyrc fallback (originally #37)"
Not sure what I'm doing wrong, but all this package seems to do on the two Windows machines I tried it on is to lock up Atom.

As soon as I press ALT+CTRL+B the whole editor window freezes and after some time a window pops up telling me that something got stuck and asks me if I want to continue waiting or if I want to halt it. Waiting seems to go on forever.

Atom v0.125.0
Windows 7 64bit - one wi

[2014-09-10 13:27] #68 closed, assigned to Glavin001

[2014-09-10 19:30] #85 closed, assigned to Glavin001

[2014-09-10 20:11] #84 closed, assigned to Glavin001

[2014-09-11 00:30] lallmon opened #86 "ERB Support?"
Erb is pretty much HTML, however it seems as though atom-beautify doesn't do anything. You can quickly rename the file, but that gets tedious.

Any way to enable it or what would it take to get support?

[2014-09-11 01:59] #86 closed, assigned to Glavin001

[2014-09-12 14:45] SubZane opened #89 "ReferenceError: config is not defined"
on line 282 in file
/packages/atom-beautify/lib/beautify.coffee

I have no idea what's missing or not working or why.

[2014-09-13 18:06] rcrooks opened #90 "request: exclude html pre tags from indentation"
Because browsers treat white space outside pre tags as white space inside, we never indent our pre blocks. It would be great to have a option for beautify to exclude pre blocks from processing.
Thanks for considering!

[2014-09-13 18:11] #90 closed, assigned to Glavin001

[2014-09-14 03:33] thedadams opened #91 "Uncrustify command not found"
Hello,

Beautify for Atom seems to be looking for uncrustify in the wrong place (at least for me).  I installed uncrustify with HomeBrew, and it installed it in `/usr/local/bin/`.  However, Beautify is looking in `/bin/sh`.  Is it possible to add an uncrustify path option?

Thanks.

[2014-09-15 03:05] #91 closed, assigned to Glavin001

[2014-09-15 14:34] #89 closed, assigned to Glavin001

[2014-09-15 18:38] Bengt opened #93 "Markdown support"
Currently Atom Beautify displays an error, when opening a markdown file:

It would be nice to have Atom Beautify normalize Markdown. That could be done using pandoc as [suggested in another repo](https://github.com/bundestag/gesetze-tools/issues/3):

[code]

[2014-09-15 20:11] ericrange opened #94 "Add support for Underscore templating"
i need underscore support :(

[2014-09-15 22:22] sebastiankade opened #96 "Alpha sort option for CSS/LESS"
Wanted the ability to turn off alpha sorting in LESS files.

Raised with Pretty-Diff here: https://github.com/austincheney/Pretty-Diff/issues/28#event-164567203

Added to pretty-diff in commit: https://github.com/austincheney/Pretty-Diff/commit/af5fea0e4e05111248dc3d9cdf5412934cd6c789

Can the updated version of pretty-diff be added to atom-beautify?

Cheers

[2014-09-18 04:58] #93 closed, assigned to Glavin001

[2014-09-20 15:22] simonwjackson opened #100 "Configure CSS/LESS Beautification"
Currently CSS brackets are stacked on top of each other:

[code]

Is there a way we can add a line between these declarations?

[code]

[2014-09-20 16:18] simonwjackson opened #101 "CSS/LESS Beautifier sorts properties and could result in bug / unexpected result"
Beautifying this..

[code]

..results in this

[code]

This can cause issues if ".something()" produces a "width" property.

[2014-09-20 18:11] #101 closed, assigned to Glavin001

[2014-09-20 18:15] #100 closed, assigned to Glavin001

[2014-09-20 22:15] thedadams opened #102 "Error when Beautifying Python using custom Python Autopep8 path"
I could not get autopep8 to work with atom-beautify; I would get the error in the title each time.  I did verify that autopep8 worked from the command line.  I changed line 12 in python-beautify.coffee from
`"python \"" + path + "\" \"" + inputPath + "\" " + optionsStr`
to
`path + " \"" + inputPath + "\" " + optionsStr`

This solved my problem.  I'm not sure if this is a common error, but I wanted

[2014-09-23 06:31] dontdieych opened #103 "Beautify only selected area results in entire file beautification when "Beautify Entire File On Save" enabled"
[code]

It is packet capture from wireshark. If I set this file type as `xml` then select only xml part then beautify, http header parts are also bautified(became big one line).

Workaround is comment out that header then beautify(selection or whole file).

Is that poissible "beautify this selection as xml whatever current file is"?

[2014-09-23 19:53] jravetch opened #104 "Pep8 fails with Zsh"
I use Zsh and when trying to run Pep8, I get the following error:

Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;python "/usr/bin/autopep8" "/tmp/input114823-18715-1r4jajo" --max-line-length 79 --indent-size 4 --ignore E24 /bin/sh: 1: source: not found /bin/sh: 1: source: not found Usage: autopep8 [options] [filename [filename ...]

[2014-09-27 09:29] tusharmath opened #105 "Add option to mute errors"
Why do we throw an error here - https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L255

This is creating a lot of issues when I edit Jade. My screen is full of these errors, can it not be disabled or silently fail?

[2014-09-28 03:47] deankarn opened #106 "Issue beautifying PHP sing php_Beautifier"
The below error occurs when trying to beautify my php code.
I have php_Beutifier 0.5.15installed and the path setup in the Atom Beautifier Settngs

Uncaught TypeError: Cannot read property 'split' of undefined /Applications/Atom.app/Contents/Resources/app/node_modules/text-buffer/lib/range.js:40module.exports.Range.fromText /Applications/Atom.app/Contents/Resources/app/node_modules/text-buffer/lib

[2014-09-28 06:06] joeguilmette opened #107 "Add config option for PHP Beautifier filters"
So, my journey began when I wanted to easily beautify a particularly nasty PHP array. "I'll just use this neat looking package, `Atom Beautify`!" I said to myself. Turns out it requires `PHP Beautifier`. No problem, I'll just install it. Well, the package on the Atom package manager 404'd, so I went ahead to manually install it. And then I needed Pear. And then I needed to add it's include path to

[2014-09-28 08:50] joeguilmette opened #108 "CRLF vs LF with SCSS"
Hi there! More `Atom Beautify` hell for me. Running this beast on my SCSS files kills git via `CRLF would be replaced by LF in my/files.scss`. Setting `git config core.autocrlf false` doesn't help.

I'm on OSX.

[2014-09-28 12:04] #108 closed, assigned to Glavin001

[2014-09-28 19:23] #105 closed, assigned to Glavin001

[2014-09-28 19:36] #102 closed, assigned to Glavin001

[2014-09-28 20:29] #96 closed, assigned to Glavin001

[2014-09-29 02:06] #106 closed, assigned to Glavin001

[2014-09-29 21:55] starquake opened #109 "Do not remove last line-feed from file."
I use atom-beautify with linter jscs (google preset but I think it also complains with jquery preset) but it keeps complaining: Missing line feed at file end.

Enabling "js preserve new lines" does not fix this. And there is no way to let these two plugins come to peace with each other. Could you keep the last line-feed intact or make it an option to keep it intact?

[2014-10-01 11:24] ncoquelet opened #110 "Beautify on handlebars = Beautification in progress."
Atom 0.133.0 on windows 7
Beautify 0.13.2

Hi,

When i want to beautify a handlebars template files (.hbs), a popup come on the top of editor with the message "Beautification in progress." and never disappear !
File stay unchanged and i need to hide the popup.

Thanks

[2014-10-01 11:57] ncoquelet opened #111 "don't format javascript es6 import/export"
Atom 0.133.0 on windows 7
Beautify 0.13.2

Hi,
Can you add option to disable format of es6 import/export lines ?

We use es6 syntax into our projet.
Many js files start with import expression and end with export expression.
like this :

[code]

When i beautify this file, the es6 import/export are transform like this :

[code]

This is due to the default bracket formatting, but is ugly when we have

[2014-10-01 15:45] maxxcrawford opened #112 "php_beautifier: command not found"
Using [Laravel Blade Template Structure](http://laravel.com/docs/4.2/templates) on project. The plug-in fails when ran on foo.blade.php files. It may be that the page starts with Laravel specific syntax, `@layout` or `@section('bar')` before the standard HTML beings.

**Atom Error Code:**

[code]

[2014-10-02 16:00] AlbertoFdzM opened #113 "Failed to load Package on Windows: 'unsafe-eval' error caused by Analytics-Node library"
I can't use this package

Windows 8.1 x64
Atom 0.134.0
atom-beautify 0.13.2

[code]

[2014-10-03 20:49] danhawkes opened #114 "'Beautify' does not appear in command palette: 'unsafe-eval' error caused by Analytics-Node library"
Running 0.13.2 in atom 0.135.0.

Having uninstalled a few (of what I thought were) unrelated packages, beautify is no longer showing up in the command palette.
It _is_ appearing in the 'Packages' window menu, but selecting the 'Beautify' item has no effect.

No errors are generated, and as a last-ditch effort I've also tried reinstalling atom/the plugin and wiping the `~/.atom` directory.

I'm out

[2014-10-04 02:13] itanoss opened #115 "Not activated on ubuntu: 'unsafe-eval' error caused by Analytics-Node library"
I'm using atom on ubuntu 14.04 and Atom 0.128.0.
When I installed atom-beautify, I've faced the below error.
So I cannot use all features of atom-beautify. :(
Thank you.

[code]

[2014-10-04 02:17] #115 closed, assigned to Glavin001

[2014-10-05 13:45] #114 closed, assigned to Glavin001

[2014-10-05 13:46] #113 closed, assigned to Glavin001

[2014-10-05 16:23] #110 closed, assigned to Glavin001

[2014-10-05 16:32] #111 closed, assigned to Glavin001

[2014-10-05 16:37] #112 closed, assigned to Glavin001

[2014-10-06 05:51] toddbluhm opened #116 "When beautify on save, don't unfold all the current code folds"
I have, beautify-on-save checked and when I save one of my js files, it unfolds all the code blocks I have folded up so then I have to go back and refold them all. This is by no means a high priority issue, but more something that would be a really nice enhancement to have.

I also understand this might be something completely out of atom-beautifiers control too.

[2014-10-06 08:49] ericrange opened #117 "Failed connect to github.com:443 when behind Proxy"
npm ERR! git clone https://github.com/Glavin001/Coffee-Formatter.git fatal: unable to access 'https://github.com/Glavin001/Coffee-Formatter.git/': Failed connect to github.com:443; No error

all the time i get this error. i CAN install other packages, but not atom-beautify cause of this shit formatter package

[2014-10-07 23:33] garrows opened #118 "Disable Beautify on Save on per-language basis"
Hi,
Love this package.

Is there a way to disable it from formatting certain languages?

My colleague hates how it formats .less files and therefore disables the beautify on save feature. Then whenever he touches code, the formatting is wrong.

Cheers

[2014-10-09 10:07] ghost opened #119 "LESS output includes extra newline at the end of every style"
I have code as:

[code]

Just pressing Ctrl+Alt+B and i have:

[code]

I've read about prettydiff. How can i use it in Atom?

[2014-10-12 12:37] budhajeewa opened #120 "Beautify selected directory?"
Is it possible to beautify all the files in the directory selected in Tree View?

[2014-10-12 12:39] #120 closed, assigned to Glavin001

[2014-10-12 12:50] #119 closed, assigned to Glavin001

[2014-10-15 17:01] m1ga opened #122 "Add support for TSS (titanium style sheets)"
What would be the best way to include a custom language (TSS, a CSS style language for the app framework Titanium)?

[code]

Is there a way I can say that it would add \n after each , and a \t on each newline between { and } ?

[2014-10-17 01:13] #109 closed, assigned to Glavin001

[2014-10-20 07:20] dottodot opened #123 "Unsupported language for grammar 'HTML (Mustache)'."
When I'm trying to beautify a handlebars file, I get the error of

[code]

Any ideas?

[2014-10-21 08:45] ericrange opened #124 "PHP beautifier package not available to install"
PHP beautifier doesnt work... the package isnt even available anymore on github!

[2014-10-21 08:49] Rad1calDreamer opened #125 "Format *.php file with html inserts"
Hi,
Does it can format templates.php like java ide (netbeans)?
example:
format from
![1](https://cloud.githubusercontent.com/assets/7055577/4715514/13190b08-58ff-11e4-851e-c426057741f3.png)

to
![2](https://cloud.githubusercontent.com/assets/7055577/4715517/1e51c8b6-58ff-11e4-922b-4975ced15a4c.png)

[2014-10-21 13:48] mdav43 opened #126 "package update requires git (requesting Xcode git)"
Not sure if this is Atom or Beatify issue. On updating package, it's requesting to install Xcode tools (for git) even though I have installed git from scm.

It seems that atom/install script ignores an environment (PATH) variables i've set to point to git. Is it because the process is running in launchd?

Running OS X Yosemite,

---

npm http GET https://registry.npmjs.org/emissary
npm http GET ht

[2014-10-21 13:58] #126 closed, assigned to Glavin001

[2014-10-21 15:42] xpol opened #127 "Slow startup time"
Nice package, thanks.

But this package takes 300+ms start time, while other packages only 1~5 ms.

Is it possible consider improve startup time?

[2014-10-21 15:55] gespinha opened #128 "Atom Beautify takes is so slow when I start Atom"
Hi there,

I've noticed through the Atom Timecop page that Atom Beautify is taking a really big amount of time to load when I open Atom.

It is taking around 320ms (minimum), when packages like emmet load in 190ms (and it still is a lot).

This package needs a full optimisation, having lagging Atom every time it starts is really annoying.

Thanks in advance

[2014-10-21 16:36] #128 closed, assigned to Glavin001

[2014-10-21 18:35] #127 closed, assigned to Glavin001

[2014-10-23 00:11] jwaltz opened #129 "Handlebars: not beautifying properly?"
I'm having trouble getting my HTML with Handlebars to beautify.

With grammar set to HTML, beautifying leads to this:
![screen shot 2014-10-22 at 2 06 40 pm](https://cloud.githubusercontent.com/assets/2857078/4746370/ab8a168a-5a48-11e4-9e25-3ca0db1fd429.png)
As you can see, the Handlebars content is all on the same line and not properly indented/nested.

Switching my grammar to Handlebars (provide

[2014-10-23 00:28] #129 closed, assigned to Glavin001

[2014-10-24 08:57] malexandre opened #130 "Format sass & scss files with sass"
Actually, JS Beautify is used for CSS and also for SCSS & SASS. The Sass binary already include a formatter that manage the nested & all Sass specifics. It would be useful to use it instead of JS Beautify.

There is already https://github.com/badsyntax/atom-sassbeautify that uses it, but I didn't find a way to have a specific keybindings for a language, and be able to do "ctrl-alt-b" in every file

[2014-10-26 19:04] #130 closed, assigned to Glavin001

[2014-10-26 19:12] #123 closed, assigned to Glavin001

[2014-10-26 19:23] #94 closed, assigned to Glavin001

[2014-10-26 19:27] #49 closed, assigned to Glavin001

[2014-10-26 19:37] #103 closed, assigned to Glavin001

[2014-10-27 22:52] dougborg opened #131 "Add Puppet beautification via puppet-lint."
It should be fairly easy to add beautification of puppet (*.pp) files using puppet-lint (http://puppet-lint.com).

[2014-10-28 14:06] johnwebbcole opened #132 "beautify breaking custom tags in html."
I'm using a lodash template with a custom tag set to `[[` and `]]` to prevent tags set with gulp from interfering with normal mustache tags.

Beautify is breaking one of these apart:

[code]

To:

[code]

I've tried to set the unformatted list for html in the .jsbeautifyrc but that didn't seem to have any effect.

Is there a way to prevent beautify from splitting this line?  It would be nice to ha

[2014-10-29 09:43] emcek opened #133 "Installing atom-beautify@0.15.1 behind a proxy failed"
I'm behind proxy but atom and other packages are installed fine.

[code]

[2014-10-29 14:26] #133 closed, assigned to Glavin001

[2014-10-30 12:46] ericrange opened #134 "HTML beautify handles span and a tags inline"
why??

[code]

why not??

[code]

[2014-10-30 14:37] #134 closed, assigned to Glavin001

[2014-11-04 10:22] msutter opened #135 "Installing “atom-beautify@0.15.1” failed."
Hi,

Installing atom-beautify outputs a SSL cert error by cloning Coffee-Formatter.

However, mannually cloning Coffee-Formatte is working fine:
--> git clone https://github.com/Glavin001/Coffee-Formatter.git
Cloning into 'Coffee-Formatter'...
remote: Counting objects: 153, done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 153 (delta 70), reused 153 (delta 70)
Receiving objects:

[2014-11-04 18:09] #117 closed, assigned to Glavin001

[2014-11-05 09:50] karloluis opened #136 "EJS Beautification support"
It might be hard to deal with given that it will work as a html an html and js thing running over eachother but hey. It'd be awesome and you'd be one of the few if not the most complete out there yet.

[2014-11-05 18:31] bobber205 opened #137 "Not able to run rbeautify because of "Could not find 'ruby-beautify' (>= 0) ""
Works in console with

[code]

![settings_-__users_alexwait_chirpify_chirpify-frontend_-_atom](https://cloud.githubusercontent.com/assets/5841107/4923363/efec77b0-6519-11e4-9bcc-b4ddccb7c6aa.png)

Path is set in settings page of package.
Also tried restarting atom multiple times (after each step).

[2014-11-05 18:44] #137 closed, assigned to Glavin001

[2014-11-12 14:52] #33 closed, assigned to Glavin001

[2014-11-14 14:27] mansona opened #140 "atom-beautify and js-beautify outputs differ"
I'm trying to add a check to our CI to make sure any changed files are "beautiful" before they can pass the build but i'm noticing that atom-beautify has a subtly different output to js-beautify

atom beautify:

[code]

js-beautify:

[code]

I know it's subtle but essentially the following 3 lines have an extra 4 indent characters (spaces) in the js-beautify version:

[code]

I can't find a settin

[2014-11-16 14:00] #140 closed, assigned to Glavin001

[2014-11-16 14:12] #132 closed, assigned to Glavin001

[2014-11-16 14:17] #118 closed, assigned to Glavin001

[2014-11-16 22:12] erniebrodeur opened #142 "Ruby beautification improvements"
rbeautify supports a few options now

- [x] --tabs
- [x] --spaces
- [x] --indent_count i

If you add these to the settings/support in atom, that would be greatly appreciated.

[2014-11-18 08:43] ericrange opened #143 "Why there is no support for coffee?"
Why there is no support for coffee?

[2014-11-18 13:26] #143 closed, assigned to Glavin001

[2014-11-20 00:42] #107 closed, assigned to Glavin001

[2014-11-20 22:22] stremlenye opened #144 "Support for JSX syntax (ReactJS)"
Hi.
I think, it's hard to implement, but would be useful for a lot of people.
Have you this in plans?

[2014-11-22 22:56] lyatziv opened #145 "PHP_beautifier does not work after installed Yosemite (Mac)"
I'm not certain this is an 'issue' but this stopped working for me after upgrading. maybe someone else is having this problem.

[code]

[2014-11-22 23:28] #145 closed, assigned to Glavin001

[2014-11-26 13:57] TouPye opened #146 "Default settings should be Atom's"
I've seen #50 and I understood that Atom Beautify settings have to override Atom settings in order to work properly.

Nevertheless, I think that default settings should be Atom settings.
For instance, I use an indent length of 4 on every language. By default, Atom Beautify uses 2.
Here I have to manually edit every indent setting and put them on 4.
System should be abble to find that I already set

[2014-12-02 13:55] NathanHazout opened #147 "php beautifier does not beautify"
- Create a new file
- Set the language as PHP
- Write ugly PHP code:

[code]
- CTRL+ALT+B
- It shows a popup saying "Beautification in progress"
- Nothing gets beautified.

The developer tools console says:

[code]

Running:
OSX 10.10.1
Atom 0.152.0
Atom Beautify 0.17.1
Php beautifier path: `/Users/nathanh/pear/bin`

[2014-12-03 17:46] noah-b opened #148 "PHP not working if filters not set"
I get this when I try beautifying php?

Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;php_beautifier --input "/var/folders/t7/557hkz7s7zx4mxwcdb6j2y2r0000gn/T/input114113-1524-frs1i0" --output "/var/folders/t7/557hkz7s7zx4mxwcdb6j2y2r0000gn/T/114113-1524-o9gzvb" --filters "" --directory_filters "" /bin/sh: php_beautifier: command n

[2014-12-04 19:50] smlombardi opened #149 "Beautify breaks interpolated text variables in SCSS files"
See attached animated GIF:

![scss-beautify](https://cloud.githubusercontent.com/assets/835148/5304893/d7c281cc-7bc4-11e4-8f2d-80dd7b6ede21.gif)

This block breaks the code if beautified.  The `#{$name}` must not be broken onto lines.
[code]

[2014-12-09 17:42] mjrk opened #150 "/bin/sh ... source ~/.bashrc is most likely unsuitable for ubuntu"
To autoformat ruby code I installed rbeautify, however, I cannot use it atom.

`lib/langs/cli-beautify.coffee` adds to load the my `.bashrc`. Have a look at the used command:

[code]

In ubuntu, /bin/sh will be linked to dash for performance reasons. Dash does not know the `source`-command, there you have to use `.` instead. Furthermore, .rvm/scripts/rvm (the script to load to enable your ruby def

[2014-12-12 22:25] iraSenthil opened #152 "Can't Install the package"
I am trying to install Atom-Beautify but it fails to install. Here is the log, Thank you.

npm http GET https://registry.npmjs.org/extend
npm http GET https://registry.npmjs.org/emissary
npm http GET https://registry.npmjs.org/js-beautify
npm http GET https://registry.npmjs.org/lodash/2.4.1
npm http GET https://registry.npmjs.org/js-yaml
npm http GET https://registry.npmjs.org/temp
npm http GET ht

[2014-12-14 01:07] tomByrer opened #153 "global settings override `.jsbeautifyrc`"
I would assume the opposite.
Use issue; configuring tabs; no changes in `.jsbeautifyrc` were reflected in usage.

[2014-12-14 19:44] #152 closed, assigned to Glavin001

[2014-12-14 19:48] #135 closed, assigned to Glavin001

[2014-12-18 15:38] rbaprado opened #154 "Uncaught TypeError: Cannot read property 'readJSON' of undefined"
Uncaught TypeError: Cannot read property 'readJSON' of undefined

**Atom Version**: 0.161.0
**System**: Unknown Windows Version
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.17.2

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2014-12-18 17:11] matteszk opened #155 "js format 'expand' not setting"
Beautify suddenly started doing collapsed style formatting, though I never changed it. Doesn't want to go back :(

[2014-12-19 14:47] bojanbjelic opened #156 "Installing “atom-beautify@0.17.2” failed."
Hi,
The installation failed.
I'm on Windows 7, Atom 0.162.0

Here's the output...

Installing “atom-beautify@0.17.2” failed.

npm http GET https://registry.npmjs.org/emissary
npm http GET https://registry.npmjs.org/strip-json-comments
npm http GET https://registry.npmjs.org/extend
npm http GET https://registry.npmjs.org/coffee-formatter
npm http GET https://registry.npmjs.org/js-beautify
npm http

[2014-12-19 18:07] rbaprado opened #158 "Inducing errors on Android XML files"
[code]

Turns into:

[code]

Side-question: is there a way to preserve newlines in XML files?

[2014-12-22 10:39] zpiman opened #159 "Problem with LESS &:extend()"
Hi, I found a problem when beautifying *LESS* files
When I have something like this:
[code]
*atom-beautify* adds a space between the `&:` and the `extend` so the result looks like this:
[code]
The resulting code does not compile :disappointed:
This does not happen for `&:hover`
My best guess is that the `extend` keyword is not on some list of verbs whereas `hover` is. I set atom to beautify my cod

[2014-12-22 17:10] jljorgenson18 opened #160 "JS Beautifier indentation and character settings not taken into account"
I'm currently migrating from sublime and the JS Beautifier we have used through their package was set to an indent size of 4. However despite changing the settings from 2 to 4 (included changing the config file directly), the beautifier is still only setting the indentation to 2. To try to work around this, I set the indentation character to 2 spaces. However, this did not seem to make a differenc

[2014-12-22 21:52] dtruel opened #161 "Support for Lua"
Hello, any chance you will be adding lua as a supported language?

[2014-12-23 13:43] ravensnowbird opened #162 "htmlbeautifier not found"
This is the error i get on updating to the latest version.

OS : ubuntu 14.04

Uncaught Error: Can't create a view for  instance. Please register a view provider. /usr/share/atom/resources/app/src/view-registry.js:64
Beautifcation Error:  Error: Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;htmlbeautifier < "/tmp/input1141123-32650

[2014-12-26 14:45] soygul opened #163 ""HTML Wrap Line Length" parameter does nothing"
Seems like this value is not passed to `js-beautify` properly.

[2014-12-27 23:00] Glavin001 opened #164 "Force hardcoded paths to CLI beautifiers"
There have been many problems with the `$PATH` and using https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/cli-beautify.coffee#L37-L42 to automatically fix the `$PATH`. This is not working out.

- [x] Remove https://github.com/Glavin001/atom-beautify/blob/e59d7c33a6458418915a2a4d0deef38d5ed78c83/lib/langs/cli-beautify.coffee#L45-L50 and force CLI beautifiers to have hardcoded paths

[2014-12-27 23:02] #150 closed, assigned to Glavin001

[2014-12-27 23:09] #104 closed, assigned to Glavin001

[2014-12-27 23:18] #124 closed, assigned to Glavin001

[2014-12-27 23:22] #147 closed, assigned to Glavin001

[2014-12-27 23:52] #148 closed, assigned to Glavin001

[2014-12-28 00:00] #162 closed, assigned to Glavin001

[2014-12-28 20:42] #160 closed, assigned to Glavin001

[2014-12-28 20:49] Glavin001 opened #165 "Automated installer of CLI beautifiers"
Now this is going to be cool and very, very useful.
### Steps
- [ ] Check if there are available CLI installer instructions
- [ ] Prompt User first (`Would you like to automatically install this?`)
- [ ] Detect Operating System
- [ ] Detect available package manager, if needed (see Operating System Specific section below)
- [ ] Install CLI dependencies with OS-specific installation instructions

[2014-12-29 11:03] odeits opened #166 "Uncaught TypeError: Cannot read property 'getSelectedText' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.17.3

### Stack Trace

Uncaught TypeError: Cannot read property 'getSelectedText' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/co

[2014-12-29 11:33] #158 closed, assigned to Glavin001

[2014-12-29 20:41] eughenio opened #167 "When I will use on SQL"
When I will use the beautify on SQL, it's shown the error:
Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;sqlformat "/var/folders/f2/04k8p7xs4cd1v19zbwwts14m0000gn/T/input1141129-8014-bqax2u" --indent_width=2 --keywords=upper --identifiers=lower --reindent /bin/sh: sqlformat: command not found
Command failed: /bin/sh -c [ -f ~/.bash

[2014-12-30 01:07] alkama opened #168 "Coffeescript formatting broken"
First, lets say all versions are up to date, both for atom and atom-beautify.

**Here is a strange behavior I see:**
* When trying to beautify a CoffeeScript file, I get a ```undefined is not a function``` message in the "Atom Beautify Error Messages" MessagePanelView.

I tried to debug it and it fails here: https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/coffeescript-beautify.cof

[2014-12-30 02:39] jackmaney opened #169 "YAML Front Matter support in Markdown"
So, I have the following markdown with [YAML front matter (for use with Jekyll)](http://jekyllrb.com/docs/frontmatter/):

[code]

When I beautify this, the front matter disappears:

[code]

Adding `GitHub Markdown` to the disabled languages prevents the front matter from being eaten. However, it would be nice to have the beautification work.

Thank you for your time.

[2014-12-31 00:15] #167 closed, assigned to Glavin001

[2015-01-01 14:47] Glavin001 commented on #168
Found the problem! https://github.com/Glavin001/Coffee-Formatter/blob/master/package.json#L32
It points to the wrong repo URL and also does not properly build from the litcoffee into JS.

[2015-01-01 18:46] #168 closed

[2015-01-01 18:53] Glavin001 commented on #166
Could you elaborate a little for me to help me reproduce? Was this error triggers on manual beautification (run `beautify` command manually), or by `Beautify On Save`, etc?

[2015-01-01 18:57] Glavin001 commented on #169
There are currently no beautifiers (that I have found) that support YAML Front Matter.
Possible solutions: detect that the file contents begins with YAML Front Matter, and if so, remove it from contents, beautify contents, and then prepend the YAML front matter to the post-beautified contents. This should work well.
No ETA on this functionality right now. Thanks for making this issue!

[2015-01-01 18:59] Glavin001 commented on #165
Link up with issue #164. Check for configured path to CLI beautifier; if not found try to determine it automatically; if that does not work; then suggest that the user installs / configures the CLI beautifier; allow user to automate this with this Issue's feature.

[2015-01-01 19:16] #159 closed

[2015-01-01 19:17] #149 closed

[2015-01-01 19:18] Glavin001 commented on #154
From your log in the Issue it looked like this package was the culprit to me: https://atom.io/packages/build-systems

Good luck and let me know if there's anything I can do with Atom Beautify.

[2015-01-01 19:18] #154 closed

[2015-01-01 19:20] Glavin001 commented on #156
Please let me know if you resolved this issue on your own (and how, for others also with same issue) or if this was an unrelated issue to Atom Beautify. If there's anything more I can do let me know and we can reopen this issue. Thanks.

[2015-01-01 19:20] #156 closed

[2015-01-01 19:24] Glavin001 commented on #36
So single-file right-click in Atom's tree to beautify is working, and I am using it often actually! (not yet released, coming soon) Now I thinking about the directory beautification support.

I am thinking of using https://www.npmjs.com/package/node-dir and recursively processing the files in sub-directories, and if they are a supported Grammar then beautify them, and if not, ignore the file. Thou

[2015-01-01 19:52] odeits commented on #166
I had no text selected. I opened the command pallet and selected beautify.
It was a cpp file. Uncrustify was NOT in my path. I couldn't figure out the
install requirements for uncrustify on your read me so I just had it
downloaded and was waiting for an error message to tell me where to put it.
On Jan 1, 2015 10:53 AM, "Glavin Wiechert" <notifications@github.com> wrote:

[2015-01-01 20:02] Glavin001 commented on #166
Interesting. The above error, `'getSelectedText' of undefined` could only occur from https://github.com/Glavin001/atom-beautify/blob/v0.17.3/lib/beautify.coffee#L226 or https://github.com/Glavin001/atom-beautify/blob/v0.17.3/lib/beautify.coffee#L290 which indicates that there was no active editor found ( https://github.com/Glavin001/atom-beautify/blob/v0.17.3/lib/beautify.coffee#L224 ). This is st

[2015-01-01 21:06] Glavin001 commented on #149
Published to v0.18.0. Happy New Year! :smiley:

[2015-01-01 21:06] Glavin001 commented on #159
Published to v0.18.0. Happy New Year! :smiley:

[2015-01-01 21:06] Glavin001 commented on #168
Published to v0.18.0. Happy New Year! :smiley:

[2015-01-01 21:06] Glavin001 commented on #36
Single-File support has been published to v0.18.0. Happy New Year! :smiley:

[2015-01-01 21:34] alkama commented on #168
Thanks :)
Happy new year !
Works fine now! (thought the plug does strange things that should probably be issues on the coffee-formatter itself).

[2015-01-02 01:15] budhajeewa commented on #36
Wow great @Glavin001 ! I am eagerly waiting for the directory support. It should be recursive. :)

[2015-01-02 03:34] #36 closed

[2015-01-02 03:36] Glavin001 commented on #36
Published to v0.19.0! Enjoy :)

[2015-01-02 03:40] Glavin001 commented on #169
- [ ] Add package option for enabling YAML Front Matter
- If YAML Front Matter is enabled, on Markdown beautification,
  - [ ] first process with https://github.com/dworthen/js-yaml-front-matter and then take the `__content` and pass that to the Markdown beautifier
  - [ ] take the result of Markdown beautifier of `__content` and concat the YAML Front Matter to the top and return that result

[2015-01-02 04:19] Glavin001 commented on #169
I started working on this however I realize now that the `cli-beautify` base class is not very customizable and does not meet the requirements I have for this feature. I think completing #164 should come first as it will force me to redesign how CLI-beautifiers are handled and now I can start brainstorming an improved API for supporting existing and adding more CLI-beautifiers in the future.

[2015-01-02 04:50] Glavin001 commented on #169
I will definitely update this after #164, however it is at least working now and you can use it while I develop out #164.

### Before

[code]

### After

[code]

Hope that looks good to you!

[2015-01-02 04:55] budhajeewa commented on #36
@Glavin001 You are awesome! :+1:

[2015-01-02 05:19] Glavin001 commented on #169
The build is failing for release v0.20.0.
See https://travis-ci.org/Glavin001/atom-beautify/builds/45655633
I think this is because of https://github.com/dworthen/js-yaml-front-matter/issues/2
Until that issue has been resolved, I may have to disable / remove this feature. @jackmaney could you please update and check for yourself if it is working? Thanks.

[2015-01-02 05:23] Glavin001 commented on #169
Fortunately it looks like the YAML Front Matter library wraps `js-yaml`, so I can remove `js-yaml` and use `yaml-front-matter` instead.

[2015-01-02 05:31] #169 closed

[2015-01-02 05:31] Glavin001 commented on #169
Published to v0.20.1! Enjoy :smiley:

[2015-01-02 06:20] budhajeewa opened #170 ""Uncaught TypeError: Cannot read property 'selectGrammar' of undefined" occurs when beautifying from files list."
[code]

[2015-01-02 06:21] budhajeewa commented on #36
Hi @Glavin001 , I checked this, but I encounter an error when trying to get it to work. Please see #170.

[2015-01-02 06:52] odeits commented on #166
I had to uninstall the package to make progress on some work. After re-installing it I am not seeing the error. I will update this ticket with any information I get trying to reproduce it. Also, thanks for the information on how to get uncrustify to work.

[2015-01-02 09:10] jackmaney commented on #169
Awesome. Thank you so much! :D

[2015-01-02 09:15] jackmaney commented on #169
Just updated to v0.20.1, and I'm seeing this:

# Before

[code]

# After

[code]

[2015-01-02 09:17] jackmaney commented on #169
Hmmm, strangely enough, the same exact `before` and `after` in the opening comment is still occurring:

# Before

[code]

# After

[code]

[2015-01-02 09:18] yvan-sraka opened #171 "Beautify CSS - Bug with indent character (`indent_char`)"
Hi,

I use `Atom Beautify 0.20.1`, in my preferences, `Css indent size` is set to `4`.

When I  `Beautify ` this file:
[code]
I get this:
[code]
I'd rather get this:
[code]
Or just:
[code]

Thanks,
Yvan

[2015-01-02 13:28] ffsantos92 commented on #125
Why not use [PHP Coding Standards Fixer](http://cs.sensiolabs.org) instead of PHP_Beautifier?

[2015-01-02 14:56] Glavin001 commented on #125
That looks great! Might be a very good idea to switch to using that instead. Thanks for sharing. 

—
Sent from Mailbox

On Fri, Jan 2, 2015 at 9:28 AM, Fábio Santos <notifications@github.com>
wrote:

[2015-01-02 15:37] Glavin001 commented on #169
That's very strange. Travis CI already OKed the unit test for the more complex case. I'll have to take another look once I'm home. 

—
Sent from Mailbox

On Fri, Jan 2, 2015 at 5:17 AM, Jack Maney <notifications@github.com>
wrote:

[2015-01-02 18:03] Glavin001 commented on #166
Glad it's working so far for you now. Let me know if there's anything else I can do.

[2015-01-02 18:04] Glavin001 commented on #171
Check your `CSS Indent Char` ( https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L83 ). It should default to a space character, however maybe there is a setting that has been changed.

[2015-01-02 18:06] Glavin001 commented on #171
I just noticed the code says `css_indent_Char` when it should be `css_indent_char`. This may be causing the problem with js-beautify. Let me know if you are able to resolve this by changing the `CSS Indent Char` settings, however I will also look into this and see if it's a bug / typo. Thanks

[2015-01-02 18:44] Glavin001 commented on #170
What version of Atom are you on? I am on v0.165.0 which has the `atom.grammars` API (see https://atom.io/docs/api/v0.165.0/Atom#instance-grammars ). If you update this should work.

[2015-01-02 18:44] #170 closed

[2015-01-02 18:47] #166 closed

[2015-01-02 18:48] yvan-sraka commented on #171
The `CSS Indent Char` parameter is set to `Default`, change it does not affect the results of my tests.

[2015-01-02 18:54] Glavin001 commented on #169
I'm home now. I am still receiving correct results for both of those tests. Could you run command `Window: Reload` and / or uninstall and reinstall Atom Beautify?

[2015-01-02 19:00] Glavin001 commented on #171
Do you have a `.jsbeautifyrc` file? here's an example https://github.com/Glavin001/atom-beautify/blob/master/examples/simple-jsbeautifyrc/.jsbeautifyrc or nested like https://github.com/Glavin001/atom-beautify/blob/master/examples/nested-jsbeautifyrc/.jsbeautifyrc_json

I believe the bug is that the Atom Package option is `css_indent_Char` and not `css_indent_char` and my `.jsbeautifyrc` also uses

[2015-01-02 19:11] #171 closed

[2015-01-02 19:11] yvan-sraka commented on #171
[code]

[2015-01-02 19:14] Glavin001 commented on #171
Yeah that's one of mine, however what is yours? And if you do not have one, could you create one and test beautifying your CSS with it?

[2015-01-02 19:14] zpiman commented on #159
Happy New Year to you too! And thank you! Now I can enable *beautify* again :smile:

[2015-01-02 19:25] yvan-sraka commented on #171
Yes (Sorry, I just forgot to move it in my home folder), it works now:
[code]

[2015-01-02 19:26] Glavin001 commented on #146
I re-read your original comment:

Instead of providing a flag that could be toggled that would change the precedence of the options, I think what would be ideal is actually setting the Atom Beautify default settings to the current values of the Atom Editor (at first launch). Thoughts?

[2015-01-02 19:26] Glavin001 commented on #171
Okay, then it has been confirmed that typo is the culprit. Publishing in a few minutes.

[2015-01-02 19:31] Glavin001 commented on #171
Published to v0.20.2

You can now set the `css indent char` setting in the Atom Beautify package settings and it will translate to `css_indent_char` which will apply as `indent_char` for the `CSS` beautify of `js-beautifier`. For more options see https://github.com/beautify-web/js-beautify and https://github.com/Glavin001/atom-beautify/blob/v0.20.2/lib/language-options.coffee#L81 and I strongly re

[2015-01-02 20:20] Glavin001 opened #172 "Update to new Atom Config API"
See https://atom.io/docs/api/v0.165.0/Config

Switch from `configDefaults` to Config Schema

[2015-01-03 03:38] Glavin001 commented on #146
This will be resolved by #172. I am updating from using `configDefaults` to Atom's latest `Config API`. I am going to make it such that the defaults check `atom.config.get('editor.tabLength')` and other settings and use those as the default values, as you requested.

[2015-01-03 06:00] #172 closed

[2015-01-03 13:08] iv-lite opened #173 "Uncaught TypeError: undefined is not a function"
Uncaught TypeError: undefined is not a function

**Atom Version**: 0.162.0
**System**: linux 3.17.7-300.fc21.x86_64
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.21.0

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2015-01-03 15:34] Glavin001 commented on #173
Please update your Atom to v0.165.0 and let me know if you problems still persist.

[2015-01-03 15:37] #173 closed

[2015-01-03 15:38] Glavin001 commented on #173
Also try updating Atom Beautify to the new patch, v0.21.1. That should fix your problem. Thanks!

[2015-01-04 12:26] williamtrennem commented on #86
@Glavin001 It would be great to have the ability to change the path directly in Atom Beautify settings.

[2015-01-04 13:32] Glavin001 commented on #86
@williamtrennem I'll add that to #164

[2015-01-04 15:20] bojanbjelic commented on #156
Sure thing - I tried on a virtual machine at home and it worked. I'll try it again when back at the office.

[2015-01-05 12:38] Ducatel opened #174 "Impossible to install in Atom 0.165.0"
Hi,

It's impossible to install this package inside Atom 0.165.0 on Windows 7x64 computer.
(With the Atom package installer)
[code]

No problem if I execute this line directly in my command line.
[code]

So have fun ;)

[2015-01-05 13:10] Akarienta commented on #156
Hi, very similar issue for me.

my conf
[code]

I'm behind corporate proxy and have it configured properly in system variables `HTTP_PROXY` and `HTTPS_PROXY ` as well as in `.apmrc` file. I've double checked it and tested it - the proxy setup seems to be right (another Atom's plugins can be installed properly and a usage of git is also fine).

Here is an output:

[code]

[2015-01-05 13:24] Akarienta commented on #174
Exactly the same for me.

my conf
[code]

[2015-01-05 13:56] Glavin001 commented on #174
@kevinsawicki or @nathansobo thanks for helping me out with previous problems. I am hoping someone who works on Atom can shed some light on to why users keep having these problems. However, I don't think there's anything I can do from an Atom Beautify perspective.

[2015-01-05 13:56] TouPye commented on #146
Great job :+1:

[2015-01-05 13:56] #146 closed

[2015-01-06 13:27] Glavin001 opened #175 "Switch to PHP Coding Standards Fixer"
See http://cs.sensiolabs.org/

As per @ffsantos92  recommendation ( https://github.com/Glavin001/atom-beautify/issues/125#issuecomment-68526452 ).

[2015-01-06 13:28] Glavin001 commented on #58
@minimit I have not yet found a way. I think we will be migrating off PHP_Beautifer and over to PHP Coding Standards Fixer ( #175 ).

[2015-01-06 13:29] Glavin001 commented on #58
- [ ] Auto-generate package settings documentation from `config` (See Atom Config API). They now have descriptions!

[2015-01-06 13:34] Glavin001 opened #176 "Add Golang support"
Use [go fmt](http://blog.golang.org/go-fmt-your-code).

[2015-01-06 15:14] filipesilva opened #177 "Keybind not working"
The default keybinding seems to not be working anymore. I'm on windows 7, using atom 0.166.0 and atom-beautify 0.21.1.

Keybind resolver shows the keybind was resolved, but nothing happens.
![image](https://cloud.githubusercontent.com/assets/4172079/5630525/88c443ec-95b6-11e4-993a-19d6981e2766.png)

Running from the command palette works though.

[2015-01-06 15:18] Glavin001 commented on #177
Sorry, there have been some unfortunate breaking changes to keep up with the Atom API.
Here are the up-to-date commands: https://github.com/Glavin001/atom-beautify/blob/master/lib/beautify.coffee#L260-L262

`beautify:beautify-editor` is what you want.

[2015-01-06 15:19] Glavin001 commented on #177
The README documentation is up-to-date: https://github.com/Glavin001/atom-beautify#custom-keyboard-shortcuts

Let me know if you have any more problems. Thanks.

[2015-01-06 15:26] filipesilva commented on #177
Thanks for the swift reply!

I added that keybind to my keybinds.cson but it seems to be superseded by the default one. Did I misinterpret your reply?

![image](https://cloud.githubusercontent.com/assets/4172079/5630739/4ef54d4e-95b8-11e4-81bf-cdcfef25dac6.png)

[2015-01-06 15:36] Glavin001 commented on #177
There's the bug! https://github.com/Glavin001/atom-beautify/blob/master/keymaps/atom-beautify.cson#L11

Thank you for letting me know. I'll fix it ASAP.

[2015-01-06 15:40] #177 closed

[2015-01-06 15:42] Glavin001 commented on #177
Published patch to v0.21.1

[2015-01-06 15:50] filipesilva commented on #177
And it works! Awesome, thank you :D

[2015-01-06 17:49] Glavin001 opened #178 "Change `beautify` to `atom-beautify` in keymaps.cson"
Required by https://github.com/atom/settings-view/blob/26f8e9396e6a8cc1422437fce2def8566c01a7f5/lib/package-keymap-view.coffee#L22-L24 such that these keymaps appear in the Package settings view.

Currently it is `beautify:beautify-editor` when it must be `atom-beautify:beautify-editor` to be displayed and meet the namespace prefixing requirements for Settings panel.

[2015-01-07 08:14] ArtworkAD opened #179 "Add Angularjs+Template support"
For angularjs template code inside html

    <% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

beautifying is not working. It comes out like this:

    <% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
        <% }); %>

            <% scripts.forEach( function (

[2015-01-07 08:40] moortaube commented on #174
**As a side note:** Same problem inside atom 0.166.0 on OS X *(both: update and re-install)*.

[code]

[2015-01-07 14:13] Glavin001 commented on #179
js-beautify handles HTML support for Atom Beautify. I'd recommend forwarding this issue over to them at https://github.com/beautify-web/js-beautify
Thanks.

[2015-01-07 14:33] Glavin001 commented on #174
@moortaube try https://alicoding.com/how-to-fix-error-enoent-lstat-npm-when-trying-to-install-modules/

[code]

[2015-01-07 14:49] MiincGu opened #180 "Option to keep new line between selectors in SASS"
Hi,

I just want to know if there is an option to keep new line between selectors in sass files.
Like below:

[code]

not

[code]

[2015-01-07 14:52] Glavin001 commented on #180
SASS is handled by [PrettyDiff](https://github.com/austincheney/prettydiff).
See https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L424-L426 and https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/less-beautify.coffee

I recommend forwarding this issue over to https://github.com/austincheney/prettydiff and /ccing me or letting me know if there is any p

[2015-01-07 15:27] Ducatel commented on #174
It doesn't fix my problem

[2015-01-07 16:08] Akarienta commented on #174
either for me

[2015-01-07 16:54] kevinsawicki commented on #174
This is a proxy error I'm guessing and you can configure apm proxy settings via [this](https://github.com/atom/apm#behind-a-firewall)

This suggests that Git it not on the `Path` environment variable

[2015-01-08 16:31] smlombardi opened #181 "Extra line before closing CSS/SCSS rule?"
This sort of code"
[code]
beautifies to this:
[code]
There is an empty line before the closing bracket. I would rather that not be there or, if anything, add the empty line AFTER the last bracket.

Note this is the last bracket of each rule in SCSS, like so:
[code]
The bracket for the sub-rule is fine.

Atom 168.0, Atom Beautify 0.21.2, OS 10.10.1

[2015-01-08 19:16] dabates opened #182 "rbeautify issues"
According to your Readme, one should installed ruby beautifier, but when I do that.. it's still looking for rbeautify.  when I install rbeautify, however, it just returns a empty buffer after it runs.

Has the new ruby beautifier not been implemented yet?

[2015-01-08 19:45] Glavin001 commented on #182
Have you set the `ruby_rbeautify_path` in the package settings?
See https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L294-L298

Atom Beautify attempts to automatically find your installation of `rbeautify` but this could have failed. You can force it by setting it up manually. Let me know if that helps.

[2015-01-08 20:59] dabates commented on #182
Yup I didn't realize that was there.. sorry about that.. if it's in there it will run the new one..

[2015-01-08 20:59] #182 closed

[2015-01-08 21:00] Glavin001 commented on #182
Not a problem. If there's anything else you need a hand with let me know. I'm still improving documentation ( #58 ).

[2015-01-08 21:08] dabates commented on #182
And if you ever need help, let me know I do javascript work daily (professionally) so wouldn't mind helping out if needed..

[2015-01-08 21:09] Glavin001 commented on #182
Thanks! I appreciate that. Contributors are always welcome :smiley:.

[2015-01-09 01:34] drawcard commented on #175
This would be awesome, I can't figure out how to get PHP_Beautifier up and running on Mac OSX so this looks like it will be a much easier solution.

[2015-01-09 04:58] MiincGu commented on #180
The author of PrettyDiff has added the support of this enhancement minutes ago, and he said he will launch it tomorrow.

May be you can look forward of that.

[2015-01-09 22:20] Francescu opened #183 "Add meteor support"
Hi,

I installed the `meteor-api` package and it adds Javascript (Meteor) as a language.

`atom-beautify` tells me `Unsupported language for grammar 'JavaScript (Meteor)'.`

[2015-01-10 19:18] ilanbiala commented on #27
@Glavin001 can this be closed?

[2015-01-10 19:19] Glavin001 commented on #27
Nope, not yet implemented.

[2015-01-10 19:22] Glavin001 commented on #27
- [ ] Create list of all the supported Grammars from https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L396
- [ ] Iterate over supported Grammars and create Command
  - [ ] Call `beautify` and force the `grammar` parameter to be the selected grammar
     - See https://github.com/Glavin001/atom-beautify/blob/master/lib/beautify.coffee#L176

[2015-01-11 12:53] yaroshevych commented on #119
This issue is resolved in prettydiff@1.7.2. To upgrade, you may drop your ```.atom/packages/atom-beautify/node_modules``` folder, navigate to ```.atom/packages/atom-beautify``` and reinstall packages with ```npm install```.

[2015-01-12 09:31] ericrange opened #184 "Installation behind a proxy"
in the last issues there was a problem for the installation behind a proxy. non-npm packages were responsible for that. it seems that "git://github.com/ariya/esprima.git" is the only package left that is non-npm and which interrupts the installation.

would it be possible to transfer esprima to npm?

[2015-01-12 13:08] Glavin001 commented on #184
I do not host that package. Could you check with their maintainer?

[2015-01-12 13:08] #184 closed

[2015-01-12 13:53] ericrange commented on #184
oh i found it: https://www.npmjs.com/package/esprima
could you replace that "git://" thing with "esprima"?

[2015-01-12 14:04] Glavin001 commented on #184
It's not Atom Beautify direct dependency: https://github.com/Glavin001/atom-beautify/blob/master/package.json#L46-L65

[2015-01-12 14:29] Glavin001 commented on #184
I tried to look thru all of the failed / error installation logs however I could not determine which dependent package had the broken dependency. I cannot even reproduce this, since I am not behind a firewall / proxy. I hope someone is able to track it down and resolve this. Good luck.

[2015-01-13 06:47] batmandakh commented on #112
I get this error:
Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;php "/usr/bin/php_beautifier " --input "/tmp/input115013-9069-1fnheun" --output "/tmp/115013-9069-1druszz" /bin/sh: 1: source: not found

I've check temp folder and didn't find temporary files... Other things working properly.

[2015-01-13 13:52] ericrange commented on #184
here is my error log. do you see something that cause the error?
[code]

[2015-01-13 16:07] xpol opened #185 "Lua support please!"
Currently atom-beautify don't support Lua language.

[2015-01-13 17:39] Glavin001 commented on #185
Duplicate of #161

[2015-01-13 17:39] #185 closed

[2015-01-14 08:51] quicoto commented on #181
+1 for this.

[2015-01-14 10:27] quicoto commented on #180
Here's the change for "preserve empty lines for CSS like languages" from PrettyDiff from 4 days ago: https://github.com/austincheney/prettydiff/commit/843185f0bf6e182ea6cadd12e4d9c41a95d6e2cf

Is it possible to update beauify with it?

[2015-01-14 15:49] batmandakh commented on #26
I can't use php_beautifier cause of temporary file of current active session... I'm on Ubuntu 14.04 with php 5.6 and latest version of atom. All php_beautifier dependencies have installed and they're working correctly from terminal.
Please see giving error:

Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;php "/usr/bin/php_beautifier

[2015-01-14 18:39] smlombardi commented on #181
Is this acknowledged or being fixed?  It's a real obstacle. Thanks.

[2015-01-15 00:10] Glavin001 commented on #181
- SCSS is handled by [Prettydiff](https://github.com/austincheney/prettydiff). See https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L424-L426 and https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/less-beautify.coffee
- CSS is handled by [js-beautify](https://github.com/beautify-web/js-beautify). See https://github.com/Glavin001/atom-beautify/blob/ma

[2015-01-15 01:22] CAFxX commented on #174
Same error here (and I'm behind a corporate proxy)

[2015-01-15 10:22] bojanbjelic commented on #156
Hi, unfortunately I still have the same problem at workplace. General internet connectivity requires no proxy settings, but can't say about specific ports.

[2015-01-15 11:43] Akarienta commented on #174
Just a note: an update of apm in atom release 0.170.0 doesn't fix this problem.

[2015-01-15 19:29] jerone opened #186 "Right-Click in File Tree to Beautify only on file names"
The cool feature to [beautify when right-click in the tree view](https://github.com/Glavin001/atom-beautify/issues/36) only works when you right-click on the file name, not on the whole file row.

![beautify](https://cloud.githubusercontent.com/assets/55841/5764798/12d8e2d2-9cf5-11e4-9ee8-2accdbdd3b87.jpg)

[2015-01-15 19:33] Glavin001 commented on #186
I originally had it working for the entire file row, however it felt rather hacky (checked if it was name, if not then find sub-element, etc). Then I saw that [Markdown-Preview only allows right-clicking on the names](https://github.com/atom/markdown-preview/blob/master/menus/markdown-preview.cson#L17-L30) I decided to follow suit. I like this idea and have also found it annoying that I must be pr

[2015-01-16 09:28] huanzhang commented on #25
@Glavin001 Could you tell me how to set spaces as the default indent character for ruby-beautify?

[2015-01-18 00:39] smlombardi commented on #181
They prettydiff maintainer cannot reproduce the bug.  In fact, if you go to http://prettydiff.com and try this block, you'll see it works fine.  Try it in Atom (.174) saved as SCSS or CSS and it happens.

[code]

[2015-01-18 02:45] Glavin001 commented on #181
I am away from my laptop right now however if you could submit a failing test as a pull request that would be very helpful. Look in the examples directory and follow that structure to add both test input and expected output files. 

Thanks and I'll try to take a closer look ASAP. 

—
Sent from Mailbox

On Sat, Jan 17, 2015 at 8:39 PM, Steve Lombardi <notifications@github.com>
wrote:

[2015-01-18 14:43] jerone opened #188 "Atom.Object.defineProperty.get is deprecated."
Bug report from Atom:

[2015-01-19 00:43] smlombardi opened #189 "Option to keep LI tags on one line?"
Currently, the closing LI tag breaks to a new line. If I make LI unformatted, then all the LIs run together,

Is it possible to format LIs, but keep the contents together. As in:

[code]

[2015-01-19 15:42] mh61503891 commented on #25
@huanzhang This is just a makeshift way, but I have created the following ruby script named `/path/to/my_rbeautify` and set "Ruby rbeautify path" of the atom-beautify's Settings to the path of this script.

[code]

The real path of the rbeautify can be detected by '$ type -a rbeautify'

[2015-01-19 15:57] huanzhang commented on #25
@mh61503891 Seems your solution is more convenient for configuration, but I have just solved this by rebuild ruby-beautify(https://github.com/huanzhang/ruby-beautify/commit/4152fe6bbb37e11386b60daf52318004fa84eb6f).

To have spaces as default indention for ruby, I have submit a pull request to ruby-beautify(https://github.com/erniebrodeur/ruby-beautify/pull/15)

[2015-01-23 14:44] stramel opened #190 "Deprecated Selectors"
From Atom's Deprecation Cop:

* **File:** menus/atom-beautify.cson
  * Use the `atom-workspace` tag instead of the `workspace` class.
  * Use the `atom-text-editor` tag instead of the `editor` class.

[2015-01-23 16:21] ffsantos92 commented on #190
@stramel here is a pull request to fix deprecated selectors: https://github.com/Glavin001/atom-beautify/pull/187

[2015-01-23 16:27] stramel commented on #190
:+1: Forgot to check PRs... -.-

[2015-01-23 16:56] andyday opened #191 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-01-24 09:14] shprink opened #192 "Switch to using coffee-fmt package for beautifying CoffeeScript"
Hi,

Your plugin do not support CoffeeScript but still format it when saving (On save enabled).

it screws my doc block:

[code]

to this:

[code]

When your plugin is disabled it is fine.

Thanks

[2015-01-24 18:15] shprink commented on #192
Actually it seems that you support CoffeeScript but I do not see any specific options for it in the settings.

[2015-01-24 18:19] shprink commented on #192
A really good feature would be to be able to activate/desactivate a specific file format. For instance this plugins https://github.com/atom/language-coffee-script seems to handle coffeescript better.

Cheers

[2015-01-24 18:37] Glavin001 commented on #192
CoffeeScript beautification support comes from https://github.com/derekchiang/Coffee-Formatter which is unfortunately not actively maintained. I am open to any alternatives.

That supports CoffeeScript beautification?

[2015-01-26 17:22] ryanwbauer commented on #189
Same issue here. My beautified code ends up like this:
[code]

[2015-01-26 17:26] Glavin001 commented on #189
This is handled by [js-beautify](https://github.com/beautify-web/js-beautify). I recommend creating an issue for them and they will have a better idea of what to do. If there's anything I can do with Atom Beautify, such as update js-beautify dependency and/or add more options, let me know.

[2015-01-26 18:32] zachguo opened #194 "Where to config `Python autopep8 path`?"
I cannot find it in package settings page (Atom v0.175).
Should I put it in the `.jsbeautifyrc`? Could anyone give me an example? Thanks!

[2015-01-26 18:55] Glavin001 commented on #194
I would recommend setting the path from Atom Beautify Package settings.
See https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L273-L277 and https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/python-beautify.coffee#L5
It will be called `python_autopep8_path`.

[2015-01-26 18:55] #194 closed

[2015-01-26 19:06] zachguo commented on #194
Got it, I should put it in `config.cson`. Thanks!
It would be better if documentation include this.

[2015-01-26 19:09] Glavin001 commented on #194
There are many, many options to be documented (see https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L68-L384 ) so I opted to add documentation and more details in with each of the options. So at any time you can view your Atom Beautify Package settings and see those options. Improving documentation ( #58 ) is on my list of TODOs. Thanks for asking questions and he

[2015-01-26 19:15] zachguo commented on #194
Sounds great! Thank you for building and maintaining such an awesome package.

[2015-01-26 19:44] orktes commented on #144
Hi! The Atom React plugin now has initial JSX reformatting support http://orktes.github.io/atom-react/#jsx-reformatting

[2015-01-28 23:19] matteszk opened #196 "wrong empty objects in new line"
Similar problem seen elsewhere, so I'll [link to that](https://github.com/beautify-web/js-beautify/issues/582).

But essentially, an item like
[code]
Gets formatted to a new line, instead of remaining on the same one:
[code]

[2015-01-29 02:33] Glavin001 commented on #196
Atom Beautify uses js-beautify fo JavaScript beautification. Once that related issue that you linked has been resolved, let me know. Thanks.

[2015-01-29 09:47] Akarienta commented on #174
atom release 0.176.0

it seems better now but still getting very similar error

[code]

[2015-01-29 13:55] Glavin001 commented on #174
I'd recommend posting on a forum more tailored to solving this issue, such as [stackoverflow](http://stackoverflow.com/). If you then find a solution please post back here for others. Thanks.

[2015-01-30 17:39] bitwiseman opened #197 "XML treated as HTML for beautification"
#3 turned on xml beautification by treating xml as html.  That solution is a hack and will be ineffective in a wide variety of cases.  #158 is one example of this.

js-beautify does not support xml beautification at this time.  https://github.com/beautify-web/js-beautify/issues/648 is the feature request for beautifying xml.   That said we will attempt to fix xml related bugs as opportunity arises

[2015-01-30 21:13] awatson1978 commented on #183
Oh my gosh, if you could add the Meteor styleguide to atom-beautify, that would be *amazing*.  I've been working on the ``meteor-api`` package, and would be more than happy to help debug any Meteor support.

Meteor styleguide is below...
https://github.com/meteor/meteor/wiki/Meteor-Style-Guide

[2015-01-30 22:00] k3rn31 opened #198 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-01-31 20:58] jerone opened #199 "Add Pug (formerly Jade) support"
Would be great if atom-beautify supported [Jade](http://jade-lang.com/) template language. :+1:

:x: `Unsupported language for grammar 'Jade'.`

[2015-02-01 04:33] falconair opened #200 "Add support for generic, server side template tags"
My current html file has EJS tags like this:

[code]

Beautifier seems to expect a closing tag, when it can't find it, it reflows the text as follows:

[code]

I believe a number of server side templates use such tags. It'll be so helpful to atom-beautify understood this scenario

[2015-02-02 14:26] Glavin001 commented on #72
Check if this works now and add it as a SCSS test.

[2015-02-02 15:49] Glavin001 commented on #94
Also see https://github.com/prettydiff/prettydiff/issues/35

[2015-02-02 16:05] Glavin001 commented on #181
I'm looking into this right now. Looks like a change between 1.6.3 to 1.8.8 of Prettydiff. I am able to get it to work properly, however my unit tests are failing, so this leads me to believe that there is a new Prettydiff option or a default has changed. I'll see if I can figure it out and let you all know.

[2015-02-02 16:28] #181 closed

[2015-02-03 09:00] Akarienta commented on #174
Here is the question if someone else is interesting in this topic: http://stackoverflow.com/questions/28216987/impossible-to-install-atom-beautify-on-windows-7-64bit-machine-with-apm

[2015-02-03 12:56] Akarienta commented on #174
We have solved this problem finally, there are two bugs: one in npm and second in msysgit. More information [here](http://stackoverflow.com/questions/28216987/impossible-to-install-atom-beautify-on-windows-7-64bit-machine-with-apm).

[2015-02-03 20:59] jakob-bowerbirds opened #201 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-03 21:00] #201 closed

[2015-02-03 21:02] Glavin001 commented on #198
Duplicate of #191.

[2015-02-03 21:02] #198 closed

[2015-02-04 05:24] melalj opened #202 "rbeautify keep crashing"
I have installed rube-beautify using `sudo gem install ruby-beautify`

Is ruby-beautify really buggy and unsupported project?
https://github.com/Glavin001/atom-beautify/issues/25

Keep getting this error message:

Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;rbeautify "/var/folders/pl/1m6gyp_11hsc43hljhf0_hh00000gn/T/input11513-38

[2015-02-04 09:17] Bodhiz commented on #199
+1

[2015-02-04 12:02] Bodhiz opened #203 "wrong beautification on SCSS concatenation in background url property"
Hi,

I noticed an issue after beautifying my SCSS containing this kind of concatenation :
![image](https://cloud.githubusercontent.com/assets/2632229/6039966/ccbd2bfa-ac6c-11e4-93a3-e6c0da48b363.png)

it produces this (it adds a double quote before my var), which is not correct :
![image](https://cloud.githubusercontent.com/assets/2632229/6039980/f12bf41c-ac6c-11e4-86ca-caed94d92b54.png)

Maybe I

[2015-02-04 13:02] tiago7alves opened #204 "Error installing package"
While installing atom-beautify using Atom package manager I get the following error:
[code]

The installation fails and I am not able to use the package.

[2015-02-04 13:28] Bodhiz commented on #204
@tiago7alves Are you behind a proxy ?

[2015-02-04 14:17] tiago7alves commented on #204
I was but then I disconnected from VPN and tried again. Still the same error.

[2015-02-04 16:03] assertnotnull commented on #204
I have the same error.
The actual path git:// is no longer valid it seems.
Either git@ or http://

[2015-02-05 21:46] framerate commented on #190
Will this be pushed out soon? Trying to clear all my deprecation errors for my OCD :)

[2015-02-06 00:48] Glavin001 commented on #190
I want to make sure this push doesn't break anything while removing the deprecation warnings, so I'm going to give it a little more time and review it this weekend. Thank you all for your patients and interest and I hope to resolve all of these issues very soon.

[2015-02-06 14:06] billiam13s commented on #204
I have the same problem

It seen like that github.com/ariya/esprima.git repo doesn't exits and when visiting by url, it get redirect to https://github.com/jquery/esprima

[2015-02-06 14:29] assertnotnull commented on #204
Oh you're right i didn't notice that

[2015-02-06 16:12] tiago7alves commented on #204
@billiam13s so how can we solve this? I want to solve this but I don't see any approach.
Maybe we can change the project dependency that uses github.com/ariya/esprima.git repo?

[2015-02-06 16:42] billiam13s commented on #204
@tiago7alves I am sorry. I only start using atom last week and would like to use this package as well. I have no knowledge on atom package development. I think it might be just changing the project dependency that sample. We need to verify `github.com/ariya/esprima.git` and `github.com/jquery/esprima.git` are the same thing, but with ariya is missing I have no idea.

[2015-02-07 04:56] Morvalyn opened #205 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-07 05:51] zchee opened #206 "Installing freeze when apm install"
When you install in apm install, stops at `Installing atom-beautify to /Users/zchee/.atom/packages`
So far reproducibility 100%

Platform : Mac OS X Yosemite
node ver : v0.10.36
npm ver : 1.4.2

---

Issue title, you've hit the enter by mistake.
Sorry.

[2015-02-07 14:22] luisrudge commented on #144
Can we integrate atom-react @Glavin001?

[2015-02-07 14:24] luisrudge opened #207 "stop throwing erros for unsupported languages"
It's annoying to have an error for every time I save a document with an unsupported language. Maybe you should just send a toast notification with a button to never read that again

[2015-02-07 22:08] andyday opened #208 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-09 01:20] sterpe commented on #192
@Glavin001, @shprink I've been working on an npm module for coffee script reformatting, (like changing tabs to  arbitrary # of spaces or vice versa).  It's built on top of coffee-scripts own tokenizer (which is still pretty ambiguous).  Still very much beta, but it does at least transform the above docblock correctly.

Maybe you guys could check it out see how it performs.

https://www.npmjs.com/p

[2015-02-09 01:41] Glavin001 commented on #192
Great @sterpe ! I would love to support this and switch from Coffee-Formatter to your Coffee-fmt. Let me know once you think it's at an acceptable state for switching over and what the Node API is that I can use (see https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/coffeescript-beautify.coffee ). Thanks!

[2015-02-09 01:42] Glavin001 commented on #208
Duplicate of #191

[2015-02-09 01:42] #208 closed

[2015-02-09 01:43] Glavin001 commented on #207
Please see https://github.com/Glavin001/atom-beautify#package-options and use `muteUnsupportedLanguageErrors`.

Duplicate of #105

[2015-02-09 01:43] #207 closed

[2015-02-09 01:46] Glavin001 commented on #144
Awesome that Atom React now supports Beautification. If someone would like to submit a Pull Request to add support for Atom Beautify I would definitely be open to merging it.

See https://github.com/Glavin001/atom-beautify/pulls?q=is%3Apr+is%3Aclosed for example Pull Requests for adding new language support and applicable Atom react code at https://github.com/orktes/atom-react/blob/master/lib/atom

[2015-02-09 01:48] Glavin001 commented on #206
Is there any way you could get more verbose information to help me diagnose? Thanks.

Is anyone else having this issue? Please post here so I know that this is affecting many users.

[2015-02-09 01:48] Glavin001 commented on #205
Duplicate of #191

[2015-02-09 01:48] #205 closed

[2015-02-09 01:59] luisrudge commented on #207
Wow. Sorry! I missed the configuration option! Thanks!

[2015-02-09 02:45] Glavin001 commented on #190
Published to v0.21.3

[2015-02-09 02:45] Glavin001 commented on #191
Published to v0.21.3

[2015-02-09 02:46] #191 closed

[2015-02-09 02:46] #190 closed

[2015-02-09 09:22] alem0lars opened #209 "CSSComb support"
The current CSS beautifier is not really flexible.

I think [CSScomb](http://csscomb.com) would be much better since it's a more [configurable](http://csscomb.com/config) and flexible beautifier.

We can take a look at our people implemented it in atom, here there are some examples:
- `atom-css-comb`
- `css-comb`

Thanks

[2015-02-10 09:26] Blaskyy commented on #176
+1

[2015-02-11 02:59] hairyhenderson commented on #176
+1

[2015-02-11 07:42] k3rn31 opened #210 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-11 08:51] m1ga commented on #175
any news on this?

[2015-02-11 09:17] zchee commented on #206
Ok,
I'll post verbose logs later.

[2015-02-11 10:44] tiago7alves commented on #204
@billiam13s I cloned the project, ran **npm install** and checked every **package.json** file.
The module that requires **esprima** is **js-yaml** and its dependencies are:

[code]

Since **esprima** module is registered in **npm** repository as https://www.npmjs.com/package/esprima*, how does it resolve to *git://github.com/ariya/esprima.git when downloading the package using **apm**?

[2015-02-11 13:56] Glavin001 commented on #210
This should be resolved in #191. What version are you? Please let me know if this needs to be reopened.

[2015-02-11 13:56] #210 closed

[2015-02-11 13:57] Glavin001 commented on #175
I'm in the middle of exams so it's unlikely I'll get to this soon. I am always open for pull requests. Thanks!

[2015-02-11 14:19] billiam13s commented on #204
@tiago7alves Last night, I finally install PHP_Beautifier my own machine(Mac) at home, and were able to install atom-beautify. Then I wonder what where is wrong with my work machine(Ubuntu), with some try on `git clone`, I can only clone via HTTPS not SSH. It turn out my work firewall is blocking all SSH traffic, finally when I switch to the unrestricted network. I was able to install the package.

[2015-02-11 15:50] langdonx opened #211 "Support newline-between-rules for CSS"
It exists as a checkbox on the settings screen, and I've set it to true in my `.jsbeautifyrc` file, but neither seem to have any effect.

js-beautify supports the feature through `-N` or `--newline-between-rules`.

Side note: `-L` or `--selector-separator-newline` also seem to not be supported, but appear to be the default anyway.

[2015-02-11 20:17] m1ga commented on #175
no problem :smile:

I've tried to add it but I wasn't able to get it running. Basically there isn't much to change cause it should work by calling "php-cs-fixer fix FILE". But I've ended up with

[code]

if I remove the /bin/sh -c its working, but I don't know where its coming from.

Also if I understand your code correctly it will save it to a temp file, apply to beautify and then opens the outpu

[2015-02-11 21:03] Glavin001 commented on #175
I don't know about `/bin/sh -c` specifically, I'd suppose that's just how [`exec`](https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/cli-beautify.coffee#L57) for Node.js does it, however the rest of that comes from https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/cli-beautify.coffee#L45-L50

You are correct :smiley:.

`php-cs-fixer` should beautify the input file to

[2015-02-11 21:23] m1ga commented on #175
Thanks for the detailed explanation

I don't see an option for a different output file or stdout in the config settings of the cs page. Thats why I was confused.

https://www.npmjs.com/package/exec states that it uses -c but it gives me this error "-f: Zeile 0: [: Fehlende `]' " (Row 0: [: missing ']")
If I run the command by hand its working. atom-beautify removes the input file after the error a

[2015-02-13 07:04] lgarcin opened #212 "Atom.Object.defineProperty.get is deprecated."
atom.workspaceView is no longer available.
In most cases you will not need the view. See the Workspace docs for
alternatives: https://atom.io/docs/api/latest/Workspace.
If you do need the view, please use `atom.views.getView(atom.workspace)`,
which returns an HTMLElement.
[code]

[2015-02-13 14:32] Glavin001 commented on #212
This has already been fixed. Please update Atom Beautify. See #191.

[2015-02-13 14:32] #212 closed

[2015-02-13 22:38] Belelros commented on #206
I can reproduce this issue

[2015-02-13 22:41] Belelros commented on #206
These are the list lines I get when installing with verbose

[code]

[2015-02-14 16:16] jaoued commented on #26
@Batmandakh I have he same error.

[2015-02-14 17:38] m1ga commented on #175
stdout is not supported
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/784
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/454
and I don't see a switch to output it to a different file

Also it only works for the php code. If you have some html it won't indent it:
http://stackoverflow.com/questions/27961446/psr-2-compatible-inline-php-tags-in-html-templates

About the error message:
the p

[2015-02-14 22:11] cyberwombat opened #213 "Erases every file when used globally"
So recently the command has appeared "beautify directory" - where it used to just say "seach directory". I accidently hit it while searching in my project and it locked up and erased every. single. file. 1000's of files, the _entire_ project completely blank. Im gonna go get drunk now. I dont have anything else to go on except there is a serious serious issue here.

[2015-02-15 08:27] drawcard commented on #175
Damn. For what it's worth I have been looking into beautifying files using Grunt / Gulp task managers, as a stop gap until I can do it inside the IDE.

[2015-02-15 11:55] VeitSanner opened #214 "Cannot Upgrade to atom-beautify@0.21.3"
# Description
When I try to upgrade from version 0.21.2 to 0.21.3 because git cannot be found on my Mac (OS X 10.10.2). When I run apm -v in terminal I get the following information:

[code]

I used homebrew to install git.

# Error Message
[code]

[2015-02-15 14:28] marcoslhc opened #215 "Writing extra characters when beautifying python"
When I save any python code this is added at the beginning of the file:
[code]

[2015-02-15 16:59] Glavin001 commented on #213
This is a very serious issue, on a few fronts. Thank you for sharing.

To prevent accidental usage:
- [ ] add warning *before* applying `beautify directory` as this is recursive and can cause damage when applied to too many files, as mentioned above

Fix issue that files become completely blank. This seems to occur when a massive number of files are beautified with `beautify directory`. Unfortunat

[2015-02-15 17:02] cyberwombat commented on #213
I would also add a setting to turn off the sidebar menu entry. I went and just edited the cson file. My need to beautify an entire project/directory is zero and that menu entry is the top one for me - I prefer to just do it on a file by file basis.

Thanks for you prompt attention!

[2015-02-16 07:33] sebastiankade commented on #211
+1

Also "preserve_newlines" does not seem to be respected for LESS files.

[2015-02-16 08:54] jerone commented on #47
@Glavin001 commented on [12 jul. 2014 15:55 CEST](https://github.com/Glavin001/atom-beautify/issues/47#issue-37720017 "2014-07-12T13:55:10Z - Replied by Github Comment Enhancer"):

Do you have a priority list that you can post here?

[2015-02-16 15:10] Glavin001 commented on #47
Here's what I see on Google Analytics:

![image](https://cloud.githubusercontent.com/assets/1885333/6213997/9c7930e8-b5cb-11e4-9260-608962b33825.png)

These metrics are records of each time `beautify` is applied. JavaScript and HTML are still the top, and a number of users are beautifying Atom editor when it has not detected a grammar, hence `Null Grammar`.

My priorities would be to help those la

[2015-02-16 20:37] jerone commented on #47
Great info! :thumbsup: JavaScript clear winner, HTML used a lot too. Didn't expect PHP to be there.

It might be interesting to log which extensions cause the `Null Grammar`, so you can have a prioritized todo-list for future languages.

I'm also wondering if those `Null Grammer` are caused by traversing the tree when `Beautify Directory` or when manually forcing to beautify a not supported file.

[2015-02-16 20:57] Glavin001 commented on #47
Here is the applicable code for tracking events with analytics: https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L502-L510
Using Segment.io: https://github.com/segmentio/analytics-node

Using extensions is a good idea. Maybe a hybrid: `<grammar>:<extension>` for event, such that it'd be `Null Grammar:ext`.

[2015-02-16 21:19] jerone commented on #47
@Glavin001 commented on [16 feb. 2015 21:57 CET](https://github.com/Glavin001/atom-beautify/issues/47#issuecomment-74571343 "2015-02-16T20:57:34Z - Replied by Github Comment Enhancer"):

That sounds like a great idea.

Besides that I can't find where the literal `Null Grammar` is coming from, my CoffeeScript knowledge is too low to make a PR.

[2015-02-18 15:24] GradyD commented on #214
I am getting an error on this also. when I run `apm -v` I get

[code]

I am on windows 7 64bit. The stack trace is,

[code]
When I run `apm install --check` I get this stack trace,

[code]

Not exactly sure if this is the same issue or not but I have the plugin installed and its working, just like to be on the latest version.

[2015-02-18 19:14] jackmaney commented on #184
I'm having prettymuch the same error on Atom 0.180.0

[code]

I also have my `.apmrc` set up with the relevant proxy info.

Here is the stack trace when trying to install via the GUI in `Atom > Packages > Install`:

[code]

The same issue arises when installing via the command line (`apm install atom-beautify`).

[2015-02-18 19:17] ericrange commented on #184
the problem is the git://github.com/ariya/esprima.git package. its not a npm package. but its not atom-beautifyers fault. a dependency of ab has this git://github.com/ariya/esprima.git in its package.json.

[2015-02-19 16:48] Pinesy opened #216 "Format .TSS as using the 'JS/JSON' formatting"
Hi, I had it set up where TSS(titanium style sheets) was using JSON formatting, and it works fine for beautifying (great spacing, formatting, etc). However, I have installed a tss syntax package and no longer will the Beautify run on the .tss files(invalid grammar). I was wondering if there's a way to force .tss files to be beautified with the json/js formatter? I tried to look at the source code

[2015-02-20 08:20] Glavin001 commented on #216
I am away for the next few days and when I am back I have exams, so it is unlikely I will resolve this issue personally. If you want to get this feature added, it sounds like you could submit a simple Pull Request with the appropriate grammar added to https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L399 and with a sample TSS test file that passes it's beautificat

[2015-02-20 22:26] serkandurusoy opened #217 "Spacebars support (almost identical to handlebars)"
[Meteor](www.meteor.com)'s templating language is a derivative of handlebars and is called [spacebars](https://github.com/meteor/meteor/blob/devel/packages/spacebars/README.md).

It would be great to see spacebars support, even if it is just a blanket copy of handlebars.

Thanks.

[2015-02-21 11:25] VeitSanner commented on #214
Following steps helped:

1. Uninstall *atom-beautify*.
2. Close *Atom* editor.
3. Open *Terminal* and execute `apm install atom-beautify`.
4. Open *Atom* editor.

*P.S.: Installing within *Atom* editor did not work either.

[2015-02-21 14:48] Solido opened #218 "Marko template support"
Marko template is the most powerful JS template I've used, it's basically HTML but each time I need to switch from Marko to HTML file type just to start the plugin. Can we have a config update for that little nice to have ?

https://github.com/raptorjs/marko

[2015-02-21 17:15] Glavin001 commented on #218
Awesome idea! I'd accept Pull Requests for this addition.

[2015-02-21 20:36] Solido commented on #218
I guess we just have to happend 'Marko' to this line of code
 when "HTML (Liquid)", "HTML", "XML", "Marko" ?
Just need to understand how to setup atom plugins

[2015-02-21 21:46] Glavin001 commented on #218
Implemented with #219!

Will publish at a later time when I can and post version number here.

[2015-02-22 21:45] MetaMemoryT opened #220 "Unsupported language for grammar 'CoffeeScript (Literate)'."
should support .litcoffee

[2015-02-24 01:30] andyday opened #221 "Uncaught TypeError: Cannot read property 'data' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.182.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.21.3

### Stack Trace

Uncaught TypeError: Cannot read property 'data' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-02-24 03:14] GradyD commented on #214
I tried to uninstall within Atom and I get this error,

`Failed to delete atom-beautify: ENOTEMPTY, directory not empty 'C:\Users\gduncan\.atom\packages\atom-beautify\examples\simple-jsbeautifyrc\ruby'`

When I actually browse to that location it tells me that `\examples\*` does not exist.

When I run `apm uninstall` it errors and gives me the same error message.

[2015-02-25 16:28] Nexion opened #222 "XML with Cyrillic tags"
Hi, I'm working with XML documents containing Cyrillic tags and arguments, besides their contents.
[Example code](https://gist.github.com/Nexion/a15043831e5f8eb81664#file-gistfile1-xml).

Unfortunately, atom-beautify can't recognize them:
[code]
Could you fix this please?

[2015-02-27 16:46] doggan opened #223 "SASS beautify with comma at end of inline comment causes lines to be rearranged"
Save the following as `foo.scss`:
[code]

Run Beautify once and you will get:
[code]

Run Beautify again and you will get:
[code]

:dizzy_face:

I'm using: OSX 10.10.2, Atom 0.184.0, atom-beautify 0.21.3.

Thanks.

[2015-03-01 13:05] WebFreak001 opened #224 "Apply filter to list of files before `Beautify Directory`"
I accidentally pressed format everything and then all my .min.js files got formatted (like jquery) and now my project is by far bigger. Would be nice if there would be a filter in the config for ignoring certain files.

[2015-03-03 09:17] Blerx opened #225 "atom-beautify@0.21.3 fails to install on windows 7 for atom 0.184.0"
I am unable to install atom-beautify for ATOM through apm on windows 7

I tried the fix on this page of stack overflow http://stackoverflow.com/questions/28216987/impossible-to-install-atom-beautify-on-windows-7-64bit-machine-with-apm

I get this error:

npm ERR! git clone https://github.com/ariya/esprima.git Cloning into bare repository 'C:\Users\durquhart\.atom\.apm\_git-remotes\https-github-com

[2015-03-04 14:50] aptbosox commented on #215
I am experiencing the same issue. Running autopep8 from the command line does not produce the extra characters.

[2015-03-05 00:47] scarnago commented on #199
I love this atom plugin, but I need Jade template language support

+1

[2015-03-05 16:07] lloeki opened #226 "Ruby: use rubocop --auto-correct"
Since rubocop has `--auto-correct`, this covers probably everything `ruby-beautify` covers, and more, including project specific settings via `.rubocop.yml`.

[2015-03-06 15:01] Francescu commented on #217
:+1:

[2015-03-06 15:01] Francescu commented on #217
+1

[2015-03-07 12:13] filipesilva opened #227 "Missing settings"
Hey, is it just me or have pretty much all settings disappeared? I remember there being loads of settings in the GUI but now I can only find two. (windows 8.1, atom 0.186.0)

![image](https://cloud.githubusercontent.com/assets/4172079/6541376/65587dba-c4c3-11e4-981d-7ebeb885bce3.png)

[2015-03-07 14:40] Glavin001 commented on #227
Sounds like the Atom API has changed and broke this package, once again. Thank you for letting me know.

[2015-03-07 15:21] filipesilva commented on #227
Anything I can do to help?
I was looking at how to do a PR to allow for a new option in jsbeautify (attribute wrapping for html) when I noticed this.

[2015-03-07 15:36] Glavin001 commented on #227
Pull requests are very welcome! Thanks!

—
Sent from Mailbox

On Sat, Mar 7, 2015 at 11:21 AM, Filipe Silva <notifications@github.com>
wrote:

[2015-03-07 15:42] filipesilva commented on #227
I've verified the new options work out of the box on a .jsbeautifyrc file, and after the problem with Atom's API is sorted I'll add the new options to the settings by following the example of other options.

I don't think I can help much with this specific bug though, I'm not really familiar with the Atom API. If you think it's something easy and can point me in the right direction, I'm happy to h

[2015-03-07 16:09] Glavin001 commented on #227
I'm not quite sure what could have changed however here are the appropriate docs: https://atom.io/docs/api/v0.186.0/Config#defining-settings-for-your-package
and here are the two places with configs: https://github.com/Glavin001/atom-beautify/blob/master/lib/beautify.coffee#L225-L256 and https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L68-L384
I may be able to he

[2015-03-07 19:39] filipesilva commented on #227
Haven't managed to fix it, but here's what I have so far:
-added my fork as dev package, loaded atom in dev mode
-changed the config object, no change in the settings window
-checked the console, config object show that the options are there

![image](https://cloud.githubusercontent.com/assets/4172079/6542975/a026a578-c501-11e4-89d6-e621b2b72db0.png)

[2015-03-07 19:40] filipesilva commented on #227
It seems like the a different config is being loaded, because there are configuration options (js break chained and js wrap line length). I can't find those options anywhere though, which is weird.

[2015-03-07 19:52] filipesilva commented on #227
Calling `atom.config.get('atom-beautify')` shows the settings in the first screenshot, plus the rest of them.

![image](https://cloud.githubusercontent.com/assets/4172079/6543037/82677952-c503-11e4-87e9-4d3166bc6698.png)

[2015-03-07 20:18] filipesilva commented on #227
An odd behaviour that I noticed: when atom starts, the plugin configuration is not all there. After the plugin is activated, the rest appears.

![image](https://cloud.githubusercontent.com/assets/4172079/6543116/fab905da-c506-11e4-84ee-ea19ce315a54.png)

By the way, I'm sorry If I'm being spammy. I don't really know much about atom package development and just want to put here all the details.

[2015-03-07 20:21] Glavin001 commented on #227
I don't mind this spamminess, at all. This is great. Keep it coming. If anyone does not want to receive these messages they can simply unsubscribe to this thread. Thanks for the research!

That's interesting that it does not fully populate when atom loads. Maybe it's because atom beautify uses two separate config files? strange. 

—
Sent from Mailbox

On Sat, Mar 7, 2015 at 4:18 PM, Filipe Silva <

[2015-03-07 20:32] filipesilva commented on #227
Apparently, if I remove the `activationCommands` from `package.json` the configuration loads correctly.

One of the changes in [0.184.0](https://github.com/atom/atom/releases/tag/v0.184.0) had to do with `activation` function export being optional. Maybe it's related?

[2015-03-07 20:36] Glavin001 commented on #227
Sounds like you're on the right track. Potentially *none* of the options are being loaded and those that you do see you had manually set and so Atom knows of it from your person settings but not from the package itself. 

—
Sent from Mailbox

On Sat, Mar 7, 2015 at 4:32 PM, Filipe Silva <notifications@github.com>
wrote:

[2015-03-07 20:44] filipesilva commented on #227
Ah and here it is. That's the problem alright!
https://github.com/atom/settings-view/issues/356

[2015-03-07 20:48] filipesilva commented on #227
So if I do something that activates the package, I can see the settings. I'll leave this as is for now and try to add in the new options for jsbeautify.

[2015-03-07 20:49] Glavin001 commented on #227
Yup looks like an Atom issue. Good work diagnosing. Move onto new options support. Thanks!

—
Sent from Mailbox

On Sat, Mar 7, 2015 at 4:48 PM, Filipe Silva <notifications@github.com>
wrote:

[2015-03-07 22:01] filipesilva commented on #227
And done. https://github.com/Glavin001/atom-beautify/pull/228

[2015-03-08 15:51] Glavin001 commented on #227
Closing this as it is an issue with Atom's Settings View and not Atom Beautify package.

[2015-03-08 15:51] #227 closed

[2015-03-09 00:17] mez commented on #199
I was just going to suggest this!

[2015-03-09 16:35] edpirone opened #230 "Error when 'beautifying' ascx file"
Unsupported language for grammar 'Web Form/Control (C#)'.

Im working off of OS X. Installed uncrustify through brew. Set my paths in Beautify to /usr/local/Cellar/uncrustify/0.61/share/uncrustify/ since it didn't look like it installed in the default location of /usr/local/bin/. Instead a shortcut was placed there that lead to the other path.

Now when I try to beautify I get the error listed abo

[2015-03-10 10:54] prettydiff commented on #144
Pretty Diff supports JSX format using its jspretty, markupmin, and markup_beauty libraries.  Here are some code samples to test against: http://prettydiff.com/unit_tests/beautification_javascript_jsx.txt

Here is my concept of support: http://prettydiff.com/guide/react_jsx.xhtml

Also, I am working on adding support for all atom-beautify supported markup based langauges/template schemes. This supp

[2015-03-10 11:17] ahmetabdi commented on #25
rbeautify is completely messed up, if you try beautify a ruby file with it everything just gets removed inside the file! :-1:

[2015-03-10 11:32] ahmetabdi commented on #25
Could update to using rubocop with the `-a/--auto-correct` flag? at least it's something

[2015-03-10 13:41] Glavin001 commented on #144
Awesome @prettydiff !! Thank you for such great support! Let me know if there's anything I can do. I'll take a look this weekend into setting up beautifier for JSX and any others.

[2015-03-10 13:46] Glavin001 commented on #225
Sounds like #204 . Hopefully they have something there for you. There are a lot of users having the same issues unfortunately.

[2015-03-10 13:46] #225 closed

[2015-03-10 13:49] Glavin001 commented on #214
Duplicate of #204.
Please continue your group discussion with the others at #204. I hope that you are able to find a reproducible solution. Unfortunately, I am not able to reproduce this issue myself, and this is also not an Atom Beautify issue, but an APM or NPM issue, and Atom Beautify is just one of those cases that makes it arise. I hope we can work through this. Thank you for your patients.

[2015-03-10 13:49] #214 closed

[2015-03-10 13:50] Glavin001 commented on #204
### Possible solution by @VeitSanner:
See https://github.com/Glavin001/atom-beautify/issues/214#issuecomment-75367660

1. Uninstall *atom-beautify*.
2. Close *Atom* editor.
3. Open *Terminal* and execute `apm install atom-beautify`.
4. Open *Atom* editor.

[2015-03-10 13:51] Glavin001 commented on #213
I am not sure how I would go about this programmatically. Does Atom have an API for me to *disable* menu entries after the fact (loaded from the .cson file)?

[2015-03-10 13:52] Glavin001 commented on #18
PHP (PHP_Beautifier) and Ruby (rbeautify) and C/C++ (Uncrustify) need to be taken a look at and see if those beautifiers are the best options for those respective languages. For now, all other tests are passing fine.

[2015-03-10 13:52] #18 closed

[2015-03-10 13:53] Glavin001 commented on #183
@Prettydiff is this a language that you'd consider supporting?

[2015-03-10 13:57] Glavin001 commented on #122
@Prettydiff are we able to support this?

[2015-03-10 14:00] Glavin001 commented on #125
Will be switching to PHP Coding Standards Fixer with #175

[2015-03-10 14:00] #125 closed

[2015-03-10 14:02] Glavin001 commented on #136
@prettydiff is this on your roadmap?

[2015-03-10 14:03] Glavin001 commented on #155
All js-beautify options are configurable in either the `.jsbeautifyrc` file or the Atom Beautify package settings. If there are any problems please forward them to [js-beautify](https://github.com/beautify-web/js-beautify).

[2015-03-10 14:03] #155 closed

[2015-03-10 14:04] Glavin001 commented on #153
I am not quite sure what this issue wants/means. Please clarify to reopen.

[2015-03-10 14:04] #153 closed

[2015-03-10 14:05] Glavin001 commented on #163
This was merged in about 18 days ago :+1:

[2015-03-10 14:34] Markko opened #231 "Beautify adds extra space in HTML properties"
Changes:
[code]

to:
[code]
This is breaking the submit button

[2015-03-10 15:05] Glavin001 commented on #231
*Please use code blocks*, triple backticks (`). I have fixed your Issue contents above.

---

[HTML Beautification is handled by `js-beautify](https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L423). ~~Please forward this issue over to https://github.com/beautify-web/js-beautify~~.
I have tested your code on their website and it appears to work.

Could you please p

[2015-03-10 15:06] Glavin001 commented on #222
@prettydiff do you plan on supporting this?

[2015-03-10 16:23] prettydiff commented on #183
Yep, I will add Meteor style guide to the jspetty style guide options. Would you be able to assign or transfer this issue to me?

[2015-03-10 16:44] jackmaney commented on #204
I have the same problem, and the solution above did not help. I got the same stack trace on the command line.

[2015-03-10 16:45] prettydiff commented on #222
The provided code sample (from the gist) fails the Pretty Diff language auto-detection. I can fix auto-detection to recognize the language as XML provided that "<?xml" is at the beginning.

Aside from language detection this code is already fully supported by Pretty Diff. Just go to http://prettydiff.com/ and change the language selection from "auto" to "xml" to verify.

I will release the auto-de

[2015-03-10 16:53] prettydiff commented on #122
Assign this bug to me.  It will have to be an enhancement. It looks simple, but its not.  Notice that the property separators are commas instead of semicolons.  I can easily enhance support for this, but I scared about regression.  I just need to extra time to test it properly.

I am not completely clear on this.  It sounds like "Allman" style braces instead of the more common "K&R" style braces.

[2015-03-10 16:55] Glavin001 commented on #122
Created Issue for you, @prettydiff, at https://github.com/prettydiff/prettydiff/issues/57

[2015-03-10 17:03] prettydiff commented on #136
Yes, assign this issue to me.  I believe EJS is:
http://www.embeddedjs.com/

I was looking at something similar this morning, but with different delimiters: {@ and @} instead of <% and %>, but all the logic appears the same. The delimiters not a concern (even the angle braces).  The big challenge I am thinking through is:

    <% } else { %>

It is challenging because that is a closing and opening

[2015-03-10 17:07] Glavin001 commented on #136
I think everything between `<%` and `%>` is JavaScript, so could you have it use two separate beautifiers? HTML for the main code and omit anything inside of the `<% %>`s and then process those next with JavaScript? I think trying to handle it as one language may become complicated.

[2015-03-10 22:11] iDev0urer opened #232 "HTML (ERB) - htmlbeautifier custom path"
I have installed htmlbeautifier through the command `gem install htmlbeautifier` but when I try to run your beautifier on HTML I get this error

`Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;htmlbeautifier < "/var/folders/s_/sqlhgb657c51smfrcpk7x2x00000gn/T/input115210-78658-j6w5bi" > "/var/folders/s_/sqlhgb657c51smfrcpk7x2x00000g

[2015-03-10 22:32] Glavin001 commented on #232
Looks like there currently is not an option for setting the path to `htmlbeautifier` (see beautifier code at https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/html-erb-beautify.coffee ).

- [ ] add option to set path of `htmlbeautifier`

---

Currently Atom Beautify attempts to automatically detect `htmlbeautifer` and other installed beautifiers with the line:

[code]

Test to see w

[2015-03-10 22:43] iDev0urer commented on #232
Mine returns `/Users/chriswatson/.rvm/rubies/ruby-2.1.5/bin/htmlbeautifier`. Is it possible to reinstall the gem in `/usr/bin`?

[2015-03-10 22:54] Glavin001 commented on #232
I am not a Ruby developer, so I am not really sure what you can and cannot do with `gem`, sorry. Let me know if you find out those! :smile:

Maybe there is something you could do with Bash aliases in either `.bashrc` or `.bash_profile`: http://tldp.org/LDP/abs/html/aliases.html

Maybe the following (untested):

[code]

[2015-03-10 22:58] iDev0urer commented on #232
The funny thing is if I run htmlbeautifier in terminal it works. It just flakes out and throws that error within Atom. I don't really know coffee well enough to fix it for myself either /.\ haha

[2015-03-11 14:33] Finkes commented on #206
I experienced the same issue on Ubuntu 14.04. I could fix the issue by using a newer version of nodejs & npm following this guide https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-an-ubuntu-14-04-server

[2015-03-11 15:58] sunglee commented on #213
Please change name "Beautify Directory" to "Delete all your file" :-1:
Another victim of the stupid name. Sad...

[2015-03-11 16:07] cyberwombat commented on #213
@sunglee Wow bummer.. I feel you. Not sure if it's of any use for you but when I tried to find if any of my files has somehow been cached/saved the only potential one (which did not work for me sadly) was that if you are on a mac with time machine on (even if your drive is not plugged in) and there is at least 20% free space, that time machine will do a local save every hour. Unfortunately my disk

[2015-03-11 16:16] Glavin001 commented on #213
I am going to publish with `Beautify Directory` disabled until this is resolved. As much as it works when I use it, it does cause problems when you are beautifying too many files and other cases.

[2015-03-11 16:19] Glavin001 commented on #213
Published to v0.21.5

Please update immediately to ensure this issue does not cause problems for you again until it is resolved.

I would also like to implement
- [ ] remember original file contents so that Beautification can be reverted

[2015-03-11 16:23] cyberwombat commented on #213
@Glavin001 isn't there a way to modify things so that it does one file at the time instead of what I am assuming is to load a billion files in memory?

[2015-03-11 16:31] Glavin001 commented on #213
Here's the applicable code for beautifying a directory: https://github.com/Glavin001/atom-beautify/blob/master/lib/beautify.coffee#L190-L211

Changing [`async.each`](https://github.com/Glavin001/atom-beautify/blob/master/lib/beautify.coffee#L202) instead to `async.eachSeries` would do what you suggest, @cyberwombat.
It would likely slow things down and not be maximizing usage of Node.js: high I/O

[2015-03-11 16:36] cyberwombat commented on #213
Perhaps a balance - I have not used this myself but [mapLimit](https://github.com/caolan/async#mapLimit) or some other tool might be of use

[2015-03-11 16:39] aarongundel commented on #204
After reviewing my npm debug log, I think this is actually due to the analytics-node dependency.  I think @billiam13s was on track -- if you're in a place where the git protocol is blocked, you won't be able to install atom-beautify.  analytics-node has a dependency down the line for node-degenerator.  Node-degenerator depends on esprima -- but it specifies that dependency in an unfriendly way.  I

[2015-03-11 17:03] aarongundel commented on #204
Ok, so here's my workaround -- this worked for me.

first...

    git clone https://github.com/Glavin001/atom-beautify.git && cd atom-beautify

then edit package.json, remove the line for the dependency on analytics-node

then..

    npm install
    apm link

restart atom.

[2015-03-11 17:17] MetaMemoryT commented on #204
The commit is merged, would we need a version bump to `TooTallNate/node-degenerator` in order to get install from atom working again?

[2015-03-11 17:21] aarongundel commented on #204
I think so, yes.  Also, deleted my previous workaround.  Didn't take into account obvious dependencies within the code itself.

[2015-03-11 17:57] aarongundel commented on #204
Version bump is completed, install works for me now.

[2015-03-11 18:29] MetaMemoryT commented on #204
I still get:

[code]

[2015-03-11 18:39] Glavin001 commented on #213
I absolutely agree. Either mapLimit or probably eachLimit. And have the limit be able to be configured by users too. Good thinking  

—
Sent from Mailbox

On Wed, Mar 11, 2015 at 1:36 PM, Yashua <notifications@github.com> wrote:

[2015-03-11 20:14] Glavin001 commented on #230
This means that the grammar Atom has detected for your file is 'Web Form/Control (C#)', which is good, however Atom Beautify does not support that grammar. See https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L406-L499

This means Atom did not detect the grammar of your source code file.

---

I think what you're trying to beautify is `C#`? Please confirm.
Atom Be

[2015-03-11 20:15] Glavin001 commented on #224
Good idea.

[2015-03-11 20:17] Glavin001 commented on #223
SASS is handled by [`prettydiff`](https://github.com/prettydiff/prettydiff) ( see https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L434 ).

@Prettydiff, any ideas on this would be happening?

[2015-03-11 20:18] Glavin001 commented on #221
Can you please provide some steps to reproduce? Such as your file contents before beautifying.

[2015-03-11 20:21] andyday commented on #221
Don't recall the steps I took...  If I see it again, I'll open a new issue...

[2015-03-11 20:21] #221 closed

[2015-03-11 20:30] jackmaney commented on #204
The install worked. Thank you! This is a package that I love on my home installation of Atom, and I'm glad that I'm now able to use it at work, too.

[2015-03-11 20:41] aarongundel commented on #204
Great @jackmaney!  @MetaMemoryT clone the repo and run

    npm install

inside.  Post your npm-debug.log.

[2015-03-12 08:36] jclappiway commented on #26
+1 same error with tmp files

[2015-03-12 15:01] Glavin001 commented on #26
Sounds like for some reason `source ~/.bashrc;` is not working on your Ubuntu computer.

The afflicting lines of code can be found at: https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/cli-beautify.coffee#L45-L50

If you can comment out those lines in your local installation of Atom Beautify, that should fix it. You will have to manually set the path of `php_beautifier` in the Atom

[2015-03-12 15:26] demosdemon commented on #215
+1, is there any workaround until this fix is finished?

[2015-03-12 15:53] Glavin001 commented on #215
I am unable to reproduce this issue.

Are you using `beautify on save`?

What version of Atom, Atom Beautify, and autopep8 do you have?

[2015-03-12 16:02] Glavin001 commented on #230
Could you please provide me with some sample code I can write tests for? Thank you.
It can be as simple as a Hello World kind of thing.

[2015-03-12 16:04] aptbosox commented on #215
Not using beautify on save.

OS: Mac OSX 10.10.2
Atom version: 0.186.0
Atom Beautify version: 0.21.5
autopep8 version: 1.1

I just verified that the bug is still occurring with all of the above.

[2015-03-12 16:06] edpirone commented on #230
I wish I could give you something as simple as hello world but I’m just the front-end guy. All this dev was done by another guy at our company. So I am integrating my front-end with his development. Here is the code. Sorry it is a huge chunk of mess. Indents should be somewhat recognizable.

We are using knockout.js in there as well. That is all the commented stuff but I imagine that wouldn’t effe

[2015-03-12 16:06] edpirone commented on #230
——

Ed Pirone
Director of Digital Media @ SharpHat
o. 201.503.0020 ext. 205
c. 551.427.5684
epirone@sharphat.com

SharpHat Inc.
333 Sylvan Ave. Suite 324
Englewood Cliffs, NJ 07632
www.sharphat.com

[2015-03-12 16:06] edpirone commented on #230
Sidenote. It is insane how responsive you are to all of this. I’d be happy to donate if you have an option like that. Nothing crazy but I know every dollar helps.

——

Ed Pirone
Director of Digital Media @ SharpHat
o. 201.503.0020 ext. 205
c. 551.427.5684
epirone@sharphat.com

SharpHat Inc.
333 Sylvan Ave. Suite 324
Englewood Cliffs, NJ 07632
www.sharphat.com

[2015-03-12 16:09] Glavin001 commented on #215
I am not able to reproduce with:

OS: Mac OSX 10.10.2
Atom version: 0.187.0
Atom Beautify version: 0.21.5
autopep8 version: 1.1

How are you executing beautify?
- ~~beautify on save~~, or
- right-click file and `Beautify File`, or
- running beautify with keyboard shortcut
- running beautify from command palette

Does the extra characters appear immediately after beautifying? Only on save? etc.

I

[2015-03-12 16:17] Glavin001 commented on #230
That looks sufficiently like HTML, so let's try something:
- change Atom's grammar: `control + shift + L`
- select grammar `HTML`
- Beautify this file

Let me know how that looks.

---

Thank you, I appreciate it. I currently do not have any option to donate. Just happy to help my fellow developers :smiley:.

[2015-03-12 16:18] Glavin001 commented on #231
We can reopen this with some more information. Thank you.

[2015-03-12 16:18] #231 closed

[2015-03-12 16:22] edpirone commented on #230
Apparently you’re a wizard. Thank you. Send the donation link :)

——

Ed Pirone
Director of Digital Media @ SharpHat
o. 201.503.0020 ext. 205
c. 551.427.5684
epirone@sharphat.com

SharpHat Inc.
333 Sylvan Ave. Suite 324
Englewood Cliffs, NJ 07632
www.sharphat.com

[2015-03-12 16:22] aptbosox commented on #215
Sorry I didn't mean to mislead you about beautify on save. It actually does occur during a beautify on save, I just wasn't using that feature. In fact, I just verified that the issue occurs for all of the above methods of executing beautify. The characters appear immediately after execution, not after a save.

I thought it might be a weird artifact of the fact that I am using sshfs, so the editor

[2015-03-12 16:27] Glavin001 commented on #230
Awesome! Glad it worked out.

Your thanks is all I need :smiley:.

To help others writing ASP.NET Web Form Control code like yourself, I want to officially add support for this fix. Can you confirm that this is the language you installed into Atom? https://github.com/jbalboni/atom-language-aspx
Supports grammars: `Web Form/Control (C#)` and `Web Handler (C#)`.

I am going to add those grammars suc

[2015-03-12 16:28] edpirone commented on #230
Yessir. Thats the one.

——

Ed Pirone
Director of Digital Media @ SharpHat
o. 201.503.0020 ext. 205
c. 551.427.5684
epirone@sharphat.com

SharpHat Inc.
333 Sylvan Ave. Suite 324
Englewood Cliffs, NJ 07632
www.sharphat.com

[2015-03-12 16:36] Glavin001 commented on #230
Published to v0.21.6

Please give that a shot (revert your selected Atom grammar back to `Web Form/Control (C#)` and the rest of your files should work and beautify as HTML now out of the box :+1:.

[2015-03-12 16:37] Glavin001 commented on #232
Published to v0.21.6

Usage: take that `htmlbeautifier` path and go into Atom Beautify's package settings, and find `htmlbeautifier path` and enter it there. Then try to beautify.
Let me know if it works. Thanks!

[2015-03-12 16:40] Glavin001 commented on #218
For future reference, I believe this was published to v0.21.4

[2015-03-12 16:40] #218 closed

[2015-03-12 17:02] iDev0urer commented on #232
Dang I thought that would work. I just got this

`Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;"/Users/chriswatson/.rvm/rubies/ruby-2.1.5/bin/htmlbeautifier" < "/var/folders/s_/sqlhgb657c51smfrcpk7x2x00000gn/T/input115212-87663-3icos6" > "/var/folders/s_/sqlhgb657c51smfrcpk7x2x00000gn/T/115212-87663-3l8iqw" env: ruby_executable_ho

[2015-03-12 17:05] Glavin001 commented on #232
Try: http://stackoverflow.com/a/26370576/2578205
So `/Users/chriswatson/.rvm/rubies/ruby-2.1.5/bin/htmlbeautifier` becomes `/Users/chriswatson/.rvm/rubies/ruby-2.1.5/wrappers/htmlbeautifier`

[2015-03-12 17:09] demosdemon commented on #215
Atom: 0.187.0
Atom Beautify: 0.21.5
autopep8: 1.1.1
OSX: 10.10.3dp2

Regardless if beautify on save is on or not, or if I manually beautify, it takes the following script
[code]

and replaces it with
[code]

I feel like it has something to do with the encoding, because the extra bits look suspiciously like the UTF BOM.

[2015-03-12 17:10] iDev0urer commented on #232
What is going on here?! Haha

`Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;"/Users/chriswatson/.rvm/rubies/ruby-2.1.5/wrappers/htmlbeautifier" < "/var/folders/s_/sqlhgb657c51smfrcpk7x2x00000gn/T/input115212-87663-1rwyswl" > "/var/folders/s_/sqlhgb657c51smfrcpk7x2x00000gn/T/115212-87663-4rvura" /bin/sh: /Users/chriswatson/.rvm/rub

[2015-03-12 17:12] Glavin001 commented on #232
I am not a Ruby developer, so I have no idea :stuck_out_tongue_closed_eyes:. Unfortunately, I don't think I'll be much help. I'd recommend searching around for your issue `ruby_executable_hooks: No such file or directory` and if you do find anything let me know so that we can fix this once and for all.
I hope you have better luck! Thanks.

[2015-03-12 17:14] Glavin001 commented on #215
Could you remove the `# coding=utf-8` line? You mention problem with encoding, what is that line supposed to do? Maybe autopep8 does not handle it well.

[2015-03-12 17:23] demosdemon commented on #215
No effect, I actually added the coding line to force `autopep8` to interpret the file as UTF8.

It's not autopep8, and I was able to confirm this by changing
[code]
to include the `echo` statement to force a newline. With the extra newline, the extra bytes appear then the newline from `echo`, then the `autopep8` output.

[2015-03-12 17:30] Glavin001 commented on #215
I wonder if it has something to do with

[code]

could you run that in your Terminal?

[2015-03-12 18:30] aptbosox commented on #215
Do you mean we should run that in a terminal and then launch atom from the terminal? If so, that was unsuccessful as well.

[2015-03-12 18:32] Glavin001 commented on #215
Run that command from Terminal and see if there is any output.

Atom Beautify is simply reading files, and autopep8 is writing to them. Both are pretty basic operations, so I'm trying to find out where those special characters are coming from. You mentioned that it happens even before the `echo` and that command above is the only other thing that is executed before that `echo`.

[2015-03-12 18:35] demosdemon commented on #215
I'm not at my computer at the moment, but I will test when I get back. I do know that my bash_profile is setup to echo some control characters that iterm interprets into some GUI actions, so that's probably it. The default OSX bash_profile has that as well for Terminal.app to display the working directory in the title bar.

[2015-03-12 18:50] demosdemon commented on #215
[code]

[code]

Yeah, that's it. Something's printing the `\x1B(B\x1Bml`. (The stderr messages aren't being picked up by Atom but they're from using sh over bash, like `require('child_process').exec` does)

[2015-03-12 18:59] aptbosox commented on #215
I'm not sure where the control characters are coming from, but both of the following actions eliminate the problem:

1. Comment out line 54 of `cli-beautify.coffee` (`cmd = $path + cmd`) so that the $PATH is not modified
2. Launch Atom graphically instead of from the terminal (I always launch it from the terminal because my linters don't play nice if the environment isn't set up properly)

@demosd

[2015-03-12 19:01] demosdemon commented on #215
I've found the culprit in my `bash_profile`, somewhere along the line I have a sourced file that sets up my terminal colors and `bash_prompt`, in it there's a `tput` command, `tput sgr0 # reset colors`. That is where the control characters are coming from, at least for me.

[2015-03-12 19:08] aptbosox commented on #215
Huh... Same thing here. I'd like to keep that tput command in there, though. Do you have a good solution without just removing that from bash_profile?

[2015-03-12 19:28] demosdemon opened #233 "Make sourcing `.bash_profile` and `.bashrc` optional/disableable"
While researching the cause of #215, I see that both `.bash_profile` and `.bashrc` are loaded. [cli-beautify.coffee:43](https://github.com/Glavin001/atom-beautify/blob/77ec0b2e6fd33dd79474897147c8b42f605bda02/lib/langs/cli-beautify.coffee#L43)

It's not necessary in my issue with autopep8 since I already provide the path for autopep8.

Another issue from sourcing those two files, I have my `.bash_

[2015-03-12 19:34] demosdemon commented on #215
I've currently moved the tput the start of my set_prompt so its echoed every time bash wants to display the prompt (which does not happen in this case), overkill but it'll stop this from happening.

Other than that, in #233 I suggest making the path sourcing optional. I can't think of any other way to get the end goal of getting the path from the user's profile without the side effects of the prof

[2015-03-12 19:50] Glavin001 commented on #233
Absolutely agree. This will be implicitly resolved with #164 , however that may very well be a while off. At least this is a temporary fix.

I am accepting pull requests for this issue.

[2015-03-12 22:06] Glavin001 commented on #233
A quick fix that would be even better would be having users set their `$PATH` for Atom Beautify. That was the whole point of that code you referenced.

[2015-03-13 01:07] miketheman opened #234 "/bin/sh not able to parse bash functions"
Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile;[ -f ~/.bashrc ] && source ~/.bashrc;rbeautify "/var/folders/78/3jyqdny925n348fpr6wh23bc0000gn/T/input115211-94410-1yp2t0n" /Users/miketheman/.bash_it/lib/helpers.bash: line 76: `bash-it': not a valid identifier

This error occurs since I have some functions being loaded in my bash_profile that to not work with the default

[2015-03-13 02:41] pathawks opened #235 "Use tilda (~) in configPaths"
I would like to specify my `configPath`s relative to my home directory, but it seems to choke when I use "`~/Dropbox/Tools/c-uncrustify.cfg`"  I instead need to use the full path.

This makes life difficult as my config file is synced between different machines, even though my home directory is different.

[2015-03-13 17:16] MetaMemoryT commented on #204
npm-debug.log: https://gist.githubusercontent.com/MetaMemoryT/e4e5f900cc85c8d305ef/raw/gistfile1.txt

[2015-03-13 17:59] aarongundel commented on #204
@MetaMemoryT From your log...

    6499 error Failed to clone git+https://github.com/ariya/esprima.git#a41a40b49046747b3af57341cda048bbd3d9df79 from https://github.com/ariya/esprima.git Cloning into 'C:\Users\Sean\AppData\Local\Temp\npm-5544-4782edbc\git-cache-334001f102e0\a41a40b49046747b3af57341cda048bbd3d9df79'...
    6499 error Failed to clone git+https://github.com/ariya/esprima.git#a41a40b49

[2015-03-13 18:02] MetaMemoryT commented on #204
I can access in in my web browser, gives me a redirect to https://github.com/ariya/esprima

[2015-03-13 18:19] aarongundel commented on #204
@MetaMemoryT

Try this

    npm cache clean

And try to install after that.

[2015-03-13 19:52] MetaMemoryT commented on #204
now I got:

[code]

[2015-03-13 19:59] aarongundel commented on #204
I'm running out of thoughts here, but try to

    npm cache clean
    npm update

Then try to install the package.  It seems like the issue is limited to your local install of npm.

[2015-03-13 20:39] bitwiseman commented on #158
Note: this doesn't repro in atom-beautify or in js-beautify.

[2015-03-13 21:12] MetaMemoryT commented on #204
still same problem, but look at this part of the error message:

[code]

It looks like a windows specific problem, somehow its appending the `/c/...` path to the `C:\...` path, to determine the directory.

[code]

[2015-03-13 21:31] aarongundel commented on #204
@MetaMemoryT  The pathing is cygwin-ish behavior.  I'm not sure where npm is installed for you; but if I had to guess, I'd say cygwin is somehow involved.  But that's only a guess.

[2015-03-13 21:46] MetaMemoryT commented on #204
I opened up a bug:

https://github.com/npm/npm/issues/7623

tried to update npm but trashed my system, will keep trying.

[2015-03-13 21:48] aarongundel commented on #204
Ok, happy hunting @MetaMemoryT .  @Glavin001  I think it's safe to close this issue.

[2015-03-15 12:40] m1ga commented on #122
https://github.com/prettydiff/prettydiff/issues/57 is closed! Prettydiff now supports TSS files.

So prettydiff will be included in atom-beautify?

[2015-03-16 01:14] elebetsamer opened #236 "Can't get .jsbeautifyrc to work on windows."
I'm running Atom on windows and trying to use a .jsbeautifyrc file in the root of my project, but no matter what I have tried, it just doesn't seem to work. Or maybe I'm just not understanding how it works. I've tried the json format and also the yaml format. Has this been tested on windows? Is there something I am missing about how to get this to work?

[2015-03-16 01:17] Glavin001 commented on #236
I do not have a Windows computer to test on (Mac has been tested).
However since it's using all of the Node.js APIs, it should work just fine.

What is your `.jsbeautifyrc` contents? And how do you know it is not working? For instance, do you have a file you are testing and have an expected output. Does beautification work at all? Is it beautifying but simply not respectiving your `.jsbeautifyrc`?

[2015-03-16 01:28] elebetsamer commented on #236
My Atom is version 0.187.0. My version of atom-beautify is 0.21.6.

This is my .jsbeautifyrc file:

[code]

I've tested with a few javascript files and some scss files (assuming this will still work with the css rules). For javascript, I would assume that this code:
[code]
Would get beautified to:
[code]
But it just leaves it the way it already is. I would also assume this code `$scope.doStuff = f

[2015-03-16 01:54] Glavin001 opened #237 "Package Command for debug information"
- [x] Atom version
- [x] Atom Beautify version
- [x] Operating System (Mac, Linux, Windows, etc)
- [x] Beautification Options
  - [x] all options
  - [x] paths to `.jsbeautifyrc` files that are being used
- [x] Atom Beautify Package configuration
- [x] Original file
  - [x] contents of file
  - [x] path of file (extension included)
  - [x] Atom grammar of file editor
- [ ] Error report
  - run tes

[2015-03-16 01:54] Glavin001 commented on #236
I am going to work on #237 which will help with diagnosing this and other issues.

[2015-03-16 02:03] elebetsamer commented on #236
Sounds good. Thanks for being so responsive.

[2015-03-16 04:37] #237 closed

[2015-03-16 04:38] Glavin001 commented on #237
# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Mon Mar 16 2015 01:38:21 GMT-0300 (ADT)`.

---

**Platform**: darwin

## Versions

**Atom Version**: 0.187.0

**Atom Beautify Version**: 0.21.6

## Original file to be beautified

**Original File Path**: `/Users/glavin/Documents/Project Dev/atom-beautify/lib/beautify.coffee`

**Origina

[2015-03-16 04:39] Glavin001 commented on #237
Published feature to v0.22.0

[2015-03-16 04:41] Glavin001 commented on #236
I published the new *Debug Command* to v0.22.0
Please update Atom Beautify and the run the `Beautify: Debug` command from either the command palette or from the menu, `Packages -> Atom Beautify -> Debug`. Follow the instructions and paste your debug information here. As it mentions, be sure to give it a look over before sending to make sure you are comfortable with what it is sharing.

[2015-03-16 04:43] Glavin001 commented on #235
For *machine specific* configurations, like this, I configure in the Atom Beautify *Package settings*.

[2015-03-16 04:46] Glavin001 commented on #232
I just tested using the custom `htmlbeautifier path` set via Atom Beautify's Package settings. Everything worked smoothly, so I am closing this issue.

Hopefully you have some luck with your Ruby installation issue, @iDev0urer .

[2015-03-16 04:46] #232 closed

[2015-03-16 04:47] Glavin001 commented on #204
Great discussion everyone! Thanks for resolving this.

[2015-03-16 04:47] #204 closed

[2015-03-16 04:51] Glavin001 commented on #235
Looks like this is what I need: http://stackoverflow.com/a/24840351/2578205

[2015-03-16 04:54] #235 closed

[2015-03-16 04:55] Glavin001 commented on #235
Published to v0.22.1

Let me know how it works for you.

[2015-03-16 05:02] Glavin001 commented on #122
So the next issue is that Atom Beautify current uses the Grammar for the file as it is detected by Atom. However, I cannot find Atom language support package for TSS.
@m1ga please let me know if there is one, if not, I may need some more time to update for custom Grammars.

[2015-03-16 05:06] Glavin001 commented on #183
@prettydiff has added support so this is not high priority.

[2015-03-16 05:07] Glavin001 commented on #136
@prettydiff has added support so this is not high priority.

[2015-03-16 05:07] Glavin001 commented on #223
@prettydiff has added fixed this, so this is now high priority.

[2015-03-16 05:13] Glavin001 commented on #183
@Francescu / @awatson1978 , please provide a simple example file that is not beautified. I am adding tests and once I have that example file I will publish :+1:.

[2015-03-16 05:21] Glavin001 commented on #215
Published a fix to v0.22.2

Let me know if that works for you for now until I have time to properly implement #233 and #164.

[2015-03-16 05:22] Glavin001 commented on #188
Duplicate of #191

[2015-03-16 05:22] #188 closed

[2015-03-16 05:22] Glavin001 commented on #136
@karloluis can you please provide an example file that I can use for my tests. Once I have passing tests I will be publishing. Thank you.

[2015-03-16 05:24] Glavin001 commented on #216
Duplicate of #122

By the way, thanks to @prettydiff, this is almost ready to be published!

[2015-03-16 05:24] #216 closed

[2015-03-16 05:36] Glavin001 opened #238 "Support beautifying files with unknown grammars"
Blocker for #122

- [ ] Extension to Grammar mapping
  - [ ] Atom Beautify package setting for a JSON structure representing extension mapping to Grammar

[code]
  - [ ] Alternative grammar mappings (above) are forced priority on top of Atom's

[2015-03-16 05:38] Glavin001 commented on #238
- See Config docs: https://atom.io/docs/api/v0.187.0/Config

Instead of using JSON, how about using `array` type and make the sub items of type `string` and the string must be in the form `#{extension}:#{grammar}`. For example: `tss:Titanium Style Sheet`

[2015-03-16 06:45] elebetsamer commented on #236
When running the debug, I get an error:

![Error](http://i.imgur.com/1SSHM4a.png)

[2015-03-16 06:48] elebetsamer commented on #236
Here is the full error report.

**Atom Version**: 0.187.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.22.2

### Stack Trace

Uncaught ReferenceError: showError is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-03-16 13:17] Glavin001 commented on #236
Yes there is a bug at https://github.com/Glavin001/atom-beautify/blob/master/lib/beautify.coffee#L249-L251
It occurs when you do not have an editor selected.
Please select an editor tab for the file you are trying to beautify and run `Beautify: Debug` again.

[2015-03-16 13:31] Glavin001 commented on #199
@prettydiff is this something Prettydiff could support? [I have not found another yet.](http://stackoverflow.com/questions/4989467/jade-template-engine-html-beautifier)

[2015-03-16 13:38] Glavin001 commented on #236
Published fix for Debug command to v0.22.3

[2015-03-16 17:01] m1ga commented on #122
I've started https://github.com/m1ga/language-tss a while ago. Not fully complete but it will apply when using tss files

[2015-03-16 17:07] prettydiff commented on #199
No, this one will not be supported by Pretty Diff.  I used Jade before and it is a fantastic idea to write HTML faster, but unfortunately it is white-space and grammar based instead of syntax based.  There is nothing in Pretty Diff to accommodate this language without writing a new parser from scratch.

[2015-03-16 17:08] Glavin001 commented on #199
Makes sense. I believe there was a “pretty” option in Node.js’ Jade package, I’ll look into that later. Thanks.

[2015-03-16 18:16] jerone commented on #199
@Glavin001 commented on [16 mrt. 2015 18:08 CET](https://github.com/Glavin001/atom-beautify/issues/199#issuecomment-81813655 "2015-03-16T17:08:51Z - Replied by Github Comment Enhancer"):

The `pretty` option from Jade is only to prettify the generated HTML (newlines, indentation), not the jade files themselves.

[2015-03-16 21:39] elebetsamer commented on #236
Here is the debug output. My `.jsbeautifyrc` file is in the root of my project, which is *H:\Development\myApp\myApp-ionic*

# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Mon Mar 16 2015 14:31:30 GMT-0700 (Pacific Daylight Time)`.

---

**Platform**: win32

## Versions

**Atom Version**: 0.187.0

**Atom Beautify Version**: 0.22.3

[2015-03-16 21:43] Glavin001 commented on #236
So it is definitely not loading your file however it should be passing over it on its way up from your file path to root. 

You have put it in the correct place though.

What is the contents of your .jsbeautifyrc file?

—
Sent from Mailbox

On Mon, Mar 16, 2015 at 6:40 PM, Eric Lebetsamer <notifications@github.com>
wrote:

[2015-03-16 22:41] elebetsamer commented on #236
Ok, I feel like a total idiot now, but I had mixed json and the yaml format in the file. Totally user error, so sorry for wasting your time on this one. I guess as an upside, you've added some debug code that might come in handy in the future, lol.

[2015-03-16 22:45] elebetsamer commented on #236
Oh, I will say though, that the `newline_between_rules` css rule doesn't seem to work on my scss file.

[2015-03-17 01:49] MiincGu commented on #180
I don't think this issue has been fixed.

When I have code like:
[code]

I still get
[code]

atom beautifer version: 0.22.3

[2015-03-17 02:08] Glavin001 commented on #180
Can you confirm that Prettydiff's website does work and that this is an Atom Beautify issue?

[2015-03-17 02:26] MiincGu commented on #180
I can confirm that. Anything work perfectly on Prettydiff's website.

[2015-03-17 10:21] digihash opened #239 "Windows: source file name(s) are larger than is supported by the file system"
Dear

The problem is that if I copy the folder from my Mac OS X system to the packages folder on a Windows 7 system without internet, I get the error that the Source Path is Too Long. I checked which folder is causing this and it starts at atom-beautify/node-modules. I started going in there and every time I go a folder deeper and try to copy the node-modules folder, I get the same error.

This is

[2015-03-17 12:10] Glavin001 commented on #239
Why are you copying the Atom Beautify package folder? This should not be done.

This is handled by `npm`, Node'js package manager. It is the folder for *other dependency packages*, so not Atom Beautify source code.

Please install properly with Atom's package manager.

[2015-03-17 12:10] #239 closed

[2015-03-17 12:13] Glavin001 commented on #180
I have updated Prettydiff to 0.11.0 with Atom Beautify v0.22.2 ( see commit history https://github.com/Glavin001/atom-beautify/commits/master ).

If updating to v0.22.3 (latest, next release after v0.22.2) still does not work, then I would ask @Prettydiff if those changes are supported on the Node.js version of Prettydiff and not just the web browser version.

[2015-03-17 12:15] Glavin001 commented on #236
Feel free to create another issue and we can look into that.

No worries, I had a feeling that was the case anyway :wink:. It is always good to go through the steps just to be sure. I hope to add even more debugging that will make simple issues like this very clear and quick to resolve.

[2015-03-17 12:15] #236 closed

[2015-03-17 12:40] prettydiff commented on #180
I will make this feature available for v1.11.2.

https://github.com/prettydiff/prettydiff/issues/61

[2015-03-17 20:39] framerate opened #240 "`Beautify Editor` command should come first in command palette list"
Love this plugin. My workflow is usually:

command + shift + p ---> type "beaut" ---> hit enter.

The new version added a "debug" command that is at the top of the auto complete list and it causes me to hit it all the time.

I don't know the origin of the debug command, but would it be possible to at least order it at the bottom so it doesn't accidentally fire?

[2015-03-17 20:53] Glavin001 commented on #240
See #237 and #236.

I recommend using a keyboard shortcut for `beautify:beautify-editor`.

I am not entirely sure why it would appear first (`b` in `beautify editor` comes before `d` in `debug` last time I checked), however I would also like to see `beautify editor` appear first in that list, so if you figure out why it is ordering that way and how to change it, please let me know.

[2015-03-18 01:55] bronze opened #241 "php_beautifier error (or bad installation?)"
hi there

when trying to beautify php i get

    Command failed: /bin/sh -c [ -f ~/.bash_profile ] && source ~/.bash_profile > /dev/null 2>&1;[ -f ~/.bashrc ] && source ~/.bashrc > /dev/null 2>&1;php "/users/bronze/pear/bin/php_beautifier" --input "/var/folders/y7/2xqg1601455cq89gjdy7t5qh0000gn/T/input115217-312-339wa0" --output "/var/folders/y7/2xqg1601455cq89gjdy7t5qh0000gn/T/115217-312-zovrpv"

[2015-03-18 12:38] Glavin001 commented on #241
Try `php "/users/bronze/pear/bin/php_beautifier" --help` in your Terminal and see if `php_beautifier` is installed and working.

[2015-03-18 13:19] prettydiff commented on #211
This is a duplicate of issue #180

The bug is due to a difference in default values for the node-library compared to the web tool for prettydiff.

[2015-03-18 13:46] Glavin001 commented on #211
CSS is handled by js-beautify and LESS and SASS is handled by Prettydiff.
So @sebastiankade your issue is with Prettydiff, while @langdonx can you confirm that you are beautifying CSS and not LESS or SASS.

[2015-03-18 13:52] prettydiff commented on #217
Since the syntax appears to be identical to Handlebars Pretty Diff already supports this. Looking at the documentation I did find a minor bug though.

https://github.com/prettydiff/prettydiff/issues/62

[2015-03-18 13:59] prettydiff commented on #209
@alem0lars the links provided for CSScomb resolve to 404 pages. Is there some other location for CSScomb?

[2015-03-18 14:02] alem0lars commented on #209
Yes: [Github page](https://github.com/csscomb/csscomb.js)

[2015-03-18 14:03] prettydiff commented on #203
https://github.com/prettydiff/prettydiff/issues/63

This is my bug. SCSS support is provided by Pretty Diff, so I need to fix this in my library.

[2015-03-18 14:23] prettydiff commented on #197
@Glavin001 you could use Pretty Diff for XML beautification. The markup parser in Pretty Diff was written to support XML first and then HTML support was added with an option on top of the XML parser. This is mostly seamless if using Pretty Diff's language auto-detection.

[2015-03-18 14:30] prettydiff commented on #200
I think this is a duplicate of issue #136

[2015-03-18 14:40] serkandurusoy commented on #217
hm, yes, that seems to be a showstopper :(

[2015-03-18 22:12] langdonx commented on #211
@Glavin001 Correct, I do not use LESS/SASS.

[2015-03-19 02:46] sebastiankade commented on #211
@Glavin001 I just checked and prettydiff correctly handles newlines in less when the 'preserve' option is set to 'all' or 'css'. In my beautify settings I have 'preserve_newlines' set to true but this doesnt seem to make it through to prettydiff for less files.

[2015-03-19 03:10] Glavin001 commented on #197
Definitely want to use PrettyDiff. Thanks for heads up!

[2015-03-19 04:19] bronze commented on #241
right on point. it returned an error:

    Warning: require_once(PEAR.php): failed to open stream: No such file or directory in /users/bronze/pear/bin/php_beautifier on line 37

so i went google-fu'ing and found the best way was to enable my php.ini (copy /private/etc/php.ini.dafault into /private/etc/php.in) and adding a line with PEAR's path to it.
Right at the bottom of the new php.ini i added

[2015-03-19 08:16] davyzhang opened #243 "Any chance to support golang's template syntax?"
Here's the doc: http://golang.org/pkg/text/template/

if there's no hope to support this

can add a function using regex match to skip some text from format?

[2015-03-19 08:50] nielskrijger opened #244 "Remove or move "Beautify Directory" option in hover menu"
By default the first option in the right-click menu when hovering over a directory is "Search Directory"; an option I use a lot.

With Atom-beautify installed this changes to "Beautify Directory"; I've already accidentally clicked it several times and decided to deinstall atom-beautify as a result after failing to disable this feature. Clicking it by accident is likely to mess up quite a lot and c

[2015-03-19 12:02] Bodhiz commented on #203
ok. thanks in advance :)

[2015-03-19 17:04] Glavin001 commented on #244
This has already been done. Please update Atom Beautify  See #213 And update to above v0.21.5

[2015-03-19 17:04] #244 closed

[2015-03-19 19:27] #241 closed

[2015-03-19 23:24] Glavin001 commented on #241
Glad to hear it worked out!

[2015-03-19 23:32] Glavin001 commented on #211
@sebastiankade you are correct, currently those options do not get passed to prettydiff. See https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/css-prettydiff-beautify.coffee#L4-L10
This should be an easy fix. If you have not already done so, please create another issue for this LESS/SCSS & Prettydiff support bug on Atom Beautify.

--

@langdonx this may be an issue with js-beautify

[2015-03-19 23:36] Glavin001 commented on #243
Will have to investigate this further to see I can support this in Atom Beautify or not.

Could you provide me with a simple example, sample input and expected beautified output? Like a hello world that I could write tests for, etc. Thanks.

[2015-03-19 23:48] sebastiankade opened #245 "Not passing 'preserve_newlines' args through to Prettydiff for LESS/SCSS formatting"
When specifying the preserve_newlines in .jsbeautifyrc they do not get passed through to prettydiff, see:
https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/css-prettydiff-beautify.coffee#L4-L10

Originally raised here:
https://github.com/Glavin001/atom-beautify/issues/211#issue

[2015-03-20 02:49] davyzhang commented on #243
[code]
if I formatted it will turns out to be like this
[code]
so I think just leave everything in {{.*}} unformated is fine

Plus:
Atom Beautify amazingly works well on golang html template,
it well chane
[code]
to
[code]
but that's ok

here's the formatted html template, looks nice.

[code]

[2015-03-20 11:49] ponychicken commented on #240
That annoys me a lot. I don't use beautify enough to remember the keyboard shortcut and now I frequently hit this debug thing.

[2015-03-20 15:07] prettydiff commented on #203
QA version up for your review:

Up for review:

prettydiff.com/ignore/testlocation/prettydiff.com.xhtml

[2015-03-20 15:10] prettydiff commented on #179
This is the same syntax used with Embedded JS, ERB, Mustache, and so forth. I added support for this with: https://github.com/prettydiff/prettydiff/issues/59

[2015-03-20 15:14] prettydiff commented on #217
I put a QA version up for review.  Please test this out and see if it is closer to happiness.

http://prettydiff.com/ignore/testlocation/prettydiff.com.xhtml

[2015-03-20 16:33] Glavin001 commented on #240
Me, too.

The *addition* of the **Debug** command is an excellent feature with many advantages, given the large quantity of Issues created and the severe lack of quality in debugging information provided by users to allow me to resolve them.

However, I do see your use case, and while it is a little "bug", and not even Atom Beautify's fault -- it is caused by how Atom orders the commands, see http

[2015-03-20 16:34] #240 closed

[2015-03-20 16:34] Glavin001 commented on #240
Published fix to v0.22.4

Please check and let me know it works for you.

[2015-03-20 16:37] Glavin001 commented on #245
Looks like `preserve_newlines` is not even supported on CSS (yet): https://github.com/beautify-web/js-beautify/issues/537

I'm working on Prettydiff support now.

[2015-03-20 16:55] Glavin001 commented on #245
The only property I see is `preserve` ( see 31 in http://prettydiff.com/documentation.php#function_properties ). Is that the `preserve_newlines` you are looking for?

[2015-03-20 16:57] Glavin001 commented on #180
Migrating this issue over to #229. I am adding support in Atom Beautify for passing the `preserve` option to Prettydiff.

[2015-03-20 16:57] #180 closed

[2015-03-20 17:06] #245 closed

[2015-03-20 17:07] Glavin001 commented on #180
Published to v0.22.5

Atom Beautify uses a boolean (true or false) value for `preserve_newlines` option and will translate to `all` in Prettydiff. Support is only for LESS/SCSS/SASS (Prettydiff supported languages).

Thank you for your patients.

[2015-03-20 17:07] Glavin001 commented on #245
Published to v0.22.5

Atom Beautify uses a boolean (true or false) value for `preserve_newlines` option and will translate to `all` in Prettydiff. Support is only for LESS/SCSS/SASS (Prettydiff supported languages).

Thank you for your patients.

[2015-03-20 17:49] Glavin001 commented on #175
Closed thanks to #242.

Published to v0.23.0

[2015-03-20 17:49] #175 closed

[2015-03-20 18:05] framerate commented on #240
Looks great! I had to restart atom to see it, so make sure you do that if you’re verifying!

Thanks so much!

[2015-03-20 18:07] Glavin001 commented on #240
Yeah, updating packages in Atom rarely works well. I make it a habit of *always* restarting Atom after any package changes.

You're welcome! Let me know if there's anything else.

[2015-03-20 18:45] ponychicken commented on #240
Fantastic, that did the trick for me.

On Fri, Mar 20, 2015 at 5:34 PM, Glavin Wiechert <notifications@github.com>
wrote:

[2015-03-21 00:13] MiincGu opened #246 "Settings is gone..."
When I click settings on package list in atom, I only got this:

![-1](https://cloud.githubusercontent.com/assets/4125903/6762816/352e9536-cfa2-11e4-963a-dfbf9faa3f37.png)

[2015-03-21 00:48] Glavin001 commented on #246
Yeah this is annoying bug in Atom. See #227

[2015-03-21 00:48] #246 closed

[2015-03-21 21:24] prettydiff commented on #203
Now fixed in v1.11.3

[2015-03-21 21:25] prettydiff commented on #217
Support added in Pretty Diff v1.11.3.

[2015-03-24 01:55] emoarmy opened #247 "Failed to load the language-javascript-semantic package"
[Enter steps to reproduce below:]

1. I get this error every time I load up Atom

**Atom Version**: 0.187.0
**System**: Microsoft Windows 10 Pro Technical Preview
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.23.0

### Stack Trace

Failed to load the language-javascript-semantic package

[code]

### Commands

[code]

### Config

[code]

### Installed Pack

[2015-03-24 05:35] sebastiankade commented on #245
Thanks so much!

[2015-03-24 09:18] guillempascual opened #248 "PHP beautifier using PHP-CS-Fixer does not work on Windows"
This is the message I got when trying to beautify PHP code. I've got PEAR C:\php-5.5.3-Win32-VC11-x64\pear\phpcs for beautifying and my system is a Windows 8.1 64bits.
This happened just after updating to the latest. It seems to look for an unexistant "mv" command.

"Command failed: C:\WINDOWS\system32\cmd.exe /s /c "(php "C:\php-5.5.3-Win32-VC11-x64\pear\phpcs" fix "C:\Users\Guillem\AppData\Local

[2015-03-24 09:40] guillempascual commented on #248
I'm reviewing the README and seems that from now on the only PHP beautifier should be https://github.com/FriendsOfPHP/PHP-CS-Fixer. Until now it worked with PEAR::phpcs.
I'm switching to PHP-CS-Fixer and I'll report back. Thank you.

[2015-03-24 10:35] guillempascual commented on #248
I've swtiched to PHP-CS_Fixer and "php-cs-fixer" can be now executed from the command line. However, it'll still give the error "Command failed: C:\WINDOWS\system32\cmd.exe /s /c "(php "php-cs-fixer" fix "C:\Users\Guillem\AppData\Local\Temp\input115224-6064-1ji2zhy") || (mv "C:\Users\Guillem\AppData\Local\Temp\input115224-6064-1ji2zhy" "C:\Users\Guillem\AppData\Local\Temp\115224-6064-ohue7v")" "mv

[2015-03-24 10:58] guillempascual commented on #248
I have configured PHP cs fixer path (to me it was unnecessary since php-cs-fixer was in ENV PATH) and now it won't give any error nor fix anything. It seems that it'll it work, but it won't.
To this update I was working normally with atom-beautifier.

Attached, debug information. Thanks,
# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` o

[2015-03-24 12:25] Glavin001 commented on #248
I do not develop in PHP, so I doubt I will be much assistance debugging a PHP package or installation of one. Maybe @rrushton (who made the PR for PHP CS Fixer) could help / give advice?
However, this did work for me when installing PHP CS Fixer and configuring the path in Atom Beautify settings.

[2015-03-24 12:26] Glavin001 commented on #248
I found the bug in #242.
See https://github.com/rrushton/atom-beautify/commit/c5f64d1a47cbc9134c793eccf2a375a74c3d94ad#commitcomment-10365573

Thanks for reporting this. It looks like for now, PHP is not supported on Windows. This is a Windows specific bug with Atom Beautify for PHP.

[2015-03-24 12:31] ffsantos92 commented on #248
Remove all comments from `area_cliente_model.php`. Then, try again.

[2015-03-24 13:51] fnkr commented on #206
I have the same problem on Windows 7 and 8.1 and I have the same problem with the `git-plus` package too.

[2015-03-24 14:13] matenji opened #249 "'php_beautifier' is not recognized"
Command failed: ....'php_beautifier' is not recognized as an internal or external command,
 operable program or batch file.

[2015-03-24 15:36] Glavin001 commented on #249
There was problems using php_beautifier so  Atom beautify has switched to using PHP CS Fixer. See #242 and https://github.com/FriendsOfPHP/PHP-CS-Fixer

[2015-03-24 15:36] #249 closed

[2015-03-24 15:40] Glavin001 commented on #247
I do not know why this is an Atom Beautify issue, sounds like a `language-javascript-semantic, v0.1.0` issue?

See https://atom.io/packages/language-javascript-semantic

[2015-03-24 15:40] #247 closed

[2015-03-25 09:33] vincenthauser opened #250 "Failed to activate the atom-beautify package"
[Enter steps to reproduce below:]

1. git clone git@github.com:Glavin001/atom-beautify.git into `/Users/<user>/.atom/packages/`
2. start Atom
3. Paste xml
4. Choose (menu) packages -> atom-beautify -> beautify

**Atom Version**: 0.187.0
**System**: Mac OS X 10.10.2
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.23.0

### Stack Trace

Failed to activate the

[2015-03-25 10:27] guillempascual commented on #248
I have switched again: instead of having php-cs-fixer through Comporser, I have downloaded php-cs-fixer.phar and provided the path in the settings.
Please find attached the result.
# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Wed Mar 25 2015 11:27:34 GMT+0100 (Hora estándar romance)`.

---

**Platform**: win32

## Versions

**Ato

[2015-03-25 10:29] guillempascual commented on #248
I have switched again: instead of having php-cs-fixer through Comporser, I have downloaded php-cs-fixer.phar and provided the path in the settings.
Please find attached the result.
# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Wed Mar 25 2015 11:29:34 GMT+0100 (Hora estándar romance)`.

---

**Platform**: win32

## Versions

**Ato

[2015-03-25 12:23] vincenthauser commented on #250
Didn't realize I needed other stuff as well, such as Node etc. Closing.

[2015-03-25 12:23] #250 closed

[2015-03-25 14:57] rrushton commented on #248
I am a linux guy, so I never thought of having to use it on Windows, oops. @Glavin001 do you know if there is a way to know what OS is being used in the php-beautify.coffee file, if there is we could write an if statement to run a similar command but using Windows commands instead.  The main issue here is that php-cs-fixer doesn't have the option for an output file so the 'mv' extra command is req

[2015-03-25 15:47] Glavin001 commented on #248
You can use process.platform. See http://stackoverflow.com/questions/8683895/how-do-i-determine-the-current-operating-system-with-node-js

Hope they helps! Let me know if you need anything else :). Thanks for contributing. 

—
Sent from Mailbox

On Wed, Mar 25, 2015 at 11:57 AM, rrushton <notifications@github.com>
wrote:

[2015-03-25 16:22] rrushton commented on #248
Already found it thanks :)

I have updated my fork with a change, should I just do another pull request?

[2015-03-25 17:14] Glavin001 commented on #248
Published @rrushton 's patch to v0.23.1
Windows users please test and let us know. Thanks!

[2015-03-26 09:44] guillempascual commented on #248
Works like a charm! Awesome! Thank you guys for that quck and accurate solution!

[2015-03-26 09:44] #248 closed

[2015-03-26 13:03] Glavin001 commented on #248
Awesome! Great work @rrushton !

[2015-03-26 13:28] ultimatemonty opened #252 "Uncaught SyntaxError: Unexpected end of input on Windows 8.1"
Stack trace below. Let me know if you need any additional information and I'll be happy to provide it.

[Enter steps to reproduce below:]

1. Open Atom
2. Error message immediately appears

**Atom Version**: 0.187.0
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.23.1

### Stack Trace

Uncaught SyntaxError: Unexp

[2015-03-27 11:42] minimedj opened #253 "Would be great to support Erlang language."

[2015-03-27 19:03] LeeroyJenks opened #254 "Broke single word into two"
For some reason, in a wordpress header (php with html code) it broke an "array" into "a rray", which then broke the code. Not sure what this issue may actually be, but thought it should be noted.

[2015-03-28 01:32] awamser opened #255 "Adding spaces before/after <> when using ReactJS syntax"
A space is being added inside the React.render() behind the < and before the > after running beautify.

***Original:***

[code]

***After beautify:***

[code]

[2015-03-28 17:20] mpmeyer opened #256 "end_with_newline not being read from ~/.atom/packages/atom-beautify/.jsbeautifyrc"
When I set "end_with_newline": "true" in the atom package's, .jsbeautifyrc, it appears to be ignored.

If I set it in my home directory, .jsbeautifyrc, then it seems to work.

Thanks,

[2015-03-29 02:06] prettydiff commented on #254
Would you be able to provide a small code sample that the bug can be reproduced?

[2015-03-29 21:06] Tedko opened #258 "It's better not show grammar error message"
![2015-03-29 4 05 45](https://cloud.githubusercontent.com/assets/6687437/6887712/7d74507e-d62d-11e4-9a12-6f30ccb63afc.png)

[2015-03-29 23:27] Glavin001 commented on #258
There are options available for muting error messages: https://github.com/Glavin001/atom-beautify#package-options

Duplicate of #105

[2015-03-29 23:27] #258 closed

[2015-03-29 23:52] Glavin001 opened #259 "Spport for Astyle instead of Uncrustify"
I wonder if using http://sourceforge.net/projects/astyle/ would be better than uncrustify.

https://github.com/timonwong/SublimeAStyleFormatter uses it (through pyastyle) and it is working great for me.

[2015-03-30 00:08] bronze opened #260 "php_beautifier and php-cs-fixer (probable) conflict"
Hi there
Sorry for  coming in here bearing an issue again.

After updating atom-beautify i saw the move to another package and went about installing php-cs-fixer.
went with homebrew for the apparent ease of install and updates/maintenance.
during installation it warned about not having php installed already.
figured it may want its own homebrew-n version so i installed php through homebrew.

now,

[2015-03-30 00:20] Glavin001 commented on #260
I'm not a PHP developer, so this is all new for me. I've had a lot of troubles with installing php_beautifier and using it afterwards.

I am using Homebrew as well to install php-cs-fixer. Atom Beautify is no longer using Php_beautifier so you can just forget it.

Take a look at the [.travis.yml file](https://github.com/Glavin001/atom-beautify/blob/master/.travis.yml) and see how Travis CI (Mac se

[2015-03-30 03:40] bronze commented on #260
redid my steps, i actually came pretty close to that walkthrough (yay!)
uninstalled pear and double checked the install, brew doctor returns ok

yea no idea what may be happening, lets see if someone else runs into this

thanks for the help!

[2015-03-30 03:41] Glavin001 commented on #260
So all working for you? Beautification of PHP files uses php-cs-fixer and looks beeaaaauutiful? :smile:

[2015-03-30 04:14] bronze commented on #260
oh sorry, no, still not working
i just wanted to mention i had retraced my steps double checking with yours and i got no clue why it didnt work yet... maybe my computer just had a lazy sunday? gonna come back to it later...

[2015-03-30 04:17] Glavin001 commented on #260
Are there any errors? And running php-cs-fixer from Terminal works, and you have manually set the `php_cs_fixer_path`? Weird..

[2015-03-30 04:26] bronze commented on #260
no errors from atom (like those red windows on the upper-right) or from atom-beautify (a text box below)
config.cson as follows
[code]
the path is as per ``which php-cs-fixer``, not just copying you :wink:
php-cs-fixer --version ``PHP CS Fixer version 1.6 by Fabien Potencier (81a46f8)``

[2015-03-30 22:49] ffsantos92 opened #261 "Add YAML Front Matter in HTML support (Jekyll)"
**Before:**

[code]

**After:**

[code]

[2015-03-31 00:14] Glavin001 commented on #261
This should already work: https://github.com/Glavin001/atom-beautify/issues/169

[2015-03-31 01:18] ffsantos92 commented on #261
I'm using Atom v0.23.1

[2015-03-31 01:49] Glavin001 commented on #261
Could you paste your `Beautify: Help Debug Editor` results here? Thanks

[2015-03-31 11:20] ffsantos92 commented on #261
# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Tue Mar 31 2015 12:13:43 GMT+0100 (WEST)`.

---

**Platform**: linux

## Versions

**Atom Version**: 0.175.0

**Atom Beautify Version**: 0.23.1

## Original file to be beautified

**Original File Path**: `/home/fabio/dev/site/contact/index.html`

**Original File Grammar**: HTML

**Orig

[2015-03-31 12:52] marcoslhc opened #262 "invalid int value: 'tab'"
[code]

[2015-03-31 16:25] Glavin001 commented on #262
Code for Python beautifier using autopep8:
https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/python-beautify.coffee#L12

autopep8 expects `intent_size` option to be an integer. Please fix that in your beautify options.

[2015-03-31 16:25] #262 closed

[2015-03-31 18:54] Glavin001 commented on #261
I am able to reproduce on my work computer. Will look into this later this weekend. Thanks.

[2015-03-31 21:48] abdelrahman-elkady opened #264 "Add indent_size ("tab_stops") option for HTML ERB beautifier"
For rails erb files , The settings I entered for html doesn't work for erb files , for example preserving line breaks is not applied in erb files

[2015-03-31 22:16] richardraseley commented on #131
@dougborg or @Glavin001 - have any of you taken a crack at this yet?

[2015-03-31 23:00] Glavin001 commented on #131
I have not.

I am hoping after my exams (next few weeks) that I will be able to find time to greatly improve Atom Beautify.

[2015-03-31 23:05] dougborg commented on #131
I had looked at it a bit ages ago, but then got caught up in other things.

[2015-04-01 08:53] studzinek opened #265 "css/scss "selector_separator_newline" option doesn't work"
"selector_separator_newline" is not working with css/scss files

the same .jsbeautifyrc file with Sublime3 and https://packagecontrol.io/packages/HTML-CSS-JS%20Prettify plugin works as expected

the 'Original File Contents:' after beautify should looks like:
[code]

I made a mistake or it's a plugin bug?

# Atom Beautify - Debugging information

The following debugging information was generated by

[2015-04-01 11:35] studzinek opened #266 "indent_char for css doesn't work"
I can't get indent_char working for scss/css file.
My config file works with SublimeText3 but it stops with Atom.
Instead of hard tab I always have space.

# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Wed Apr 01 2015 13:32:51 GMT+0200 (Środkowoeuropejski czas letni)`.

---

**Platform**: win32

## Versions

**Atom Version**: 0.18

[2015-04-01 11:38] dgeske commented on #176
I suggest the [https://atom.io/packages/go-plus] (go-plus package), which adds `gofmt` on save amongst other handy features needed for go dev in Atom. Happy coding!

[2015-04-01 16:56] richardraseley commented on #131
@Glavin001 @dougborg - Thanks for the updates!

[2015-04-02 20:16] cconover commented on #265
I am seeing a similar issue: if there is a blank line after the closing brace of a declaration, followed by a comment line/block, followed by a new selector, the blank line(s) between the closing brace and the comment are removed. If there is no comment block, the blank line is preserved. If there is a blank  line between the comment and the new selector, the blank line is preserved.

[2015-04-05 14:53] d4k0 opened #267 "Some calls are deprecated since Atom 0.189.0"
Since the update to Atom 0.189.0, these messages appear:

![Deprecated calls](https://i.imgur.com/TMsona6.png)

It would be nice if this could be fixed.

[2015-04-05 15:30] Glavin001 commented on #267
Please update Atom Beautify before creating new issues.

I believe these have been fixed for a while , #193 , #172 , #195 , etc.
Also see https://github.com/Glavin001/atom-beautify/blob/master/package.json#L72-L85 which *does* use `activationCommands` instead of `activationEvents`.

Thanks!

[2015-04-05 15:53] d4k0 commented on #267
Of course I updated to the latest version (0.23.2) of Atom Beautify before creating this issue, but these deprecated messages are still there.

BTW: Atom Beautify is not the only package that shows these messages since the update to Atom 0.189.0. I have 4 other packages that also use some deprecated calls.

[2015-04-05 15:55] Glavin001 commented on #267
This is strange. I will have to look into this closer after my midterms. Thanks for confirming.

[2015-04-05 17:36] d4k0 commented on #267
No problem. You don't need to hurry as Atom Beautify still seems to work without a problem.

Atom 0.189.0 seems to have changed quite a few things regarding deprecated calls (you can see this when you look at the commits to the Atom repository, but it's not mentioned in the changelog) as the other packages all mention different calls (or directory names for themes) that shouldn't be used anymore.

[2015-04-06 08:56] Bart6114 opened #268 "error when running beautify on a Python file"
I get the following error when running beautify on a random (every) python file:

[code]

[2015-04-06 13:49] imperez commented on #266
I'm having the same issue with a SQL file.

[2015-04-06 15:05] Bart6114 commented on #268
hmmz nevermind. autopep8 simple wasn't installed... (very nice plugin btw)

[2015-04-06 15:05] #268 closed

[2015-04-06 16:06] Glavin001 commented on #268
Glad to hear it worked out.

[2015-04-06 16:12] Glavin001 commented on #266
Looks like `indent_char` is actually `indent_character` in Atom Beautify's wrapper of @Prettydiff. See https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/css-prettydiff-beautify.coffee#L8

This may be a bug on my part, I will have to get to later, after my exams. For now, try setting `indent_character` instead of `indent_char` (or in addition to).

---

@imperez I am not sure that SQ

[2015-04-06 16:21] Glavin001 commented on #265
So CSS and SCSS are handled by two different beautifiers. @Prettydiff handles SCSS and LESS better, so that takes care of those. And CSS is handled by js-beautify, which is what the Sublime3 package uses.

Looking at your sample source code, it looks like plain CSS. I know that the Atom Beautify wrapper of @Prettydiff does not support this `selector_separator_newline`, see https://github.com/Glavi

[2015-04-06 17:13] Glavin001 commented on #267
I am unable to reproduce your results above in the Deprecation Cop. Could you provide some information on how you were able to achieve those deprecation warnings? I am currently opening Atom and beautifying files which should trigger those warnings.

Also if you could run `Beautify : Help Debug Editor` and paste contents here, that may be helpful.
Thanks!

[2015-04-06 18:49] d4k0 commented on #267
I just tried it with a new profile with only Atom Beautify installed and this is how it looks:

![New profile with Atom Beautify](https://i.imgur.com/jsFSGbw.png)

As you can see Atom now somehow only shows one of the deprecation warnings here. It seems that maybe some of my other packages affect Atom Beautify (I already could observe this with other packages that complain about the stylesheet fol

[2015-04-06 21:38] prettydiff commented on #266
Pretty Diff uses the inchar property for this.

http://prettydiff.com/documentation.php#inchar

[2015-04-06 21:42] prettydiff commented on #265
Pretty Diff solves for this with the property `preserve`:

http://prettydiff.com/documentation.php#preserve

The values `css` and `all` would solve this problem. The default value (if the property is completely missing) is `all`, so the new lines should be preserved from the Pretty Diff side. If this does not happen then I have a bug.

[2015-04-06 21:46] Glavin001 commented on #266
js-beautify uses the key `indent_char` ( https://github.com/beautify-web/js-beautify#options ). I think Atom Beautify should standardize option key to `indent_char` (instead of `indent_character`).

In summary of all of the above: this is an Atom Beautify bug. I must have mistakenly thought `indent_character` was the key where it should have been `indent_char`. See https://github.com/Glavin001/ato

[2015-04-06 21:56] Glavin001 commented on #265
Atom Beautify supports Prettydiff's `preserve` option through the option key `preserve_newlines` (see
https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/css-prettydiff-beautify.coffee#L11 ).

I can confirm that Prettydiff works:

Go to http://prettydiff.com/ and beautify:

[code]

and will output correctly:

[code]

Atom Beautify turns `preserve` option off if `preserve_newlines` is

[2015-04-07 05:40] studzinek commented on #265
preserve_newlines only preserves new lines (between blocks) which I made myself. This option just block removing line but it doesn't add new lines.
Ofcourse preserve_newlines works only with scss files (not css files).

examples and expected behaviour:
With "preserve_newlines": true
before:
[code]

after beautify:
[code]

But expected behaviour with selector_separator_newline: true is (with sublim

[2015-04-07 05:44] studzinek commented on #266
using "indent_character" option name instead of "indent_char" solved my problem so it's a bug

[2015-04-07 15:15] guillempascual opened #269 "PHP Atom Beautifier won't work in Windows"
Hello,

Since I updated the Atom Beautifier plugin this morning it won't work anymore.
The problem seems to be that is trying to run "cmd php-cs-fixer.phar", but it should call "cmd php php-cs-fixer.phar" instead.
Thanks.

Guillem

This is the error message:
"Command failed: C:\WINDOWS\system32\cmd.exe /s /c "("C:\php-5.5.3-Win32-VC11-x64\php-cs-fixer.phar" fix "C:\Users\Guillem\AppData\Local\Temp

[2015-04-07 16:14] Glavin001 commented on #269
This sounds like an issue related to this Pull Request: https://github.com/Glavin001/atom-beautify/pull/263

Looks like Windows needs the `php` command and Mac/Linux does not.

[2015-04-07 16:17] Glavin001 commented on #269
You could try installing the older Atom Beautify package (temporarily until I have time to fix this):

[code]

Let me know how it goes!

[2015-04-07 16:40] guillempascual commented on #269
I can confirm that executing manually "php phpc-cs-fixer.phar fileName.php" from a Windows cmd works ok.
The php command is definitely needed in Windows.

[2015-04-07 17:01] #269 closed

[2015-04-07 17:02] Glavin001 commented on #269
Published patch to v0.23.3
Let me know if it works for you, as I do not use Windows and am unable to test.

[2015-04-07 17:05] #266 closed

[2015-04-07 17:06] Glavin001 commented on #266
Published patch to v0.23.4

Let me know if it all works now.

[2015-04-07 17:13] Glavin001 commented on #264
HTML ERB is beautified using [`htmlbeautifier`](https://github.com/threedaymonk/htmlbeautifier). See applicable Atom Beatify code at https://github.com/Glavin001/atom-beautify/blob/master/lib/language-options.coffee#L439-L441 and https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/html-erb-beautify.coffee .
It looks like 1) Atom Beautify does not support  any options / pass options to

[2015-04-07 19:42] bronze commented on #260
working... maybe something on the previous updates?
no idea why but wont complain about it, life is good :)

[2015-04-07 19:42] #260 closed

[2015-04-07 21:31] GeoffreyFrogeye opened #270 "Characters written in top of python files"
Every time I run `beautify:beautify-editor` in a python file, the following gets written at the very beginning of the file : `[0m[0m[0m`, with character `0x001b` in front of each `[`. It stacks if ran multiple times.

I can't reproduce this behaviour using `autopep8` from command line, nor using another beautifier (such as HTML and CSS ones).

Configuration:

* Linux 3.16.7.8-1-MANJARO x86_64
*

[2015-04-07 21:34] Glavin001 commented on #270
What version of Atom Beautifier?

[2015-04-07 21:34] GeoffreyFrogeye commented on #270
Latest, just upgraded.

[2015-04-07 21:35] Glavin001 commented on #270
This sounds exactly like #215. Very strange that updating to latest Atom Beautify did not help. Have you reloaded Atom? Menu -> View -> Reload

[2015-04-07 21:37] GeoffreyFrogeye commented on #270
Yes, still the same issue.
It's been around since I started used it, probably since 0.20 or so.

[2015-04-07 21:41] Glavin001 commented on #270
Weird.

Could you run the command `Beautify : Help Debug Editor` and send me contents. Thanks!

In a separate comment, to keep this organized/clean: also could you give #215 a quick read? That is pretty much what I assume to be the problem, just the current patch is not working for you. Specifically after this part: https://github.com/Glavin001/atom-beautify/issues/215#issuecomment-78538798
Let me

[2015-04-07 21:44] GeoffreyFrogeye commented on #270
Here you go: <http://pastebin.com/raw.php?i=78snq8Nu>
I already started reading #215, I'll try stuff and come back.

[2015-04-07 21:50] GeoffreyFrogeye commented on #270
Ok, update time. #215 made me try unloading my `~/.bashrc` file, which has custom prompt in it, reloaded atom from a clean terminal, and was **unable** to reproduce the issue.

Looks like `autopep8` call is interfering with custom prompt.

Currently trying to figure out which part of the prompt is incriminated.

[2015-04-07 21:51] prettydiff commented on #264
I currently support the ERB pretty closely, because the syntax is ASP style delimiters.

https://github.com/Glavin001/atom-beautify/issues/179

Here is some detail about the syntax: http://stackoverflow.com/questions/7996695/what-is-the-difference-between-and-in-erb-in-rails

Currently, I am not indenting the logic of an ERB file, because it is largely grammar based.  Consider the following ERB ex

[2015-04-07 21:55] prettydiff commented on #264
Also, I do not preserve empty lines in markup files, but I could add this in.

[2015-04-07 21:59] prettydiff commented on #265
Adding empty lines where they don't already exist would be an enhancement. https://github.com/prettydiff/prettydiff/issues/72

[2015-04-07 22:00] GeoffreyFrogeye commented on #270
Ok, it's not exactly the custom prompt that is messing up, but an extra feature, that makes my prompt and the comand I type bold while the output isn't, i.e. that line:
[code]
We find the pattern that we previously saw, and if I use the following:
[code]
I get `AAA` in front of my files.

You can remove the `high-priority` label I guess :smile:.

Now the question is: how to properly call `autopep8

[2015-04-08 05:05] studzinek commented on #266
It works only with css. It's still bug in scss files. When I add "indent_character": "\t" option scss files works.

[2015-04-08 07:38] lazee commented on #234
Kind of the same problem here since I'm using zshell and have not configured the correct environment in Bash config.

[2015-04-08 08:29] studzinek opened #271 "end_with_newline doesn't work with scss files"
As in topic. In css files this option works as expected. In scss files it doesn't work even with "preserve_newlines": true (this option works for all newlines except last one at eof)

# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Wed Apr 08 2015 10:24:42 GMT+0200 (Środkowoeuropejski czas letni)`.

---

**Platform**: win32

## Vers

[2015-04-08 09:28] wmaurer opened #272 "Less indenting broken"
I updated to 0.23.4 this morning, and suddenly the less indentation is broken.
'Css indent char' is set to 'Default:'
'Css indent size' is set to 'Default: 4'

However now less files are being indent by 4 tabs:

	a {
					&.main-navigation {
									width: 100px;
					}
	}

[2015-04-08 15:00] guillempascual commented on #269
As far as I know is working perfectly. Thanks for your awesome job!!

[2015-04-08 15:09] Glavin001 commented on #266
This does not make sense: the SCSS/LESS beautifier (wrapping Prettydiff) is now not using `indent_character` at all (see https://github.com/Glavin001/atom-beautify/commit/fad95974d7c2721904ed501c3968f003ebf630db ).

Can you try to reload Atom? `Atom Menu -> View -> Reload`

[2015-04-08 15:13] Glavin001 commented on #234
This will be consequently fixed by #164
For now, if you are able to comment out https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/cli-beautify.coffee#L49-L50 in your local installations.

Has anyone tried passing `bash` as the `shell` to https://github.com/Glavin001/atom-beautify/blob/master/lib/langs/cli-beautify.coffee#L57 ? I am unable to reproduce and also in the middle of exams

[2015-04-08 15:14] Glavin001 commented on #272
Could you provide your result from running the command `Beautify : Help Debug Editor`

[2015-04-08 16:53] pathawks commented on #235
:+1: Awesome. Thank you.

[2015-04-08 18:11] wmaurer commented on #272
Here's the result as requested.
Thanks for your help.

	# Atom Beautify - Debugging information

	The following debugging information was generated by `Atom Beautify` on `Wed Apr 08 2015 20:05:07 GMT+0200 (W. Europe Summer Time)`.

	---

	**Platform**: win32

	## Versions

	**Atom Version**: 0.190.0

	**Atom Beautify Version**: 0.23.4

	## Original file to be beautified

	**Original File Path**: `

[2015-04-09 04:19] studzinek commented on #266
Ok after closing atom, reboot (I'm usually only suspend my pc) it works now for css and scss files. I don't know why it worked only for css before.

[2015-04-09 09:43] Bodhiz commented on #203
@Glavin001 Is that fix has been embedded in the latest versions ?

[2015-04-09 13:01] Glavin001 commented on #266
It only worked for CSS before because CSS is handled by js-beautify which does support `indent_char` option. SCSS is handled by Prettydiff, which also supports indentation character, however I made the mistake of naming the option `indent_character` instead of `indent_char`. It has been renamed/fixed with v0.23.4 patch.

[2015-04-09 13:02] Glavin001 commented on #203
Not yet. I am in the middle of exams, however once I can take a break from studying I'll make this fix and publish it. Thank you for your patients.
Also thanks to @prettydiff for being awesome and resolving these so quickly!

[2015-04-09 13:14] Bodhiz commented on #203
I updated to the atom-beautify latest version and it seems to work fine. I can't reproduce the bug. Maybe you embedded prettydiff 1.11.3 in a previous release :)

Anyway, good luck for your exams ;)

[2015-04-09 13:25] Glavin001 commented on #203
Ooh that may be the case: see https://github.com/Glavin001/atom-beautify/blob/master/package.json#L65
Thanks to semver, Atom likely updated the version of Prettydiff to latest automatically when you updated. Sweet! Thanks for letting me know.

Thank you :smiley:

[2015-04-09 13:25] #203 closed

[2015-04-10 21:59] BrianDGLS opened #274 "autopep8 Fails when beautifying Python"
Get the following errors when trying to beautify Python, on osx yosemite:

![screen shot 2015-04-10 at 22 56 22](https://cloud.githubusercontent.com/assets/7824734/7098164/1c81c9fc-dfd5-11e4-8cf6-7c072cf7f411.png)
![screen shot 2015-04-10 at 22 56 48](https://cloud.githubusercontent.com/assets/7824734/7098165/1c834c0a-dfd5-11e4-95ba-70ce3033d8c3.png)

Additionally I can use pep8 fine and I have ad

[2015-04-11 14:48] jney commented on #226
#275

[2015-04-12 15:18] m1ga commented on #238
any news here?

[2015-04-12 15:34] Glavin001 commented on #238
I am working on exams until April 17th. So that will be the earliest time I will have to develop on this and any other features.

If your package https://github.com/m1ga/language-tss  works then that should allow a much quicker fix. All we need is for Atom to recognize that grammar, even if that language support does not do much else.

[2015-04-12 15:47] m1ga commented on #238
no problem! Good luck for your exams!

its at least showing TSS in the bottom so it's finding tss files I guess:
![img](https://cloud.githubusercontent.com/assets/4334997/7106298/f9006fc0-e13b-11e4-95d2-ad6aca0d0561.png)

[2015-04-12 15:57] Glavin001 commented on #238
Excellent! In that case!...

[2015-04-12 15:59] #122 closed

[2015-04-12 15:59] Glavin001 commented on #122
Published to v0.24.0

Be sure to install https://github.com/m1ga/language-tss to allow Atom to detect TSS.

[2015-04-12 16:00] Glavin001 commented on #238
Published TSS support to v0.24.0

Be sure to install https://github.com/m1ga/language-tss to allow Atom to detect TSS.

:smiley:

Now I'm off to studying. Thanks!

[2015-04-12 16:33] m1ga commented on #122
:+1: awesome! Working like a charm

[2015-04-12 19:25] miketheman commented on #234
I've been able to make this kind of thing work on master code:

[code]

This might work for `zshell` as well.

I know you're working on something better longer term, so I didn't know if it was worthwhile sending a PR for this change, or leaving it for now, since there's a workaround.

I guess it would most make sense to try and detect the user's `$SHELL` variable and react to that, however that br

[2015-04-13 01:28] drawcard opened #277 "PHP Being removed when running beautify"
Hi,

The following lines are being removed from my PHP file when running the beautifier:

[code]

For example, this occurs:

**Before**
[code]

**After**
[code]

Using Atom 1.9.0

[2015-04-16 04:49] prettydiff commented on #265
Feature added to prettydiff version 1.11.12 with option named `cssinsertlines`

[2015-04-20 11:31] puterleat opened #280 "Add RST beautify by duplicating markdown functionality (i.e. use pandc)"

[2015-04-20 11:37] haikyuu opened #281 "option `js_space_after_anon` function not working correctly"
It should be disabled by default, but it's always enabled and disabling it does not work:
expected: `var f = function(req, res)`

actual `var f = function (req, res)`

[2015-04-20 15:09] Glavin001 opened #282 "Atom Beautify internal API v1.0"
Redesigning the internals of Atom Beautify for performance, extensibility, and ease of use.

- [x] Base Beautifier Class
  - For both CLI beautifiers and Node.js beautifiers
  - Fields
    - [x] Supported Grammars
    - [x] Supported file extensions (See #238)
    - [x] Supported options
       - ~~Hardcoded CLI paths (see #164 ) - CLI beautifiers only~~
  - ~~Beautifier class methods - to be used