[2016-09-28 19:35] Glavin001 commented on #1213
Awesome to hear 😄 . Thank you!

Could you elaborate on this? Was there a typo/mistake in your previous code and when you saved Atom-Beautify executed and created the extra brace.

This could be a `Beautify On Save` only issue. If you enable Atom-Beautify, disable `beautify_on_save` for the language(s), and test around, can this be reproduced? I think it may be an issue with how beautify on save co

[2016-09-28 19:42] chevalierc commented on #1213
After saving a file, it would add the extra characters. I would remove the extra character, then save, but It would again add the extra characters during the save.

Will do. Hadn't thought of that.

[2016-09-29 00:43] Zubin-Teherani commented on #1181
I'm still getting this error. If I'm using two panes, then it moves my cursor to the bottom of the pane and gets stuck.

I think it might have to also do if I have two panes with the same file open. Anyone else having this issue?

[2016-09-29 08:01] aifrim opened #1233 "Update prettydiff to 2.1.11 from ^1.16.27"
# Description

The beautification on SCSS files works superbly except for maps. This is due to an error in prettydiff. An error that was [fixed in 2.1.3](https://github.com/prettydiff/prettydiff/issues/338)
# Input Before Beautification

As in the example in the prettydiff issue #338

[code]
# Expected Output

The code should look indented and pretty :)
# Actual Output

The beautified code actuall

[2016-09-29 11:03] prettydiff commented on #1233
The challenge is that the node based dependencies primarily come in from NPM.  Pretty Diff stopped updating to NPM at 1.16.37.  I am working on an alternative to NPM right now, but I have been too slow to get this complete and out the door.

[2016-09-29 11:23] wskn commented on #1181
@Zubin-Teherani yes. Check ```End with newline``` in atom-beautify  setting page.

[2016-09-29 15:12] Glavin001 commented on #1231
The issue is the results are `null` (was not beautified).
This is because `JavaScript` language has `disabled` set to `true`.

Snippet from logs:
[code]

See Final Options: https://gist.github.com/anonymous/a2ccdaf3668005fc5252278ba1fd9408#final-options

[code]

See https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#javascript for more options.

[2016-09-29 15:12] #1231 closed

[2016-09-29 15:14] JohnBat26 commented on #545
+1

[2016-09-29 16:55] wilson1028 opened #1234 "test"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/6de5599be5c706ae216a7cbee541b627
# Checklist
-

[2016-09-30 07:28] aifrim commented on #1233
This saddens me :(
It's hard to work with array lists in SCSS but I hope in time  it will be fixed.

Weirdly NPM lists prettydiff at 99.0.1 😆

[2016-09-30 07:52] Silon opened #1235 "Uncaught TypeError: Cannot read property 'setScrollTop' of null"
Just on save (Format on save)

**Atom Version**: 1.11.0-beta5
**Electron Version**: 0.37.8
**System**: Mac OS X 10.11.1
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.13

### Stack Trace

Uncaught TypeError: Cannot read property 'setScrollTop' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-09-30 13:29] Glavin001 commented on #1233
@aifrim you can also try switching the `default beautifier` to another one. See https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#scss for available options.

[2016-09-30 13:33] Glavin001 commented on #1235
Duplicate of #1181.

[2016-09-30 13:33] #1235 closed

[2016-09-30 13:34] Glavin001 commented on #1126
Duplicate of #977 and #1181.

[2016-09-30 13:34] #1126 closed

[2016-09-30 13:34] Glavin001 commented on #977
Duplicate of #977 and #1181.

[2016-09-30 13:35] Glavin001 commented on #1181
It appears the issue is still occurring.

I am moving this over to #977 and closing this as a duplicate.

[2016-09-30 13:42] Glavin001 commented on #977
I've already tried to fix this issue. Since I am unable to reproduce it, I will *need* someone to submit a Pull Request and contribute a fix. The applicable function is `setScrollTop` found at https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L33-L35
Let me know if you have any questions.
For those having this issue please:
- 👍  the top Issue and *do not* continue to comme

[2016-09-30 15:04] ikeamanual opened #1236 "beautify on save adds > behind </html> tag"
# Description

HI,

When I have invalid html, by removing the second " of the href, and do Ctrl-S, an extra > is added behind the </html> tag. Like so:
[code]
If I right-click and choose beautify, it works ok. So it has something to do with the beautify on save option...

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor, wit

[2016-09-30 15:32] prettydiff commented on #1236
I could not reproduce on http://jsbeautifier.org/ so I am wondering if this is somehow related to https://github.com/Glavin001/atom-beautify/issues/1213

I am not sure where the defect is coming from, so for now I will mark as a bug to be extra defensive.

[2016-09-30 16:43] Glavin001 commented on #1236
I'm going to close this as a duplicate of https://github.com/Glavin001/atom-beautify/issues/1213

It definitely appears to be an issue with `Beautify On Save` and not specific to HTML, JavaScript, or any one beautifier.

[2016-09-30 16:43] #1236 closed

[2016-09-30 16:50] Glavin001 commented on #1213
Both @chevalierc and @ikeamanual are experiencing extra characters being added after beautify on save. Unfortunately, I have 3 midterms coming up and a new work project, so my time is limited and also I have not yet reproduced this so I may not be much help, yet. I am confident we have narrowed it down to `beautify on save` being the culprit, now we need to figure out how to fix it.

If you could

[2016-10-01 16:42] ikeamanual commented on #1213
I attach the debug log here, and a screenshot. This is from duplicate issue #1236 which was closed.

To generate this log I started with correct html, an href with a " at the end.
- clear console
- Ctrl-S
- remove the second "
- Ctrl-S
The extra > appears.

Note that the extra > does not appear in the log, only on the screen. But see the screenshot...

Also note that the extra > is actually saved

[2016-10-01 17:19] Glavin001 commented on #1213
If you were to Ctrl-S (save and run beautify again) does the extra `>` appear now (since it is shown in the TextEditor)? I expect this to be `Yes`, however just want to be sure. If you do not change anything and repeated beautify on save, does that create even more extra `>`?

I'm fairly confident there is something wrong with how the beautification results are being set for the TextEditor: https:

[2016-10-02 01:55] nahumj opened #1237 "Spaces added after <code> block"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Actual results

The beautified code looks like:

[code]

There's a strange series of spaces introducted after the closing code block. It seems to not add the appropiate newline character.
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom

[2016-10-02 09:08] ikeamanual commented on #1213
I changed the log level from debug to verbose.

Yes, if I do another Ctrl-S right after I first see the extra > then the > is show in the log.

Here are the actions for this log:

- start with clean formatted valid html
- remove the last "
- Ctrl-S   ( no extra > appears... code is beautified )
- add the last "
- Ctrl-S   ( no extra > appears, code is formatted )
- remove the last "
- Ctrl-S  ( ex

[2016-10-02 09:15] ikeamanual commented on #1213
Note that if I repeatedly do Ctrl-S, no extra > keep adding.
Also, if I add a newline between  <html> and <body> and do Ctrl-S, the code is beautified ( extra newline removed ) and no extra > is added.

To get the beaitifier to add extra >>>> i first have to create some invalid html. Adding a extra newline is not invalid html.

So if I fix the html bu adding the last ", then do Ctrl-S, then create

[2016-10-02 09:50] prettydiff commented on #1237
I can reproduce this issue on http://jsbeautifier.org/ when using the using the "wrap lines near 80 characters" option.  Alerting @bitwiseman

[2016-10-02 09:52] prettydiff commented on #1213
@ikeamanual If you change beautifiers and attempt to repeat this experiment do you continue to get the extra characters?  Both issues used the same beautifier even if the languages are different.

[2016-10-02 16:07] ikeamanual commented on #1213
If I configure Pretty Diff and do the same thing the code is actually chopped off behind the <a.
see screendump and log file.

![screenshot_2016-10-02_18-04-30](https://cloud.githubusercontent.com/assets/647978/19021860/c8568aca-88ca-11e6-9f1e-125ece806b3f.png)
[-1475424185478.txt](https://github.com/Glavin001/atom-beautify/files/505087/-1475424185478.txt)

[2016-10-02 16:17] ikeamanual commented on #1213
Note that I cannot reproduce this on a Windows 10 laptop.

[2016-10-02 16:33] prettydiff commented on #1213
Yep, that is a reproducible limitation of Pretty Diff.  This suggests the problem could be related to the specific beautifier or its relationship to Atom Beautify.

[2016-10-02 17:24] srivathsesh opened #1239 "Could not find RScript"
Hi there, thank you for building the package.

I am trying to use beautify for R code. I am using Windows 10 OS. I am running into the bellow error message. I do have formatR package installed. Any help is greatly appreciated. Thanks again

Error: Could not find 'Rscript'. The program may not be installed.
    at R.module.exports.Beautifier.commandNotFoundError (file:///C:/Users/ku906/.atom/packag

[2016-10-02 17:47] Glavin001 commented on #1239
The `formatR` beautifier requires `Rscript` which I believe is installed with `R` itself.
Be sure `R` is installed ( https://www.r-project.org/ ) and also that your PATH environment variable is setup properly so Atom-Beautify can use it.

Here is the applicable PR: https://github.com/Glavin001/atom-beautify/pull/1128
Maybe @Sebastian-D  could help out.

@srivathsesh : If you are unable to get it t

[2016-10-02 20:06] srivathsesh commented on #1239
@Glavin001, Thank you for your quick response. I am sure I am not doing something right here. Here is the link to debug.md.
https://gist.github.com/anonymous/0545c87ed6a7deadefe4ebf691a2dc32

[2016-10-03 08:09] gitsuit opened #1241 "Bad LaTeX beautification"
# Description

Elements of a LaTeX equation disappear after beautification.
# Input Before Beautification

This is what the code looked like before:

[code]
# Actual Output

The beautified code actually looked like this:

[code]

[2016-10-03 08:18] Sebastian-D commented on #1239
I agree that it seems to be a problem with Rscript. It is not tested for windows so I do not know exactly what you need to make it work. Basically it executes the command `Rscript formatR.r <indent_size> your_file > your_file`, thus replacing your file with the beautified version.

See file atom-beautify/src/beautifiers/formatR/index.coffee

Either make it so this command works in windows or I sup

[2016-10-03 13:33] mintjustin commented on #1194
I think a fix was provided but it is broken again. Was it something about "php" command before "php-cs-fixer"?

[2016-10-03 13:48] Glavin001 commented on #1239
The `PATH` environment variable should contain `C:her/R/bin/` such that Windows can find `Rscript.exe`. I think https://www.java.com/en/download/help/path.xml may be useful for Windows users.
@srivathsesh I encourage you to do the same. Test from your command-line both directly calling `Rscript` with absolute path and then with only `Rscript`.

This is a personal setup issue and likely not an Atom

[2016-10-03 13:50] Glavin001 commented on #1194
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2016-10-03 13:54] Puemos commented on #318
+1

[2016-10-03 17:18] srivathsesh commented on #1239
Thank you so much. You folks are awesome. I'll try it tonight.

Sent from my iPhone

[2016-10-04 10:32] nietaki commented on #545
+1

[2016-10-04 13:32] prettydiff commented on #1182
The problem is in Pretty Diff.  The last published version of Pretty Diff to NPM is 1.16.37.  The defect has since been fixed in Pretty Diff, but Pretty Diff no longer publishes to NPM.  I am working on an alternate distribution method right now.

[2016-10-04 14:49] isherwood commented on #1138
I also see this problem regularly and assumed it was a atom-beautify issue as it seems to happen on autosave, when the beautification takes place. I'm currently using v0.29.12.

[2016-10-04 15:15] Larandar commented on #1199
The same for me, here is my debug.md : https://gist.github.com/anonymous/5c6919e11d2290bd87fa605c4e23a2be#results

It's quite problematic since it don't allow to beautifier at all for PHP, I still use the command line and it work well.

[2016-10-05 11:50] netsi1964 opened #1243 "JSX: Space before closing brackets"
# Description

I use a linting option where I expect [jsx-space-before-closing](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-space-before-closing.md) and my ESLINT can actually help me enforce that rule (using a fix code). However after I then beautify it uaing atom-beautify the space is removed :-( Can I somehow configure me out of this issue in atom-beautify?

# In

[2016-10-05 13:50] AntoDury opened #1244 "Don't work for Windows 10 (require_once problem?)"
Hello !

First of all, sorry for my english but I'm french..

I have a problem with Beautify for Windows, there is an error while executing in command line.

# Description

The results of beautification are not what I expect.

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the

[2016-10-05 19:59] prettydiff commented on #1243
Could you please produce the debug.md file.  This will give us a collection of your options, the beautifier in use, and a code sample so that we can reproduce the problem.  This is likely a defect in passing options criteria between a JavaScript state and an XML state in a beautifier, but that is as much as I can guess at the moment.

https://github.com/Glavin001/atom-beautify/blob/master/docs/tro

[2016-10-06 14:28] WrightSanches commented on #1045
If I can still remember we have experience the same problem before, but in a windows server then one of my colleagues has found a solution with the help of a program called: “Long path tool”. His not working with us any more so I can't be sure if that's really the program. Hope that helps.

[2016-10-06 16:52] Glavin001 commented on #1045
This should always be solved by using Atom >= 1.10.x.
See https://github.com/atom/atom/releases/tag/v1.10.0

Related articles:
- https://discuss.atom.io/t/long-file-name-path-issue-on-windows-with-atom-packages/30552
- https://github.com/atom/atom/issues/5109

[2016-10-06 16:52] #1045 closed

[2016-10-06 20:28] chevalierc commented on #1213
Just stopping into say I have been using with beautify on-save for the past week and haven't had any of the relevant issues. Ill read the rest of this thread soon, to see how else I can help?

[2016-10-06 20:35] dalelotts commented on #1213
I have two classrooms of 30 that have had to disable it due to a number of issues, one of which is extra characters being added.

[2016-10-06 22:31] prettydiff commented on #1213
@dalelotts Do you know which beautifiers your students where using when the extra characters were generated?

[2016-10-06 23:33] Glavin001 commented on #1244
Would you be able to test your PHP-CS-Fixer installation manually from your command-line? See https://github.com/FriendsOfPHP/PHP-CS-Fixer#usage

For example, Atom-Beautify used the following command generated from https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/php-cs-fixer.coffee#L37-L44

[code]

It may be an issue with `php.EXE PATH/TO/php-cs-fixer` part.

[2016-10-07 05:16] karnick opened #1249 "Bad Argument error on Mac OS"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
   print("Hello"
   );
2. Run command `Atom Beautify: Beautify Editor` or Click Atom Beautify from package
3. This beautified code does not look right!
   I get Bad argument error. Stack Trace added as well
# De

[2016-10-07 08:13] bemeurer commented on #1196
Experiencing the same issue here using Atom 1.10.2 and atom-beautify 0.29.13

[2016-10-07 11:48] gauravarora commented on #977
@Glavin001 I believe I have the exact steps to reproduce this issue.

1. On a js file right click and then click `Split Right`
2. Close the editor in the left pane
3. Edit code in the right pane and then save
4. The error pops up

If I leave the editor open in the left pane I am able to beautify without any error.

[2016-10-07 12:41] dalelotts commented on #1213
@prettydiff All are set to the default. JS Beautify.

[2016-10-07 15:07] david-cho-lerat-HL2 commented on #977
This is not just js files, JSON files do this as well - any beautified file, I think.
What's weird is that the way it's triggered for me is without your step 2 above : if the file is opened in just one pane, I have no problem. If it's in more than one pane (like just after a split), the problem pops up.

[2016-10-07 15:14] raj7desai commented on #1126
Will follow up with the related issues. Thanks :)

[2016-10-07 16:54] GryfonN commented on #451
+1

[2016-10-07 17:49] karnick commented on #1249
I'm facing the same "Bad argument" error for Java.
However Javascript format works fine.

[2016-10-08 15:39] emreozdil opened #1250 "Java code cannot be beatuify"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/f484e3b25125a1f3fc48603ae7f65342

# Checkl

[2016-10-08 20:40] #1196 closed

[2016-10-09 11:50] anjalafghan opened #1256 "cannot install"
# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3

[2016-10-09 11:51] #1256 closed

[2016-10-10 07:44] aifrim commented on #1233
@Glavin001

I will, thank you! Sorry for replying so late - was on holiday!

[2016-10-10 07:51] netsi1964 commented on #1243
I have created a [debug.md](https://gist.github.com/anonymous/70954a7aeda6ea7c768a342366aaff1a).

You can see at [result](https://gist.github.com/anonymous/70954a7aeda6ea7c768a342366aaff1a#results) that the last comma has been removed by atom-beautify.

Hope this can help you understand my issue.

[2016-10-10 10:34] prettydiff commented on #1243
@netsi1964 It looks like support for Pretty Diff's [spaceclose](http://prettydiff.com/documentation.xhtml#spaceclose) needs to be added.  This is an item in the wishlist here: https://github.com/Glavin001/atom-beautify/issues/524

You are going to need to submit a pull request adding support for that option.

[2016-10-10 10:36] netsi1964 commented on #1243
@prettydiff Okay. Do that mean that I need to fork the repo, make some coding which handle that option and then do a pull request?

[2016-10-10 12:33] opikhidayat opened #1259 "Atom-Beatify not respons"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/e9b1ea1349ffa8d0fbf2035fb49fe1fc
# Checklist
-

[2016-10-10 15:20] KINFOO opened #1260 "Javascript is no longer formatted on save"
# Description

Javascript code is no longer formatted on save.
It used to be.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Code in Atom editor
2. Save
3. Code does not get formatted

##

[2016-10-10 17:59] marcorosas1991 opened #1261 "Add support for Stylus files ".styl""
# Description

Beautify doesn't support Stylus files
# Actual Output

Atom Beautify could not find a supported beautifier for this file
Atom Beautify could not determine a supported beautifier to handle this file with grammar "Stylus" and extension "styl". If you would like to request support for this file and its language, please create an issue for Atom Beautify at https://github.com/Glavin001/a

[2016-10-10 18:54] prettydiff commented on #1243
@netsi1964 The way to go about this is in these steps:

1. On github.com fork this repo, so that you have a personal version of the code that you control
2. On your computer clone your repo.  Open a terminal and type the clone command, which will probably something like: `git clone git@github.com:netsi1964/atom-beautify.git`
3. Create a branch so that if something does you can just restart from th

[2016-10-10 18:59] prettydiff commented on #1260
That is the correct default for Pretty Diff (JSLint compliant).  Pretty Diff has an option to beautify ternary statements onto one line [ternaryline](https://prettydiff.com/documentation.xhtml#ternaryline).  If this option is not supported in Atom Beautify I recommend adding it.

Here is some guidance to get you started:

* https://github.com/Glavin001/atom-beautify/issues/1243
* https://github.co

[2016-10-11 12:21] benjamingb commented on #545
+1

[2016-10-11 12:25] KINFOO commented on #1260
Thanks a billion @prettydiff,

My preferences are set to `js-beautify`:

![screenshot_20161011_140923](https://cloud.githubusercontent.com/assets/154818/19269976/d1dd5c14-8fbd-11e6-9d83-af28655e386d.png)

![screenshot_20161011_141027](https://cloud.githubusercontent.com/assets/154818/19269979/d7fc4114-8fbd-11e6-8d8f-cf7d0f19369e.png)

So if `prettydiff` is used when preferences are set to `js-beau

[2016-10-11 13:29] prettydiff commented on #1260
There might need to be a different set of options for language *JSX*.  According to your debug.md file Pretty Diff is definitely the beautifier used for grammar *Babel ES6 JavaScript*

[2016-10-11 14:26] KINFOO commented on #1260
@prettydiff It exists

![screenshot_20161011_162306](https://cloud.githubusercontent.com/assets/154818/19274068/38432af4-8fcf-11e6-98ed-20d141abe964.png)

So when I activate ES6, all JS is handled like ES6?

[2016-10-11 15:19] prettydiff commented on #1260
These kinds of configuration questions are better answered by @Glavin001

[2016-10-11 18:09] Glavin001 commented on #1260
From https://gist.github.com/anonymous/76fa7263da7f7ff6b71031ba5062a818#original-file-to-be-beautified

**Original File Path**: `/home/kevin/Development/works.js`

**Original File Grammar**: Babel ES6 JavaScript

**Original File Language**: JSX

**Language namespace**: jsx

**Supported Beautifiers**: Pretty Diff

**Selected Beautifier**: Pretty Diff

So this is not being processed as `JavaScript`

[2016-10-11 18:09] #1260 closed

[2016-10-11 21:56] opikhidayat opened #1264 "error"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/05ad64f7cefdacbbbb7139898ddadef9
# Checklist
-

[2016-10-11 22:28] prettydiff commented on #1264
Would you mind describing the error in more detail?  I looked at the debug.md file and noticed that this is JavaScript code beautified with JSBeautifier.  I ran the code through their online tool and everything looked good there.

I notice this problematic code in your original code sample:

    Promise.prototype._onCancel = function() {};
    Promise.prototype._setOnCancel = function(handler) {;

[2016-10-12 03:51] aidanmelen opened #1265 "convert unicode python dictionary to formated json."
# Description

I would this package to convert python unicode dictionaries into json. the solution is to:
find occurrences pf **u ', u', '** and replace with **"**.
# Input Before Beautification

This is what the code looked like before:

[code]
# Expected Output

The beautified code should have looked like this:

[code]
# Actual Output

The beautified code actually looked like this:

it currently

[2016-10-12 09:56] prettydiff commented on #1265
This functionality would need to be integrated into a new or existing beautifier.  I believe the current Python beautifier is autopep8.

At first it sounds as easy as performing a trivial string replacement, but this will require a formal parser.

[2016-10-12 21:40] nianqinianyi opened #1269 "Use a greater-than sign in quotation marks with an error result"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/e44716049dc0a603379fbeab13810630

# Checkl

[2016-10-12 22:38] mikevaleriano opened #1270 "Polymer (custom) elements are not indented properly"
# Description

Custom elements are not formatted while the rest of the HTML file is formatted when beautifying an HTML file, which is the format for Polymer elements. Anything inside the `template` tag is ignored by atom-beautify and only the opening tag is indented.
# Input Before Beautification

This is what the code looked like before:

[code]
# Expected Output

The beautified code should have

[2016-10-13 02:18] prettydiff commented on #1269
Yeah, this is broken in Pretty Diff v1.16.37 which is the last version published to NPM.  NPM fell out of favor with me.  I am working on an alternative right now at https://github.com/prettydiff/biddle

This is fixed in the current version of Pretty Diff.

[2016-10-13 02:18] #1269 closed

[2016-10-13 02:19] prettydiff commented on #1270
I can reproduce at http://jsbeautifier.org/

Notifying @bitwiseman

[2016-10-13 02:41] tangshengfei opened #1271 "this.cacheRegex is not a function"
TypeError: this.cacheRegex is not a function
    at LanguageMode.editor.languageMode.autoDecreaseIndentForBufferRow (file:///C:/Users/Administrator/.atom/packages/react/lib/atom-react.coffee:47:38)
    at TextEditor.module.exports.TextEditor.autoDecreaseIndentForBufferRow (D:\Program Files (x86)\Atom Beta\resources\app.asar\src\text-editor.js:3158:32)
    at Selection.module.exports.Selection.inse

[2016-10-13 15:55] prettydiff commented on #1271
Are you sure this is an Atom Beautify error?  It looks like it is something to do with React for Atom.

[2016-10-13 17:52] crazypattern opened #1272 "debug atom beautify error"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/53de27e97b446388c20e86e87bf31f2c
# Checklist
-

[2016-10-13 18:52] prettydiff commented on #1272
I dropped the code sample into http://jsbeautifier.org/ and I got broken HTML.  Alerting @bitwiseman

[2016-10-13 20:01] bitwiseman commented on #1272
@prettydiff
If the output your are seeing matches the debug, this is another example of someone not turning on `e4x` for a jsx input.

Also, I'm extremely glad that you have setup the `debug.md` function and I deeply appreciate your looping me in on issues that relate to the beautifier, but I really need clear and concise bug reports to understand and take action on issues.   Input, expected, and

[2016-10-14 14:53] ysling opened #1274 "PHP beautification,how to change scene"
it working like this:

[code]

However, I want to make it look like this:

[code]

How should I do?

[2016-10-14 15:16] prettydiff commented on #1274
First determine which beautifier you are using for PHP.  Atom Beautify contains two or three PHP beautifiers each likely having their own options.

[2016-10-14 17:04] ysling commented on #1274
@prettydiff https://packagecontrol.io/packages/phpfmt

<?php
for($i = 0; $i < 10; $i++)
{
if($i%2==0)
echo "Flipflop";
}

#I want this effect
<?php
for ($i = 0; $i < 10; $i++) {
  if ($i%2 == 0) {
    echo "Flipflop";
  }
}

[2016-10-14 17:50] prettydiff commented on #1274
@ysling To preserve the literal formatting and white space around the code wrap the code in back ticks like this:  &#096;example&#096; or precede each line with 4 spaces.

[2016-10-14 20:02] SergiyMike commented on #1045
You can try "Long Path Tool" as it deletes, copies and renames files/folders those have long paths. I personally found all of these functions working with great success. :)

[2016-10-14 23:19] letsdevus commented on #601
+! for tsx support

[2016-10-15 02:14] aidanmelen commented on #1265
i think it would be a very slick feature. please post if there is any new developments on this. thanks.

[2016-10-15 04:12] ysling commented on #1274
@prettydiff
I mean how to apply ② mode
https://atom-china.org/uploads/default/original/1X/e6b15c1241f3e26f3ad6ddb6bfdba42c686aba94.jpg

[2016-10-15 11:11] prettydiff commented on #601
TypeScript and TSX supported in the current version of Pretty Diff.  An earlier comment mentioned a problem in the way Pretty Diff breaks methods onto lines.  I plan to rewrite this logic soon: https://github.com/prettydiff/prettydiff/issues/374

Before you can access the latest version of Pretty Diff in Atom Beautify I need to solve a distribution problem, which I am working at https://github.com

[2016-10-15 13:30] Glavin001 commented on #881
@prettydiff how about making the next Pretty Diff -- which will be distributed over [biddle](https://github.com/prettydiff/biddle) -- a CLI beautifier for Atom-Beautify? Thus, biddle can be the requested installer for users who wish to user Pretty Diff and Atom-Beautify does not use an alternative package manager in its build step, etc.

Furthermore, if biddle can install packages globally, like n

[2016-10-16 05:09] prettydiff commented on #881
Yep, this is the goal.  I just moved biddle from alpha status to beta status.  Not ready for prime time, but good enough for evaluation and to start collecting error reports.  I still owe technical documentation and plan to provide it tomorrow.

[2016-10-16 13:29] opikhidayat opened #1276 "php-cs-fixer not run"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/3f42094a6f6e3caaf76f2864c8b1ae1c
# Checklist
-

[2016-10-16 20:34] rmariuzzo commented on #930
Hey @Glavin001! How can I help?

[2016-10-16 22:42] Glavin001 commented on #930
@rmariuzzo: We need either an existing third-party beautifier to integrate with or for someone to create a new beautifier (preferably in Node.js) that will format Dockerfiles, and then to integrate that with Atom-Beautify following the instructions found at https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md#how-to-add-a-beautifier-for-a-language

[2016-10-17 01:24] sasha2042 opened #1278 "not working at ejs file"
# Description

atom beautify not supported beautifier for ejs file after update
please support ejs, if not
 I want downgrade

The results of beautification are not what I expect.
# Input Before Beautification

This is what the code looked like before:

[code]
# Expected Output

The beautified code should have looked like this:

[code]
# Actual Output

The beautified code actually looked like this:

[2016-10-17 12:06] rajatkamble opened #1279 "Cannot find module 'event-kit'"
# Description

The results of beautification are not what I expect.
# Input Before Beautification

This is what the code looked like before:

[code]
# Expected Output

The beautified code should have looked like this:

[code]
# Actual Output

The beautified code actually looked like this:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. Thi

[2016-10-17 12:40] Shinigami92 opened #1280 "SCSS Convert quotes single doesn't work"
When I select Convert quotes "single" all my quotes converts to double quotes.
This is annoying because linter-scss-lint marks all my double quotes prefered as single quotes.

[2016-10-17 13:57] Shinigami92 commented on #1280
oh it only works with Pretty Diff, but there is the problem, that only tabs are supported :(

[2016-10-17 15:10] prettydiff commented on #1280
@Shinigami92 Could you please try at http://prettydiff.com/

The published version of Pretty Diff is a bit newer than the version with Atom Beautify.  I am working to close this gap right now.

[2016-10-17 16:41] Shinigami92 commented on #1280
Ok I'm a bit confused ^^'
At home with windows everything works fine. I will try it again tomorrow at work with linux, maybe the is something wrong with the configuration or version

[2016-10-17 19:15] goemaeret commented on #448
Any update on this one?

[2016-10-18 05:30] ysling opened #1281 "atom-beautify on the php array does not work"
![9](https://cloud.githubusercontent.com/assets/22723099/19465465/0f6254e4-9537-11e6-83b2-4e741902203a.jpg)

[2016-10-18 07:05] Shinigami92 commented on #1280
Back at work...

config.cson:
[code]

![screenshot01](http://abload.de/img/selection_002bxufg.png)

A second problem I found, was that the `no_lead_zero` doesn't work in @include (or braces?!) (line 290)

At home the indent_size is working fine.

Versions:
atom-beautify: 0.29.13
atom: 1.11.1

[2016-10-18 07:30] niranjan-b-prajapati commented on #742
@TOP-Chao  can you please explain how did you solved your problem.

[2016-10-18 12:43] AsciiSmoke opened #1282 "Unexpected spaces added to quoted strings"
# Description

For some reason beautifying is inserting random spaces in quoted strings
# Input Before Beautification

This is what the code looked like before:

[code]
# Expected Output

The beautified code should have looked like this:

[code]
# Actual Output

The beautified code actually looked like this (note the spaces around the string argument in the ASP.Net tag):

[code]
# Steps to Reprodu

[2016-10-19 00:12] imtiazwazir commented on #977
+1

[2016-10-19 05:28] rahulgupta20nov opened #1283 "Whenever I tried to indent of HTML(Angular), It indent by default setting."
Hi, I am using indentation of 2 space in my project. For all file indentation working fine, but For HTML(Angular) this indentation takes default setting (indent space = 4).

If I change it HTML(Angular) => HTML, Then it takes 2 indent space.

I try to find the solution, But any solution not working for me.

Please gi
ve me solution for that, Because I am a big fan of Atom and Atom beautify.
Thanks

[2016-10-19 10:48] amezng commented on #1130
I am facing this issue in Atom 1.11.2 and atom-beautify 0.29.13 for html files as of now..

[2016-10-19 10:51] pnerum opened #1284 "Apple .plist support"
Description

I would like to see support for Apple .plist xml files.
If I beautify a plist file I get an error:

[2016-10-19 13:09] hafah commented on #808
What I'm doing right now for volt support

step 1:  settings -> open config folder
step 2: changed `packages\atom-beautify\src\languages\twig.coffee` file
`  extensions: [
    'twig',
    'volt'
  ]`
now it uses the twig way of formatting volt files.

**But I'd rather have a "official" way of doing this.**
@prettydiff  [said](https://github.com/Glavin001/atom-beautify/issues/808#issuecomment-19458

[2016-10-19 18:43] alexfilatov commented on #545
+1

[2016-10-19 21:04] zakaluka opened #1286 "Allow elm-format path to be configured"
# Description

Cannot specify the path to elm-format.  This is especially a concern when elm-format is not on the execute search path.
# Expected Output

Code should be beautified
# Actual Output

Atom display error message stating that elm-format is not found.
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. Error message is displayed.
# Checklist

[2016-10-19 23:50] douglasrizzo commented on #291
AFAIK, `latexindent`, which is already used to beautify `.tex` files, also supports `.bib` files.

[2016-10-20 09:14] uonick commented on #808
Yup!
@hafah thx!

[2016-10-20 17:09] pauldhawk opened #1287 "SQL beautify not working error is --indent_width: invalid int value: 'tab'"
# Can not beautify Sql

errors with --indent_width: invalid int value: 'tab'  not sure where its gettting the indent with value from

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/6c81c11688b893a630ba40674ec458e8
# Checklist
-

[2016-10-20 18:19] clayzermk1 opened #1288 "EJS will not beautify"
# Description

Duplicate of #1278 but with a bit more info.
In an EJS file, atom-beautify fails to beautify the editor with the following error:

[code]
# Input Before Beautification

This is what the code looked like before:

[code]
# Expected Output

The beautified code should have looked like this:

[code]
# Actual Output

The beautified code actually looked like this:

[code]
# Steps to Reprod

[2016-10-21 08:06] beebase commented on #1180
@prettydiff Do you need more user information?

Is there a way to disable the wrapping? Code is becoming unreadable.
![image](https://cloud.githubusercontent.com/assets/446089/19591150/d18e8048-9775-11e6-8f08-16014511d5ce.png)

[2016-10-21 08:26] amingilani commented on #895
+1

[2016-10-21 11:01] DioDread commented on #545
+1

[2016-10-22 15:56] prettydiff commented on #1180
Thanks for the update.  I need to look more into this.  At this time though all my attention is directed to: https://github.com/prettydiff/biddle/

[2016-10-22 15:58] prettydiff commented on #1180
I would recommend opening a Pretty Diff issue at https://github.com/prettydiff/prettydiff

[2016-10-22 17:41] NodeJoSe commented on #1283
You need to configure the EJS setting on atom-beautify, thise are the settings for HTML (Angular)

[2016-10-22 17:44] NodeJoSe commented on #1283
Also, i would like to be able to use js beautify on my HTML (Angular) files, but EJS config only supports Pretty Diff

[2016-10-22 17:53] NodeJoSe commented on #1116
You need to configure the EJS setting on atom-beautify, those are the settings for HTML (Angular)..

[2016-10-22 18:10] prettydiff commented on #1283
@NodeJoSe submit a pull request with your desired change.

[2016-10-22 18:55] rahulgupta20nov commented on #1283
please tell me, where I will get EJS setting, what need to change in EJS setting.

[2016-10-22 19:15] jlndk commented on #1130
Can confirm i have the same issue here.
Running Atom 1.11.2 with atom beautify 0.29.13 on Windows 10.
Tried to beautify html (with polymer), js and json files.

[2016-10-22 20:01] Glavin001 commented on #1283
@rahulgupta20nov : Here is the documentation for options you can configure: https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#ejs

[2016-10-23 15:29] 50l3r opened #1292 "Preserve braces in same line for php code"
I want to preserve brackets in the same line after beautify

The results of beautification are not what I expect.

[code]

The beautified code should have looked like this:

[code]

I have:
- Tried uninstalling and reinstalling Atom Beautify to ensure it installed properly
- Reloaded (or restarted) Atom to ensure it is not a caching issue
- Searched through existing Atom Beautify Issues at https:/

[2016-10-23 17:14] mikeengland commented on #977
+1

[2016-10-23 18:33] DiegoTavares commented on #745
Same problem in here. MacOS Sierra.

[2016-10-24 02:37] hun1ancer opened #1293 "Beautifying Gherkin throws error "TypeError: require(...).Lexer is not a function""
TypeError: require(...).Lexer is not a function
    at Object.<anonymous> (file:///C:/Users/Wtfy~chaosir/.atom/packages/atom-beautify-master/src/beautifiers/gherkin.coffee:6:28)
    at Object.<anonymous> (file:///C:/Users/Wtfy~chaosir/.atom/packages/atom-beautify-master/src/beautifiers/gherkin.coffee:1:1)
    at Module._compile (C:\Users\Wtfy~chaosir\AppData\Local\atom\app-1.11.2\resources\app.asa

[2016-10-24 08:57] kaim1226 opened #1295 "don't working"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/285d5e789bc7ce058982d39fa179778a
# Checklist
-

[2016-10-24 15:16] craigfanman opened #1297 "Windows - php beautifier not working"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/6cb9c451ba5ea1dbdf3d3906b5980a7a
# Checklist
-

[2016-10-24 17:49] prettydiff commented on #1295
What kind of problem are you getting?

[2016-10-24 17:59] ElegantSudo commented on #802
What's going on with this?

[2016-10-24 18:21] Glavin001 commented on #802
Pull Request #1193 was merged. Published to v0.29.12

[2016-10-24 18:41] ElegantSudo commented on #802
@Glavin001 how would I use this in my config file? I'm not seeing anything in the docs about `bracepadding` property.

[2016-10-24 23:36] art1fa commented on #418
Do I understand this right, that jinja2 support has been implemented for prettydiff.com, but not for atom-beautify? I am still having issues with the atom package, for example, it gives me

`{% endif %} {% if DISQUS_SITENAME %} {% include "disqus.html" %} {% endif %}`

[2016-10-25 04:36] kaim1226 commented on #1295
That's my problem,now it's working.

[2016-10-25 13:40] ElegantSudo commented on #802
@Glavin001 let me know when you get the chance! :)

[2016-10-25 19:56] ataraxus commented on #451
+1

[2016-10-25 20:27] samueloph commented on #451
@ataraxus @GryfonN you guys do realize that there's a thumbs up button on GH now, right?
Please don't comment +1, it just triggers a notification to everyone involved :(

[2016-10-26 02:37] wayne5198 opened #1300 "cannot beautify php code under Yii2 frame work"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/e4afe8b4fdb15722121cc37690928991
# Checklist
-

[2016-10-26 06:29] uxiexs commented on #396
“sudo pip install autopep8 ”

This command solved my problem

[2016-10-26 10:54] dtcz opened #1301 "error"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/53439dd6a739a7f6bcaf187b4566a99d
# Checklist
-

[2016-10-26 12:24] LiangHanLyu opened #1302 "Auto remove number and multiplication sign"
# Description

12*60*60*1000
become
12 *1000
# Input Before Beautification

Cookie.set('token', 111, {expires: 12*60*60*1000});
# Expected Output

Cookie.set('token', 111, { expires:  12 \* 60 \* 60 \* 1000 });
# Actual Output

Cookie.set('token', 111, {expires: 12 *1000});

[2016-10-26 12:47] Miltonjacomini commented on #942
works! thanks!

[2016-10-26 15:07] scubahub commented on #786
Is this supposed to work now?  Im an atom newb, just installed 1.11.2 with atom-beautify and set it to use yapf for python

[code]

I have a config file for yapf (~/.config/yapf/style):
[code]

But even simple things are not reformatted when I run beautify (e.g. max line length exceeded).  No errors on the console either.

[2016-10-27 11:13] slottybon commented on #448
Yeah, any update?
Using the `html.coffee` file does work for the html part in my `blade.php` files, but obviously not for the blade part.

Meaning this:
[code]
becomes this:
[code]
So, yeah ... did anybody get further than this?

[2016-10-27 16:34] bretttjohnson1 opened #1304 "I can't change any settings anymore"
the only settings I can modify are the analytics user ID and the C config path

[2016-10-27 17:35] bretttjohnson1 commented on #1304
I updated atoom and it seems to have fixed itself. It might still be an issue, but right now it works

[2016-10-27 18:22] rediris commented on #522
Checking in with @prettydiff and @Glavin001 to see where we are with this feature.

[2016-10-27 18:36] Odyseus commented on #1095
Hello, @Alienfeel.

I just had this exact problem too. I also had installed autopep8 0.9.1 from Linux Mint repositories. Then I found [this StackOverflow](http://stackoverflow.com/questions/38441697/autopep8-error-indent-size) question with the same error report. It simply suggests to remove the autopep8 package (in my case was **python-autopep8**) and install autopep8 with **pip**.

[code]

This

[2016-10-27 19:07] prettydiff commented on #1301
Thanks for the debug.md file.  Could you please describe the problem?

[2016-10-28 00:25] MichaelMa2014 opened #1305 "Will you support dfrfftgftggfgffgfftfgyhgggghgyhghjuuijhjkiokouu898i889o0i9oi900-99opo0-o0o=[][==]=[[["
# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3

[2016-10-28 00:26] MichaelMa2014 commented on #1305
Sorry there was something wrong with my keyboard.

[2016-10-28 00:33] Glavin001 commented on #1305
We can support any language with an existing beautifier. The best thing you can do would be to find an existing beautifier and submit a pull request following the instructions at https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md

[2016-10-28 10:19] TihonV commented on #1030
Maybe we should look for an "autopep8", but open "python -m autopep8" or "python3 -m autopep8"?

[2016-10-28 12:39] prettydiff commented on #1302
Would you mind producing the debug.md file and pasting it into a gist?  I am not sure which language or beautifier you used, so I cannot help debug this yet.

[2016-10-28 17:07] amitmarty commented on #992
👍

[2016-10-29 13:19] Nejurgis opened #1308 "Uncaught Error: Cannot find module './_stream_duplex'"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.9.5
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.13
### Stack Trace

Uncaught Error: Cannot find module './_stream_duplex'

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-10-30 08:34] dyazincahya opened #1309 "error when use atom-beauty in linux"
I have error when use atom-beauty in linux zorin 10, how to fix this error ?
==========================================================
Could not find 'php-cs-fixer'. The program may not be installed.

See https://github.com/FriendsOfPHP/PHP-CS-Fixer for program installation instructions.
Your program is properly installed if running 'which php-cs-fixer' in your Terminal returns an absolute path t

[2016-10-30 08:36] #1309 closed

[2016-10-30 20:43] profoundhub opened #1310 "Failed to activate the atom-beautify package"
# Description

Failed to activate the atom-beautify package

The results of beautification are not what I expect.
# Input Before Beautification

None

[2016-10-31 10:27] TheK1 commented on #598
just install the programm: linux: sudo apt-get install uncrustitfy

[2016-10-31 15:55] PolGuixe opened #1312 "JS - Wrap Line Length"
# Description
I think the wrap line length option is not working as I would expect.

.jsbeautifyrc
[code]

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]
or at least something below 80 char.

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1

[2016-11-01 08:55] mmrs151 opened #1313 "php-cs-fixer not found after successfully installing it"
# Description
I have installed php-cs-fixer and it is working fine by itself, but atom-beautify keep on saying it can't find it. I have use the absolute path in the settings too.

# Debug

https://gist.github.com/anonymous/31649b3564793d840f24d01e7ac3b370

[2016-11-01 13:56] blackjack4494 opened #1314 "Haskell on Windows"
I am experiencing issues using beautify with haskell. I cannot use it. It tells me that haskell-stylish (or other way around) is not installed. So I tried it and it gave me an error. I need Cygwin/MinGw to install a dependency called old-times which needs that. Is someone else having the exact same problem. Or is there maybe another way without installing Cygwin? :/

[2016-11-01 16:40] maicolbruski opened #1316 "Hi, please add .tpl extension in the next version? Same HTML rulers. Thank You!"
atom-beautify > src > languages > html.coffee

###
Supported Grammars
###
grammars: [
"HTML, TPL"
]

###
Supported extensions
###
extensions: [
"html, tpl"
]

[2016-11-01 18:39] prettydiff commented on #1316
This would move along faster if you submitted a pull request.

[2016-11-01 18:48] janssenb commented on #1313
Same here !

[2016-11-01 21:54] darwinserrano commented on #1270
In version 0.29.10 of atom-beautify this doesn't happen. It's a reference for find the solution.

[2016-11-03 07:02] budapeisidajiudian opened #1318 "install atom-beautiful throw Error"
the Error message ：
Unable to download https://www.atom.io/api/packages/atom-beautify/versions/0.29.13/tarball: getaddrinfo ENOTFOUND www.atom.io www.atom.io:443
why？

[2016-11-03 10:52] lbssousa opened #1319 "Add stylefmt as an option to beautify CSS files"
I would like to suggest you to include [stylefmt](https://github.com/morishitter/stylefmt) as an option for beautifying CSS (and related format) files.

I believe it could be a good companion to [linter-stylelint](https://atom.io/packages/linter-stylelint) package.

[2016-11-03 11:29] wellingtongeek opened #1320 "error"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/888cd9067963cae7c95b3a686ddb98c2

# Checkl

[2016-11-03 13:53] PapyElGringo opened #1321 "language-babel conflict with atom-beautify on save"
# Description

When language-babel is installed the beautify on save don't work anymore. I don't have idea why.

# Steps to Reproduce

1. install atom
2. install atom-beautify
3. active beautify on save for javascript files
4. check that is working properly
5. install language-babel
6. try to save your file
7. see that beautify is not happening

# Checklist

I have:
- [X] Tried uninstalling and re

[2016-11-03 13:58] thierryc opened #1322 "JavaScript exponential numbers like 1.e-7 become 1. e - 7"
# Description

JavaScript wrong Beautification for exponential numbers like 1.e-7

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Create JavaScript file
3. Copy P

[2016-11-03 17:41] kwalshAtMeditech commented on #1288
I'm getting the same error message reported here when attempting to beautify .ejs files.

I Tried uninstalling and reinstalling Atom Beautify to ensure it installed properly.
I restarted Atom to ensure it is not a caching issue

I'm using Windows 7
Atom 1.11.2
and just installed atom-beautify 0.29.13

[2016-11-03 18:22] prettydiff commented on #1322
Which beautifier are you using?  Would you mind producing the debug.md file and pasting it to a gist?

https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-11-03 18:31] AlphaMorphe opened #1323 "Installing “atom-beautify@0.29.13” failed."
Hello, i've try to install atom beautify on ubuntu 16.04 LTS and that doesn't work, but i don't understand why
[code]
Thank for take your time for help me :smile:

PS: sorry for my english, not my native language

[2016-11-03 18:35] lemuthegreat opened #1324 "PHP-CS-Fixer Error: Error: Could not find 'php-cs-fixer'. The program may not be installed."
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/fe8188e9aecd79601afea771e2803ede

# Checkl

[2016-11-03 18:38] lemuthegreat commented on #1324
Since I came from other editors I'm new from Atom. And I can't seem to fix this error, Can anyone please help me? I'm a newbie when it comes to these type of things.

[2016-11-03 18:39] lemuthegreat commented on #1324
Since I came from other editors, I'm kind of new with Atom. Can anyone help me with this please?

[2016-11-04 00:33] msmarino opened #1327 "Cannot activate space_after_anon_function in Vue"
# Description

I am trying to activate **space_after_anon_function** in **Vue** files.  I have activated it in Beautify under **CoffeeScript**, **JavaScript**, **EJS** & **JSX**, each with **Jslint happy** on and off (where applicable).

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify

[2016-11-04 01:10] msmarino commented on #1327
Code should have been
[code]
but it makes no difference.  Still can't get it to work.

[2016-11-04 02:07] gunderson commented on #1213
+1 also experiencing this intermittently using jsbeautify

In my attempt to fix this, I have now broken beautify on save for JS files, other files still beautify on save :(

[2016-11-04 07:47] TW-Parth opened #1328 "beautification Issue"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/12ddfe592ef219ac2231eeaf5678dc5f

# Checkl

[2016-11-04 09:25] JustClear opened #1329 "The results of beautification are not what I expect."
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/c4349163307f7bd48e8ffccdd90ddaa6

# Checkl

[2016-11-04 15:20] thierryc commented on #1322
Here is a link to the `debug.md` Gist: https://gist.github.com/bb6dd0eb0ea9d9a50fb4fe9d631a73f4

[2016-11-04 18:57] jason-engage commented on #393
Any clear instructions on how to add .LIQUID support? I don't see a Liquid option...

[2016-11-04 19:57] rr20eid10 commented on #974
In Atom, I tried to install and use this plugin, but after installation, I got an underscore.js module error.  I clicked the button to create an issue, but nothing happened, so I couldn't create an issue that way.  I'm doing a tutorial online and this plugin was recommended, but when looking at description, it doesn't list JSX files specifically.  Will JSX support be added to this plugin?

[2016-11-04 22:02] ElegantSudo commented on #897
If it could read an `.eslintrc`, wow that would be amazing.

[2016-11-05 04:13] Glavin001 commented on #897
This should actually be closed as a duplicate of https://github.com/Glavin001/atom-beautify/issues/286
However, since I closed https://github.com/Glavin001/atom-beautify/issues/286 as it moved to https://github.com/Unibeautify/unibeautify-options-importer/issues/2 I will leave this discussion open, since I want to ensure it is supported in v1.

Please 👍  the Issue description at the top of this pa

[2016-11-05 12:34] piotrv commented on #545
+1

[2016-11-06 10:16] alanaasmaa commented on #1261
+1

[2016-11-06 18:11] rugk commented on #564
Closed as https://github.com/Glavin001/atom-beautify/pull/1010 has been merged.

[2016-11-06 18:11] #564 closed

[2016-11-06 19:50] dbenton414 opened #1332 "Atom Beautify could not determine a supported beautifier to handle this file"
this is what i got when i tried to run on some code i had written
Atom Beautify could not determine a supported beautifier to handle this file with grammar "Null Grammar" and extension "". If you would like to request support for this file and its language# Description

[2016-11-06 22:53] hDeraj opened #1333 "Vue nested templates formatted incorrectly"
# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3

[2016-11-07 03:06] jsolisu opened #1334 "Please add NSIS Language (.nsi) support"

[2016-11-07 12:24] bochoven commented on #1284
I would like to up vote this!

[2016-11-07 13:07] prettydiff commented on #1322
Looks like a solution was quickly written.

[2016-11-07 13:07] #1322 closed

[2016-11-07 13:35] Nittarab commented on #977
I get the same error, could be useful the log?

[2016-11-07 14:25] thierryc commented on #1322
Great !

[2016-11-07 15:19] lukeallister commented on #951
This would be great.

[2016-11-07 15:45] prettydiff commented on #1320
Could you briefly describe the problem you are experiencing?

[2016-11-07 17:01] taorg commented on #545
+1

[2016-11-07 17:04] prettydiff commented on #1328
Would you mind briefly describing the problem you are having?

[2016-11-07 17:08] prettydiff commented on #1284
Just submit a pull request to extend XML beautification to support the .plist file extension:

https://github.com/Glavin001/atom-beautify/blob/master/src/languages/xml.coffee

[2016-11-07 17:10] prettydiff commented on #1334
What is NSIS?  Is it: http://nsis.sourceforge.net/Creating_language_files_and_integrating_with_MUI

For this to work we would need a compatible beautifier.  We need either a NSIS beautifier or a beautifier from another language that is similar enough to extend support to NSIS.

[2016-11-07 17:15] prettydiff commented on #1332
What was the code language and file extension?

[2016-11-07 17:17] prettydiff commented on #1319
If you have the time you could accelerate this issue by doing the work and submitting a pull request.  Pull requests for new languages and beautifiers are always approved provided the configuration code is approved upon review.

[2016-11-07 19:06] seangates commented on #894
When you say `in your home directory`, do you mean the home directory of your atom configs, or the home directory of your atom project? Or somewhere else?

[2016-11-07 20:01] prettydiff commented on #1318
Could you describe the steps you took so that we can reproduce the problem?

[2016-11-07 20:03] prettydiff commented on #1261
The project website is likely http://stylus-lang.com/

Could you guys see if this is already supported in Pretty Diff?  http://prettydiff.com/

[2016-11-07 20:06] prettydiff commented on #977
@Nittarab Anything you could provide that would help us reproduce the defect would be helpful.

[2016-11-07 20:09] prettydiff commented on #1323
The error message says a JSON file, package.json for coffee-formatter, is corrupt.  I would just try to download again.  Please reopen this issue if it remains unresolved.

[2016-11-07 20:09] #1323 closed

[2016-11-07 20:13] alanaasmaa commented on #1261
Yes project website is right, but i dont think that prettydiff supports stylus.

Thanks for your reply !

[2016-11-07 20:15] prettydiff commented on #1261
Yeah, I just took a closer look and realized that the code does not have curly braces.

[2016-11-07 20:17] alanaasmaa commented on #1261
Yes you dont have to use them but i personally like to use them, code looks cleaner for me. Its optional

[2016-11-08 08:16] Nittarab commented on #977
**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Ubuntu 16.04.1
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.13

### Stack Trace

Uncaught TypeError: Cannot read property 'setScrollTop' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-08 18:59] sentrestage opened #1338 "Not building for Windows"
Will not install to atom on Windows 10. Looking at the plugin documentation page within Atom for atom-beautify it shows that the build is failing for Windows.

[2016-11-08 19:14] JustinDevelops commented on #312
If I can make some time soon I am going to try and fork this project and add in the align-yaml from @Glavin001 recommendation. It might not be until after the holidays but I would really like to do this.

I use YAML daily in Atom for AWS stuff, being able to beautify it so I don't get dumb formatting errors in CloudFormation.

[2016-11-09 07:33] anampiu opened #1339 "Uncaught TypeError: Cannot read property 'setScrollTop' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: elementary OS
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.13

### Stack Trace

Uncaught TypeError: Cannot read property 'setScrollTop' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-09 17:58] whereisjefe commented on #448
Just wanted to add to what @slottybon said, if there is a temp fix that would be great

[2016-11-09 20:41] UziTech commented on #994
Any update on this?

A simple fix is to add a comment between the two lines

[code]

[2016-11-09 23:00] prettydiff commented on #994
Yes, my alternative to NPM is almost ready: https://github.com/prettydiff/biddle

Current status:

The application is currently in beta mode.  On Monday night I successfully executed it against Pretty Diff on its production domain.  I have written a test suite for it which is passing on multiple operating systems.  Everything looks good to go for public launch.  I am working on a last initial feat

[2016-11-10 01:51] Yookibaek opened #1340 "ㅇㅇ"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look r

[2016-11-10 08:43] Evanxuke commented on #1293
Hi @hun1ancer,What is your problem solved?

[2016-11-10 11:04] prettydiff commented on #1340
Thank you for the debug.md file.  Would you mind briefly describing the problem?

[2016-11-10 11:08] prettydiff commented on #1293
The appears to be on this line: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/gherkin.coffee#L6

The likely problem is that the gherkin package failed to download and so the require function returns undefined.  Executing a method off undefined will always throw an error.  I recommend downloading Atom Beautify again to see if this solves the problem.

[2016-11-10 20:48] prettydiff commented on #994
Initial Pretty Diff publication via biddle is online in production: http://prettydiff.com/downloads/prettydiff/

Once you download biddle its as easy as:

    node biddle global
    biddle install http://prettydiff.com/downloads/prettydiff/prettydiff_cli_latest.zip

I will work on the next patch of Pretty Diff now in order to make biddle support formal to Pretty Diff's master branch and also fix s

[2016-11-10 20:51] prettydiff commented on #1233
I am getting really close on this and just wanted to post an update.  Initial Pretty Diff publication via biddle is online in production: http://prettydiff.com/downloads/prettydiff/

Once you download biddle its as easy as:

    node biddle global
    biddle install http://prettydiff.com/downloads/prettydiff/prettydiff_cli_latest.zip

I will work on the next patch of Pretty Diff now in order to ma

[2016-11-10 20:56] prettydiff commented on #881
I have a variant of Pretty Diff for CLI only and the zip file is 173,476 bytes which is a pretty considerable reduction from the nearly 30mb uncompressed full application that was sent to NPM.  biddle is still in beta.  More work needs to be done to find defects, but the minimal viable product is there and it seems stable.

[2016-11-10 22:08] robert-john-small commented on #312
+1

[2016-11-10 22:29] jlubean opened #1342 "Exponential notation with a plus sign gets formatted to cause a syntax error."
# Description

The exponential notation of a number with a plus sign between the "e" and the power of 10 (i.e. "2e+3") will get formatted to cause a javascript SyntaxError (i.e. "2e + 3").  You can write the code without a plus sign (i.e. "2e3"), but it is valid JavaScript to have the plus sign.  The Number.prototype.toExponential() method returns a formatted string that has the plus sign in it.

[2016-11-11 04:04] prettydiff commented on #1342
I can reproduce the defect in Pretty Diff but not in JS Beautify.  I will open an issue for this.

[2016-11-11 08:40] xream opened #1344 "Vue beautifier error with sass and pug"
# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3

[2016-11-11 12:37] harrywynnwill commented on #772
Any instructions on how to get this working on a mac?

[2016-11-11 22:01] stevenwright1243 opened #1345 "php beautifier isn't working"
I might just not know what it is I'm doing, but I am at my wit's end with this!

I have downloaded the php-cs-fixer.phar file and put it with my php.exe at C:\wamp64\bin\php\php7.0.10\ and inside the settings for the beautifier, I have the path to get to it as  C:\wamp64\bin\php\php7.0.10\php-cs-fixer.phar but I also tried C:\wamp64\bin\php\php7.0.10\ and neither work! I realize this doesn't seem

[2016-11-11 23:43] Feefty opened #1346 "Beautifying does not error or change PHP code"
# Description

It doesn't do anything at all

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. Beautification in Progress but doesn't do anything

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/d18c69435a88ac60c561797cd7d96226

# Checklist

- [x] I have tried uninstalling and reinstalling Atom Beautify to ensure it install

[2016-11-12 03:40] #1345 closed

[2016-11-12 04:28] prettydiff commented on #1346
Are you getting any kind of PHP errors?

[2016-11-13 01:56] Kutsan commented on #318
+1

[2016-11-13 12:42] Feefty commented on #1346
@prettydiff nope,

[2016-11-13 19:16] MrYann opened #1348 "Add Fortran beautifier indent_size option"
Indentation is strange (sometimes 2 spaces, sometimes 3).

Could there be an option in the beautify settings to set indentation size, and that it would be reliable ?
Additionally, it would be nice that this option would take its default value in the Editor settings.
And even nicer would be to allow for tabs as indentation.

[2016-11-13 22:24] chrisdemetriad commented on #1310
Same thing here:

Hide Stack Trace
Error: Cannot find module 'event-kit'
    at Module._resolveFilename (module.js:440:15)
    at Module._resolveFilename (/Applications/Atom.app/Contents/Resources/electron.asar/common/reset-search-paths.js:35:12)
    at Function.Module._resolveFilename (/Applications/Atom.app/Contents/Resources/app.asar/src/module-cache.js:383:52)
    at Function.Module._load (mod

[2016-11-14 00:51] bemeurer opened #1349 "VHDL Support"
It would be nice to add support for [VHDL](https://en.wikipedia.org/wiki/VHDL), as the language is hard to read without consistent styling.

There already exists an online beautifier, hosted [here](http://g2384.github.io/work/VHDLformatter.html), but it's a web interface, so it's a pain to use. The code behind it is Open Source, and can be found [here on GitHub](https://github.com/g2384/g2384.gith

[2016-11-14 01:09] prettydiff commented on #1349
Try running some code samples through http://prettydiff.com/?m=beautify

I have no idea if Pretty Diff will produce desirable output.  If it doesn't a dedicated beautification library will be needed to provide the proper support.

[2016-11-14 07:39] JustClear opened #1351 "The results of beautification are not what I expect."
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/d1174a1f63c81451e465b7a3bcbec451

# Checkl

[2016-11-15 06:59] silverlining21 opened #1352 "fail to use Python beautify ....."
# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3

[2016-11-15 16:35] lundybernard opened #1354 "The results of SQL beautification for CREATE TABLE are not what I expect"
# Description

The results of beautification are not what I expect.
The comma delimited parameters inside the parenthesis are wildly over-indented.
note: this is output from a liquibase migration

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not

[2016-11-15 18:51] Sophrinix opened #1355 "jmk files not supported"
jmk files are jake make files. They are javascript. Is there a simple way to configure this library to let it know to treat jmk files as js files?

[2016-11-15 21:47] derwaldgeist commented on #1114
@emileber Thanks for the hint to the line-ending-selector package. This setting helped me, too.

[2016-11-15 22:07] prettydiff commented on #1355
Yes, submit a pull request modifying this file: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/javascript.coffee

[2016-11-16 07:15] zhifuliu opened #1357 "beautify .vue file"
Atom Beautify could not determine a supported beautifier to handle this file with grammar "Vue Component" and extension "vue". If you would like to request support for this file and its language, please create an issue for Atom Beautify at https://github.com/Glavin001/atom-beautify/issues

[2016-11-16 10:38] prettydiff commented on #1357
Strange.  The config is defined at https://github.com/Glavin001/atom-beautify/blob/master/src/languages/vue.coffee

[2016-11-16 11:06] joturako commented on #1333
Hi, I used [vue-format](https://atom.io/packages/vue-format) and it doesn't have this problem with nested template tags. Unfortunately it doesn't have the option to beautify on save.

Is there any chance it will be added in the list of supported vue beautifiers?

[2016-11-16 16:41] kuzyn opened #1360 "Question: working with eslint in Javascript"
Is there a way to play nice with eslint configurations when beautifying JS?

My use case is that I `atom-beautify` to fix indentations, trailing spaces and such, but it also take other liberties (remove trailing commas, remove explicit newline). Some (most?) of this stuff is already defined in my eslint file, which obviously causes conflicts.

Am I doing it wrong?

[2016-11-16 17:21] fricco opened #1361 "Adding extra indentation in Apex code"
The results of beautification are not what I expect.

This is what the code looked like before:

[code]

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a l

[2016-11-16 23:23] Isarstyle commented on #312
+1

[2016-11-16 23:56] struct78 opened #1362 "TypeScript - Space in parens/Break chained methods do not work"
# Description

Checking "Space in parens" and "Break chained methods" options under TypeScript appear to have no affect on TypeScript files.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

If I import this code int

[2016-11-17 01:29] iapYang commented on #1175
Same issue occured on mine yesterday, have you solved it yet?

[2016-11-17 02:50] zhifuliu commented on #1357
Sorry,Just now,I update this plugin, you are right

[2016-11-17 02:50] #1357 closed

[2016-11-17 11:31] iamchathu opened #1363 "Ignore beautify on save for some files"
I need to disable beautify on save for some of njk files. Not all .njk files.

Can we have gitignore like file to specify ignored files

[2016-11-17 12:17] Jakub41 opened #1364 "Issue with .phtml files"
# Description

Hello,

I'm having this issue with the beautify with phtml files.
I don't have any problem with the other codes all works perfectly but when I run in the phtm file I receiving this error:

Could not find 'php-cs-fixer'. The program may not be installed.

Error: Could not find 'php-cs-fixer'. The program may not be installed.
    at PHPCSFixer.module.exports.Beautifier.commandNotFoun

[2016-11-17 16:23] unmultimedio commented on #285
Hello everyone, I'm facing same issue. HTMLBeautifier breaks the empty lines, which makes a long file really hard to read/navigate. But PrettyDiff wont indent ERB Tags, only HTML ones, while HTMLBeautifier does the indent and nested identation:

[code]

I'm using PrettyDiff by now, you know if ERB tags are planned to be supported?

[2016-11-17 18:22] flungo commented on #644
I am having the same issue. I thought it was because I was using the default option (2) and so it wasn't explicitly set but even setting to 8 didn't seem to work.

[2016-11-17 19:31] prettydiff commented on #285
@unmultimedio Pretty Diff should support that.  I recommend opening a bug with some code samples to https://github.com/prettydiff/prettydiff/issues

[2016-11-17 20:27] prettydiff commented on #1333
This might be similar to https://github.com/Glavin001/atom-beautify/issues/1175

[2016-11-17 20:29] prettydiff commented on #1361
If this is not a problem with Atom Beautify settings it is mostly like a problem from the beautifier, uncrustify.  You might try opening an issue with uncrustify and linking it to this issue.

[2016-11-17 20:59] crobinson42 commented on #1364
Check the settings in the package in Atom and make sure you're pointing to where you installed php-cs-fixer OR try installing php-cs-fixer with `brew`

[2016-11-17 22:12] QwertyZW opened #1365 "Pure JSON format"
Need a beautifier for this kind of grammar

[code]

[2016-11-18 02:15] devmi commented on #1310
Cannot find module './winston/transports'
Hide Stack Trace
Error: Cannot find module './winston/transports'
    at Module._resolveFilename (module.js:440:15)
    at Module._resolveFilename (/Applications/Atom.app/Contents/Resources/electron.asar/common/reset-search-paths.js:35:12)
    at Function.Module._resolveFilename (/Applications/Atom.app/Contents/Resources/app.asar/src/module-cache.js:383:52

[2016-11-18 02:45] prettydiff commented on #1360
Atom Beautify makes use of a .jsbeautifyrc file instead of the .eslintrc file.

[2016-11-18 03:01] #1310 closed

[2016-11-18 03:03] prettydiff commented on #1365
It looks like normal JSON.  You can beautify it as JSON or JavaScript.

[2016-11-18 03:06] prettydiff commented on #1362
Thank you for the specific details about the issue.  Would you also mind generating a debug.md file from Atom Beautify so that we can know a couple more technical details?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-11-18 03:18] struct78 commented on #1362
https://gist.github.com/anonymous/4d5e96af5001ad3a6c1f6015bc3e61ab

[2016-11-18 03:48] QwertyZW commented on #1365
I think the issue is with the size of the file. Atom lags specifically with what I'm trying to paste this large json chunk, and after beautifying it it throws this error:

![cantbeautify](https://cloud.githubusercontent.com/assets/8478946/20418033/091ad0ce-acee-11e6-979f-6aacd6d18ac7.PNG)

Currently trying to figure out if the entire chunk of the json is being pasted into atom. It's simply a json

[2016-11-18 04:14] QwertyZW commented on #1365
Can you try beatifying this file?

One of them was saved by notepad, the other by atom. The content were copied from dev tools and pasted directly into each editor. The two files are only different by a single byte.

[cantbeatifynp.json.txt](https://github.com/Glavin001/atom-beautify/files/599037/cantbeatifynp.json.txt)

[cantbeautify.json.txt](https://github.com/Glavin001/atom-beautify/files/5990

[2016-11-18 05:57] funny123 opened #1366 "what to do"
/tmp/apm-install-dir-1161018-10470-17v9gln
└── (empty)

npm WARN deprecated minimatch@0.2.12: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
(node) warning: possible EventEmitter memory leak detected. 11 error listeners added. Use emitter.setMaxListeners() to increas

[2016-11-18 06:00] funny123 opened #1367 "Failed to activate the atom-beautify package"
Cannot find module 'event-kit'
Hide Stack Trace
Error: Cannot find module 'event-kit'
    at Module._resolveFilename (module.js:440:15)
    at Module._resolveFilename (/usr/share/atom/resources/electron.asar/common/reset-search-paths.js:35:12)
    at Function.Module._resolveFilename (/usr/share/atom/resources/app.asar/src/module-cache.js:383:52)
    at Function.Module._load (module.js:388:25)

[2016-11-18 10:15] prettydiff commented on #1366
Have you tried to install again?  This could be that a dependency is missing or failed to download.

[2016-11-18 10:19] prettydiff commented on #1365
Could you create a debug.md file using Atom Beautify and paste it into a gist?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

This will allow us to see if the problem is with a particular beautifier, atom, or something else.  It will also allow us to see the exact file contents and file name.

[2016-11-18 10:24] prettydiff commented on #1367
Marking as duplicate of https://github.com/Glavin001/atom-beautify/issues/1366

[2016-11-18 10:24] #1367 closed

[2016-11-18 13:01] DioDread commented on #177
Hello, on Win 10 I have same problem but with a bit strange behavior - default package keybinding doesn't work, but if I access Atom-Beautify via main menu -> Packages -> Atom Beautify -> Beautify it's working fine. There no other packages which override ctrl + alt + b.
Thank you.

[2016-11-18 14:17] magykjames commented on #788
Thanks, I had the same problem and this fixed it for me. Centos 7.2.

[2016-11-18 15:52] n8lauscher opened #1368 "{block} or .tpl support"
i search for a way to pimp up my smarty tpl files - but i don´t find a solution.
Is there a way ?

[2016-11-18 16:20] prettydiff commented on #1368
It looks like smarty is a template language with a site at http://www.smarty.net/

Try passing code samples through Pretty Diff and see if that beautifies the code correctly.  If not we will need a proper beautifier to make this work.  http://prettydiff.com/

[2016-11-18 19:18] QwertyZW commented on #1365
running that command gives me this strace

[code]

[2016-11-19 03:48] kevintanhongann commented on #976
If this is supported, I have to give my thanks because it eases my work a lot.

[2016-11-19 14:00] prettydiff commented on #1362
Looks like this issue will not be addressed by typescript-formatter.

[2016-11-19 21:55] jnewth commented on #1332
I have the same problem. The error message reports grammer "ejs" and extension "ejs". I am using ejs (javascript templates).

[2016-11-19 22:44] prettydiff commented on #1332
I am marking this as a bug for EJS language.

[2016-11-21 06:02] MAYDAY1993 commented on #1175
@iapYang  not yet ,I checked out the docs,atom-beautify doesn't support .vue file to beautify .

[2016-11-21 11:26] zhouzhenping opened #1370 "atom-beauty"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/8236ad34492d1150900f09d8da004c10

# Checkl

[2016-11-21 12:56] prettydiff commented on #1370
I can see the sample of C code in the debug.md file, but I am not sure how the beautification is wrong.  Would you mind briefly describing the problem?

[2016-11-21 12:58] prettydiff commented on #1175
Support appears to be provided:

* https://github.com/Glavin001/atom-beautify/blob/master/src/languages/vue.coffee - language
* https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/vue-beautifier.coffee - beautifier

[2016-11-21 19:24] dooley1023 commented on #1367
Hi I am receiving the same message. I am on windows 8.1 I have tried reinstalling and receive the same error again.
`
Error: Cannot find module 'event-kit'
    at Module._resolveFilename (module.js:455:15)
    at Module._resolveFilename (C:\Users\"userid"\AppData\Local\atom\app-1.12.5\resources\electron.asar\common\reset-search-paths.js:35:12)
    at Function.Module._resolveFilename (C:\Users\"use

[2016-11-21 19:27] dooley1023 commented on #1366
Hi I am receiving the same message. I am on windows 8.1 I have tried reinstalling and receive the same error again.
` Error: Cannot find module 'event-kit' at Module._resolveFilename (module.js:455:15) at Module._resolveFilename (C:\Users\"userid"\AppData\Local\atom\app-1.12.5\resources\electron.asar\common\reset-search-paths.js:35:12) at Function.Module._resolveFilename (C:\Users\"userid"\AppData

[2016-11-21 20:57] prettydiff commented on #1366
@dooley1023  Try this command from your console and let me know if this solved the problem:

`apm install atom-beautify`

[2016-11-22 11:03] laddertech opened #1371 "No activate"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/d638cb10fefeb3df0d8c8abe304daaf2

# Checkl

[2016-11-22 15:12] prettydiff commented on #1371
Could you describe the problem?

[2016-11-22 15:30] gmaurel commented on #1361
I am working on uncrustify.
Could you push an example source and the config file you use with?

[2016-11-22 15:38] dooley1023 commented on #1366
i should have described what i was doing. i did use the apm install command to get it installed the first time which ran without failure. however when i try to use beautify i receive the message "failed to activate atom-beatify package." it then gives me the stack trace which i copied over. i did try uninstalling and reinstall with the apm command and manually dropping it in the packages folder an

[2016-11-22 16:27] B-lvlax commented on #318
+1

[2016-11-22 18:49] prettydiff commented on #1361
@gmaurel Those should be available in https://gist.github.com/anonymous/f1b5b9139d6337b588e53b83bb9945e5

Just let us know if there is additional information we should be including.

[2016-11-22 19:18] ipatternsc opened #1372 "Erro Beautify PHP"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/187abdcfdca20b88d80c4b6822e19747

# Checkl

[2016-11-22 19:48] PanderMusubi opened #1373 "Print more helpful error messages for Python"
# Description

Beautification did not work out of the box and I had to search for how to fix this.

# Input Before Beautification

n/a

# Expected Output

n/a

# Actual Output

Exception with stack trace.

# Steps to Reproduce

1. Install a system with GNU/Linux system which has APT package manager (Ubuntu or Debian)
2. Add Python 3 code to Atom editor
3. Run command `Atom Beautify: Beautify Edito

[2016-11-22 20:30] prettydiff commented on #1373
Unfortunately those commands are platform specific to POSIX.  They won't do the same things on Windows.  If you wish to take action on this please feel free to submit a pull request.

[2016-11-22 20:30] #1373 closed

[2016-11-22 23:41] Eiji7 commented on #545
@prettydiff: I'm not professional or core developer in Elixir, but I know it and I can try to help you.
As you should know Elixir is functional language.
It also has syntax inspired by Ruby and runs on the Erlang virtual machine (BEAM).

Exactly

Yes, it's really good tool. I use it and recommend.
The project **README.md** file have link to: [Credo's Elixir Style Guide](https://github.com/rrrene/e

[2016-11-23 08:31] Foo42 commented on #1213
I've had to disable this plugin for the same reason. I've been using with with js and at times it adds a block around 10 lines long at the end on each save!

[2016-11-23 08:34] Foo42 commented on #1145
I've had this occur a few times, but I've noticed the last couple of times that I've had another instance of the same file open in another pane of the editor. When I close one of the panes the loop seems to stop. I don't know whether this was the case on all the previous times it happened or not.

[2016-11-23 08:38] fly1ted opened #1376 "sass: cannot assign & to a var"
# Description
I'm trying to solve what's discussed [here](http://stackoverflow.com/a/33176587/6671934). It looks like I cannot assign ampersand to a var. For now I've it hardcoded as `$_: '.foo';`.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actu

[2016-11-23 09:04] Cablethief commented on #1113
Do you use byobu or some sort of screen?
I make use of byobu which uses tmux I believe, so to drop me into a session immediately I added
[code]
to my .zshrc
This caused the exact error you described.
[code]

[2016-11-23 11:23] prettydiff commented on #545
Thanks @Eiji7 that is very helpful.  I just need to find a dedicated Elixir user who is willing to do the work to get an appropriate beautifier integrated.  There is clearly enough demand that I am sure we could find a bunch of people willing to test it and lend assistance.

[2016-11-23 11:28] prettydiff commented on #1376
Would you mind doing me a huge favor and producing the debug.md file.  The beautifier is probably Pretty Diff, but I just want to make sure I have all my facts straight.  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-11-23 11:34] prettydiff commented on #1376
I just read your issue more closely and examined the Stackoverflow link.  Code beautifiers aren't going to provide this kind of service for you.  You need to find a compiler or transpiler.

[2016-11-23 11:35] fly1ted commented on #1376
I don't want the beautifier to compile the code, I want it to not complain about it on saving since I have enabled 'On save'.

[2016-11-23 13:41] Eiji7 commented on #545
@prettydiff: We have [new topic](https://elixirforum.com/t/the-elixir-style-guide-is-open-for-you/2534) on our forum for Elixir style guide. I asked for merge this with previous Credo style guide that I linked. After this I will create a git repo with sample code to test on it + code as expected results. We have lots of rules, so it needs more work than on for example JavaScript beautifier impleme

[2016-11-23 14:13] k4rtik commented on #1113
I was probably using Terminator back when I filed this bug. I do not recall if I was also running tmux inside it.

[2016-11-23 14:59] Cablethief commented on #1113
After some testing I believe it to be caused by the use of `exec` in the .rc file to move into tmux or byobu.

[2016-11-23 17:13] MADJIHADx opened #1378 "LUA Beautification works different with end;"
# Description

It seems like ending a line with ; is messing up the indentation.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beaut

[2016-11-23 18:49] Eiji7 commented on #545
@prettydiff: Hey, I added first [examples](https://github.com/Eiji7/atom-beautify/tree/master/examples/elixir-examples) in my fork. Can you wrote what do you think about it before I create rest examples?

[2016-11-23 19:00] prettydiff commented on #545
@Glavin001 Would you mind reviewing and providing guidance upon these examples: https://github.com/Eiji7/atom-beautify/tree/master/examples/elixir-examples

[2016-11-23 19:02] prettydiff commented on #1378
That is a very good and thorough description of the problem.  Could you also provide the debug.md file as a gist?  This will allow us to pass this issue off to the proper repository will all the configuration data necessary to reproduce the problem.

https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-11-23 19:05] prettydiff commented on #1376
Yeah, sorry I misunderstood.  That is definitely a bug.  What beautifier are you using?

[2016-11-23 19:32] fly1ted commented on #1376
CSScomb

[2016-11-23 19:38] fly1ted commented on #1376
I've just tried Pretty Diff and it doesn't complain, thereby it looks like it's CSSComb's problem. Also I mistakenly tried inputting the sass code here http://csscomb.com/online and it produces similar err. Can it be that you beautify sass with CSSComb before compilation?

[2016-11-23 20:35] prettydiff commented on #1376
@fly1ted I am not sure if that is a preference of the csscomb library, but in my opinion its a bug.  It is a design decision that is absolutely failing you as a user.  What likely happened is that they built their tool for an easily reproducible environment, like their web tool.  This makes testing and maintenance much faster for the core team, but it makes you lethargic and complacent to the conc

[2016-11-23 21:00] arturparkhisenko commented on #827
Tested current versions Pretty Diff and JS beautify - works without breaking css. Closing.

[2016-11-23 21:00] #827 closed

[2016-11-24 11:00] beingmrkenny commented on #1368
Pretty diff just handled some smarty code reasonably well when I tried it just now.

[2016-11-24 12:49] jesusmr25 opened #1379 "Problem when I was trying use beautify"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/fa9f777cafa2d98fa70b32745de3c21b

# Checkl

[2016-11-24 12:50] prettydiff commented on #1379
Could describe the problem in more detail?

[2016-11-24 14:12] Foadsf commented on #544
I receive this message when trying to beatify my f95 code:

Atom Beautify could not determine a supported beautifier to handle this file with grammar "Fortran - Free Form" and extension "f95". If you would like to request support for this file and its language, please create an issue for Atom Beautify at https://github.com/Glavin001/atom-beautify/issues

[2016-11-24 14:49] jesusmr25 commented on #1379
I forgot change the title, sorry

[2016-11-24 16:56] prettydiff commented on #1379
What kind of problem did you encounter?  Was something out of place, poorly indented, or missing?

[2016-11-24 16:58] prettydiff commented on #544
@Foadsf Could you submit a pull request with the solution.  Justify modify this document: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/fortran.coffee

[2016-11-24 19:23] Foadsf commented on #544
you may consider I a very new user of git and github :)
I added the f95 file extension and sent a pull request. hopefully it helps.

[2016-11-25 01:51] nardopessoa commented on #545
+1

[2016-11-25 06:52] jesusmr25 commented on #1379
The problem was that beautify didn't do anything.
But now, beautify it's working. I solved this problem to use the option debug in beautify's pakage.

[2016-11-26 00:30] prettydiff commented on #1379
Awesome, glad to hear it is working now.

[2016-11-26 00:30] #1379 closed

[2016-11-26 12:56] kofimokome commented on #681
Please how can I fix the problem on ubuntu?

[2016-11-26 13:03] kofimokome commented on #788
It did not work on my machine. I am using ubuntu 16.04 LTS

[2016-11-26 13:15] prettydiff commented on #788
@kofimokome Did you get a similar error to the one posted above?

[2016-11-26 21:49] Eiji7 commented on #545
@prettydiff: I check it every day ... when should I expect response?

[2016-11-26 23:45] Glavin001 commented on #545
The directory structure for examples to be used in tests is incorrect.

For example,
- Currently is: `examples/elixir-examples/lexmag_elixir-style-guide/1_source_code_layout/01_spaces-indentation/expected.ex`
- Should be: `examples/nested-jsbeautifyrc/elixir/expected/01_space-indentation.ex`

I'm currently finishing off two big projects for work and also starting my final exams. I should be more r

[2016-11-27 03:11] ivanhuay commented on #1308
+1

[2016-11-27 05:23] dpureco opened #1381 "Beautifying PHP"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/857c8a2facbaf0cc4a783182eff24c80

# Checkl

[2016-11-27 10:59] prettydiff commented on #1308
Would you mind trying this and let me know if the problem persists:

`apm install atom-beautify`

[2016-11-27 11:49] danielrvt commented on #1012
how can I get this debug.md ?

[2016-11-27 14:04] Eiji7 commented on #545
@Glavin001: Yes, I know lots of developers are busy, so I ask (not require reviewing now) when I should expect your response. I started other projects too. You selected time after 15tth December, so I will continue writing and fixing examples near this date and at now I will focus on one of my projects that I should also finish to mid of December. Thanks for your time.
btw. I wish you good luck on

[2016-11-27 16:13] alanaasmaa commented on #1261
If i select SCSS as an grammar it works pretty good.

[2016-11-27 19:15] prettydiff commented on #1012
@danielrvt https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-11-27 20:25] robinparisi commented on #1381
Same here, PHP beautification doesn't work anymore (nothing happens) but it works well when I use php-cs-fixer directly from the command line.

[2016-11-28 00:15] prettydiff commented on #1261
Strange Pretty Diff is the only beautifier included with support for SCSS.  Pretty Diff doesn't support SASS.

[2016-11-28 11:10] odahcam commented on #1381
Here, when I use php-cs-fixer from Windows CLI, it works fine, but this package seems to not work with it. atom-beautify only works when I give it the path of php-cs-fixer.phar file.

[2016-11-29 01:23] arteepa opened #1383 ""HTML (EEx)" Support"
It's HTML with embedded elixir.

[2016-11-29 06:44] SagarRanglani-xo commented on #1318
Facing the same problem, it comes whenever you try to update a package.

[2016-11-29 07:37] johnypony3 commented on #333
@prettydiff is this not what is needed?
https://atom.io/packages/language-powershell

[2016-11-29 09:06] strizhechenko commented on #451
Indeed, vim filetype plugin may be a good starting point for bash beautify.

[2016-11-29 10:38] prettydiff commented on #333
@johnypony3 Probably not.  That application looks like it provides language support to Atom Beautify, which means things like function/block folding and coloring code according to syntax rules.  We will need something that can actually beautify the code, such as impose indentation and line breaks.

[2016-11-29 10:40] prettydiff commented on #1383
Before this can move foward we will need an elixir beautifier.  Please see https://github.com/Glavin001/atom-beautify/issues/545

[2016-11-29 18:59] ericcirone commented on #1333
I have this same issue. Would love a fix.

[2016-11-29 20:42] mihaipopescu commented on #1361
Uncrustify does not support Apex as a language but Atom beautify thinks otherwise https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/uncrustify/index.coffee#L57.

From what I've read Apex is closer to Java and you could try to use that as language override (unless there are some `Apex-isms` that will break the parsing).

[2016-11-29 22:54] gqferreira commented on #1052
I had the same problem. Any solution?

I has the php-cs-fixer package installed.

[code]

[2016-11-30 03:34] prettydiff commented on #1361
Thanks @mihaipopescu I will recommend some reconfigurations to Atom Beautify.

[2016-11-30 05:06] Sangramchahal commented on #448
when can we expect to see built in support for blade.php files?

[2016-11-30 05:50] myUsernamesTaken commented on #1052
Solved it by now using Sublime Text. Easy fix. :\

[2016-11-30 09:25] anhldbk commented on #742
@niranjan-b-prajapati : Package `language-babel` does NOT compatible with my current version of Atom (1.12.2). I removed it and used package `react` instead. It works! Hope this will help you out.

[2016-11-30 10:23] yupswing commented on #610
+1

[2016-11-30 19:16] ajing opened #1384 "All my code goes away after I do ctrl-s"
# Description

My code disappear after I do ctrl-s

# Expected Results

The beautified code should have some content with a beautiful format:

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. My code disappear...

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/430a5e33c0e0cbc1f0f8ad69b1896f84

# Checklist

- [x ] I have tr

[2016-11-30 22:52] robinparisi commented on #1381
Finally got it!

It seems that my PHP version was involved. I'm on OSX and installed PHP in the past by using this script https://php-osx.liip.ch/. I also have a php version available with brew but I think the wrong version was used.

So, I completely removed php5 folders in /usr/local/ then try the command ```which php```, which should return  ```/usr/local/bin/php```.

We must ensure that the go

[2016-11-30 23:19] prettydiff commented on #1381
The frequent level of frustration and numerous issues related to PHP here really make me want to extend Pretty Diff to support PHP formally.  If only there were more time in the day.

[2016-12-01 04:47] jcollum opened #1386 "beautifying a jsx file results in missing code 0.29.13"
Atom 1.12.6

# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

I expect all my code to be there. What happened to onBack!?

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add cod

[2016-12-01 07:27] Wockito commented on #1313
Same here

[2016-12-01 07:30] Wockito commented on #1052
What was the fix  ?

[2016-12-01 15:47] tommai78101 opened #1387 "Beautifying CSS rules will have a newline added to the beginning of each rule, and I can't turn it off."
# Description

The results of beautification are not what I expect.

There is a newline added before the beginning of the style rules. It should be added at the end of the style rules.

newline_between_rules flag has already been set to false, yet it still inserts newlines before the beginning of each style rules.

Duplicate issue:

https://github.com/Glavin001/atom-beautify/issues/709

It's opene

[2016-12-01 15:50] tommai78101 commented on #1387
Full code:

[code]

[2016-12-01 18:52] lebsral opened #1388 "Add grammer for .bolt"
# Description

Does not beautify .bolt files

# Expected Output

Should beautify .bolt files as if they are .js/.ts files

see
https://github.com/firebase/bolt

# Checklist

I have:
- [x] Tried uninstalling and reinstalling Atom Beautify to ensure it installed properly
- [x] Reloaded (or restarted) Atom to ensure it is not a caching issue
- [x] Searched through existing Atom Beautify Issues at htt

[2016-12-02 06:46] chan-gil opened #1389 "a"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/1a79e896764811977001b6ec62b23e55

# Checkl

[2016-12-02 07:49] jecky2013 opened #1390 "not work code format php"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/c284d645976658823fc79f1e1b02e3d1

# Checkl

[2016-12-02 17:10] JamesCoyle opened #1391 "Code duplication issues with JS beautification."
# Description
When beautifying javascript files the file seems to be beautified for a second and then seems to revert back. Not sure why this is but it also leads to lines at the end of the file being repeated which can be annoying to fix.

# Steps to Reproduce
No clue really. Seems to happen randomly when I beautify javascript files on save with any of the beautifiers for JS. This is the case bot

[2016-12-02 17:57] prettydiff commented on #1386
Pretty Diff defect verified at http://prettydiff.com

[2016-12-02 18:01] prettydiff commented on #1389
What kind of problem are you getting?

[2016-12-02 18:13] prettydiff commented on #1388
I would try running some bolt through existing supported JS beautifiers and let us know if any, all, or none of them are effective.  Just follow these steps:

1. In Atom main menu choose Edit -> Select Grammar -> JavaScript
2. Test some code.  Pick a code sample with a lot of edge cases and really make the beautifiers earn their existance.
3. Go into the Atom Preferences/Settings and then go into

[2016-12-02 18:44] prettydiff commented on #1391
The beautifier used is Pretty Diff.  I put the code sample into http://prettydiff.com and didn't see any problems.  The two likely explanations are they I have simply glanced over the problems when reading the output or that the defect no longer exists in Pretty Diff as Atom Beautify is currently using an older version of Pretty Diff.

[2016-12-02 18:53] JamesCoyle commented on #1391
It seems to happen with all three beautifiers so seems likely to be an issue with the beautify package itself?

[2016-12-03 04:55] prettydiff commented on #1386
Problem is a failure of Pretty Diff's markup parser to accept JavaScript line comments as markup attributes.  I will have a solution soon.

[2016-12-03 05:17] jcollum commented on #1386
Thanks, that actually helped. I took out the comments and it formatted fine.

[2016-12-03 15:25] seanmars opened #1392 "Could not find 'X'. The program may not be installed. on Windows 10"
# Description

When open atom with right click menu, it's always get "Could not find 'X'. The program may not be installed. ", But when open atom with shortcut it's work find.

# Debug

Here is a link to the debug.md Gist:
https://gist.github.com/anonymous/27d26ff481383bae07f7971a1bcc2f97

[2016-12-04 00:21] Foadsf opened #1393 "not working for fortran code"
# Description

The results of beautification are not what I expect. It used to work, but now it doesn't. I tried the command `Atom Beautify: Beautify Editor` but I it gives the error below:

<img width="461" alt="screen shot 2016-12-04 at 01 18 52" src="https://cloud.githubusercontent.com/assets/12762442/20863081/e350502e-b9bf-11e6-97d1-c649d0e877d1.png">

text:

Atom beautify could not determine

[2016-12-04 04:02] prettydiff commented on #1392
This appears to be a duplicate of #1052

[2016-12-04 04:02] #1392 closed

[2016-12-04 12:29] #1169 closed

[2016-12-04 21:07] slaughter550 opened #1395 "OSX Bad Argument for PHP Editor"
# Description
Since last update, all php files fail to beautify with "Bad Argument" being thrown.
# Expected Results

The beautified code should have looked like:

Code is already beautified and still fails. Code also fails if it needs beautification.
# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. Error is thrown and nothing changes.

# Debug

H

[2016-12-05 04:59] Bluscream commented on #1389
https://gist.github.com/anonymous/1a79e896764811977001b6ec62b23e55#results

[2016-12-05 08:55] reznord opened #1396 "Extra "}" when beautifying a commented JSX code"
# Description
An extra "}" includes every time I try to beautify the code which has jsx commented.

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:
[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Rep

[2016-12-05 09:44] MrYann commented on #1348
As an example, here is a poorly indented source file :
[code]

And the result I obtain is this:

[code]

Still poorly indented:  2 spaces most of the time, 3 spaces inside the DO loops, and never tabs -- which is the global setting I chose in the global editor preferences.

[2016-12-05 09:46] MrYann commented on #1348
I guess I'm not allowed to set labels, but I'd rather set "bug" and "feature request", rather than question.

[2016-12-05 10:47] hielfx commented on #1312
I can confirm this on Windows 10 with Atom v1.12.6 and package version v0.29.13

[2016-12-05 14:20] prettydiff commented on #1312
Yeah, Pretty Diff is currently doing a poor job of wrapping long lines composed of comma separated lists.

[2016-12-05 14:27] prettydiff commented on #1396
I am not sure what beautifier you are using, but I will assume it is a Pretty Diff defect.

[2016-12-05 14:34] prettydiff commented on #1348
Done.  Since Atom Beautify relies upon a third-party beautifier for Fortran here is the course of action to see this through:

1. Ensure the beautifier supports this feature.  If so skip to point 3.
2. Go to the beautifier's repo and submit an issue asking for the feature.
3. Once supported submit a pull request enhancing Atom Beautify with new options for this beautifier's feature.  I can provide

[2016-12-05 14:42] reznord commented on #1396
@prettydiff I am using atom-beautify itself. That doesn't mean it is a 3rd party application bug. All I am doing is right-click in the editor when the file is open and then click on the "Beautify editor contents". This is a functionality of the atom-beautify.

[2016-12-05 19:46] prettydiff commented on #1396
@reznord Atom Beautify is using a beautifier of some sort to beautify the code.  You can tell which beautifier it is using for JSX by looking at the Atom Beautify settings in Atom.

[2016-12-05 20:26] reznord commented on #1396
@prettydiff it is Pretty Diff package, sorry for earlier. I guess this is an issue already there in Pretty Diff as well.

[2016-12-05 20:37] arteepa commented on #1383
Yes, it's the same.

It makes sense to first need the Elixir beautifier. This thread is no longer needed. Thanks for the response.

[2016-12-05 20:37] #1383 closed

[2016-12-06 02:03] KING639 opened #1398 "demo"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/ad1eea69b1a6bdee3df51d40b3274760

# Checkl

[2016-12-06 02:03] KING639 commented on #1398
test

[2016-12-06 02:04] #1398 closed

[2016-12-06 02:26] Euthpic opened #1399 "error"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/abe171df4aa1100abe8cda2bdb12089e

# Checkl

[2016-12-06 04:31] yhhwpp commented on #709
I've met the question as you too. set `Newline between rules` false not work

[2016-12-06 12:25] prettydiff commented on #709
@yhhwpp Could you produce a debug.md file?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-12-07 03:03] brentjanderson opened #1401 "Add grammar for .html.eex"
Eex (Embedded Elixir) is used to inline Elixir in HTML (and possibly other languages). HTML formatted as Eex may work if treated as normal HTML when being beautified.

An existing grammar for Atom document recognition and colorization is here: https://github.com/elixir-lang/language-elixir

_(I searched for a matching issue and found none containing "eex")_

[2016-12-07 09:26] prettydiff commented on #1401
I believe this is a duplicate of https://github.com/Glavin001/atom-beautify/issues/1383

[2016-12-07 09:26] #1401 closed

[2016-12-07 17:30] jer244 opened #1403 "Doesn't recognize .ejs file extensions"
There are no file extensions listed for EJS files.

![ejs beautify](https://cloud.githubusercontent.com/assets/17435276/20978886/9b068e6c-bc78-11e6-94e1-92fa0b2dd215.png)

Get the following error when trying to beautify .ejs files:

Atom Beautify could not find a supported beautifier for this file
Atom Beautify could not determine a supported beautifier to handle this file with grammar "EJS" and e

[2016-12-07 19:49] prettydiff commented on #1403
Odd, I see a file dedicated to EJS: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/ejs.coffee

I will mark this as a bug.

[2016-12-07 19:49] prettydiff commented on #1403
@jer244 You can probably fix this by including `ejs` in the extensions array of that file I linked to.

[2016-12-07 22:37] jnewth commented on #1403
@prettydiff Your fix (that is, adding "ejs" to "extensions" in .atom\packages\atom-beautify\src\languages\ejs.coffee) works. The formatting doesn't look as good as what atom-beautify usually creates, so maybe there is a follow-on improvement to ejs formatting? (Im an EJS n00b but maybe someone has something).

[2016-12-07 23:14] prettydiff commented on #1403
@jnewth It seems that Pretty Diff is the default beautifier for that format.  Some solutions to improve beautification are:

* You can add JSBeautifier as a second beautifier for that code format.
* Open issues at https://github.com/prettydiff/prettydiff/issues with defects you discover and I will work out resolutions.

[2016-12-08 11:15] bramvana opened #1404 "Installed, but not working for HTML"
Hello,

Tried installing Beautify without success.

Opened command line prompt (ctrl + alt + p) and
* entered 'beautify' - No matches found
* entered apm install atom-beautify' - no reaction.

Fresh Atom install (1.12.6) running on Win10.

What am I doing wrong?

Regards

[2016-12-08 11:51] prettydiff commented on #1404
Try this and let me know what the results are:

    apm install atom-beautify

[2016-12-08 12:03] bramvana commented on #1404
`apm install atom-beautify`
yields no reaction at all.
Installed it through File > Settings > +Install >
entering Beautify in query box and pressing Packages. Search results showed up and clicked Install.

It doesn't work for some simple HTML tags/containers, so something must be off:

Atom Beautify could not determine a supported beautifier to handle this file with grammar "Null Grammar" and exte

[2016-12-08 12:10] prettydiff commented on #1404
It sounds like Atom isn't properly installed.  Are you able to open the Atom editor?

[2016-12-08 14:44] planbjp commented on #318
+1

[2016-12-08 15:50] bramvana commented on #1404
Problem persists.

Uninstalled Beautify.
Uninstalled Atom.
Re-downloaded the standard Atom installer, ran installer.
Opened Atom > Packages > installed Beautify

Copy-pasted some html content, clicked Packages > Atom Beautify > Beautify

Still the same result:
`Atom Beautify could not find a supported beautifier for this file
Atom Beautify could not determine a supported beautifier to handle this

[2016-12-08 15:56] prettydiff commented on #1404
Ah, could you prepare a debug.md file?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

It seems Atom Beautify is installed correctly, but cannot detect that HTML is the proper language grammar.  With the debug.md file I can see the file extension and see if there something else that is causing the error.

[2016-12-08 16:04] bramvana commented on #1404
Atom Beautify Help Debug Editor created another error:

![screenshot 2016-12-08 17 03 19](https://cloud.githubusercontent.com/assets/24454138/21017053/4c194eac-bd68-11e6-86fc-e7f40d9fe345.png)

[2016-12-09 00:14] prettydiff commented on #1404
Could you do me a big favor and copy that stack trace, from attempting to generate the debug.md, and put that into a comment here?

[2016-12-09 02:45] jasonwwl opened #1406 "How to set .jsbeautifyrc to fit airbnb js style guide？"
# Description

my .jsbeautifyrc:
[code]

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

[2016-12-09 06:31] darrenbarklie commented on #1339
[code]
At /Applications/Atom.app/Contents/Resources/app.asar/src/text-editor-element.js:318

TypeError: Cannot read property 'setScrollTop' of null
    at atom-text-editor.TextEditorElement.setScrollTop (/Applications/Atom.app/Contents/Resources/app.asar/src/text-editor-element.js:318:28)
    at setScrollTop (/Users/daz/.atom/packages/atom-beautify/src/beautify.coffee:35:9)
    at /Users/daz/.atom

[2016-12-09 15:08] jhulbert-eb opened #1407 "SCSS PrettyDiff adds extra space in front of '@' statements"
# Description

When running PrettyDiff on .scss files via Atom Beautify, an extra space is added at the beginning of the first `@` statement in a block.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Re

[2016-12-09 17:35] prettydiff commented on #1407
I am having trouble reproducing this in the latest version of Pretty Diff, so the error could have been resolved since last published to NPM.  I did notice that `@if` and `@else` are both treated as selectors that can be sorted, which is bad.  For clarity the `@else` statement should be on the prior line following the closing brace: `} @else {`

[2016-12-10 10:18] bramvana commented on #1404
Sorry for the delay. The way I see it, it's you doing the favors here ;-)

`Cannot read property 'name' of null
Cannot read property 'name' of null
Hide Stack Trace
TypeError: Cannot read property 'name' of null
    at atom-workspace.debug (file:///C:/Users/Bram/.atom/packages/atom-beautify/src/beautify.coffee:364:53)
    at CommandRegistry.module.exports.CommandRegistry.handleCommandEvent (C:\Use

[2016-12-10 13:09] vnt commented on #1204
I need html + php, how do you activate it?

[2016-12-10 13:22] vnt commented on #1390
I have the same problem with PHP or PHP + HTML

[2016-12-11 16:37] fly1ted commented on #1376
@prettydiff I've investigated the issue and came to this conclusion. cssomb is a css parser, hence the name, the reason it worked for scss is just it uses [gonzales-pe](https://github.com/tonyganch/gonzales-pe) parser that in turn supports scss. The latest csscomb uses relatively old gonzales-pe thus I think it maybe the reason why it doesn't work.

[2016-12-11 16:50] prettydiff commented on #1376
@fly1ted Thank you for this updated information.  I suggest opening an issue with csscomb so that they can update their dependency.

[2016-12-12 10:23] wnsdud12 opened #1408 "ㅁㅁ"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/2138b06304c57e397b9bad091fbf0393

# Checkl

[2016-12-12 10:23] #1408 closed

[2016-12-12 15:34] steebchen commented on #1339
Really annoying, that's why I used this quick fix:

change `view?.setScrollTop value` to `view?.setScrollTop? value` in `~/.atom/packages/atom-beautify/src/beautify.coffee`.

[2016-12-13 07:16] Jerome-Celle commented on #261
Hi!
I have the same issue, I see you have added an option in prettydiff, but I can't find this option in beautify or prettydiff config.
Where can I turn on this option in the config? In which file?

[2016-12-13 13:21] bramvana commented on #1404
Was it helpful?
Is my machine or is this a reproducible error?

[2016-12-13 18:53] prettydiff commented on #1404
I haven't looked into it yet.

[2016-12-13 18:54] prettydiff commented on #261
@Jerome-Celle The version of Pretty Diff in Atom Beautify is old.  This is my fault and not the fault of Atom Beautify.  I am working on a resolution.

[2016-12-13 19:04] Jerome-Celle commented on #261
@prettydiff This is not a problem, I saw that a correction had been made. I was curious to know how to parameterize it.

[2016-12-14 11:02] arondius opened #1409 "I Can't atom debug to use project settings from a .csscomb.json or .jsbeautifyrc file"
# Description

The results of beautification are not what I expect.

# Expected Results

Atom beautify should use the settings in a project .csscomb.json or .jsbeautifyrc file.
It doesn't

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

I've tried several settings and config options, but I canno

[2016-12-14 13:36] CJBrew commented on #977
Still no fix for this?

[2016-12-14 16:39] Ebram-Tharwat opened #1410 "Add support for .vash files"
Can you please add support for `.vash` files or [Vash](https://github.com/kirbysayshi/vash) template engine?

Vash, is gaining more attention now (espcially for those coming from .NET world) and already one of the available view engines in [express generator](https://expressjs.com/en/starter/generator.html) .

[2016-12-15 02:07] Nexela opened #1411 "LUA - inline block comments are not beautiful"
# Description

The results of beautification are not what I expect.
My assumption is it stops looking at the rest of the line when it encounters a comment start.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a l

[2016-12-15 13:27] sxdubin commented on #1313
Same here. Running Mac.

[2016-12-15 14:02] sxdubin opened #1412 "I installed php-cs-fixer But Nothing happens when tryin beautify PHP"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/eb54829a5e40689351a442f68bf39de8

# Checkl

[2016-12-15 14:41] ckpinguin commented on #525
+1

[2016-12-15 17:54] prettydiff commented on #1410
That is going to be challenging to beautify.  Is Vash primarily a markup language with JavaScript thrown in or is it JavaScript with markup thrown in?  I cannot tell from looking at the code samples and a parser has to start somewhere.

[2016-12-15 18:07] maxvaser commented on #448
I love this library! Format on save is fantastic! Adding formatting support for the Blade syntax and HTML would be very useful!  or even just recognizing  .blade.php  file extensions to allow the regular HTML portion to be formatted on save would be awesome!

 I tried modifying the html.coffee file and it had no effect.

[2016-12-15 18:28] robsonenke commented on #209
Just wondering, why doesn't it looks for the file in the project we're actually in?

[2016-12-15 18:31] anandsuresh opened #1413 "Error using clang-format to format C code"
# Description

Running beautify on a C file results in the following error:

[code]

Only happens when I set the beautifier to use `clang-format` instead of `uncrustify`.

# Steps to Reproduce

1. Configure settings to have atom-beautify use `clang-format` as the default beautifier for C.
2. Run command `Atom Beautify: Beautify Editor`

# Debug

Here is a link to the `debug.md` Gist: https://gist.

[2016-12-16 00:19] CheweyZ opened #1414 "Global On save format"
# Description

The results of beautification are not what I expect.

No global beautify on save so cant tick a box and say on all languages format on save as i deal with multiple languages of unique kinds and its simply extremely annoying not having a "Beautify On Save" global effect rather than enable it every single language

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom

[2016-12-16 02:22] Deekers commented on #1308
The "apm install atom-beautify" seemed to resolve the problem.

[2016-12-16 07:59] SolveSoul commented on #371
I'd like Groovy support as well :)

[2016-12-16 21:58] Eiji7 commented on #545
@Glavin001: I have created (locally) a skeleton of all examples (I defined modules with docs and blank methods + README.md + simple script to check if we can compile these files - groups, rules, description, source, license with all needed links) with file structure that you provided. Now I need only to fill body of methods for 86 files (2 x 43 - original + expected), so I will commit my changes i

[2016-12-17 09:17] acrolink commented on #394
@xucaen

Seems that it simply does not word on Windows.. Tells me not found..

[2016-12-17 14:36] BigWillie opened #1416 "Add support for liquid template engine"
Please could you add support for  HTML (Liquid)

"Atom Beautify could not determine a supported beautifier to handle this file with grammar "HTML (Liquid)" and extension "liquid". If you would like to request support for this file and its language, please create an issue for Atom Beautify at https://github.com/Glavin001/atom-beautify/issues"

I can sort of fudge it by setting the file type to HTML

[2016-12-19 10:05] Trandel commented on #312
+1

[2016-12-19 13:54] sosnet commented on #1308
With `apm install atom-beautify` and a restart of `atom` the problem is resolved.
Maybe the restart after the auto-update would have been enough.

[2016-12-19 14:28] MassimoFortarezza opened #1417 "kages"
# Description

The results of beautification are not what I expect.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3

[2016-12-19 16:30] prettydiff commented on #1417
I don't know what kages is and I am not sure what the problem is.  Would you mind providing additional detail?  I will close this issue in the meantime.  Please reopen when there are more details.

[2016-12-19 16:30] #1417 closed

[2016-12-19 16:48] prettydiff commented on #1416
First, test you code in Pretty Diff at http://prettydiff.com/?m=beautify and see if it breaks your code.  Twig uses Pretty Diff at the beautifier.

If all is well then I would create a pull request with a liquid.coffee file modeled after the Twig file at https://github.com/Glavin001/atom-beautify/blob/master/src/languages/twig.coffee

Once that pull request is merged in all should be well.

[2016-12-19 16:57] prettydiff commented on #261
@Jerome-Celle The best bet would be to serve Front Matter as an independent language.  I recommend creating a pull request with a new file frontmatter.coffee based upon https://github.com/Glavin001/atom-beautify/blob/master/src/languages/twig.coffee

The code would look something like:

[code]

[2016-12-19 17:00] prettydiff commented on #1416
This comment might also be helpful: https://github.com/Glavin001/atom-beautify/issues/261#issuecomment-268017339

[2016-12-19 21:40] jonathan-chen-tda commented on #696
I'm still getting Could not find 'C:\Users\USER01.atom\packages\atom-beautify\node_modules.bin\cljfmt'. The program may not be installed.

Am I missing something or is this still a work in progress?

[2016-12-20 07:24] Vextraaa opened #1418 "Could not find 'php-cs-fixer'. The program may not be installed."
Hello, I have recently been trying to get atom-beautify to work on windows 8 but it keeps saying that I need to install "php-cs-fixer" I have no idea how to do this as I have just installed Atom, If anyone can provide me when a easy tutorial for windows it would be highly appreciated!

[2016-12-20 09:43] seanmars opened #1419 "Autopep8 beautifier for Python does not support "eol" option"
# Atom Beautify - Debugging information

[Debugging information on Gist](https://gist.github.com/seanmars/71ad1f47800eb4da7a52aa1a79d1230c)

[2016-12-20 10:24] slaughter550 commented on #1395
@Glavin001 do you need anything else?

[2016-12-20 10:45] slaughter550 commented on #1395
@Glavin001 just an FYI, when I removed shell integration for iTerm everything started working again.

https://www.alexkras.com/remove-shell-integration-from-iterm2/

[2016-12-20 11:10] stijndev opened #1420 "support Silverstripe"

[2016-12-20 12:20] Jerome-Celle commented on #261
Can we had something like this in html.coffee with the other option?
`options:
    jekyll:
      type: 'boolean'
      default: false
      description: 'If YAML Jekyll HTML template comments should be supported.'`

[2016-12-20 21:15] prettydiff commented on #261
After you create the new file you need to completely close out of Atom and restart it.  Then see if the grammar "HTML (Jekyll)" is available.

[2016-12-21 03:31] tonylin0826 opened #1422 "Beautify html not following the rules"
# Description

The results of beautification are not what I expect.
I set the indent size to 2, but it still indent 4.

If i disable the angulars package and restart, it work normally.

# Input Before Beautification

This is what the code looked like before:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run com

[2016-12-21 11:07] fireice009 opened #1423 "Object.extname is deprecated."
Atom beta 1.13.0-beta8
atom-beautify 0.29.14

Remove and then install, the issue is still there.

Argument to `path.extname` must be a string
[code]

[2016-12-21 16:28] BigWillie commented on #1416
Yep - it works in prettydiff - indeed, it presumed the liquid was .twig 👍

[2016-12-21 23:16] Rexcantor commented on #1412
I also have that problem.

[2016-12-21 23:18] Rexcantor commented on #1346
I have the exactly sam issue...

[2016-12-22 09:47] Magnum26 commented on #1366
I also get the cannot find module 'event-kit' after updating to the latest package.

Stack Trace:

`Error: Cannot find module 'event-kit'
    at Module._resolveFilename (module.js:455:15)
    at Module._resolveFilename (/Applications/Atom.app/Contents/Resources/electron.asar/common/reset-search-paths.js:35:12)
    at Function.Module._resolveFilename (/Applications/Atom.app/Contents/Resources/app.a

[2016-12-22 11:07] goungoun opened #1424 "Support Scala syntax"
# Description

Please support beautify scala

# Steps to Reproduce

1. create scala code file with extention .scala
2. Run command `Atom Beautify: Beautify Editor`

# Error Message
Atom Beautify could not find a supported beautifier for this file
Atom Beautify could not determine a supported beautifier to handle this file with grammar "Scala" and extension "scala". If you would like to request sup

[2016-12-22 11:08] goungoun opened #1425 "Support HiveQL syntax"
# Description

Please support beautify hql (HiveQL)

[2016-12-23 01:46] vmuriart commented on #1354
This is probably an issue with `sqlparse` rather than `atom-beautify`. Do you get your expected results if you run it directly on `sqlparse` ?

[2016-12-23 12:43] JosephDAM opened #1426 "Symfony 'path' method"
# Description

Hi, when I beautify a twig file, spaces are added inside symfony's path method, causing an error.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually looked like this:

[code]

As you can see, now the string inside path() is ' pat

[2016-12-27 11:30] carmelolg commented on #1308
+1

[2016-12-28 19:22] pnutster commented on #1395
Thanks! Been having this problem for months and just couldn't figure it out. Removing shell integration did the trick, never would have thought of that!

[2016-12-29 04:05] Glavin001 commented on #1288
Closed by https://github.com/Glavin001/atom-beautify/pull/1326

[2016-12-29 04:05] #1288 closed

[2016-12-29 04:05] Glavin001 commented on #1278
Closed by https://github.com/Glavin001/atom-beautify/pull/1326

[2016-12-29 04:05] #1278 closed

[2016-12-29 04:10] Glavin001 commented on #1284
Closed by https://github.com/Glavin001/atom-beautify/pull/1335

[2016-12-29 04:10] #1284 closed

[2016-12-29 04:12] Glavin001 commented on #544
Closed by https://github.com/Glavin001/atom-beautify/pull/1380

[2016-12-29 04:12] #544 closed

[2016-12-29 10:41] #1418 closed

[2016-12-29 16:31] davidjcastner commented on #601
+1 for `tsx` support

[2016-12-29 19:41] abbas133 commented on #1308
+1
Restarting works.

[2016-12-29 23:34] #451 closed

[2016-12-30 00:00] Glavin001 commented on #1422
Your file is being recognized as:

[code]

and therefore is using the EJS settings:

[code]

Instead of your HTML settings:

[code]

You can either configure EJS language settings or change the Atom grammar for your file.
See https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#ejs for available EJS options.

[2016-12-30 00:00] #1422 closed

[2016-12-30 00:01] Glavin001 commented on #1423
This is a result of https://github.com/atom/atom/commit/c876fd76f8daf7c3bd5932cdb488f17980197698 and https://github.com/atom/atom/pull/12300

[2016-12-30 00:04] Glavin001 commented on #1404
Atom Beautify could not determine a supported beautifier to handle this file with grammar "Null Grammar" and extension "". If you would like to request support for this file and its language, please create an issue for Atom Beautify at https://github.com/Glavin001/atom-beautify/issues

I may have missed something, however it looks like Atom is not detecting the grammar as HTML and instead using "P

[2016-12-30 00:04] #1404 closed

[2016-12-30 00:07] Glavin001 commented on #1403
- @jnewth in the future please feel free to submit a Pull Request for simple changes like this.
- @prettydiff looks like this is a `third-party bug` for Pretty Diff.

[2016-12-30 00:08] #1403 closed

[2016-12-30 00:09] Glavin001 commented on #1393
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2016-12-30 00:10] Glavin001 commented on #1393
Closed by https://github.com/Glavin001/atom-beautify/pull/1380

[2016-12-30 00:10] #1393 closed

[2016-12-30 00:12] Glavin001 commented on #1389
You need to install Uncrustify: https://github.com/uncrustify/uncrustify
For example, on a Mac: https://github.com/Glavin001/atom-beautify/blob/master/.travis.yml#L99
`brew install uncrustify`

[2016-12-30 00:12] #1389 closed

[2016-12-30 00:24] Glavin001 commented on #1361
To confirm, should Apex be removed from Uncrustify beautifier support in Atom-Beautify or is there some configuration changes required to make it work?

[2016-12-30 00:25] Glavin001 commented on #1366
I'm closing this as a duplicate of the others: https://github.com/Glavin001/atom-beautify/search?q=Cannot+find+module+%27event-kit%27&state=closed&type=Issues&utf8=%E2%9C%93

[2016-12-30 00:25] #1366 closed

[2016-12-30 00:27] Glavin001 commented on #1318
I recommend talking to the Atom team over at https://github.com/atom/atom or https://github.com/atom/apm or https://discuss.atom.io/

[2016-12-30 00:27] #1318 closed

[2016-12-30 00:30] Glavin001 commented on #1332
Closing this as solved by https://github.com/Glavin001/atom-beautify/pull/1326

[2016-12-30 00:30] #1332 closed

[2016-12-30 00:35] Glavin001 commented on #1188
It looks like the beautifier did run:

[code]

If you expected a change then maybe there is a bug in [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer). I recommend asking over there and trying `php-cs-fixer` manually from command line to confirm.

[2016-12-30 00:35] #1188 closed

[2016-12-30 00:40] Glavin001 commented on #601
Everyone please stop bumping this and instead add your 👍 on the Issue post at the top. I only see ":+1: 2" at the top however here at the bottom are 5+ more 👍 which would not be seen. I also want `tsx` support.

What we need to make this happen is someone from the community to submit a Pull Request implementing this functionality. It may be as simple as upgrading Pretty Diff and adding `.tsx` lang

[2016-12-30 00:40] Glavin001 commented on #1308
Glad to hear it is working with a restart!

[2016-12-30 00:40] #1308 closed

[2016-12-30 00:42] Glavin001 commented on #1354
I think this is an issue with `sqlparse` instead. Looking at the `debug.md` Atom-Beautify ran as expected. I recommend creating an issue over at https://github.com/andialbrecht/sqlparse

[2016-12-30 00:43] #1354 closed

[2016-12-30 00:44] jaskinn commented on #1366
So is there a solution? The linked search doesn't assist in resolving this issue.

[2016-12-30 00:47] Glavin001 commented on #1366
Uninstalling and reinstalling Atom-Beautify has been shown to resolve errors `Error: Cannot find module`. It occurs when `apm` has not finished installing `event-kit` or other packages before Atom activates the package.

[2016-12-30 00:55] jaskinn commented on #1366
Thank you very much. I really didn't want to lose this package. Your hard work is greatly appreciated.

[2016-12-30 01:16] Glavin001 commented on #1419
Please put the debugging information into a Gist and replace the body above with the link.

Also, it looks like `eol` option is not supported: https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#python
Feel free to submit a Pull Request to add support for it by changing https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/autopep8.coffee and letting me know if

[2016-12-30 01:17] Glavin001 commented on #696
Closed by #1173.
Published to Published to v0.29.12

[2016-12-30 01:17] #696 closed

[2016-12-30 01:17] Glavin001 commented on #696
@jonathan-chen-tda I recommend creating a new Issue if you are still experiencing problems.

[2016-12-30 01:20] Glavin001 commented on #312
This would be great and I am definitely interested in reviewing and merging a Pull Request implementing YAML support. Please let me know if you have any questions about adding languages and beautifiers to Atom-Beautify!

[2016-12-30 03:32] yaBliznyk opened #1431 "Add support elixir"
"ex" and "exs" : {
    "indent_size": 2,
    "indent_char": " ",
    "other": " ",
    "indent_level": 0,
    "indent_with_tabs": false,
    "preserve_newlines": true,
    "max_preserve_newlines": 2,
    "jslint_happy": true,
    "indent_handlebars": true
  }

"html.eex" like "html"

[2016-12-30 05:15] Glavin001 commented on #1431
Please clarify what you are asking for.

[2016-12-30 05:21] yaBliznyk commented on #1431
Please add support to [elixir lang](http://elixir-lang.org/)
http://joxi.ru/v29785xu3GkV4r - .exs files
http://joxi.ru/gmvjNQ0sLxJ7Bm - .ex like .exs
and http://joxi.ru/EA4axDRhwDGLar - .html.eex like html

[2016-12-30 05:32] Glavin001 commented on #1431
Duplicate of https://github.com/Glavin001/atom-beautify/issues/545

[2016-12-30 05:32] #1431 closed

[2016-12-30 06:41] Glavin001 commented on #977
I was able to reproduce with @gauravarora 's steps. The issue is with [Atom's `TextEditorElement.setScrollTop` method](https://github.com/atom/atom/blob/master/src/text-editor-element.coffee#L249-L250) when `component = null`.

[2016-12-30 06:45] #977 closed

[2016-12-30 06:45] Glavin001 commented on #977
Published to v0.29.16

[2016-12-30 06:47] Glavin001 commented on #1278
Published to v0.29.15

[2016-12-30 06:47] Glavin001 commented on #1284
Published to v0.29.15

[2016-12-30 06:47] Glavin001 commented on #1288
Published to v0.29.15

[2016-12-30 06:48] Glavin001 commented on #1332
Published to v0.29.15

[2016-12-30 06:48] Glavin001 commented on #1393
Published to v0.29.15

[2016-12-30 06:48] Glavin001 commented on #1403
Published to v0.29.15

[2016-12-30 06:49] Glavin001 commented on #1196
Published to v0.29.15

[2016-12-30 06:49] Glavin001 commented on #544
Published to v0.29.15

[2016-12-30 09:21] Bluscream commented on #1389
I'm on Windows 10

[2016-12-30 12:00] CJBrew commented on #793
@Glavin001 thanks, I've just noticed your reply. I'll try to get you a debug output, if I can still reproduce the issue next week.

[2016-12-30 17:28] Glavin001 commented on #1389
I don't use Windows, however these are the steps for Windows in AppVeyor: https://github.com/Glavin001/atom-beautify/blob/master/appveyor.yml#L117-L122

[code]

So I know it works on Windows, however there may be better instructions at https://github.com/uncrustify/uncrustify

[2017-01-01 03:38] Glavin001 commented on #1110
Please reopen with more information.

[2017-01-01 03:38] #1110 closed

[2017-01-01 03:40] Glavin001 commented on #1109
This can be reopened once we have more information.

[2017-01-01 03:40] #1109 closed

[2017-01-01 03:41] Glavin001 commented on #1112
Closing this as a JS-Beautify bug.

[2017-01-01 03:41] #1112 closed

[2017-01-01 03:46] Glavin001 commented on #1117
Closing as a duplicate of #457.

[2017-01-01 03:46] #1117 closed

[2017-01-01 03:51] Glavin001 commented on #1118
I'm going to close this as a duplicate of #457 which will allow both JavaScript and HTML beautifiers to be used one this single file.

[2017-01-01 03:51] #1118 closed

[2017-01-01 03:53] Glavin001 commented on #1122
Closing this as a Pretty Diff bug.

[2017-01-01 03:53] #1122 closed

[2017-01-01 03:54] Glavin001 commented on #1123
Closing this as a third-party bug.

[2017-01-01 03:54] #1123 closed

[2017-01-01 03:58] Glavin001 commented on #1132
Closing this as a third-party bug with the current work around being to use Pretty Diff as default beautifier.

[2017-01-01 03:58] #1132 closed

[2017-01-01 04:04] Glavin001 commented on #1139
I'd be happy to review and merge your Pull Request implementing this! One thing to change is:

[code]

should be

[code]

[2017-01-01 04:05] Glavin001 commented on #1142
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2017-01-01 04:06] Glavin001 commented on #1142
This Issue can be reopened once the debug.md is provided. Thanks!

[2017-01-01 04:06] #1142 closed

[2017-01-01 04:10] Glavin001 commented on #725
@prettydiff Why is your example valid TSX?

[code]

I expect the second `any` to be `</any>` closing the element.

[2017-01-01 04:13] Glavin001 commented on #1148
Closing as a JS-Beautify bug: https://github.com/beautify-web/js-beautify/issues/1003

[2017-01-01 04:13] #1148 closed

[2017-01-01 04:20] Glavin001 commented on #1165
I would be happy to review and merge someone's Pull Request for Atom-Beautify's JS-Beautify beautifier changing `JSX` case to set `e4x` option at https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/js-beautify.coffee#L36

[2017-01-01 04:21] Glavin001 commented on #1167
Closing as Pretty Diff bug.

[2017-01-01 04:21] #1167 closed

[2017-01-01 04:22] Glavin001 commented on #1168
Closing as Pretty Diff bug.

[2017-01-01 04:22] #1168 closed

[2017-01-01 04:24] Glavin001 commented on #1162
Closing this as a PHP-CS-Fixer issue.

[2017-01-01 04:24] #1162 closed

[2017-01-01 04:25] Glavin001 commented on #1176
Closing as Pretty Diff bug.

[2017-01-01 04:25] #1176 closed

[2017-01-01 04:30] Glavin001 commented on #1189
Maybe you need to run Atom in Administrator mode or something so it has write permission? I will need the `debug.md` Gist to help more.

I recommend updating Atom-Beautify and trying again:

Thank you.

This issue can be reopened once we have the `debug.md` Gist. Thanks!

[2017-01-01 04:30] #1189 closed

[2017-01-01 04:30] Glavin001 commented on #1018
Closing this as a Pretty Diff bug.

[2017-01-01 04:30] #1018 closed

[2017-01-01 04:35] Glavin001 commented on #482
@sybrenstuvel are you still experience this? If so, since the line numbers have changed, maybe it is https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L361 ?

[2017-01-01 04:40] Glavin001 commented on #1171
@Frynio are you still experiencing this issue? It may be an issue with how Atom-Beautify integrates with Uncrustify.

[2017-01-01 04:46] Glavin001 commented on #1201
Looks like there are two issues:
1) Current Crystal beautifier does not support any options however it incorrectly shows it supports all options: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/crystal.coffee#L13 (was `true`, I just fixed to `false`)
2) Crystal beautifier does not support any options, including `indent_size`.

I'll fix problem 1 in next release. I would be h

[2017-01-01 04:52] Glavin001 commented on #194
It doesn't look like `autopep8` beautifier is configurable right now: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/autopep8.coffee#L18

This is something I'd like to address in a future release. However, if your `PATH` environment variable is configured properly it should automatically detect `autopep8` without changing Atom-Beautify's code itself.

[2017-01-01 04:53] Glavin001 commented on #645
Looks like all we need is someone to submit a Pull Request adding `terraform-fmt` beautifier to Atom-Beautify! Let me know if you have any questions.

[2017-01-01 04:54] Glavin001 commented on #1230
Closing as duplicate of #847.

[2017-01-01 04:54] #1230 closed

[2017-01-01 04:57] Glavin001 commented on #847
Closing this as third-party issue of Pretty Diff and/or JS-Beautify. Please let me know if a new option is needed in Atom-Beautify to support this.

[2017-01-01 04:57] #847 closed

[2017-01-01 05:00] Glavin001 commented on #1229
Closing this as it will be a third-party bug, likely PHP-CS-Fixer or another beautifier. Without the debugging information there is nothing more we can help with.

[2017-01-01 05:00] #1229 closed

[2017-01-01 05:01] Glavin001 commented on #1237
Closing as a JS-Beautify bug.

[2017-01-01 05:01] #1237 closed

[2017-01-01 05:02] Glavin001 commented on #1182
Closing as Pretty Diff bug.

[2017-01-01 05:02] #1182 closed

[2017-01-01 05:13] Glavin001 commented on #1199
Looking at the debug logs provided:

[code]

It is executing the command:

[code]

The `C:\Users\H2K\AppData\Roaming\Composer\vendor\bin\php-cs-fixer.BAT` part is incorrect. It should be a `.php` file not a `.BAT` file.

You can see that PHP-CS-Fixer Path (key `cs_fixer_path`) is not set: https://gist.github.com/anonymous/0849b1590ac7a38cd7d604941ac36135#final-options
I recommend finding the `.php

[2017-01-01 19:24] Glavin001 commented on #772
@harrywynnwill my [comment above](https://github.com/Glavin001/atom-beautify/issues/772#issuecomment-246186016) was for Mac, `brew install uncrustify`.

[2017-01-01 19:24] Glavin001 commented on #1250
You can use homebrew for installing Uncrustify on Mac. See https://github.com/Glavin001/atom-beautify/issues/772#issuecomment-246186016
`brew install uncrustify`

[2017-01-01 19:36] Glavin001 commented on #1259
[code]

The error is `Error: spawn EACCES` and you may need to change the file permissions so it is executable: http://stackoverflow.com/a/19026627/2578205

[code]

[2017-01-01 19:36] #1259 closed

[2017-01-01 19:38] Glavin001 commented on #1271
Looks like a stack trace from https://atom.io/packages/react

[2017-01-01 19:38] #1271 closed

[2017-01-01 19:47] Glavin001 commented on #1272
I absolutely agree, @bitwiseman. We need to put our foot down on Issue report quality. If an issue is not a clear, relatively small example with input and output (from `debug.md`), and expected (often missing) then we cannot spend time analyzing it when other users have properly reported their Issue.

@prettydiff let's use the `waiting-for-user-information` label more often when applicable and onl

[2017-01-01 19:48] Glavin001 commented on #1272
I'm closing this as a duplicate of https://github.com/Glavin001/atom-beautify/issues/1165#issuecomment-269891806 which is to add JSX support.

[2017-01-01 19:48] #1272 closed

[2017-01-01 19:51] Glavin001 commented on #1274
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2017-01-01 19:55] Glavin001 commented on #1276
Looking at your `debug.md`, this is not a PHP file and is instead a `JSON` file being correctly processed.

Please generate a correct `debug.md` if you still need help.

[2017-01-01 19:55] #1276 closed

[2017-01-01 19:59] Glavin001 commented on #1279
Although there is very little information provided, I believe your issue is from *installing* Atom-Beautify. `Cannot find module 'event-kit'` is caused when `apm` does not finish installing `event-kit`. The solution is to reinstall Atom-Beautify.

In the future, please provide more useful information about your Issue so we can help.

[2017-01-01 19:59] #1279 closed

[2017-01-01 19:59] Glavin001 commented on #1281
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2017-01-01 20:11] Glavin001 commented on #1282
Closing this as a JS-Beautify issue. See https://github.com/beautify-web/js-beautify/issues/943#issuecomment-254681926 for explanation.

[2017-01-01 20:11] #1282 closed

[2017-01-01 20:17] Glavin001 commented on #1286
You are correct, there is not configuration option for `elm-format` executable: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/elm-format.coffee#L18

However, it should not be necessarily if your `PATH` environment variable is configured properly.

Regardless, I will leave this issue open as adding a configurable path is a good idea for those who do not know how to change t

[2017-01-01 20:19] Glavin001 commented on #291
Awesome to hear `latexindent` may work! All we need is someone to submit a Pull Request with this working and tested. Thanks in advance!

[2017-01-01 20:25] Glavin001 commented on #808
It appears this issue was incorrectly closed. Volt is not yet supported in Atom-Beautify.

We need a Pull Request submitted implementing this. @prettydiff 's and @hafah 's comments above are good starters.
Let me know if you have any questions!

[2017-01-01 20:36] Glavin001 commented on #1287
Your EditorConfig has been extracted to:

[code]

Notice `"indent_size": "tab",` which is incorrect (not a number).

The applicable code is: https://github.com/Glavin001/atom-beautify/blob/604b6340d6a34d13a1b0285cc341da6afeb447d3/src/beautifiers/index.coffee#L554-L558

It looks like this issue is a duplicate of https://github.com/Glavin001/atom-beautify/issues/339
The workaround is manually settin

[2017-01-01 20:36] #1287 closed

[2017-01-01 20:44] Glavin001 commented on #1116
@NodeJoSe is correct. Based on the `debug.md` provided above you need to change the `EJS` settings, such as `EJS - Indentation Size`.

[2017-01-01 20:44] #1116 closed

[2017-01-01 20:49] Glavin001 commented on #1130
Weird. Looks like it is from https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L31 and therefore `atom.views` is `undefined`.

Are you still experiencing these issues on latest Atom?

[2017-01-01 20:50] Glavin001 commented on #1292
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2017-01-01 20:51] Glavin001 commented on #1297
What is your expected results?

This issue can be reopened once we have completed information.

[2017-01-01 20:51] #1297 closed

[2017-01-01 20:52] #1295 closed

[2017-01-01 20:55] Glavin001 commented on #802
@ElegantSudo It is named `space_in_paren`. See under https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#pretty-diff for details. You can see `space_in_paren` at the bottom of the merged Pull Request changes: https://github.com/Glavin001/atom-beautify/pull/1193/files and https://github.com/qwemaze/atom-beautify/blob/32a6fce1a6588612e82e6525b8a495041baa0e5f/src/beautifiers/pretty

[2017-01-01 20:58] Glavin001 commented on #1300
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-01 20:58] #1300 closed

[2017-01-02 01:09] Glavin001 commented on #522
No progress on my end. I think this is waiting on Pretty Diff update? /cc @prettydiff

[2017-01-02 01:34] theRichu commented on #1142
# Atom Beautify - Debugging information

The following debugging information was generated by `Atom Beautify` on `Mon Jan 02 2017 10:33:39 GMT+0900 (KST)`.

---

## Table Of Contents
- [Versions](#versions)
- [Original file to be beautified](#original-file-to-be-beautified)
  - [Original File Contents](#original-file-contents)
  - [Package Settings](#package-settings)
- [Beautification options](#b

[2017-01-02 01:38] Glavin001 commented on #1142
Thank you for providing the debugging information. Please put this `debug.md` into a Gist and provide only the link here, as originally asked.

Also it looks like Atom-Beautify is doing its job and therefore this would be a [`sqlformat`](https://github.com/andialbrecht/sqlparse) issue. I recommend create an issue over at https://github.com/andialbrecht/sqlparse instead.

[2017-01-02 01:42] Glavin001 commented on #1301
This Issue can be reopened with more information.

[2017-01-02 01:42] #1301 closed

[2017-01-02 01:42] Glavin001 commented on #1030
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2017-01-02 01:45] Glavin001 commented on #1302
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

---

This

[2017-01-02 01:45] #1302 closed

[2017-01-02 01:56] Glavin001 commented on #992
:+1: I think this would be a great idea for Atom's grammar selector! I think the language packages just need to be improved.
For example, see in https://github.com/atom/atom/blob/ff83e597530a41946fcae65e877924fc5b957191/spec/grammars-spec.coffee#L60 and https://github.com/atom/language-git/blob/643f81fe5f124cc1dc325b79899e8bd0f5cecb65/grammars/git%20config.cson#L4 the `.git/config` file is recogni

[2017-01-02 02:01] #598 closed

[2017-01-02 02:04] Glavin001 commented on #1314
I am not a Windows or Haskell user, so I will not be much help. You should ask your questions regarding stylish-haskell installation over at https://github.com/jaspervdj/stylish-haskell#installation
Maybe @bobjflong  has some suggestions, too.

[2017-01-02 02:04] #1314 closed

[2017-01-02 02:06] Glavin001 commented on #1270
Looks like it has been resolved. Closing as a resolved, JS-Beautify bug.

[2017-01-02 02:06] #1270 closed

[2017-01-02 02:09] Glavin001 commented on #1321
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

---

We ca

[2017-01-02 02:09] #1321 closed

[2017-01-02 02:15] Glavin001 commented on #1324
Atom-Beautify uses PHP-CS-Fixer for beautifying PHP. There are a number of related issues: https://github.com/Glavin001/atom-beautify/search?q=Error%3A+Could+not+find+%27php-cs-fixer%27.+The+program+may+not+be+installed.&type=Issues&utf8=%E2%9C%93
I think a good one may be: https://github.com/Glavin001/atom-beautify/issues/394#issuecomment-111220120

See https://github.com/FriendsOfPHP/PHP-CS-Fixe

[2017-01-02 02:15] #1324 closed

[2017-01-02 05:46] Glavin001 commented on #1327
I see in your `debug.md` you are only using the `Config Options` (Atom-Beautify's package settings) not the `Project Options` (`.jsbeautifyrc`). I do see `space_after_anon_function` is not available for Vue: https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#vue
You could simply create a `.jsbeautifyrc` file with `{ "vue": { "space_after_anon_funciton": true } }` since all opti

[2017-01-02 06:21] ChandraKantPaliwal opened #1433 "unable indent properly"
https://gist.github.com/ChandraKantPaliwal/0732b005485be45696eb988c68e0344a

[2017-01-02 06:38] Glavin001 commented on #1327
~~I was able to reproduce the issue and also dived into some analysis. It appears Pretty Diff works with `space_after_anon_function` however JS-Beautify does not! See my `debug.md` for example: https://gist.github.com/Glavin001/f2ddbae9dac7b26134f00bf41cdd2405#final-options
And JS-Beautify is used within the Vue beautifier: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/vue

[2017-01-02 06:48] Glavin001 commented on #1327
I've added `JavaScript` options to Vue docs: https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#vue
Hope that helps!

[2017-01-02 06:48] #1327 closed

[2017-01-02 08:41] afrz opened #1434 "Atom 0.29.16 update fails"
# Description

Installation/update failure of atom-beautify 0.29.16 on Windows 7 x64.

# Steps to Reproduce

1. Try to install 0.29.16 (through Atom GUI or apm CLI)
2. Installing “atom-beautify@0.29.16” failed.

# Debug

[https://gist.github.com/afrz/046daf8f44f10d53d3bbd30d052cde04](https://gist.github.com/afrz/046daf8f44f10d53d3bbd30d052cde04)

``'D:\Program' n'est pas reconnu en tant que comman

[2017-01-02 09:18] rejhgadellaabsl commented on #1434
+1. With me the problem seems to be the space in my Windows user name. (I know, spaces are evil but when you use Windows or Mac, they slip in easier..)

I did update nodejs/npm to the latest stable version (6.9.2 and 3.10.9 respectively) as suggested just to rule that out.

[code]

[2017-01-02 14:57] albuic commented on #1434
Hello,
I confirm the bug on win7 (Windows_NT 6.1.7601).
I have the same error log and also have a space in my name which seems to be the problem.
Happy new year ;-)

[2017-01-02 15:47] Glavin001 commented on #564
Published #1010 to v0.29.8

[2017-01-02 15:59] Glavin001 commented on #976
This issue is a duplicate of https://github.com/Glavin001/atom-beautify/issues/371

[2017-01-02 16:00] Glavin001 commented on #969
This issue is a duplicate of https://github.com/Glavin001/atom-beautify/issues/371

[2017-01-02 16:00] #969 closed

[2017-01-02 16:16] Glavin001 commented on #1373
The error message should currently include the `help.link` value for the respective beautifier: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/beautifier.coffee#L212-L213

[code]

The `help.link` value would be the link to the documentation, such as for autopep8, which includes installation instructions.

However, this has been in place since 2015:
- https://github.com/Glav

[2017-01-02 16:23] Glavin001 commented on #451
Published to v0.29.15

[2017-01-02 16:28] Glavin001 commented on #1052
Command `Atom Beautify: Help Debug Editor` has been improved. If you are experiencing this issue it is because your environment is not correctly setup. We can help with a provided `debug.md` Gist generated from `Atom Beautify: Help Debug Editor`.

[2017-01-02 16:29] Glavin001 commented on #1052
I'm closing this as a duplicate of the many existing Issues: https://github.com/Glavin001/atom-beautify/search?q=Could+not+find+%27php-cs-fixer%27.+The+program+may+not+be+installed.&state=closed&type=Issues&utf8=%E2%9C%93

[2017-01-02 16:29] #1052 closed

[2017-01-02 16:36] Glavin001 commented on #209
@robsonenke it was not implemented like that in the Pull Request #623. Feel free to submit a Pull Request to fix it! Thanks in advance!

[2017-01-02 21:36] jeffjg commented on #1213
+1. Also happening for me.

[2017-01-02 22:30] Glavin001 commented on #1213
I do not fully understand why disabling the plugin is required course of action, as this issue appears only with `Beautify On Save` enabled -- correct me if I am wrong -- and `Beautify On Save` can simply be disabled -- and is disabled by default -- therefore still providing value using quick keyboard shortcuts.

Regardless, I do want to resolve this bug.

Questions for anyone able to reproduce th

[2017-01-02 22:48] Glavin001 commented on #1434
I think you may need to contact Atom team. See https://github.com/atom/apm/issues
I am not sure how `apm` is constructing and executing the arguments, they may need to escape spaces.

It looks like this may no longer be an issue with newer Atom? See https://github.com/atom/apm/issues/535#issuecomment-222390577

[2017-01-02 22:49] Glavin001 commented on #1329
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-02 22:49] #1329 closed

[2017-01-02 22:58] Glavin001 commented on #393
Instructions on adding a new language (such as Liquid) can be found at https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md#how-to-add-a-language
Let me know if you have any questions! Feel free to submit a Pull Request earlier than later so we can discuss changes, etc. Thanks in advance!

[2017-01-02 23:01] Glavin001 commented on #974
@rr20eid10 JSX should be supported now by JS-Beautify and Pretty Diff beautifiers.

[2017-01-02 23:01] #974 closed

[2017-01-02 23:03] Glavin001 commented on #1320
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-02 23:03] #1320 closed

[2017-01-02 23:04] Glavin001 commented on #1328
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-02 23:04] #1328 closed

[2017-01-02 23:05] Glavin001 commented on #951
Bash is now supported: #451.

[2017-01-02 23:25] Glavin001 commented on #1338
If you look at the [AppVeyor build logs](https://ci.appveyor.com/project/Glavin001/atom-beautify) you'll see the build for Windows is not failing because of Atom-Beautify installation but because of third-party packages, such as `rubocop`, not installing correct. The file https://github.com/Glavin001/atom-beautify/blob/master/appveyor.yml needs to be updated.

While the AppVeyor configuration has

[2017-01-02 23:25] #1338 closed

[2017-01-02 23:26] Glavin001 commented on #1340
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-02 23:26] #1340 closed

[2017-01-02 23:31] Glavin001 commented on #1342
Closing as a Pretty Diff bug, fixed with https://github.com/prettydiff/prettydiff/issues/385

[2017-01-02 23:31] #1342 closed

[2017-01-02 23:41] Glavin001 commented on #1344
[code]

becoming

[code]

is caused by the two additional `\n` wrapping the beautified code: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/vue-beautifier.coffee#L29

This can be fixed. I recommend submitting a Pull Request and I would be happy to review and merge it.

[code]

might be a Pretty Diff bug: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers

[2017-01-02 23:47] Glavin001 commented on #1351
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-02 23:47] #1351 closed

[2017-01-02 23:52] Glavin001 commented on #1114
I'm closing this as resolved by reconfiguring line-ending-selector package. Please let me know if this is incorrect assessment and this issue can be reopened. Thanks!

[2017-01-02 23:52] #1114 closed

[2017-01-03 00:08] Glavin001 commented on #644
Closing as a duplicate of https://github.com/Glavin001/atom-beautify/issues/894

[2017-01-03 00:08] #644 closed

[2017-01-03 00:10] Glavin001 commented on #1145
@tortilaman and @Foo42 are you still experiencing this issue?

[2017-01-03 00:12] Glavin001 commented on #709
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

This issue

[2017-01-03 00:12] #709 closed

[2017-01-03 00:34] Glavin001 commented on #1200
Closing as a duplicate of https://github.com/Glavin001/atom-beautify/issues/448

[2017-01-03 00:34] #1200 closed

[2017-01-03 00:38] Glavin001 commented on #448
As soon as someone submits a Pull Request implement it 😜.

See https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md for how to add a language and a beautifier to Atom-Beautify.
Let me know if you have any questions! It looks like @ubeyou commented what was necessary: https://github.com/Glavin001/atom-beautify/issues/448#issuecomment-191680738
However, I woul

[2017-01-03 00:51] Glavin001 commented on #793
It looks like `.rubocop.yml` is only found from the first project's path instead of including home directory: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/rubocop.coffee#L31
This can be improved to find `.rubocop.yml` file by looking recursively up directories. See https://github.com/Glavin001/atom-beautify/blob/1f312a94cc45ec398bc822b1d067a9c2f815eaf6/src/beautifiers/php

[2017-01-03 00:53] Glavin001 commented on #1352
It looks like you need to properly install yapf. See https://github.com/google/yapf#installation for details.

[2017-01-03 00:53] #1352 closed

[2017-01-03 00:56] Glavin001 commented on #1363
I think https://github.com/Glavin001/atom-beautify/pull/1205 will accomplish this.

[2017-01-03 01:02] Glavin001 commented on #1364
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

This issue

[2017-01-03 01:02] #1364 closed

[2017-01-03 01:13] Glavin001 commented on #720
Fixed all files in 0.209 seconds, 5.500 MB memory used

Looks to me this worked as expected, from an Atom-Beautify perspective.

Also PHP language and PHP-CS-Fixer beautifier appear to not support indentation:
- https://github.com/Glavin001/atom-beautify/blob/master/src/languages/php.coffee#L24
- https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/php-cs-fixer.coffee#L66-L71

Fu

[2017-01-03 01:13] #720 closed

[2017-01-03 01:14] Glavin001 commented on #1204
Looks like a duplicate of https://github.com/Glavin001/atom-beautify/issues/457 feature request.

[2017-01-03 01:14] #1204 closed

[2017-01-03 01:15] Glavin001 commented on #1390
Duplicate of https://github.com/Glavin001/atom-beautify/issues/457 which will allow both PHP and HTML beautifier applied to single file.

[2017-01-03 01:15] #1390 closed

[2017-01-03 01:38] Glavin001 commented on #1293
Let us know if you need more help. Issues like this are often problems with `apm` installing and reinstalling Atom-Beautify can resolve them.

[2017-01-03 01:38] #1293 closed

[2017-01-03 01:48] Glavin001 commented on #1360
There is a feature request already: #897. Definitely something I want to investigate and support in the future! Closing as a duplicate.

[2017-01-03 01:48] #1360 closed

[2017-01-03 01:51] Glavin001 commented on #1370
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-03 01:51] #1370 closed

[2017-01-03 01:54] Glavin001 commented on #1175
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

---

Can y

[2017-01-03 01:59] Glavin001 commented on #1333
The implementation for `vue-format` and Atom-Beautify's `vue-beautifier` are different, although they follow the same idea. See:
- https://github.com/LeslieYQ/vue-format/blob/master/lib/vue-format.coffee#L27-L66
- https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/vue-beautifier.coffee#L14-L48

I would be happy to review and merge a Pull Request from someone else implementing a

[2017-01-03 02:00] Glavin001 commented on #1333
I've switched from `third-party-bug` to `bug` because the code for `vue-beautifier` resides within Atom-Beautify. It will eventually be separated from the core after #1174 is complete.

[2017-01-03 02:01] Glavin001 commented on #1371
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-03 02:01] #1371 closed

[2017-01-03 02:01] Glavin001 commented on #1372
Please provide more information. What is your expected result? This issue can be reopened once we have the appropriate information to help you.

[2017-01-03 02:01] #1372 closed

[2017-01-03 02:03] Glavin001 commented on #1113
Recent Atom-Beautify has a new `Help Debug Editor` command. Please give it a try if you would like some assistance!

Thank you.

[2017-01-03 02:06] Glavin001 commented on #764
I'd love to see a Pull Request implementing something in this direction! Major changes are happening for #1174 and if this is the right direction then I would want this improvement to be in the next major release! Thanks in advance.

[2017-01-03 02:07] Glavin001 commented on #1368
Closing as duplicate of https://github.com/Glavin001/atom-beautify/issues/940

[2017-01-03 02:07] #1368 closed

[2017-01-03 02:12] Glavin001 commented on #1012
Looks like https://github.com/Glavin001/atom-beautify/issues/457#issuecomment-204499368 will address this issue, by allowing both HTML and JavaScript beautifiers to be applied to the same file. Closing as a duplicate feature request.

[2017-01-03 02:12] #1012 closed

[2017-01-03 02:15] k4rtik commented on #1113
@Glavin001 thank you for your help, but I cannot reproduce this bug anymore. If no one else has encountered this issue, please feel free to close it.

[2017-01-03 02:17] Glavin001 commented on #1387
It appears your `debug.md` is actually for a CoffeeScript file and this issue is about CSS. Please replace your `debug.md` with the correct one demonstrating your issue.

[2017-01-03 02:19] Glavin001 commented on #1391
Sounds like a duplicate of #1213.

[2017-01-03 02:19] #1391 closed

[2017-01-03 02:23] Glavin001 commented on #1386
Closing as a Pretty Diff bug.

[2017-01-03 02:23] #1386 closed

[2017-01-03 02:28] Glavin001 commented on #1312
@PolGuixe and @hielfx , have you tried switching to using `JS Beautify` beautifier instead? It appears Pretty Diff's Issue https://github.com/prettydiff/prettydiff/issues/397 has not been completed.

I am closing this as a third-party (Pretty Diff) bug. Hopefully JS Beautify does work at least.

[2017-01-03 02:28] #1312 closed

[2017-01-03 02:33] Glavin001 commented on #1348
It appears Fortran beautifier for Atom-Beautify does not yet support `indent_size` option, or any other options for that matter: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/fortran-beautifier/index.coffee#L28-L35

See Pull Request: https://github.com/Glavin001/atom-beautify/pull/383
Maybe @janbernloehr would be able to assist you, @MrYann, in adding `indent_size` support

[2017-01-03 02:42] Glavin001 commented on #1396
and

This is the kind of confusion I do not want to see. I must *insist* the `debug.md` be included within new Issues before we ( @prettydiff, myself, et al.) invest any time in analyzing and debugging the issue. @prettydiff please use `waiting-for-user-information` label in all applicable cases where `debug.md` is missing, such as this one. Instead of asking "what beautifier are you using?" we sh

[2017-01-03 02:47] Glavin001 commented on #1406
Documentation for available JavaScript options can be found at https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#javascript

You could ask at https://github.com/beautify-web/js-beautify/issues or https://github.com/prettydiff/prettydiff/issues for assistance (depending on your selected beautifier). Since I do not see your `debug.md` Gist link -- which would have told me your s

[2017-01-03 02:47] #1406 closed

[2017-01-03 02:48] Glavin001 commented on #1407
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2017-01-03 02:48] #1407 closed

[2017-01-03 02:51] Glavin001 commented on #1376
For future issues:

Thank you.

I am closing this as a CSSComb bug: https://github.com/csscomb/csscomb.js/issues/494

[2017-01-03 02:51] #1376 closed

[2017-01-03 02:54] Glavin001 commented on #1411
Lua beautifier was merged from https://github.com/Glavin001/atom-beautify/pull/973 and developed  by @JoostvDoorn. Maybe @JoostvDoorn would be able to provide some assistance?

[2017-01-03 03:01] Glavin001 commented on #1413
at Error (native)
  errno: -13,
  code: 'EACCES',
  syscall: 'open',
  path: '.atom-beautify.undefined' } undefined

Looks like the applicable code is:
- https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/clang-format.coffee#L67
- https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/clang-format.coffee#L25-L38

This was implemented in Pull Request https://gith

[2017-01-03 03:02] Glavin001 commented on #1433
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

This issue

[2017-01-03 03:02] #1433 closed

[2017-01-03 04:13] #1396 closed

[2017-01-03 05:01] Glavin001 commented on #894
I am working on this right now.

A couple changes:
- Atom-Beautify's language options (such as `indent_size` and `indent_char`) do not need default values
- `postinstall` script in `package.json` will be removed
  - The `options.json` will be pre-generated before publishing and therefore not cause any more issues upon installation with `apm install atom-beautify`

I have it working right now: http

[2017-01-03 05:07] seangates commented on #894
@Glavin001 Thank you!!

[2017-01-03 05:56] Schepp98 opened #1435 "Issue Installing"
atom-beautify will not install for me. I am receiving the following error message:

Installing “atom-beautify@0.29.16” failed.Hide output…
INFO: Could not find files for the given pattern(s).

The system cannot find the file specified.

npm ERR! addLocal Could not install C:\Users\Student\AppData\Local\Temp\d-11702-18496-icxu2x\package.tgz
npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Users\\S

[2017-01-03 06:04] Glavin001 commented on #894
Looks like it will not be as simple as I had hoped. Setting the config defaults to `undefined` or `null` causes Atom's [Settings View](https://github.com/atom/settings-view) to not show the option!

![image](https://cloud.githubusercontent.com/assets/1885333/21600620/b79ae6a8-d155-11e6-95c7-2fab85bea647.png)

Here is a snippet of the example schema I am testing:

[code]

Settings View uses `settin

[2017-01-03 06:45] timothyerwin commented on #836
I had the same problem...I had to change the file type in Atom to "JavaScript" as it was set to "Babel ES6 Javascript"

[2017-01-03 06:57] ChandraKantPaliwal opened #1436 "invalid indentation for html code"
# Description
when i indent code then wrong indentation done in html. In this end tag keep in same line

The results of beautification are not what I expect.
proper indetation like with end tag
# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Output

The beautified code actually

[2017-01-03 06:59] ChandraKantPaliwal commented on #1433
i have create new issue with full detail.
https://github.com/Glavin001/atom-beautify/issues/1436

[2017-01-03 10:51] sybrenstuvel commented on #482
Nope, I cannot reproduce any more.

**Atom Version**: 1.12.7

**Atom Beautify Version**: 0.29.16

[2017-01-03 11:12] afrz commented on #1434
Thanks you for your response. I use lastest stable Atom version.
I created an issue in **apm** repository (see atom/apm#666). I will keep you posted.

But for @albuic and @rejhgadellaabsl it seems that atom/apm#659 will fix your problems (space in your username).

[2017-01-03 14:53] tommai78101 commented on #1387
Sorry, this is the actual debug.md

[debug.md](https://gist.github.com/anonymous/af9049f7ff7e9319e943c9ac624789a0)

[2017-01-03 15:27] fspafford commented on #951
Thank you!

[2017-01-03 17:22] pbakondy commented on #1434
I have the same issue on Mac OSX

[code]

[2017-01-03 17:48] Glavin001 commented on #1434
Closing this issue as an `apm` bug, which I described reasoning in https://github.com/atom/apm/issues/666#issuecomment-270175194

[2017-01-03 17:48] #1434 closed

[2017-01-03 21:25] jolsenmultiad commented on #1435
I'm only a fellow user and I'm just guessing here, but it seems like you're a student and perhaps trying to install it on a school computer where you do not have the proper permissions.  This guess is based on the following two lines in your output:

If you have administrative access, try running atom as an administrator and let it do the updates. If you don't have administrative access, you might

[2017-01-03 21:49] derwaldgeist commented on #1182
Any updates on a workaround? This bug is quite annoying. :-)
It always happens if a scss file is empty.

[2017-01-04 03:29] joshuaavalon opened #1439 "Incorrect brace style behavior for JSON and JavaScript"
# Description

Latest update changes the brace style behavior for JSON and JavaScript. I was use the default config for both JSON and JavaScript. After the update, the formatted file looks different than the one before update.

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified code should have looked like this:

[code]

# Actual Out

[2017-01-04 04:38] hyunchi commented on #1293
when i git clone
TypeError: require(...).Lexer is not a function

[2017-01-04 04:42] Glavin001 commented on #1439
The final options passed to `JS Beautify` are

[code]

It looks like a `JS Beautify` issue you could forward to https://github.com/beautify-web/js-beautify/issues
Also, you could try changing the beautifier to `Pretty Diff` and seeing if it helps at all.

[2017-01-04 04:42] amezng commented on #1130
After upgrading, I am not facing this issue. Thanks a ton.

[2017-01-04 04:42] #1439 closed

[2017-01-04 04:44] Glavin001 commented on #1130
Awesome to hear!

[2017-01-04 04:44] #1130 closed

[2017-01-04 05:47] Glavin001 commented on #1436
Thanks for all of the info! I see the beautifier being used is `JS Beautify` so you should also take a look at https://github.com/beautify-web/js-beautify/issues/ to see if your issue already exists or create a new one.

[2017-01-04 06:07] ChandraKantPaliwal commented on #1436
its new issue please help, whats wrong going on with it.

[2017-01-04 07:41] PierreBrisorgueil commented on #477
hello, same error for me.

work with CSScomb.

[2017-01-04 08:13] hanshamm opened #1440 "Request: Beautify Plant UML"
It would be awesome to have beautify support for plantUML language (https://en.wikipedia.org/wiki/PlantUML)

[2017-01-04 08:22] yujishe opened #1441 "Could not find 'uncrustify'. The program may not be installed."
Could not find 'uncrustify'. The program may not be installed.
See http://sourceforge.net/projects/uncrustify/ for program installation instructions.
Your program is properly installed if running 'where.exe uncrustify' in your CMD prompt returns an absolute path to the executable. If this does not work then you have not installed the program correctly and so Atom Beautify will not find the program

[2017-01-04 08:25] yujishe commented on #1441
I have already installed.Well, the mouse right button has this menu.but it dosen't working.

[2017-01-04 12:20] PolGuixe commented on #1312
@Glavin001 I've tried JSBeautify, it lacks support for other features that Pretty Diff have.

[2017-01-04 14:28] ProgramFan commented on #1413
I can not reproduce the issue on macOS with atom 1.12.7. When the file is not saved, atom-beautify complains about no beautifiers. When the file is saved as test.c, the beautifier works correctly.

I don't know why your file get an name of 'undefined'. Maybe you have not created any project in atom yet? Even in that case, '.atom-beautify.undefined' shall be created correctly if you have write perm

[2017-01-04 14:43] mosesontheweb opened #1442 "Can't install 0.29.16 on portable Atom"
I tried to update my existing 0.29.14 package to the most actual version 0.29.16, suggested by Atom, which did not succeed. I then did the mistake to uninstall the running version 0.29.14 and tried to install 0.29.16 - no success again. I also tried to copy the package 0.29.14 again into the .atom/packages directory, no luck so far. The module even did not show up in the packages list.

Informatio

[2017-01-04 19:36] jipp opened #1443 "cannot be installed on osx"
# Description

the latest version cannot be installed under osx

npm WARN deprecated node-uuid@1.4.7: use uuid module instead
npm WARN engine remark@6.2.0: wanted: {"node":">=0.11.0"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN engine typescript-formatter@2.3.0: wanted: {"node":">= 4.2.0"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN engine remark-parse@2.2.0: wanted: {"node":">

[2017-01-04 22:51] prettydiff commented on #1396
Something I noticed is that the sample block of code begins and ends as markup.  It is my understanding that JSX is a JavaScript format containing XML bodies, that is that it would start and end as JavaScript.  **Is this an incorrect understanding?**

In the latest version of Pretty Diff beautification appears correct if I put this `var a = ` at the front of the code sample.

[2017-01-04 22:55] prettydiff commented on #1435
@Schepp98 could you respond in a comment validating or invalidating the assumption provided by @jolsenmultiad ?

If this assumption is not valid then try `apm install atom-beautify` to gather any missing components.

[2017-01-04 23:19] prettydiff commented on #1436
The only problem that I see in the output is that the inner closing div tag `</div>` is not indented.  I am not sure why that is.  Perhaps what you dislike is that the attributes are indented.  I ran this code sample through jsbeautifier.org (since JS Beautify is the beautifier you used in Atom Beautify) and everything looked good there, though attributes are not indented by default.

[2017-01-04 23:23] prettydiff commented on #1441
When you type `where.exe uncrustify` in your command prompt what do you get?

[2017-01-04 23:28] #951 closed

[2017-01-04 23:36] prettydiff commented on #1312
I will return focus to this.  Sorry, I have been distracted recently by a seemingly simple problem that I cannot solve in another project.

[2017-01-04 23:41] prettydiff commented on #393
I am closing this issue as Liquid support is long since added to Pretty Diff.  Please follow the guidance from Glavin for extending language support in Atom Beautify.

[2017-01-04 23:55] prettydiff commented on #1182
@derwaldgeist You could clone down Pretty Diff from github and then copy it over the Pretty Diff used by Atom Beautify.

`git clone git@github.com:prettydiff/prettydiff.git`

To look for the Pretty Diff that comes with Atom Beautify try looking in:

`.atom/packages/atom-beautify/node_modules`

If you are on Windows the .atom directory is typically located in %appdata%.

[2017-01-04 23:58] prettydiff commented on #1293
@hyunchi try reinstalling  `apm install atom-beautify`

[2017-01-05 00:29] prettydiff commented on #1344
I am not able to reproduce the extra new lines around `.counter` and Pretty Diff provides no support for SASS lang.  SCSS, yes, but not SASS.

[2017-01-05 00:55] yujishe commented on #1441
This command is used ,and then the tip is used to provide the mode,unable to find the file.
"C:\Users\yu>where.exe uncrustify
信息: 用提供的模式无法找到文件。"
@prettydiff

[2017-01-05 01:01] prettydiff commented on #725
@Glavin001 TypeScript supports type generics (just like Java since version 7).  A type generic is a custom defined data type assigned to a reference called with angle braces.  So `<string>` would be a generic type named *string*.  Generic types technically aren't tags and don't have a closing pair.

I was able to get Generic Types to work flawlessly for Java and C# but not TypeScript.  The big dif

[2017-01-05 01:07] prettydiff commented on #522
Yeah, the current status of biddle is that the copy functionality is broke.

I attempted to publish an update to Pretty Diff with biddle and one of the file zip files was missing files.  I have rewritten the copy function from scratch and it is encountering an async problem when I test it on Windows.  I will publish specifics when I get home, because I have been struggling with this for 2-3 weeks

[2017-01-05 01:11] prettydiff commented on #1282
I just looked at this again and it seems the code samples are defective.  The extra spaces appear because you are nesting double quotes inside a double quoted attribute value, which really means you are ending the attribute value and creating a new attribute value.  Instead use single quotes for the nested values.

[2017-01-05 02:43] danielunderwood commented on #554
I would enjoy this as well, but there doesn't seem to be too much out there for linting CMake files. The only thing that I could find was [cmake-lint](https://github.com/richq/cmake-lint), which currently doesn't have the functionality for automatically correcting errors. I imagine that this may be partially due to the variation of styles people use in writing CMake files.

[2017-01-05 03:54] davidtaylorjr opened #1444 "Cannot find module './config/npm-config'"
Can't run atom-beauify says failed to activate.

1. ... edit style.css
2. ...

**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Home
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.16

### Stack Trace

Failed to activate the atom-beautify package

[code]

### Commands

[code]

### Config

[code]

### Installed Packag

[2017-01-05 04:32] adammeola01 commented on #136
gives me a pinwheel dialogue that doesn't terminate...

[2017-01-05 04:40] hyunchi commented on #1293
But net fast very slow in china,when I use apm install,

[2017-01-05 04:42] ChandraKantPaliwal commented on #1436
in the .jsbeautifyrc file configuration.
Is any issue in this ?
{
  "html": {
    "brace_style": "collapse",
    "indent_char": " ",
    "indent_scripts": "normal",
    "indent_size": 2,
    "max_preserve_newlines": 1,
    "preserve_newlines": true,
    "unformatted": ["a", "sub", "sup", "b", "i", "u"],
    "wrap_attributes": "force",
    "wrap_attributes_indent_size": 2,
    "wrap_line_length": 8

[2017-01-05 04:53] prettydiff commented on #1436
Your options look pretty basic, so I don't believe they are responsible for any kind of problem.

[2017-01-05 04:54] prettydiff commented on #1293
If it is very slow in China I suspect that might explain a huge number of issues we see with missing dependencies.

[2017-01-05 04:55] prettydiff commented on #1444
I would recommend trying this from the command line `apm install atom-beautify` and let me know how this works out.

[2017-01-05 04:58] davidtaylorjr commented on #1444
That is how I installed it to start. I install everything from CLI
On 1/4/2017 11:55:35 PM, Austin Cheney <notifications@github.com> wrote:
I would recommend trying this from the command line apm install atom-beautify and let me know how this works out.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub [https://github.com/Glavin001/atom-beaut

[2017-01-05 05:04] prettydiff commented on #1444
Would you mind trying one more time to see if it catches any missing dependencies.

[2017-01-05 05:08] prettydiff commented on #136
@adammeola01 Would you mind creating a new issue for that and following the template with the required information?  That way we can triage and diagnose it properly.

[2017-01-05 05:36] prettydiff commented on #522
Status: https://github.com/prettydiff/biddle/issues/25#issuecomment-270567516

This has really been stumping me.

[2017-01-05 05:36] hyunchi commented on #1293
And so you are,apm cannot be used probably Chinese Government's Network firewall

[2017-01-05 10:04] Guy-Markman opened #1445 "Can't update from 0.29.14 to 0.29.16"
# Description

I'm trying to update it from 0.29.14 to 0.29.16 using cmd (apm update) and I always get errors.

Installing atom-beautify@0.29.16 to C:\Users\Guy and Noam\.atom\packages failed

tall-dir-11705-444-ipu1g2\node_modules\atom-beautify

C:\Users\GUYAND~1\AppData\Local\Temp\apm-install-dir-11705-444-ipu1g2
`-- (empty)

npm WARN deprecated node-uuid@1.4.7: use uuid module instead
npm WARN

[2017-01-05 14:25] jolsenmultiad commented on #1445
I think this is a duplicate of #1043

[2017-01-05 14:43] jolsenmultiad commented on #1445
And #1434, which is now closed by means of atom/apm#666

[2017-01-05 15:26] #1043 closed

[2017-01-05 15:57] #1445 closed

[2017-01-05 16:00] Jaredra opened #1446 "ColdFusion (CFML) - Last Line Comment Getting Removed"
# Description

The results of beautification are not what I expect. It removes the final end comment tag (Which for CFML is a '--->' string). If the file does not end in a comment it does not cause issues, but when it pulls this out it results in a 500 error for the whole page. @prettydiff as I see you are pretty active here and this package is using your code for CFML. Thanks!

# Input Before Bea

[2017-01-05 16:13] Glavin001 commented on #1444
at Function.Module._resolveFilename (C:\Users\davidtaylorjr\AppData\Local\atom\app-1.12.9\resources\app.asar\src\module-cache.js:383:52)

Looking at this it appears to be an Electron issue with this file: https://github.com/electron/electron/blob/master/lib/common/reset-search-paths.js
I recommend you ask over there as it looks to be out of Atom-Beautify's control. Please link back to this issue s

[2017-01-05 16:13] #1444 closed

[2017-01-05 16:17] prettydiff commented on #1446
Please submit the required debug.md file to a gist before we can assist you.

[2017-01-05 16:22] Jaredra opened #1447 "ColdFusion (CFML) Removing Lines from Within <cfquery> Tag"
# Description

Just came across this one and it seems to be a big problem. It's actually removing whole lines of code from within a <cfquery> tag. I've isolated it with the code below and it should be reproduce-able. @prettydiff @Glavin001 Edit: Added the debug.md below. Thanks!

# Input Before Beautification

This is what the code looked like before:

[code]

# Expected Output

The beautified cod

[2017-01-05 16:28] davidtaylorjr commented on #1444
Ok I submitted the issue there, hopefully they will figure it out.
On 1/5/2017 11:13:11 AM, Glavin Wiechert <notifications@github.com> wrote:
at Module._resolveFilename (C:\Users\davidtaylorjr\AppData\Local\atom\app-1.12.9\resources\electron.asar\common\reset-search-paths.js:35:12)
at Function.Module._resolveFilename (C:\Users\davidtaylorjr\AppData\Local\atom\app-1.12.9\resources\app.asar\src\modu

[2017-01-05 16:36] Jaredra commented on #1446
https://gist.github.com/Jaredra/e7de28a489bb60189914e7fcc92e7a18

Sorry about that, first time using git and wasn't aware of the protocol. I assume this is acceptable for both issues?

[2017-01-05 16:36] Jaredra commented on #1447
https://gist.github.com/Jaredra/e7de28a489bb60189914e7fcc92e7a18

[2017-01-05 16:41] ghost opened #1448 "Use globally installed cljfmt package as beautifier executable"
I installed cljmt with npm -g node-cljfmt  here

    C:\Users\rwobb\Desktop\clojure\paintings2>npm install -g node-cljfmt
C:\Users\rwobb\AppData\Roaming\npm\cljfmt -> C:\Users\rwobb\AppData\Roaming\npm\node_modules\node-cljfmt\bin\cljfmt
node-cljfmt@0.5.3-1 C:\Users\rwobb\AppData\Roaming\npm\node_modules\node-cljfmt

but still in node I get this error message :

    Could not find 'C:\Users\rwobb.

[2017-01-05 17:37] prettydiff commented on #1448
I wonder if this is an Atom defect.

[2017-01-05 18:52] davidtaylorjr commented on #1444
@Glavin001 just an update. I did a global install of Winston using NPM and it resolved the issue. Package workign great.

[2017-01-05 19:09] prettydiff commented on #1447
I cannot reproduce this defect in either the latest version of Pretty Diff or in the 1.16.37 version used in Atom Beautify.  I can reproduce the defect though in Atom.  I ran some tests and conclude the defect is in lib/markuppretty.js of Pretty Diff on line 2585.

I will modify the logic to solve for this problem.

[2017-01-05 19:17] Jaredra commented on #1447
Thank you! I really appreciate the speedy turnaround. I'd be looking at some really ugly code without Pretty Diff, so I'm glad I can continue using it.

[2017-01-05 19:20] prettydiff commented on #1446
I am having trouble reproducing this issue at all.  Would you be able to provide a small code sample that demonstrates this problem?

[2017-01-05 19:32] Jaredra commented on #1446
Yep, just narrowed it down to nested comments. Running Beautify on this code will remove the last ending comment tag:

`

 --->`

[2017-01-05 20:03] prettydiff commented on #1446
I can reproduce the defect in the older version of Pretty Diff that is currently in Atom Beautify, but not in the latest version.  At some point I must have fixed this.... probably by accident.

Really, though, nested comments shouldn't work in practice.  So, I would recommend adjusting your code.  The parsing rules for markup stipulate that once a code comment is opened it runs until either the c

[2017-01-05 20:09] Jaredra commented on #1446
I see what you are saying and that definitely makes sense. The only pragmatic argument I can provide against that is when you are coding something, including semantic comments along the way, and then need to debug/comment out a block for whatever reason. But I can work around this one now that I'm aware of it.

Thanks again for looking into this, you sir are a godsend.

[2017-01-05 20:13] prettydiff commented on #1446
Thank you for contributing (and the kind words).

[2017-01-05 20:40] damieng opened #1449 ""loading nunjucks" appears in Atom console"
# Description

```loading nunjucts``` appears in the Atom console;

![image](https://cloud.githubusercontent.com/assets/118951/21696594/a30de61e-d343-11e6-8c77-3fb35c882167.png)

# Expected Output

No console output.

# Fix

Remove this line - no other languages in Atom beautify do this -
https://github.com/Glavin001/atom-beautify/blob/70dbad5819ffc0bc95eb9de55cf6b44910498b0e/src/languages/nunjuck