[2016-07-01 09:57] prettydiff commented on #1036
I agree that this should be a blanket enhancement for all languages.  I was surprised to discover this didn't work.

[2016-07-01 13:37] Glavin001 commented on #1038
From your `debug.md` it shows the selected beautifier as `Rubocop` not `Ruby Beautify`: https://gist.github.com/mbigras/032f595212a9fa3a049a4ba1bf527e90#original-file-to-be-beautified

I recommend switching this in the Atom-Beautify package settings using [`settings-view`](https://github.com/atom/settings-view).

Let me know if you still are having issues and please provide another `debug.md`. Tha

[2016-07-01 15:33] mbigras commented on #1038
Thanks @Glavin001, that took care of it! And also thanks for such an awesome debug report/atom package :)

[2016-07-01 15:46] Glavin001 commented on #1038
Awesome to hear!

You're very welcome. Glad it can help you and the rest of the developer community 😄 .

[2016-07-01 15:46] #1038 closed

[2016-07-01 15:51] Glavin001 commented on #505
This may work: http://stackoverflow.com/a/34958345/2578205
I recommend the Python code.

I would accept a Pull Request adding a `Nginx` language and beautifier: https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md
Example language: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/python.coffee
Example beautifier: https://github.com/Glavin

[2016-07-01 16:01] Glavin001 opened #1039 "Beautifier Option Comparison Documentation"
Automatically generate additional documentation from language and beautifier options.

In this case, compare supported options for each beautifier of a given language.

Example:

| Option | PrettyDiff | JS-Beautify |
| --- | --- | --- |
| `brace_style` | ? | ? |
| `break_chained_methods` | ? | ? |
| `end_with_comma` | ? | ? |
| `end_with_newline` | ? | ? |
| `eval_code` | ? | ? |
| `indent_size` |

[2016-07-01 21:34] jostrander commented on #867
It looks like this was fixed in the third party library, any chance we can get support for it in atom-beautify now?

[2016-07-01 22:37] prettydiff commented on #867
As an update this issue was solved and published to Pretty Diff on 23 April.  I will doing work on a self-hosted module system this weekend, so that I can get automated fresh versions of Pretty Diff out to Atom Beautify.

[2016-07-02 00:44] RomarioLopezC opened #1040 "Add beautify for elixir/phoenix"

[2016-07-02 03:23] Glavin001 commented on #1040
Please provide a link to the language's documentation, including example code. Thank you.

[2016-07-02 03:27] Glavin001 commented on #457
No progress yet.

This sounds like a different issue / feature, which I think would also be great to have.
This Issue is about having multiple beautifiers for handling beautification of a complex file.
What you want would be a way for the default beautifier to be chosen dynamically given the current project. This would be simpler to accomplish. I'll have to think a little more about how I'd want t

[2016-07-02 15:20] mjanser opened #1041 "Dynamic beautifier per project"
Some projects define which beautifier should be used. This happens usually with a config file specific to a beautifier stored in project's root directory. For example in PHP there is [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) and [PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer) which use `.php_cs` and `phpcs.xml.dist` respectively.

It would be great if the plugin

[2016-07-02 15:21] mjanser commented on #457
Thank you for the information. I created a separate issue #1041 as suggested.

[2016-07-02 15:51] sleimanx2 commented on #722
+1

[2016-07-02 20:04] Glavin001 commented on #596
| Before | After |
| --- | ---- |
| ![image](https://cloud.githubusercontent.com/assets/1885333/16542239/dd92b766-4076-11e6-8667-0e66cd9f4515.png) | ![image](https://cloud.githubusercontent.com/assets/1885333/16542240/df9bedb6-4076-11e6-98c3-0cbac446583b.png) |
| Original HTML | Beautified HTML |

[2016-07-02 21:44] Glavin001 commented on #596
![image](https://cloud.githubusercontent.com/assets/1885333/16542580/f32c798c-4084-11e6-9566-e0833fa61e85.png)

[2016-07-02 21:45] Glavin001 commented on #596
![image](https://cloud.githubusercontent.com/assets/1885333/16542583/1c8d975c-4085-11e6-8307-e35df7430a10.png)

[2016-07-02 21:50] Glavin001 commented on #596
| Select Code | Beautify Selected Code | Beautify Entire File |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/1885333/16542597/b3f90c84-4085-11e6-8a0e-1b8604ae385c.png) | ![image](https://cloud.githubusercontent.com/assets/1885333/16542598/b5a86b10-4085-11e6-80cf-0afaf1a819c3.png) | ![image](https://cloud.githubusercontent.com/assets/1885333/16542603/b798ec24-4085-11e6-

[2016-07-02 22:14] Glavin001 commented on #596
Setting up beautify on save

![atom-beautify-setup-beautify-on-save](https://cloud.githubusercontent.com/assets/1885333/16542692/3e781e74-4089-11e6-9cf2-5a19af161093.gif)

[2016-07-02 22:26] Glavin001 commented on #596
![image](https://cloud.githubusercontent.com/assets/1885333/16542727/db52adc6-408a-11e6-824e-04aed06bd2f7.png)

![image](https://cloud.githubusercontent.com/assets/1885333/16542728/dcac3700-408a-11e6-8e35-9c8fc4432edc.png)

[2016-07-02 22:28] #596 closed

[2016-07-03 01:57] Glavin001 commented on #1035
@prettydiff : this issue? https://github.com/npm/npm/issues/10686

[2016-07-03 04:18] prettydiff commented on #1035
Yes, that one.

[2016-07-03 04:38] #1035 closed

[2016-07-03 05:18] cdrandin opened #1043 "Failed to install"
Installing “atom-beautify@0.29.9” failed.Hide output…

npm WARN engine typescript-formatter@2.2.1: wanted: {"node":">= 4.2.0"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN engine glob-expand@0.2.0: wanted: {"node":">0.10 <=5"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN d

[2016-07-03 10:34] MikeLP opened #1044 "TypeError: Bad argument"
Never mind what I use - PHPCBF or PHP-CS-FIXER (was installed via brew), I always get next error. I have tried to reinstall beautify and reinstall atom and nothing. Separately (in terminal) that tools works fine.

`TypeError: Bad argument
    at TypeError (native)
    at ChildProcess.spawn (internal/child_process.js:274:26)
    at exports.spawn (child_process.js:374:9)
    at /Users/iyanello/.atom

[2016-07-03 11:37] prettydiff commented on #1043
Looks like not all the dependencies were downloaded.  Could you try this from the command line and let me know if it works:

    apm install atom-beautify

[2016-07-03 12:55] Glavin001 commented on #1044
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-03 12:58] Glavin001 commented on #1013
Could you re-generate the `debug.md`. The final options should show `indent_size: 4`, as you described. And then we can diagnose where that is coming from.

[2016-07-03 14:17] Glavin001 commented on #1027
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-03 14:21] #1024 closed

[2016-07-03 14:23] Glavin001 commented on #582
I do not think the `neverflatten` option is supported in Atom-Beautify yet. I would review and merge a Pull Request implementing it. Thanks.

[2016-07-03 14:26] Glavin001 commented on #1004
Please feel free to submit a Pull Request completing the following:
- Add a failing test code to `examples/`
- Implement fix
Thank you.

[2016-07-03 14:30] Glavin001 commented on #983
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-03 15:54] tugrul opened #1045 "Windows 10 - Source Path Too Long"
### Description

I tried update the packages but there is no respond from Atom. Also I uninstalled Atom, tried to remove folder `C:\Users\abcdefg\.atom\`

[code]

### Steps to Reproduce

1. Try to update atom-beautify module
2. Uninstall Atom
3. Try to remove folder `C:\Users\abcdefg\.atom\`

[2016-07-03 16:19] prettydiff commented on #1045
This defect is due to Atom using an old version of Node/NPM.  This is resolved with NPM 3 which intelligently collapses and normalizes the dependency tree.

[2016-07-03 16:24] prettydiff commented on #613
@AamuLumi I looked just now and could not reproduce the problem.  When I beautified the long defect sample in the first comment I get:

    var New = React.createClass({
        render() {
            return (<InputText
                valid={validate}
                value={this.state}
                onchange={this.handlesalarychange}
                label='test'
                onValidationErro

[2016-07-03 17:05] cdrandin commented on #1043
I still get the same issue.
It wants a node version and claims I have `0.10.40`, but when I do `node --version` it prints `v6.2.1`. My npm is on version `3.9.3`.

[2016-07-03 17:40] prettydiff commented on #1043
You probably have v6.2.1 manually downloaded to your computer.  Atom has a separate internal version of node running.

[2016-07-03 17:43] cdrandin commented on #1043
How would I go about updating it or set my own path?

[2016-07-04 01:00] prettydiff commented on #722
I looked over this and everything looks like it should already be supported by Pretty Diff.  The forcing of markup attributes each onto their own line is accomplished by the `force_attribute` option: http://prettydiff.com/documentation.xhtml#force_attribute

[2016-07-04 11:05] DavidGDD commented on #1043
I've similar problems:

npm WARN engine typescript-formatter@2.2.1: wanted: {"node":">= 4.2.0"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN engine glob-expand@0.2.0: wanted: {"node":">0.10 <=5"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN optional dep failed, continuing

[2016-07-04 13:17] Glavin001 commented on #1043
It might be a good idea to ask for `apm` help over at https://github.com/atom/apm

[2016-07-05 02:44] #1039 closed

[2016-07-05 02:48] Glavin001 commented on #1039
@prettydiff take a look at https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#javascript

What do you think?

| Option | JS Beautify | JSCS Fixer | Pretty Diff |
| --- | --- | --- | --- |
| `disabled` | :white_check_mark: | :white_check_mark: | :white_check_mark: |
| `default_beautifier` | :white_check_mark: | :white_check_mark: | :white_check_mark: |
| `beautify_on_save` | :wh

[2016-07-05 14:34] giovannibenussi opened #1046 "Javascript comment in last line doesn't beautify well"
I have found that in javascript with this code the beautification doesn't work well:

[code]

However, if I delete the last line the beautification works well:

[code]

If I remove the comment, it also works:

[code]

Regards!

[2016-07-05 14:45] prettydiff commented on #1046
Which beautifier are you using to beautify JavaScript?  The default is JS Beautify.

[2016-07-05 14:48] creativecag opened #1047 "PHP: Beautification removes readability spaces."
I'm honestly not entirely sure whether this is "expected behavior" or not but when beautify saves a PHP file, it removes spaces around constants and certain operators. I use those spaces to help readability. I'm not sure where it's happening. I'm using php-cs-fixer but I can't find a fixer that says this is what it's doing so I wanted to start here and see if I could at least figure out where it's

[2016-07-05 15:02] giovannibenussi commented on #1046
It is JS Beautify

[2016-07-05 15:05] prettydiff commented on #1039
Status of missing or unsupported options in Pretty Diff:

* `brace_style` - Pretty Diff supports this feature in a different way with the Pretty Diff options [braceline](http://prettydiff.com/documentation.xhtml#braceline), [bracepadding](http://prettydiff.com/documentation.xhtml#bracepadding), [braces](http://prettydiff.com/documentation.xhtml#braces), [formatObject](http://prettydiff.com/documen

[2016-07-05 15:06] prettydiff commented on #1046
I recommend opening an issue at https://github.com/beautify-web/js-beautify/issues

[2016-07-05 15:18] giovannibenussi commented on #1046
Ok, thankyou !

[2016-07-05 15:18] #1046 closed

[2016-07-05 17:02] Glavin001 commented on #1039
If you submit a Pull request to add those options to the internal Pretty Diff beautifier then run `npm run docs` and it will re-generate the documentation and beautifier option comparison tables.

[2016-07-05 17:36] prettydiff commented on #1039
Awesome!

[2016-07-05 19:47] pixelbacon commented on #509
This is a very brief code snipper. but basically, it's HTML with the addition to `g` tag and the function to run via `g:___` such as `<g:each></g:each>`.
[code]

[2016-07-05 19:59] prettydiff commented on #509
Sweet.  That looks like modified XML syntax.  Could you trying running some of your largest, most complex, and seriously aggressive code samples through http://prettydiff.com/?m=beautify

If that works for you then this will be a simple enhancement.

[2016-07-05 20:05] pixelbacon commented on #509
Yep, it worked on a pretty complex 125 line gsp that uses multiple `g` tags such as `g:each`, `g:render`, `g:if`, etc.

So pretty straight forward I think!

[2016-07-05 20:09] prettydiff commented on #509
In that case Pretty Diff is the default beautifier for XML in Atom Beautify.  Just submit a pull request with the necessary modifications to this file: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/xml.coffee

[2016-07-06 09:21] JJBocanegra commented on #892
@Glavin001 I tried your solution but it doesn't worked :(

[2016-07-06 14:40] wmcolodette opened #1050 "Trouble installing atom beautify on mac"
### Description

I'm getting the following issue when I try to install beautify. Can anyone help?

Unsupported target version: 0.36.8

npm WARN engine typescript-formatter@2.2.1: wanted: {"node":">= 4.2.0"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN engine glob-expand@0.2.0: wanted: {"node":">0.10 <=5"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN deprecated minimatch@2.0.10: P

[2016-07-06 14:43] prettydiff commented on #1050
Usually this issue is due to missing dependencies.  Try running this from the command line and let us know if it helps:

    apm install atom-beautify

[2016-07-06 14:47] wmcolodette commented on #1050
I tried doing that, and it reports the same error after about 4 minutes.

[2016-07-06 19:14] wmcolodette commented on #1050
Fixed it. Removed all node and node_module directories and uninstalled node, then reinstalled it.

[2016-07-06 19:14] #1050 closed

[2016-07-06 23:06] Feefty opened #1052 "Could not find 'php-cs-fixer'. The program may not be installed. windows 10"
### Description

I can run php and php-cs-fixer in my cmd

which php
`/c/xampp/php/php`

which php-cs-fixer
`/c/Users/Me/AppData/Roaming/Composer/vendor/bin/php-cs-fixer`

Here is my stacktrace

[code]

[2016-07-06 23:25] Glavin001 commented on #1052
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-07 02:14] duytrung opened #1053 "Update takes ages to complete"
Hi,

I just don't know whether the update of this plugin is by download from the website file-by-file or whole zipped package to the install. It took almost an hour to complete.

Was Atom download alot of files from repo to update the plugin?

Kind regards

TN

[2016-07-07 10:12] Feefty commented on #1052
well the command `Atom Beautify: Help Debug Editor` is not copying the results

[2016-07-07 10:58] Bubbi commented on #502
@Glavin001, I know this have been in the air for a while and this issue is still "open", but it doesn't seem like it is fixed in atom-beautify, even though prettydiff mentions that a fix was made.

For me, neither using **JS Beautify**, **CSS Comb** or **Pretty Diff** as **Default beautifier** works as expected.
It still removes a space before : (colon), which makes that CSS rule have a totally di

[2016-07-07 15:15] Glavin001 commented on #1053
An hour is crazy. Maybe a couple minutes, tops. Is your Internet very slow?

Regardless, we are working on improving the installation time. Thanks for your feedback.

[2016-07-07 15:18] Glavin001 commented on #1052
This is a big issue. Is there any errors shown in the Developer Console of Atom?

[2016-07-07 15:22] Glavin001 commented on #502
@prettydiff is there a required option to make this fix in Pretty Diff work?

@Bubbi : Have you tried uninstalling and reinstalling Atom-Beautify? Often the issue is that your local copy of Pretty Diff is not the latest, although this issue is fairly old so that should not be the case. Maybe there is an option to get it to work.

To help @prettydiff and I debug this with you, please provide a link

[2016-07-07 15:24] jemminger commented on #1053
This happens to me too on every update.  OSX 10.11.5, happened on Yosemite too.  If I just use the update functionality, it will sit there "updating" forever, with apm process taking 200% or more.  If I just kill Atom after a few minutes and relaunch, the update appears to have applied correctly.

[2016-07-07 16:17] Glavin001 commented on #1053
This is **not** an Atom-Beautify issue. This is a bug with `settings-view`.
See Issue https://github.com/atom/settings-view/issues/532 and Pull Request https://github.com/atom/settings-view/pull/771

[2016-07-07 16:26] prettydiff commented on #502
@Glavin001 This resolution does not require an option.  It was purely a defect that has since been resolved.

@Bubbi Could you please provide a code sample to ensure you are not talking a new defect that I am not aware of?

[2016-07-07 16:28] UziTech opened #1054 "Could not find 'X'. The program may not be installed. on Windows 10"
I was having an issue where every command that I did not explicitly set the path to was throwing an error.

`Could not find 'X'. The program may not be installed.`

I tracked the bug down to [/src/beautifiers/beautifier.coffee#L171](https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/beautifier.coffee#L171)

[code]

Turns out my `PATH` variable was set to `Path` so `env.PATH` wa

[2016-07-07 16:30] UziTech commented on #1052
could be the same issue I was having #1054

check to make sure your `PATH` system variable is all caps. Mine was set to `Path` probably by a windows update.

[2016-07-07 16:31] Glavin001 commented on #1054
That's very strange. Thanks for sharing so other users can find this in the search!

[2016-07-07 16:31] #1054 closed

[2016-07-07 16:32] UziTech commented on #1016
check out issue #1054. Might solve it

[2016-07-07 17:58] ssijak commented on #545
+10

[2016-07-07 18:13] ssijak commented on #1040
@Glavin001 [http://elixir-lang.org/](http://elixir-lang.org/)  [http://elixir-lang.org/docs/stable/elixir/Kernel.html](http://elixir-lang.org/docs/stable/elixir/Kernel.html)

[2016-07-07 20:40] RomarioLopezC commented on #1040
@Glavin001 Phoenix is a web framework written in Elixir

http://www.phoenixframework.org/
https://hexdocs.pm/phoenix/Phoenix.html

[2016-07-08 07:27] NingZaizai opened #1055 "Please support .cshtml file"
### Description

The results of beautification are not what I expect.

### Expected Results

The beautified code should have looked like:

[code]

### Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

### Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/...

#### How to create `debug.md`

[2016-07-08 08:00] b00tsy commented on #418
+1

[2016-07-08 13:58] prettydiff commented on #418
This should already be resolved.  If there are remaining problems please reopen this issue.

[2016-07-08 13:58] #418 closed

[2016-07-08 13:58] prettydiff commented on #1055
What is cshtml?

[2016-07-09 03:10] Glavin001 commented on #1047
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist

Note that while you did add the debugging information, I must insist that it be in a Gist such that this i

[2016-07-09 03:12] Glavin001 commented on #1047
I recommend that you contact https://github.com/FriendsOfPHP/PHP-CS-Fixer as well to see if they support an option that would keep these spaces you want.

Here is Atom-Beautify documentation for PHP language: https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#php

[2016-07-10 10:16] joergmold commented on #1016
Thank you very much. That indeed solved the problem. The systems environment variable PATH has to be in uppercase.

I am a little worried that my change from "path" to "PATH" could have some unwated effects, but it seems that in Windows system variables are case insensitive.

I also still think it might be a good idea to have an option in the atom-beautify settings where the path to php can be set

[2016-07-10 10:28] joergmold commented on #1016
I found another problem.

When I open atom via the shortcut on my desktop, beautification works fine.

However, when I right click on a folder in explorer and select "Open with Atom", beautification simply does not happen. There is no error message, I can see the "beautification in progess" window, but the code stays as ugly as it is.

[2016-07-10 12:33] prettydiff commented on #1016
@joergmold That sounds like it should be a new and unrelated issue.

[2016-07-10 12:33] #1016 closed

[2016-07-10 19:00] ghost opened #1057 "JSX in an array does not format correctly."
### Description

The results of beautification are not what I expect.
Code:

[code]
### Expected Results

The beautified code should have looked like:

[code]
### Steps to Reproduce
1. Add code to Atom editor
2. Save code (As we have setting beautify on save)
3. This beautified code does not look right!
### Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/sujandthakare/dddd243

[2016-07-10 23:07] prettydiff commented on #1057
This is a Pretty Diff defect that I can reproduce.  I am working it now.

[2016-07-10 23:57] prettydiff commented on #1057
The defect is at https://github.com/prettydiff/prettydiff/blob/master/lib/jspretty.js#L2084

    if (token[d] === "return" || types[d] === "operator" || token[d] === "(") {

should become

    if (token[d] === "return" || types[d] === "operator" || types[d] === "start" || types[d] === "separator") {

This will open up JSX syntax to wider interpretation inside the parser.  This opens up some beauti

[2016-07-11 05:55] sujandthakare commented on #1057
I also encountered a weird issue, if you type JSX tag and hit save without completing the tag sometimes it adds text at the end of the file. I am trying to reproduce exact case .

[2016-07-11 11:29] MatasSim opened #1058 "add support for mjml language"
https://mjml.io/documentation/

[2016-07-11 12:40] prettydiff commented on #1058
@MatasSim This looks like XML syntax.  Is there anything uniquely different about the syntax?  If this is just XML syntax then it is already supported provided a slight modification to this file:

https://github.com/Glavin001/atom-beautify/blob/master/src/languages/xml.coffee

[2016-07-11 16:19] TheCopartnery commented on #533
Nice answer. Imo would be good to see this included the docs / README

[2016-07-11 17:44] Glavin001 commented on #533
I absolutely agree. IMO as well. I am still working on improving the documentation as I find time.

[2016-07-11 20:12] matthewfeickert opened #1060 "In C++ unnecessary break statements required for beautify to work with switch statements"
### Description

In the attached C++ code ([Chapter_4-Quiz.zip](https://github.com/Glavin001/atom-beautify/files/357951/Chapter_4-Quiz.zip)) Beautify fails on main.cpp where the switch statement does not have break statements as return statements are used. However, if unnecessary break statements are included (as they are in beautify_works.cpp) Beautify proceeds just fine.
### Expected Results

Th

[2016-07-11 20:15] prettydiff commented on #1060
Which beautifier are you using?  This is most likely a parse/beautification failure on behalf of a language specific beautifier.

[2016-07-11 20:22] matthewfeickert commented on #1060
uncrustify.
I apologize if this is the case. I had no memory of manually installing uncrustify, so I had (most likely falsely) assumed that Atom-Beautify had pulled it along upon install.

[2016-07-11 20:25] prettydiff commented on #1060
Uncrustify is a dependency of Atom Beautify, so the defect is valid.  I also recommend opening an issue with the uncrustify project: https://github.com/uncrustify/uncrustify

Please include a link to this issue in the Uncrustify issue, so that the status can be tracked from here.

[2016-07-11 21:06] UziTech commented on #1054
Same thing happened again after updating windows 10. I have submitted feedback to windows about the issue but I'm wondering if Atom-Beautify should check for this in the `which` function?

[2016-07-11 21:07] Glavin001 opened #1061 "`Help Debug Editor` should open a new editor instead of copying to clipboard"
For some reason, using the clipboard does not always work with Atom. /cc #1060 et al.

[2016-07-11 21:10] Glavin001 commented on #1061
In fact, let's create the entire Gist automatically: https://developer.github.com/v3/gists/#create-a-gist

[2016-07-11 21:11] Glavin001 commented on #1054
I suppose you could look into adding support for `Path` (along with the existing `PATH`)? See https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/beautifier.coffee#L171 and purhaps other lines.

[2016-07-12 13:17] prettydiff commented on #545
Somebody on Hacker News suggested https://github.com/rrrene/credo/

Does anybody have experience with that tool and does it make for a good beautifier?

[2016-07-12 13:23] Glavin001 commented on #545
@prettydiff: credo looks like it only works for linting. Do you see in their documentation how to force editing the file?

[2016-07-12 13:59] prettydiff commented on #545
No, I honestly did not look closely at it.  There are many people observing this issue who are familiar with Elixir applications, so I wondering if anybody else had better information.

[2016-07-12 14:24] Glavin001 commented on #545
I see 20 participants for this Issue.
Everyone who is interested in this feature being supported, no more +1s are necessary. Adding support is definitely something we want to do. What you can do to help, and what is required to make this happen, is find a third-party beautifier to integrate Atom-Beautify with.

[2016-07-13 08:09] FionaWong opened #1064 "fsevents@1.0.12 – Cannot find module '/Users/apple/.atom/packages/atom-beautify/node_modules/fsevents/lib/binding/Release/electron-v0.36-darwin-x64/fse.node'"
### Description

The results of beautification are not what I expect.
### Expected Results

The beautified code should have looked like:

[code]
### Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
### Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/...
#### How to create `debug.md` Gist

[2016-07-13 16:32] Glavin001 commented on #1064
Could you provide more information? Also it may be a good idea to ask also at https://github.com/atom/apm/issues since this may be related to some issues with `apm` regarding nativve modules, such as `fsevents`.

[2016-07-14 15:24] Glavin001 commented on #1058
@MatasSim : If the answer to @prettydiff 's question is `Yes, mjml is just the XML syntax` then please let us know! We can add official support for mjml language to Atom-Beautify so you do not have to change the Atom grammar to `XML` whenever you want to beautify it.

[2016-07-14 17:16] prettydiff commented on #1058
I reopened the issue as the request is valid.  We just need a minor technical confirmation to complete and verify support.

[2016-07-15 07:25] MatasSim commented on #1058
Hi, I think mjml is more like HTML than XML syntax because MJML supports inline css for e-mail templating. I have changed Atom syntax from XML to HTML and beautified code, results were pretty the same. actually there is nothing unique about this syntax so I think we can close this issue.

[2016-07-15 12:02] PolGuixe commented on #897
how close we are to that perfect world?

Would it be possible to at least match the config files, or share them?

[2016-07-15 12:26] prettydiff commented on #897
All, Pretty Diff has a styleguide option that basically bundles settings of other options to meet the needs of various style guides.  If there is something lacking specifically please let us know and we can either patch it or direct issues to the respective beautifier.

[2016-07-15 14:01] PolGuixe opened #1066 "Indentation issues: Has this error being fixed ?"
I am experiencing this issue: https://github.com/beautify-web/js-beautify/issues/889

Apparently it has been fixed in JSBeautify. Which version are we using?

[2016-07-15 14:02] PolGuixe commented on #1066
Sorry, it hasn't been fixed in JSBeautify.

[2016-07-15 14:56] prettydiff commented on #1066
It is also showing as defective in Pretty Diff, so I will need to issue a fix on my end.

[2016-07-15 15:51] qn0361 opened #1067 "Installation failed"
### Description

Installation failed.
### Expected Results

Installation succeed.
### Console information

[code]

[2016-07-15 21:32] mdmoreau opened #1069 "Custom config location"
It would be great if we could specify a custom config location so a fallback/default .jsbeautifyrc file could be synced when using https://github.com/atom-community/sync-settings.  Sync settings allows you to sync files located in ~/.atom, so if we could store the .jsbeautifyrc there it could be synced with other settings.

Ideally then you could specify the atom-beautify config location as ~/.ato

[2016-07-16 02:07] Glavin001 commented on #1069
:+1:!
Atom-Beautify currently supports a `.jsbeautifyrc` within the user's home directory.
The `~/.atom/.jsbeautifyrc` path could also be included by changing https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/index.coffee#L435-L444 and/or related parts.

[2016-07-17 09:58] joergmoldenhauer opened #1071 "Beautification does not work in PHP-files when atom is opend via windows explorer context menu"
### Description

When I open a folder by right clicking it in Windows Explorer and selecting "Open with atom" the beautification simply does not happen in PHP-files. There is no error message and the "beautification in progress" window appears, but the code stays as ugly as it is. The problem seems to be only in PHP-files. JS-Files are beautified as they should. Also the problem only happens when

[2016-07-17 13:52] Glavin001 commented on #1071
The error is:
[code]

And I confirmed the `php.cs_fixer_path` is set to:
[code]

Please confirm this path `/Users/Joerg/.atom/php-cs-fixer.phar` is correct.

[2016-07-17 15:19] roccomuso opened #1072 "Error: Cannot find module build-options.js"
`
module.js:340
    throw err;
          ^
Error: Cannot find module '/tmp/apm-install-dir-116617-20638-ztkfdh/node_modules/atom-beautify/script/build-options.js'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Function.Module.runMain (module.js:497:10)
    at startup (node.js:119:16)
    at node.js:935:3
npm ERR! Linux 4.2.0-42-gen

[2016-07-17 17:36] prettydiff commented on #1072
Looks like a dependency failed to download.  I recommend trying this from the command line `apm install atom-beautify`.  Please let us know if this resolves the problem.

[2016-07-17 17:38] roccomuso commented on #1072
Same error also doing <code>apm install atom-beautify</code>

[2016-07-18 08:59] PolGuixe commented on #897
I was thinking on a different strategy. Rather than configuring the beautifiers manually to match the linter, would it be possible to use e.g. an `eslintrc` file as the config file for the beautifier?

[2016-07-18 14:12] Glavin001 commented on #897
Absolutely. This would be in addition to `.jsbeautifyrc` support: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/index.coffee#L450
It would, of course, require additional instructions to transform from `eslintrc` format to the appropriate Atom-Beautify format.

[2016-07-18 15:58] joergmold commented on #1071
Thanks for pointing out the error. In fact the path was not quite right. The "C:" at the beginning was missing. I have Atom and php-cs-fixe.phar under "C:" and my projects under "D:" It seems that Atom is started with a different context when I open projects under "D:" via the explorer menu. Adding the "C:" at the beginning solved this problem.

Thank you very much for your help. Also thank you ve

[2016-07-18 17:10] albell opened #1073 "Request: CSS: separate declarations with 2 newlines"
### Actual Results

[code]

### Expected Results

Beautified CSS code should have 2 newlines between declarations:

[code]

An empty line between declarations is dictated by all modern CSS formatting guides that I know of, including:

Google:
https://google.github.io/styleguide/htmlcssguide.xml?showone=Rule_Separation

Github:
http://primercss.io/guidelines/#spacing

Wordpress:
https://make.wordpr

[2016-07-18 18:15] prettydiff commented on #1073
Use the option "Newline between rules".  This is supported by both Pretty Diff and JS Beautify.

[2016-07-18 18:59] albell commented on #1073
Yes. I know, my point is that option should be turned on by default. It's the wrong initial setting, according to virtually every industry standard.

[2016-07-18 20:25] prettydiff commented on #1073
Reopening for consideration.

[2016-07-19 04:19] #1061 closed

[2016-07-19 04:20] Glavin001 commented on #1061
Published to v0.29.10

[2016-07-19 09:43] JustusAdam opened #1074 "Support configuration discovery for stylish-haskell"
# Description

The Haskell beautifier used internally (`stylish-haskell`) supports its own configuration file either via command line parameter `-c` or implicitly by finding a file called `.stylish-haskell.yaml` in the directory, or an ancestor of the directory, where `stylish-haskell` is being run from.

Currently when I run `Beautify Editor` the configuration file which I placed in my project ro

[2016-07-19 10:35] greentornado commented on #545
Can this help ? It is intellj elixir plugin
https://github.com/KronicDeth/intellij-elixir

[2016-07-19 15:33] matthewfeickert commented on #1060
Now that I've automatically created a Gist using the update from #1061 is there a way to find the Gist to view or share it? Or it is just sent to the dev team only?

[2016-07-19 15:45] Glavin001 commented on #1060
The Gist has a link and a prompt will appear providing that link for you to copy and paste, as well as automatically open the address in your web browser.

[2016-07-19 16:01] matthewfeickert commented on #1060
The Gist didn't automatically open in Chrome, so I just assumed that it was created somewhere that the devs could find. Does that mean that if the Gist doesn't open that it wasn't created properly?

[2016-07-19 17:01] Glavin001 commented on #1060
It should both open (in Chrome, possibly, using [`node-open`](https://github.com/pwnall/node-open) ) and provide you with a link to share via a `confirm` prompt. Did the prompt not appear? If an error occurred, it should show another prompt with the error message.

[2016-07-19 17:42] Roballen opened #1075 "Uncaught Error: Cannot find module 'bluebird'"
1. Open top nav, select packages, select Atom Beautify, click Beatify

**Atom Version**: 1.8.0
**System**: Mac OS X 10.11.2
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.10

### Stack Trace

Uncaught Error: Cannot find module 'bluebird'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-07-19 19:03] Glavin001 commented on #1075
Have you tried reinstalling Atom-Beautify and then restarting/reloading Atom?

[2016-07-19 22:03] amorino opened #1076 "brace-style options for pretty-diff"
# Description

Customize the brace-style of the beautification, currently using pretty diff, it collapses.
# Input

[code]
# Output

[code]
# Expected Results

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor` on a .js using ES6
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/a

[2016-07-19 22:50] prettydiff commented on #1076
Pretty Diff has an option for this: [bracepadding](http://prettydiff.com/documentation.xhtml#bracepadding).  I do not see a similar option in the Atom Beautify settings.

[2016-07-19 23:11] Glavin001 commented on #1076
We should add Pretty Diff support for `brace-style` option (see https://github.com/Glavin001/atom-beautify/blob/7eab25e46ffa2b44102e8c1442f2d04ada82b56a/src/languages/javascript.coffee#L72 ) and convert it to `bracepadding` option internally.

[2016-07-20 08:56] raky291 opened #1077 "end-with-newline with css"
This option is not available on the interface.
Can you add this feature please?

The default library already contains this option (jsbeautifier).

[2016-07-20 11:05] #1058 closed

[2016-07-20 13:14] Glavin001 commented on #1058
We would want to add support for MJML such that you **do not** have to change the selected grammar for Atom.

[2016-07-20 13:17] Glavin001 commented on #1077
A simple change to https://github.com/Glavin001/atom-beautify/blob/master/src/languages/css.coffee#L30 and  https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/js-beautify.coffee#L15 would do it. I would be happy to merge a Pull Request for this. Thanks.

[2016-07-20 17:39] ivanhuay commented on #951
+1

[2016-07-20 18:06] Kitanotori commented on #597
Still no possibility to set switch/case indentation in JavaScript (or even better, autoload the SwitchCase setting from .eslintrc) ?

[2016-07-20 18:28] Glavin001 commented on #597
Does the `Js Beautify` also have this issue? If so, please create an issue over at https://github.com/beautify-web/js-beautify and reference back to this Issue. Thanks.

[2016-07-20 18:32] Kitanotori commented on #597
Just realized that the "jslint-happy" setting was the culprit. Turned it off and the indentation got fixed.

https://github.com/beautify-web/js-beautify/issues/15

[2016-07-21 16:08] #1075 closed

[2016-07-21 16:48] edDimensi opened #1078 "Beautify PHP not work..."
# Description

The results of beautification are not what I expect.
I use ctrl + alt + b, see animation progress and nothing change.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: h

[2016-07-22 08:40] LuisaMarvin commented on #1045
Long path error is a very common problem in Windows users face.You can try using Long Path Tool if your computer is giving errors like, “Path too long”, “Path too long – aborting (error code 80/1)”, 0x80010135 Path too long”, “Error cannot delete file: cannot read from source file or disk” or “File cannot be copied”, you can use Long Path Tool to resolve the problem.

Long Path Tool is the perfect

[2016-07-22 13:37] smlombardi opened #1081 "Configuration to keep LI contents on one line?"
Is there a configuration setting to keep LI tags and their contents together?

In other words, currently I get this:

[code]

But I'd rather get this:

[code]

I realize many people prefer the first way, which is why I was wondering if there was a config I can edit to get it my way?

[2016-07-22 13:52] #1077 closed

[2016-07-22 13:55] Glavin001 commented on #1081
I think what you want is the `unformatted` option: https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#unformatted

[2016-07-22 14:01] JubJubGit opened #1082 "Issue with beautify - Does not seem to support Atom properly"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/e04976851130bd721ae46cb16f992a93

# Checkl

[2016-07-22 14:06] Glavin001 commented on #1082
Could you elaborate what you're asking help with?

[2016-07-22 14:11] Glavin001 opened #1083 "Showcase supported Operating Systems in README"
- [x] Mac
- [x] Linux
- [x] Windows

[2016-07-22 14:12] Glavin001 commented on #1083
![image](https://cloud.githubusercontent.com/assets/1885333/17059750/11c4474e-4ffd-11e6-89e1-2486ca5b3234.png)

![image](https://cloud.githubusercontent.com/assets/1885333/17059763/206a7d4a-4ffd-11e6-859e-7856902fb300.png)

![image](https://cloud.githubusercontent.com/assets/1885333/17059766/2530c9d8-4ffd-11e6-9529-3fa47dbff616.png)

[2016-07-22 14:28] #1083 closed

[2016-07-22 14:34] Glavin001 commented on #1073
It looks like JS-Beautify's default is also `true` for `newline_between_rules`: https://github.com/beautify-web/js-beautify/blob/57b89fcde24199b18dcbcb247c158420d79039dc/js/lib/beautify-css.js#L76

@albell : I would accept and merge a Pull Request making the appropriate changes to https://github.com/Glavin001/atom-beautify/blob/master/src/languages/css.coffee#L48

Please be sure all tests pass in

[2016-07-22 14:40] JubJubGit commented on #1082
My sincerest apologies, this appeared to be an auto dump file to me, i have most of those set to just auto post. (at the request of said devs, of course) so I did the same here. I am new to github and these community developments so in the future, i won't do so.

Basically this is what i'm running up against, but i am relatively certain I fixed it:

I was running beautify, fine and all, but i need

[2016-07-23 00:05] Glavin001 commented on #1082
Glad to hear it's all working! Let me know if you need anything else 😄 .

[2016-07-23 00:05] #1082 closed

[2016-07-23 00:25] Glavin001 opened #1086 "Add User-Agent to headers for Google Analytics"
See https://github.com/peaksandpies/universal-analytics/issues/2

So that we can determine if Windows or Mac users are needing more support, etc.
Use `navigator.userAgent` to get User-Agent.

[2016-07-23 00:27] Glavin001 commented on #1078
Looking at your debugging information I see:

[code]

Pay close attention to the `spawn` command:

[code]

Notice that it ends in `.BAT` which is not a PHP script, and so it fails.
PHP-CS-Fixer beautifer implemented within Atom-Beautify calls `php php-cs-fixer {..args}`: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/php-cs-fixer.coffee#L37-L38

I recommend changing your `c

[2016-07-23 00:36] edDimensi commented on #1078
Nope, it's anyway not work. And from the beginning I have such a path. I even removed the .bat file, but it still does not work.

[2016-07-23 00:36] #1086 closed

[2016-07-23 00:38] Glavin001 commented on #1053
This bug with `settings-view` has since been updated so a future Atom release should resolve this issue.

[2016-07-23 00:38] #1053 closed

[2016-07-23 01:20] Glavin001 commented on #1078
I'd recommend taking a look at the many of PHP-CS-Fixer related Issues that already exist: https://github.com/Glavin001/atom-beautify/search?utf8=%E2%9C%93&q=php-cs-fixer+bat&type=Issues
When you find the solution that works for you, please post back here.

[2016-07-23 01:41] edDimensi commented on #1078
https://github.com/Glavin001/atom-beautify/issues/903#issuecomment-207074273

[2016-07-23 03:59] #1078 closed

[2016-07-23 14:36] Glavin001 commented on #716
I'm doing this now before we write more CoffeeScript and accrue more technical debt.

[2016-07-23 14:39] Glavin001 commented on #716
Upgrade the Beautifiers to use static member properties: https://babeljs.io/repl/#?evaluate=true&lineWrap=false&presets=es2015%2Cstage-1&code=class%20MyClass%20%7B%0A%20%20myProp%20%3D%2042%3B%0A%20%20static%20myStaticProp%20%3D%2021%3B%0A%0A%20%20constructor()%20%7B%0A%20%20%20%20console.log(this.myProp)%3B%20%2F%2F%20Prints%20'42'%0A%20%20%20%20console.log(this.constructor.myStaticProp)%3B%0A%20

[2016-07-24 01:09] nicolasartman opened #1087 "beautifying toggles trailing comma instead of consistently inserting it"
# Description

Beautifying the file resulted in the trailing comma on a list being inserted/removed on every other beautify run, despite the setting clearly saying it should simply be inserted if absent.
# Expected Results

The beautified code should have looked like:

N/A
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor` multiple times
3. Observe that

[2016-07-24 02:16] prettydiff commented on #1087
I can reproduce the defect in Atom Beautify but not elsewhere.  Atom Beautify currently uses version 1.16.37 of Pretty Diff which is a few months behind.  It is the last stable version in NPM.  Pretty Diff will be updated in Atom Beautify once I can find an alternative to NPM.... which I am working on right now at https://github.com/prettydiff/biddle

[2016-07-24 08:01] raky291 opened #1088 "Sass format don't work properly"
My code:
![err1](https://cloud.githubusercontent.com/assets/12045722/17082593/dfa7afe4-5141-11e6-8e63-ba4b527049d0.jpg)

After pressing Ctrl+Alt+B
![err2](https://cloud.githubusercontent.com/assets/12045722/17082594/dfdb377e-5141-11e6-8724-ccb8d727aee5.jpg)

Any idea what's going on?

**Update:**

Pretty Diff don't support Sass, it cannot be the default beautifier.

And when I use CSScomb I get th

[2016-07-24 08:52] nicolasartman commented on #1087
thanks for the super quick reply! in the meantime, is there an easy way i could just not use that option? leaving it unchecked/setting it to false actually consistently removes the trailing comma. It's ok if i have to add trailing commas myself, but I'd like to be able to beautify with prettydiff without it being auto-removed.

[2016-07-24 12:16] prettydiff commented on #1088
Pretty Diff supports the SCSS variant of SASS.

[2016-07-24 12:23] prettydiff commented on #1087
Unfortunately, no.  At the present Pretty Diff always ensure the trailing comma is either absent or present for consistency (provided there is no defect in Pretty Diff).  A third option could be added to leave this alone, but it would still require an update to Pretty Diff, so either way you are still waiting on a distribution solution.

The manual resolution is to clone the Pretty Diff project an

[2016-07-24 15:00] Glavin001 commented on #874
Duplicate of #522.

[2016-07-24 15:00] #874 closed

[2016-07-24 15:01] Glavin001 commented on #522
@halvves may already have a solution with  https://github.com/halvves/atom-beautify/commits/add_vel

[2016-07-24 16:13] prettydiff commented on #522
I also added support to Pretty Diff 3 weeks ago.  I am actively writing an alternative to NPM to solve the distribution problem.

[2016-07-24 16:24] Glavin001 commented on #522
As I said in https://github.com/Glavin001/atom-beautify/issues/881#issuecomment-203597459 I'm not in favour of supporting external -- especially unofficial -- package managers. I've already had a hard enough time with APM and/or NPM not working sometimes and adding an additional required package manager will definitely complicate things and cause more problems for Atom-Beautify than it's worth.

I

[2016-07-24 16:38] prettydiff commented on #522
@Glavin001

NPM isn't dependable.  This is a large reason why I am writing an alternative.  All it took was NPM corrupting my application twice within one week and two weeks later an NPM cofounder making worrying asinine statements as official policy.

Here is what I am striving for:

* *integrity* - Downloaded packages will perform a hash comparison before they are unpackaged. If the hashes don't

[2016-07-24 16:47] Glavin001 commented on #522
@prettydiff : I found https://github.com/prettydiff/biddle and I definitely agree with the goals.

My primary concern is with adding more requirements on the Atom-Beautify users.

From a quick glance, I see under `Dependencies` of `biddle`:

So already Windows users are going to have issues. It's been a hard enough time supporting Windows users with Atom-Beautify, let alone making sure they're equ

[2016-07-24 17:17] halvves commented on #522
@Glavin001 - I'm a little late to the conversation... But those commits in my fork are all unfinished work unfortunately. I don't think they will be much help. Perhaps if and when I find the time, I can take another stab at it.

[2016-07-24 18:21] prettydiff commented on #522
I have looked at a couple of different tar solutions for windows and none of them are very good.  Unfortunately, 7-Zip has so far proven to be superior to even the POSIX tar solutions in terms of compression ratio, features, and even security.  libarchive, on which BSD TAR is based and thus OSX TAR, has had recent security vulnerabilities announced and it is superior and more modern than the TAR s

[2016-07-24 20:02] Glavin001 commented on #522
Thanks for your input, @halvves. It looks like @prettydiff has taken care of implementing this feature, so we should be good :+1:.

[2016-07-24 20:04] Glavin001 commented on #522
@prettydiff we can discuss once you're finished building `biddle` 😄 .
When you're ready, make a Pull Request to Atom-Beautify implementing the required changes to support Pretty Diff such that running `apm install atom-beautify` will do everything required to install Atom-Beautify and dependencies, including Pretty Diff.
I trust your judgement and expertise and am confident we will be able to work

[2016-07-25 02:47] nicolasartman commented on #1087
Gotcha. Any chance this plugin could simply fetch prettydiff on install (directly) or bundle it in? I would love to use the latest prettydiff but manually patching each system on my team doesn't sound great.

[2016-07-25 03:39] prettydiff commented on #1087
The application I am working on is far from complete, but here is how it will basically work.

* It will have a publish command to compress a directory into a zip file and add the publication to a list of publications by application name with a list of published versions.  Along with the zip file a hash file will also be written.
* It will have an install command which will request a published res

[2016-07-25 06:17] destinationunknown opened #1091 "Beautifying HTML results in collapsed tags being expanded"
# Description

Beautifying HTML (Have not tested with other languages) results in all collapsed tags being opened/expanded.

EDIT: Can confirm, this happens with other languages as well.
# Expected Results

The collapsed tags stay collapsed.
# Steps to Reproduce
1. Add any syntactically correct HTML code to the Atom editor.
2. Collapse any element, for example a `div`, by clicking on the down arro

[2016-07-25 06:40] nicolasartman commented on #1087
I think it's awesome you're creating a better alternative to a system that may be going about it wrong, but I would love to be able to use this excellent atom plugin with prettydiff in the meantime if there's a way to do so without forking it :)

[2016-07-25 16:33] smlombardi commented on #1081
This does not work, adding the tag to my .jsbeautifyrc, the `li` tags are still being broken onto separate lines.
[code]

[2016-07-25 18:22] Glavin001 commented on #1081
Create a `debug.md` Gist and add a link here. It includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-25 18:35] smlombardi commented on #1081
https://gist.github.com/6979d1ff77d2cc08b2bc7ba7f8a90bc5

[2016-07-26 03:28] nicolasartman commented on #1087
I actually manually updated my local install to prettydiff 2.1 and the inconsistency actually still seems to be there. Must be an issue purely with atom-beautify.

[2016-07-26 12:58] Glavin001 commented on #1087
@nicolasartman have you reloaded Atom since updating?

[2016-07-26 13:24] garretwilson commented on #1008
Once again thanks for getting this fix in, @Glavin001 . But I'm a little surprised you scheduled it so far in the future. It fixed a bug that was downright incorrect both in terms of HTML5 and for compatibility with js-beautify. But fixes can go into patch releases even under semantic versioning.

[2016-07-26 14:01] Glavin001 commented on #1008
I think there is some confusion 😜 .

What I meant with my [comment](https://github.com/Glavin001/atom-beautify/issues/1008#issuecomment-228420995):

Is that if someone, such as yourself, submits a Pull Request I would be happy to review and merge it. As always, my only requirement is passing Travis CI tests.

I *think* you are referring to the fact that `v0.30.0` milestone is assigned to this issu

[2016-07-26 14:06] garretwilson commented on #1008
Ack! So no work has been done on this whatsoever?? But this is a blatant bug---it's not as if atom-beautify did something incorrect---in my opinion it did something completely wrong by simply doing anything at all!! It shouldn't be providing a default value here---it should be letting js-beautify provide a default. If it simply left things alone, then everything would work---and we wouldn't have t

[2016-07-26 14:21] Glavin001 commented on #1008
No idea why you're getting grumpy. I agreed that the default value needs to be updated to match JS-Beautify which aligns with what a profession expects the standards to be.

Anyway, I've made the change and submitted a very simple Pull Request to https://github.com/Glavin001/atom-beautify/pull/1092 and await to see that the Travis CI tests pass. I was hoping you'd like to contribute to Atom-Beauti

[2016-07-26 14:21] #1008 closed

[2016-07-26 14:24] garretwilson commented on #1008
I'm not---I was just explaining why it sounded that way because I haven't had breakfast yet. I'm actually having an awesome day.

I'm happy to contribute to atom-beautify! You didn't give me time to finish breakfast... :stuck_out_tongue_winking_eye:

[2016-07-26 14:59] garretwilson commented on #1008
P.S. I probably would have made a contribution to this bug already, but I had understood from your comment that you already had created a pull request that addresses this. Sorry I misunderstood you.

[2016-07-26 17:24] nicolasartman commented on #1087
yep. reloaded, restarted, rebooted, and reinstalled from scratch and re-patched! I'll edit the beautify script to log some stuff and see if I can get any insight.

On a related note, I tried pasting the following into the website ui for prettydiff to beautify and it complains about an unterminated regex despite correctly noticing that it's JSX. I note this because this is a file I've been using to

[2016-07-26 21:19] mawkee opened #1093 "Beautification for PHP not working on OS X El Capitan"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/cddf67980db613fc53a3387ac7065786

# Checkl

[2016-07-26 21:21] mawkee commented on #1093
This is invalid, please remove

[2016-07-26 21:43] Glavin001 commented on #1093
You should be able to close this issue yourself.

[2016-07-26 21:43] #1093 closed

[2016-07-27 03:09] robinguo opened #1094 "Please support unicode characters"
# Description

I'm using atom-beautify to beautify SQL files. I have Chinese characters in the file. After beautified, Chinese characters are garbled.
# Expected Results

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>
# Checklist
-

[2016-07-27 09:28] serut commented on #601
+1 for `tsx` support

[2016-07-27 10:31] prettydiff commented on #1094
What computer language or beautifier are you using?

[2016-07-27 10:43] robinguo commented on #1094
Computer language is English.
Beautifier is sqlformat.

[2016-07-27 13:08] Alienfeel opened #1095 "python code, autopep8 0.9.1 does not support --indent-size option"
# Description

autopep8 does not support --indent-size option
autopep8 version 0.9.1
# Expected Results
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. ERROR occurs
# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>
# Checklist
- [ ] I have tried uninstalling and reinstalling Atom Beautify to ensure it installed properly
- [ ] I ha

[2016-07-27 14:51] Glavin001 commented on #1094
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-27 17:49] carlospti opened #1096 "problemas"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/60357394b091e1f969717631c64176cb
# Checklist
-

[2016-07-27 18:27] Glavin001 commented on #1096
Please describe the problem precisely and with sufficient detail.

[2016-07-28 02:17] lehug opened #1097 "bug with erb file and actionview::Helper::FormHelper.text_field"
# Description
.erb file,code like this:
<%=f.text_field :linkto,class: "form-control",data:{toggle: "modal", target:"#modal-linkto"} %>
then bug happened

# Steps to Reproduce

1. set "beautify on save" true with erb
2.have code like:" <%=f.text_field :linkto,class: "form-control",data:{toggle: "modal", target:"#modal-linkto"} %> ",contails data attribute
3.then save.

# Debug

Error: This TextEdi

[2016-07-28 02:19] lehug commented on #1097
this is my first issue,I'm Chinese,my english is poor~

[2016-07-28 05:05] raky291 opened #1098 "CSScomb for formatting a .less file"
I'm using CSScomb for formatting a .less file, just copy my code and run the beautifier.

[code]

[code]

[2016-07-28 12:15] ttsirkia commented on #1018
@nixgadget did you manage to solve this?

[2016-07-28 12:30] prettydiff commented on #1098
This does not look like a defect generated from Atom Beautify.  I recommend opening an issue with CSScomb and linking to this issue.

[2016-07-28 12:32] designofhumanity commented on #333
+1

[2016-07-28 12:33] prettydiff commented on #1097
@lehug Could you please produce the `debug.md` file that Atom Beautify makes?  Paste it into a gist at http://gist.github.com

No problem.  We will try to help as much as we can.

[2016-07-28 12:35] prettydiff commented on #333
Before any further action can be taken please indicate PowerShell code beautifier.  Without a beautifer there is nothing to be done.

[2016-07-28 22:17] MichaelHancock opened #1100 "CSS statement broken by beautification"
# Description

Calc css function is manipulated incorrectly by atom-beautify

[code]
# Expected Results

This line should have been unchanged, removing the space broke the css statement.

[code]
# Steps to Reproduce
1. Add code to Atom editor (the line above)
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist:

[2016-07-28 23:19] prettydiff commented on #1100
JS Beautifier defect.  Including @bitwiseman

[2016-07-29 15:12] rwwagner90 opened #1102 "Handlebars preserve newlines not working as expected"
# Description

Handlebars newlines are not preserved, and all the properties are squashed to one line.

# Expected Results

The beautified code should have looked like:

[code]

It squashes everything into:
[code]
# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` G

[2016-07-29 16:30] codedbypaul opened #1103 "Newlines before media queries not kept"
# Description

When a @media query follows either a {} rule or another @media the new line is removed. This causes scss-lint to complain.

I have 'Preserve newlines' ticked in the config options and it works with {} rules.

# Expected Results

The beautified code should have looked like:

[code]

It ends up looking like:
[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom

[2016-07-29 16:37] prettydiff commented on #1103
I looked at the debug.md and discovered:

* Selected beautifier is Pretty Diff
* Language is SCSS
* Desired option `preserve_newlines` is `true`

This is likely a defect in Pretty Diff or Atom Beautify.  I am going to troubleshoot.

[2016-07-29 16:41] prettydiff commented on #1103
I can reproduce the defect in the latest version of Pretty Diff.

[2016-07-29 16:56] prettydiff commented on #1103
The resolution is on line: https://github.com/prettydiff/prettydiff/blob/master/lib/csspretty.js#L1852

This line:

    if (lines[a] > 1 && options.compressedcss === false && (types[a] === "start" || types[a] === "end" || types[a] === "selector" || types[a] === "comment" || types[a] === "property" || types[a].indexOf("external") > -1)) {
                    if (options.cssinsertlines === true && t

[2016-07-29 16:58] prettydiff commented on #1102
This appears to be a JS Beautify defect.  I recommend opening a defect at https://github.com/beautify-web/js-beautify/issues

Including @bitwiseman

[2016-07-30 05:22] emotionalacan opened #1104 "Could not find 'php-cs-fixer'. The program may not be installed on windows"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>

# Checklist

- [ ] I have tried uninstalling a

[2016-07-30 11:51] manavm1990 commented on #567
Yes, it seems that one must, in fact, close out the project prior to closing and then reopening Atom. I consider this a minor issue though, as once everything 'is set,' granted, it may require some closing/reopening, it doesn't usually need to be touched, and one move along with the project after this point.

[2016-07-30 20:06] Glavin001 commented on #1104
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-07-31 16:01] MichaelHancock commented on #1100
I don't know if this is any help, but the issue seems directly linked to the use of + inside a calc statement. For example this breaks:
`width: calc(100% + 10px);` and turns into this `width: calc(100%+ 10px);`

But this does not break:
`width: calc(100% - 10px);`

Hope this is of some help.

[2016-07-31 16:47] prettydiff commented on #1100
Thank you @MichaelHancock

[2016-08-01 07:36] #1104 closed

[2016-08-01 10:38] MichaelHancock commented on #976
The list of all supported languages is at https://github.com/Glavin001/atom-beautify#language-support. I see there is another issue open regarding adding Groovy support https://github.com/Glavin001/atom-beautify/issues/969. So i guess the answer to your question is no, but if you up-vote the issue over there I am sure it can be sorted!

[2016-08-01 10:42] martinhampton opened #1105 "solidity support please!"
Can we have syntax support for solidity?

[2016-08-01 12:48] rwwagner90 commented on #1102
@prettydiff I did open an issue there, but I assumed, since preserve newlines was a checkbox, maybe it just wasn't actually passing it through to JS Beautify or something. The issue I opened is here https://github.com/beautify-web/js-beautify/issues/978

[2016-08-01 13:56] #976 closed

[2016-08-01 17:36] emileber commented on #1061
It should be made clear in the doc that this changed. The [troubleshooting](https://github.com/Glavin001/atom-beautify/blob/0212f49c83a9eec9fd777bd0d8f3f98af9d5d5e9/docs/troubleshooting.md) page wasn't updated with this.

[2016-08-01 17:58] emileber opened #1106 "No error notification from invalid JSON inside .jsbeautifyrc"
# Description

If the JSON inside the `.jsbeautifyrc` file is invalid, there's no error notification so you can't know why your `.jsbeautifyrc` is ignored.

I had a comma at the end of an object definition, which is valid js, but invalid json. I tried the _Help Debug Editor_ option (see below) and then I saw that my `.jsbeautifyrc` file inside a project sub-folder wasn't interpreted correctly.

#

[2016-08-01 19:22] ngo6012 commented on #1043
I'm having the same issue as DavidGDD. Has anyone found a solution?

[2016-08-02 02:09] lipei86 opened #1107 "formatting jsp code cause running errors."
# Description

We usually use jstl or struts tags in jsp code, but tag's attribute value after beautified will be inserted some space which cause running errors.
For example, we entered the following code:
[code]
after beautified, the attribute value of struts tags has been inserted a space, and the space cause running errors:
[code]

# Expected Results

The beautified code should have looked like

[2016-08-02 03:16] prettydiff commented on #1107
Would you mind generating Atom Beautify's debug.md file and pasting it into a gist?  This will help us identify which beautifier you are using and which grammar Atom thinks you are using.

[2016-08-02 06:03] lipei86 commented on #1107
@prettydiff Here is the gist url: https://gist.github.com/a3e4667be3dfd361dd26ee9243e930e5.

[2016-08-02 10:30] prettydiff commented on #1107
Pretty Diff defect.  I am working it now.

[2016-08-02 10:44] prettydiff commented on #1107
The problem is a collision with the quotes.  The challenge is that I can choose to support one of these, but not both:

    <a attribute="<c:out value="place">something</c:out>">a thing</a>

    <a attribute="if (a<b) do something">a thing</a>

The reason for the dichotomy is that each attribute contains a `<` within quotes.  In one case its a markup delimiter and in another case it isn't.  To mak

[2016-08-02 14:53] winperec commented on #901
+1

[2016-08-02 16:54] prettydiff commented on #901
A beautifier is needed for this request to be fulfilled.

[2016-08-03 03:53] primehat23 commented on #1072
I got a E: Unable to locate package apm.
Could this be my ubuntu disto

[2016-08-03 04:40] diego-vieira opened #1108 "PHP - tempnam(): file created in the system's temporary directory"
# Description
Getting the error below when using php-cs-fixer.
Running php-cs-fixer from the command line works just fine.
Also attached Atom debug console info.
![screen shot 2016-08-03 at 01 39 58](https://cloud.githubusercontent.com/assets/930792/17354032/4dcecdfa-591b-11e6-8aea-35439ce4b60a.jpg)

[ErrorException]
tempnam(): file created in the system's temporary directory
fix [--config="..."]

[2016-08-03 04:46] diego-vieira commented on #1108
never mind, seems a bug with my php 7 binary. installing php 5.6 resolved.

[2016-08-03 04:46] #1108 closed

[2016-08-03 09:35] prettydiff commented on #1072
@Glavin001 Any idea?

[2016-08-03 15:49] djchou opened #1109 "Pretty Dif HTML"
# Description

When I beautify HTML using prettydif, a javascript comment using /\*   comment */ will cause beautify to delete all of the javascript code.

The results of beautification are not what I expect.
# Expected Results

no code deleted

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. Th

[2016-08-03 16:15] ronnyfly2 opened #1110 "Debug"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/70c1d67533b4bab824f9d6a8acb1b350
# Checklist
-

[2016-08-03 17:42] masteryprep opened #1111 "sddf"
sdsd

[2016-08-03 17:42] #1111 closed

[2016-08-03 17:45] prettydiff commented on #1110
Thank you for the debug.md file.  Could you be more specific on the nature of the defect?  What part do you believe is incorrect?  When I pass the sample code, from the debug.md file, into http://jsbeautifier.org/ it appears to beautify correctly.

[2016-08-03 17:47] prettydiff commented on #1109
Would you mind generating Atom Beautify's debug.md file and pasting that into a gist?  That way I can see all the option settings and a sample of the code causing the problem.

[2016-08-03 17:55] masteryprep opened #1112 "Random line break in middle of text inside <p></p> tags"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:
![What I'd like for it to look like](https://cloud.githubusercontent.com/assets/20819775/17376085/89fde064-5979-11e6-9eda-096a3177cd33.PNG)

What it actually looks like:
![What it actually looks like](https://cloud.githubusercontent.com/assets/20819775/17376089/8be60

[2016-08-03 18:34] prettydiff commented on #1112
Issue opened with JSBeautify

[2016-08-03 21:19] k4rtik opened #1113 "Could not get Shell Environment. Exit code: 1, Signal: null"
# Description

On invocation using Ctrl-Alt-b, I see a spinner for a while and then this error bubble pops up to the top-right of Atom:

[code]

No beautification happens.
# Expected Results

NA
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
# Debug

Attempt to create debug.md also fails as I do not see any change in my clipboard. (On a different no

[2016-08-03 23:29] prettydiff commented on #1107
This work is done.  I put in some extra effort to ensure that all code examples in my prior comment are possible.  The resolution is published to Pretty Diff release 2.1.1 but will not be available to Atom Beautify until I can release https://github.com/prettydiff/biddle

[2016-08-03 23:29] #1107 closed

[2016-08-03 23:30] prettydiff commented on #1103
The resolution is published to Pretty Diff release 2.1.1.  It will not be automatically available to Atom Beautify until I can publish https://github.com/prettydiff/biddle

[2016-08-03 23:30] #1103 closed

[2016-08-04 05:08] phatpeth commented on #1072
face the same problem.

[2016-08-04 07:06] myUsernamesTaken commented on #1052
Any news on this?

[2016-08-04 07:25] lipei86 commented on #1107
@prettydiff Thank you for resolving the problem.

[2016-08-04 17:59] jt3k commented on #318
+1

[2016-08-04 18:00] jt3k commented on #525
+1

[2016-08-04 19:27] derwaldgeist opened #1114 "Beautify on save changes LF to CRLF if working on Windows"
# Description

I am working on both Mac and Windows. In order to avoid problems with diffing and versioning, I'd like to use the same line feed on both systems (LF). I can change this by clicking on the statusbar in Atom. But as soon as I save the file on Windows, all LF are automatically converted to CRLF. If I disable Beautify on Save, everything works as expected, so the problem is in the atom-

[2016-08-04 19:34] Glavin001 commented on #1106
I agree.

I am away on vacation for the next two weeks so it is unlikely I will be able to make the appropriate changes and publish. Pull requests welcome back. Thanks.

[2016-08-04 21:01] igorrmotta commented on #977
The same happening here.

All the time, saving .jsx files

[2016-08-05 03:05] ykinuse commented on #545
+1

[2016-08-05 07:52] Sebastian-D commented on #878
I see that this is an old issue but I just want to say that I would be really happy if R code gets added to atom-beautify!

[2016-08-05 10:22] alexjmold opened #1115 "options.path atom"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>

# Checklist

- [ ] I have tried uninstalling a

[2016-08-05 10:22] #1115 closed

[2016-08-05 15:31] Glavin001 commented on #878
Pull Request welcome!

[2016-08-05 15:51] Glavin001 commented on #1007
I am investigating this now. Since I am on vacation for the next couple weeks there may not be any published changes, however I'll be doing research into what Atom-Beautify v1 should look like and taking notes to implement later. Thank you for your patience.

Closing this issue in favour of https://github.com/Glavin001/atom-beautify/issues/620#issuecomment-151024633 which I explained in more detai

[2016-08-05 15:51] #1007 closed

[2016-08-05 15:52] Glavin001 commented on #664
I also want to look into support Sublime, along with CLI usage. The beautification core should be completely separate from Atom.

[2016-08-05 15:53] Glavin001 commented on #716
I started converting the existing code base from CoffeeScript into ES6, however given the features I want to support for Atom-Beautify v1, it may end up simply being a complete rewrite.

[2016-08-05 15:55] prettydiff commented on #664
When you are ready to jump into CLI just let me know how I can help.  I have some experience integrating functionality to CLI via Node.

[2016-08-05 15:55] Glavin001 commented on #165
This will be handled by each individual beautifier provider. /cc #620 #1007

[2016-08-05 16:00] Glavin001 commented on #664
Thanks, @prettydiff !

[2016-08-05 16:29] agustif commented on #545
There is no linter in elixir for a reason,the core team thinks there should be no enforcement or a code formatting tool for elixir.

You can check out this thread on Google Groups: https://groups.google.com/forum/#!msg/elixir-lang-talk/CfYVmQpKPIw/A5anDI4gBgAJ

+1 On an issue on a project about linting is not gonna work, I think.

[2016-08-05 17:29] Glavin001 commented on #664
@prettydiff : what do you think the core should be called? I'm currently thinking `Unibeautify`.
The name Atom-Beautify obviously will not work once we expand to support much more than just Atom.

My current plan for v1 is to support the following:
  - Atom
  - Sublime
  - CLI
  - Core (Node.js API)

Build tools like Grunt or Gulp can also have packages using the Core/Node.js API. The CLI will all

[2016-08-05 20:31] prettydiff commented on #664
Yeah, I am fine that name.  For the command line operation two work the beautifier will need to be either JavaScript or executable from the command line (using a Node child process).  Running the code is the easy part (provided we are beautifying only one file at a time).  The hard part is keeping everything uniform and making API decisions.  We can beautify multiple files (directory or directory

[2016-08-06 00:35] fthebaud opened #1116 "indentation settings ignored for angular HTML files"
# Version

Atom 1.9.2, atom-beautify 0.29.10
# Description

Trying to beautify a HTML file that contains angular directives.

Settings in the html section:
![20160805-17 25 13](https://cloud.githubusercontent.com/assets/5389778/17453505/ade7e83a-5b31-11e6-87c4-fb8a96b5f076.png)

**Expected:** the indentation to be equal to 2 spaces.
**Results:**  the indentation is still equal to 4 spaces.

The _a

[2016-08-06 00:59] prettydiff commented on #1116
Would you mind generating a debug.md file and pasting it into a gist?  It could be a broken Atom Beautify setting related to a specific grammar, a setting not being passed to a beautifier used for a specific grammar, or a grammar that isn't completely recognized.

[2016-08-06 01:15] fthebaud commented on #1116
https://gist.github.com/anonymous/7e0e672eddc67e841295aae381491ce9

[2016-08-06 15:08] Glavin001 commented on #1072
Running `apm install atom-beautify` returns `Unable to locate package apm.`? If so, then this is an Atom/apm issue and please contact https://github.com/atom/apm

For the issue that `script/build-options.js` cannot be found, this is also an apm issue because that file SHOULD be downloaded and installed, however I do want to reduce places where Atom/apm can cause problems and the `build-options.js`

[2016-08-07 10:32] lambasoft opened #1117 "Doesn't work on a .php file that contains HTML code"
# Description

The results of beautification are not what I expect.
I'm running Atom on Linux.

My file has a php extension but contains HTML code.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.

[2016-08-07 17:01] mercmobily opened #1118 "More JS options for HTML files?"
# Description

I am developing in Polymer. Basically every file I edit is HTML -- they just so happen to be mostly full of Javascript. However, atom-beautify treats them as HTML files -- and they have therefore far fewer options than JS files. For example I would like to enable "End with Comma" etc.

Is there a way to have the (many!) extra options for HTML files containing Javascript as well?
# E

[2016-08-08 03:30] Glavin001 commented on #1118
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-08-08 03:40] mercmobily commented on #1118
I am a little confused by your request. I hope this makes it clearer!

[2016-08-08 10:14] devboxr commented on #722
@prettydiff @Glavin001
Vue.js is growing bigger and bigger, over 24k stars right now: https://github.com/vuejs/vue

It would be fantastic if you guys could make this work. Commercial editors such as PHPStorm and WebStorm already support this out of the box. It would be great if the Open Source community would catch up!

Cheers!

[2016-08-08 13:00] prettydiff commented on #722
@devboxr Please pass some vue code through http://prettydiff.com/?m=beautify

Please try your most complex code samples and really see if you can make the beautifier fail.  If the beautifier is already compatible with this we just need to make a configuration change to ensure language is added by name and file extension.

[2016-08-08 13:14] devboxr commented on #722
@prettydiff Hi Austin, thanks for this. I just tried it and while it complains about some attributes of HTML tags that are unknown to it, the output looks good! Tried it with some SCSS included (worked fine). What doesn't work is stuff like Jade templating inside vue, but I strongly doubt that this is something a lot of people do. Since the `vue-loader` goes a little above and beyond (meaning that

[2016-08-08 13:25] prettydiff commented on #722
In that case I will look at submitting a pull request later today to beautify Vue as a HTML dialect.  Do Vue files have a unique file extension?  If for example I see the file *myConfiguration.vue* I should expect to beautify it as HTML right?

Languages heavily based upon indentation for syntax (Jade, CoffeeScript, Sass, Elixir) are really hard to support.  Outside the official compiler almost no

[2016-08-08 13:27] devboxr commented on #722
That sounds great!

Vue files do indeed have a unique file extension (`.vue`) and all of them are structured like so:

[code]

I hope this helps!

[2016-08-08 22:42] seoker commented on #977
+1, it's *.js in my case.

[2016-08-09 01:55] nixgadget commented on #1018
@ttsirkia I cant seem to reproduce this issue anymore. I think we are ok to close it.

[2016-08-09 02:19] prettydiff commented on #1018
Awesome!  Thanks guys.

[2016-08-09 04:58] tortilaman opened #1122 "Beautify of .html and .twig files with twig tags (for craft cms) seem to ignore twig tags"
# Description

With craft cms your twig files are all saved as HTML, so when trying to solve this I saved as .twig just in case to see if that would fix the problem, but no luck. It seems that twig elements such as {{ }}, {# #}, {% %} are all placed inline and indentation is ignored. If it helps, I have it set to beautify on save.
# Expected Results

The beautified code should have looked like:

[

[2016-08-09 06:49] orangercat opened #1123 "issues in Django Templates"
# Description

when i use atom-beautify for Django Templates code

[code]

add space between `static ""`

[code]
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>
# Chec

[2016-08-09 11:03] prettydiff commented on #1122
Would you mind generating the debug.md file and pasting it to a gist?  It will help me to reproduce the problem.

[2016-08-09 11:05] prettydiff commented on #1123
I need you to generate Atom Beautify's debug.md file and paste it to a gist.  The defect is most likely in Pretty Diff and most likely related to the nested quotes... but I want to be certain.

[2016-08-09 12:36] mercmobily commented on #1118
I just wanted to make sure that you got all the info you need. I noticed that the waiting-for-user-information is still on -- hence my double-checking!

[2016-08-09 12:52] prettydiff commented on #1118
I think he just wants JavaScript options available to HTML grammars

[2016-08-09 17:49] tortilaman commented on #1122
Gist is [here](https://gist.github.com/anonymous/409f1b99bd5ab73fd35e1e92aff47df2). The original might not be exactly right because I can't undo to where it was, but this is pretty close.

[2016-08-09 19:06] prettydiff commented on #1122
This also exposed a defect in Pretty Diff and I just pushed a resolution to branch 2.1.3.

[2016-08-09 19:13] prettydiff commented on #1123
In the mean time you can immediately solve this problem by converting those two middle double quotes to single quotes.

[2016-08-09 19:16] tortilaman commented on #1122
Just for my own understanding, that's not the live branch, so as of now the issue is unresolved?

[2016-08-09 19:17] Glavin001 commented on #1118
`js-beautify`, a beautifier for HTML (and CSS), only supports a limited subset of options in comparison to JavaScript. See https://github.com/beautify-web/js-beautify#css--html

Of course, if Pretty Diff supports these missing options then they should be added.

It is important to note that these beautifiers, such as JS-Beautify, often only support a *single language*. HTML and JavaScript beautifi

[2016-08-09 19:23] prettydiff commented on #1123
I just enhanced Pretty Diff's markup parser to support this.  I would still like the debug.md file in case you are not using Pretty Diff as your beautifier.

[2016-08-09 19:36] prettydiff commented on #1118
The way I work this for Pretty Diff is that I have a single options object.  This object doesn't care whether you are beautifying, minifying, or using some other mode and it doesn't care what language you are using.  The options in that object either apply universally, are not used where they don't apply, or allow language specific values for user selective application.

The logic on this is fairl

[2016-08-09 19:40] prettydiff commented on #1122
@tortilaman That is correct.  I have not merged to master yet.  When I do Github should automatically close this issue.  Even when I merge to master the fix may not automatically appear in Atom Beautify.  I bailed out of NPM a few months ago and am currently writing an alternative automation deployment solution.

[2016-08-10 00:17] raj7desai opened #1126 "### Stack Trace Uncaught TypeError: Cannot read property 'setScrollTop' of null"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/2ba51f3caf83a29eec547acde098c3d3

# Checkl

[2016-08-10 02:58] orangercat commented on #1123
https://gist.github.com/anonymous/b093db8dd10a6b8d4cfa01801b3eea6f

HI  this  is debug.md thanks

[2016-08-10 10:50] prettydiff commented on #1123
Awesome.  Opening an issue with JSBeautify.

[2016-08-10 13:39] cdokolas commented on #1114
My case is that I'm using atom on windows and eslint airbnb rules (`eslint-config-airbnb-base`) which enforce LFs in javascript files. I've searched high and low for the right option/parameter/configuration, but beautification always switches EOLs to CRLF.

Maybe this is right because git will commit with LFs, and I should just disable the rule... I don't know.

[2016-08-10 13:55] Sebastian-D commented on #878
Hi again! I am no developer, but I have attempted to implement R. See the pull request.

I hope it works!

[2016-08-10 14:10] smlombardi opened #1129 "Throws error beautifying scss file that validates"
I have an [SCSS file](http://jmp.sh/JiZNt4I) that I got from a library online.  Stylelint validates it, and it compiles and works fine.  There's a section that trips up Beautify with the following error.  Admittedly, it's a complex piece of scss.

[code]

[2016-08-10 14:16] prettydiff commented on #1129
Could you please generate the debug.md file and paste it into a gist?  Pretty Diff is the default beautifier for SCSS, but Pretty Diff does not generate error messages like this.

[2016-08-10 14:29] smlombardi commented on #1129
The debug command does not put anything on the clipboard.

Atom 1.10.0 beta 4, OS 10.11.6

[2016-08-10 15:20] prettydiff commented on #1129
Which beautifier are you using?  I looked up Gonzales PE, which is a CSS parser, but I wasn't aware it was an option for CSS in Atom Beautify, *shows what I know ;)*.

[2016-08-10 16:10] smlombardi commented on #1129
Atom Beautify is set to use CSSComb.  I will switch it to PrettyDiff and see what happens.

[2016-08-10 16:11] #1129 closed

[2016-08-11 08:40] v4venureddyg opened #1130 "Cannot read property 'getView' of undefined"
I am trying to beautify my javascript but i am getting the error saying "Cannot read property 'getView' of undefined"

TypeError: Cannot read property 'getView' of undefined
    at getScrollTop (/Users/gagopal/.atom/packages/atom-beautify/src/beautify.coffee:31:29)
    at beautifyCompleted (/Users/gagopal/.atom/packages/atom-beautify/src/beautify.coffee:108:27)
    at tryCatcher (/Users/gagopal/.a

[2016-08-11 10:36] prettydiff commented on #1126
Related to https://github.com/Glavin001/atom-beautify/issues/977

[2016-08-11 10:37] prettydiff commented on #1130
https://github.com/Glavin001/atom-beautify/issues/977

[2016-08-12 03:46] weifeiyue commented on #722
I think We can do it like this : find the config from '.atom\packages\atom-beautify\src\languages\html.coffee' ,and and 'vue' to the extensions: [ "html"] , so atom-beautify can deal with it like html

[2016-08-12 18:37] kwokster10 commented on #336
Hi, I'm also getting this error. I restarted Atom and it's still occurring. Was there a fix for this?
<img width="926" alt="screen shot 2016-08-12 at 2 21 41 pm" src="https://cloud.githubusercontent.com/assets/11097983/17633223/3acb2146-609a-11e6-8137-ab3d6c05e288.png">

[2016-08-12 20:04] jdgomeza opened #1132 "Formated XML CDATA Contains extra space"
# Description

The results of beautification are not what I expect. There is a undesired space that is breaking my well-formed XML file.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code adds an undesired space between `<` and `![CDATA`
# Debug

Here is a l

[2016-08-12 20:06] jdgomeza commented on #1132
Forgot to mention it works fine with `Pretty Diff`. It only fails with `JS Beautify`

[2016-08-12 20:10] jdgomeza commented on #1132
Is this the right library? The issue here appears to be resolved.
https://github.com/beautify-web/js-beautify/issues/117

Thanks

[2016-08-12 22:56] prettydiff commented on #1132
@jdgomeza That is the correct library.  I recommend opening an issue with JSBeautify for their awareness.  They are wanting to support XML, but that support isn't there yet.  In the mean time I recommend changing your beautifier for XML to Pretty Diff.

[2016-08-12 22:59] prettydiff commented on #336
@kwokster10 Would you be able to provide any data or instructions that might help us to reproduce this issue?  It sounds like it might be a defect with Atom itself, but we don't have enough information to rule Atom Beautify out yet.

[2016-08-12 23:47] rwwagner90 commented on #1102
Confirmed to be lack of support for handlebars in JS Beautify

[2016-08-12 23:47] #1102 closed

[2016-08-13 16:37] sangdth commented on #1018
I have the same issue with @nixgadget. If I install `React` package, Atom said I can not use both `React` and `language-babel` due to some conflicts. Please suggest a way to solve.

[2016-08-14 13:02] mleko commented on #1130
Same for me
*.html files
Atom 1.9.8 @ OSX 10.11.6
atom-beautify 0.29.10

[2016-08-14 14:19] Samantha258 commented on #1045
“Long Path Tool” is very helpful for this error !
You can use to solve this problem

[2016-08-14 16:42] garretwilson commented on #1008
Since it's been over a week, let me just verify that I didn't yet again misunderstand you: are you waiting on me for anything before this bug fix is released?

[2016-08-15 18:57] OvermindDL1 commented on #280
@Glavin001 No it does not, instead it compresses most chunks of 'things' into a single line, which breaks the commands (most 'commands' in rst are lines that start with `.. ` then the command, along with newlines and the text for the rest of the command is shifted.  For example, where a code block in markdown would be:

The same thing in rst would be:

If you have a few of such `.. ` commands like

[2016-08-15 23:28] RainHeart257 opened #1137 "Text change to "Error: source does not appear to be markup.""
# Description

When I create a new simple HTML file:
[code]
and save it, the beautify package change the text to `Error: source does not appear to be markup.`

# Expected Results

I expected to don't change my code and show a alert instead

# Steps to Reproduce

1. Create a new empty HTML file
2. Add the code `Hello World!`
3. Save the file

# Checklist

- [x] I have tried uninstalling and reinsta

[2016-08-15 23:31] prettydiff commented on #1137
Pretty Diff defect.  Looking into it.

[2016-08-16 02:48] DerivcoHK commented on #1126
dead loop with js beautify on save ,
this error pop on closing the tab

[2016-08-16 06:28] jaakaappi opened #1138 "Beautifying duplicates part of code and appends it to the file"
# Description

Sometimes when I save and the plugin auto-beautifies, a part of the code from the end of the file gets duplicated and appended to the end of the file. So far this has only been observed in .js -files. Have a screenshot: [http://imgur.com/a/YNU3j](http://imgur.com/a/YNU3j) the selected line is the original end of file.
# Steps to Reproduce
1. Add Js code to Atom editor
2. Toggle beau

[2016-08-16 09:49] turigeza commented on #745
I get the same issue. Or it looks like similar. I am on a Mac. Latest version of everything.

The stack trace is below see if it helps. It happens to me on PHP files. Not on javascript.

`spawn ENOTDIR
Hide Stack Trace
Error: spawn ENOTDIR
    at exports._errnoException (util.js:890:11)
    at ChildProcess.spawn (internal/child_process.js:302:11)
    at exports.spawn (child_process.js:379:9)
    a

[2016-08-16 11:38] prettydiff commented on #1126
@DerivcoHK Those sound like two separate and unrelated defects.  Would you mind opening an issue for the JS Beautify loop on save?

[2016-08-16 12:37] prettydiff commented on #1137
The defect is valid and I can reproduce it.  It is fixed in later versions of Pretty Diff.  I really need to stop working on Pretty Diff and resume work on github.com/prettydiff/biddle so I can solve the distribution problem and get updates back into Atom Beautify.

[2016-08-16 14:40] jzelner opened #1139 "Language Request: R via Rfmt"
# Description

Would it be possible to add a beautifier for R using the very excellent Rfmt (https://github.com/google/rfmt). I have tried to do this on my own using the attached language definition and beautifier can't get it to find the beautifier I made for R, even after a reload and restart of atom, essentially by copying the gofmt language definition.

One suggestion is that this should proba

[2016-08-16 21:00] bitwiseman commented on #1138
@prettydiff - When I put this code into http://jsbeautifier.org/ it come out fine.  I'm not sure this is js-beautifier issue.

@jaakaappi - Could you include the actual original code in this bug instead of just the `debug.md`.  It is unclear what the original input is.

Thanks!

[2016-08-16 21:08] prettydiff commented on #1138
@jaakaappi Could you please produce Atom Beautify's debug.md file and paste it into a gist at https://gist.github.com

[2016-08-16 21:59] bitwiseman commented on #1138
@prettydiff  - I think they did that: https://gist.github.com/anonymous/a0b622887b637e6ff368ab3a7617026b

The problem is I'm not sure it accurately shows the code's "before" state.

[2016-08-17 07:23] jaakaappi commented on #1138
`define(function(require) {
    'use strict';

    var $ = require('jquery');
    var _ = require('underscore');
    var Backbone = require('backbone');
    var template = require('');
    var ResourceParser = require('');
    var SelectActionView = require('');
    var state = require('');
    var bubbles = require('');
    var animator = require('');

    return Backbone.View.extend({

        e

[2016-08-17 11:02] prettydiff commented on #1138
I am having trouble reproducing.  I tried in both jsbeautifier.org and in Atom.  My Atom is out of date though, so I will try again later once everything is updated.

[2016-08-17 11:06] prettydiff commented on #1130
I found I can easily toggle this error on by using the code sample at https://github.com/Glavin001/atom-beautify/issues/1138#issuecomment-240333822

Notice the extra `});` at the bottom.  Adding that extra in caused the error for me.

[2016-08-17 12:16] rubencaro commented on #545
+1

[2016-08-17 12:17] rubencaro commented on #1040
This could be a duplicate of #545

[2016-08-17 12:31] #1040 closed

[2016-08-17 16:32] #722 closed

[2016-08-17 17:40] aidistan commented on #1088
There are lots of differences between SCSS and SASS. The former could be handled well with `csspretty.js` (used by prettydiff) while the latter could not.  Surely we should change the default beautifier of SASS.

@raky291 I have tried your example codes with CSScomb and everything works fine.

[2016-08-17 17:58] aidistan commented on #1088
@raky291 The same error was raised by CIs. I will have a look into it.

https://travis-ci.org/Glavin001/atom-beautify/jobs/153043688
https://ci.appveyor.com/project/Glavin001/atom-beautify/build/641

[2016-08-18 03:41] raky291 commented on #1088
Hi @aidistan the sass syntax don't use `{}` and `;` review the following lines of code:

https://travis-ci.org/Glavin001/atom-beautify/jobs/153043688#L898
https://ci.appveyor.com/project/Glavin001/atom-beautify/build/641#L501

[2016-08-18 03:47] aidistan commented on #1088
@raky291

Thanks for point out. I have updated test examples for SASS: https://github.com/Glavin001/atom-beautify/pull/1141/commits/e6bdb8a0f3aa9f3d676605bfbf7b5857e527f4bd

It turns out that `CSScomb` could not format SASS codes well either. I will try to use the official cli `sass-convert` instead.

[2016-08-18 04:08] phatpeth commented on #1072
For Ubuntu, I solved this problem by re-install Atom on the root path, which has usr and tmp folder

and then install atom-beautify here.

but on Windows 10, I still have no idea.

[2016-08-18 06:02] aidistan commented on #1088
My PR #1141 is ready for merge now. Hope it would help : )

[2016-08-18 06:21] raky291 commented on #1088
Thank you so much! :smiley:

[2016-08-18 08:12] theRichu opened #1142 "Broken Korean Character when Beautify sql(postgresql) file"
# Description

The results of beautification are not what I expect.
Broken Korean Character when Beautify sql(postgresql) file
# Expected Results

The beautified code should have looked like:

[code]

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: <IN

[2016-08-18 15:50] elliottregan commented on #977
I thought that it might be trying to add a new line, and take it away, based on what happens to my cursor. I do have `"end_with_newline": false` set in my .jsbeautifyrc file.

Also, when the error does happen, the last line gets removed. When it doesn't happen, the last line is there.

I can "fix" it by restarting Atom.

[2016-08-18 15:50] elliottregan commented on #1126
I thought that it might be trying to add a new line, and take it away, based on what happens to my cursor. I do have "end_with_newline": false set in my .jsbeautifyrc file.

Also, when the error does happen, the last line gets removed. When it doesn't happen, the last line is there.

I can "fix" it by restarting Atom.

[2016-08-19 11:47] seajean opened #1143 "JSX formating not work properly with .js extension"
# Description
if file extension is .js, and contains jsx,
after select the Beautify menu, the file will become something like this:
[code]
# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gi

[2016-08-19 11:58] seajean commented on #1143
I change the setting and it works fine now.

[2016-08-19 11:58] #1143 closed

[2016-08-19 17:55] amolbagde opened #1144 "Not able to install package"
I am getting below error while trying to install the package.

npm WARN engine typescript-formatter@2.3.0: wanted: {"node":">= 4.2.0"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN engine glob-expand@0.2.0: wanted: {"node":">0.10 <=5"} (current: {"node":"0.10.40","npm":"2.13.3"})
npm WARN deprecated minimatch@0.2.12: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
np

[2016-08-19 18:11] prettydiff commented on #1144
The error says Atom ships with an internal Node.js run time of version *0.10.40* but the typescript-formatter package now supports a minimum Node version of *4.2.0*.

I could implement TypeScript, Java, and maybe C# in Pretty Diff's JavaScript parser.  The only feature not currently supported are the angle brace type annotations.  I just wish I had more hours in the day.  Right now I am getting cr

[2016-08-20 21:31] tortilaman opened #1145 "Beautify on save never stops and crashes Atom."
# Description

Beautify won't stop running. It just keeps on changing things and the syntax lighting never even shows up. If I try to scroll it scrolls me to the bottom of the page again. I have it set to beautify on save. While I was in the process of writing this bug it kept trying to beautify and eventually crashed Atom.

# Expected Results

Beautify should just run on save.

# Steps to Reprodu

[2016-08-21 14:55] prettydiff commented on #725
I have resumed work towards TypeScript support in Pretty Diff.  I am 95% of the way there.  Only one last barrier.  The following TypeScript code breaks JSX support:

    return <any> previous + <any> current;

In JSX it would have to be:

    return <any> previous + </any> current;

I want to offer direct and native support for this, so I have to think through a resolution.  If you are aware of a

[2016-08-21 16:23] consultantRR commented on #645
+1 on the utility of adding HCL language support. It would be amazing,

[2016-08-21 20:15] kwokster10 commented on #336
@prettydiff This was happening when I tried to fire up the Beautify Editor from the Command Palette. This is a fresh install of Atom and the package. It's working now though. Thanks for the response!

[2016-08-22 11:49] carpogoryanin commented on #627
@prettydiff

There are some special syntax with @, for instance:
```@Html.Partial("some_file")```
http://www.w3schools.com/aspnet/razor_syntax.asp

Pretydiff.com broke this cshtml.
.cshtml language package exist https://github.com/demyte/language-cshtml package, may be it can help for beatify supporting?

[2016-08-22 12:34] prettydiff commented on #627
I could extend the HTML parser in Pretty Diff so that `@{` is treated as an open script tag and `}` is treated as the closing script tag.  We can also investigate adding the language-cshtml package.

[2016-08-22 12:47] carpogoryanin commented on #627
It would be great!
But `@{` and `}` enough, see example:
![screenshot_082216_034445_pm](https://cloud.githubusercontent.com/assets/2052214/17855090/5ae85c9a-687f-11e6-9dd2-a24b796dab3f.jpg)

[2016-08-22 16:55] amingilani opened #1147 "Beautify doesn't beautify when my Gemfile specifies ruby version"
# Description

When I specify a ruby version in my Gemfile, beautifier stops beautifying.

I'm using rvm and my Gemfile has the following line

[code]

Whenever I open terminal, i get the following message:

[code]

When I edit files Rubocop shows me the errors, and I can fix them manually, but when I try beautifying, it spins up, and does nothing.
# Expected Results

The code should have been bea

[2016-08-22 17:00] amingilani commented on #1147
Disregard the first `debug.md` gist, use this instead:
https://gist.github.com/ffdca00b244f48c8eb92600fa4dd6d99

This one was created with the `ruby '2.3.1'` line added in the Gemfile, the last one was created without it.

[2016-08-22 17:15] ArtworkAD commented on #448
👍 where is the html.coffee? would like to see this merged

[2016-08-22 19:42] Glavin001 commented on #448
@ArtworkAD : This is the `html.coffee` file: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/html.coffee#L17-L26

[2016-08-23 03:46] Mr-Binary opened #1148 "Bug when beautify .swig file"
# Description

Actually, the file has been pre-beautified.
And I have disabled both the `beautify on save` and `Disable Beautifing Language`
It will always beautify this file, and messy all the things which is very frustrated.
# Let me show you the original(without beautify) one first

[code]
# This is what happens when it finishes beautifying even I disallow that

[code]

This is minifying...not

[2016-08-23 05:40] sangdth opened #1149 "Beatify removes one bracket from Handlebars"
# Description

The results of beautification are not what I expect. After beautify, everything go fine, Atom Beautify just removes one bracket from Handlebars triple-stash, look at line `isAdminEditorCSS user`, it starts with 3 `{{{` but closes with only 2 `}}`:

[code]
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run c

[2016-08-23 10:37] prettydiff commented on #1149
I am having trouble reproducing the defect using either Pretty Diff or JS Beautify.  Both appear to be handling this correctly.  Although I am getting this unrelated defect that could be blocking beautification in Atom: https://github.com/Glavin001/atom-beautify/issues/1130

[2016-08-23 10:41] prettydiff commented on #1148
Would you mind producing the debug.md file and saving it into a gist?  I cannot reproduce this defect in Pretty Diff.  It looks like what I get when I use http://jsbeautifier.org/

It is not really minifying, but rather just collapsing the indentation between the template tags into a single space.  If it turns out to be a JS Beautify bug I will let that project know.

[2016-08-23 12:50] Mr-Binary commented on #1148
Hi, I'd love to, but to be honest, how to produce that debug.md....xD If I upload the original file, could it help?

[2016-08-23 13:09] prettydiff commented on #1148
https://github.com/Glavin001/atom-beautify/blob/0212f49c83a9eec9fd777bd0d8f3f98af9d5d5e9/docs/troubleshooting.md

[2016-08-23 13:22] Hekkaryk commented on #1055
.cshtml are ASP.NET Razor C# Views - a fixture of standard HTML and Asp.NET/Asp.NET Core C# elements.
All C# elements are marked with '@' symbol. It allows IIS/IIS Express to generate case specific .html documents.
Example of tag usage:
@using AppTest
@using AppTest.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHe

[2016-08-23 13:53] PolGuixe opened #1150 "More JSX options for formating"
@prettydiff I know that prettydiff have some options for JSX formatting but atom-beautiy exposes little of them.

When could we see a version of atom-beautify with all the options of PrettyDiff?

_Note: currently I am using [React's](https://atom.io/packages/react) reformatting options and it works quite well._

[2016-08-23 14:07] Mr-Binary commented on #1148
[https://gist.github.com/anonymous/c0dc03dd555d4afa26c227bc1c10ef5a](https://gist.github.com/anonymous/c0dc03dd555d4afa26c227bc1c10ef5a)

[https://gist.github.com/anonymous/a1f67c14b33fbcb752f2aabb68a04717](https://gist.github.com/anonymous/a1f67c14b33fbcb752f2aabb68a04717)

Sorry, first time, don't know the exact procedure, seems that it has already create a anonymous gist for me. Check the above

[2016-08-23 17:04] prettydiff commented on #1150
This request exposes limitations in both Pretty Diff and Atom Beautify.  There are other options open about how to expose more options to various languages/beautifiers.  It has taken me a year to figure out properly for Pretty Diff and there are additional challenges with Atom Beautify.  Here is what I have learned about options:

1. There needs to be a global definition for Options.
    a. That m

[2016-08-23 17:07] prettydiff commented on #1055
Thanks @Hekkaryk

There are four open issues to support ASP Razor, so I will consolidate them here https://github.com/Glavin001/atom-beautify/issues/612

[2016-08-23 17:07] #1055 closed

[2016-08-23 17:10] prettydiff commented on #612
A beautifier is suggested at https://github.com/Glavin001/atom-beautify/issues/627#issuecomment-241389756

A following comment demonstrates that Pretty Diff is insufficient without a few enhancements.

[2016-08-23 17:10] prettydiff commented on #627
Conslidating to https://github.com/Glavin001/atom-beautify/issues/612

[2016-08-23 17:10] #627 closed

[2016-08-23 17:12] prettydiff commented on #319
Although this is the original thread I am consolidating to https://github.com/Glavin001/atom-beautify/issues/612 as it a clean start requesting a language where that is not currently supported by present beautifiers.  A new beautifier is suggested, though.

[2016-08-23 17:12] #319 closed

[2016-08-23 19:17] Glavin001 commented on #1144
@prettydiff : I believe that is just a warning.

The true error is `npm ERR! atom-beautify@0.29.10 postinstall: node script/build-options.js`

@amolbagde please see duplicateissues: https://github.com/Glavin001/atom-beautify/search?q=postinstall+build-options&type=Issues&utf8=%E2%9C%93

[2016-08-23 19:17] #1144 closed

[2016-08-24 17:27] garretwilson commented on #1008
Um... @Glavin001 ? Anything stopping this from being published? Perhaps even a `0.29.1` release, since this is a bug fix?

[2016-08-24 19:02] Glavin001 commented on #1008
I'm waiting on some Pull Requests that are close to merging and also I've been away on family vacation for few weeks.  If the Pull Requests are not ready to merge by tonight when I'm home I will publish 👍 .

[2016-08-24 19:20] garretwilson commented on #1008
Great, thanks for the update! Don't rush your vacation---I was just checking in for a status. :smiley:

[2016-08-25 08:01] aidistan commented on #620
I like this idea and want to be part of this.

It's good if we can do this. But if not, I think it's okay to rename `atom-beautify` v1.x to something else, like `beautifier` (yeah, it isn't taken yet), and put the core package and other beautifier packages under AtomBeautifier, just like [AtomLinter](https://github.com/AtomLinter).

In addition, I think we should also support following features (a

[2016-08-25 08:38] cortopy commented on #47
Too bad. I love this package but I'm too worried about privacy. This feature should be clearly mentioned in the README file.

[2016-08-25 13:20] raphinesse commented on #620
@Glavin001 I see the biggest advantage in a leaner package itself. If users only install what they need, it will improve:

- Disk space usage
- Frequency of update prompts
- Update durations
- Startup performance
- And of course maintainability for both the users (settings etc.) and the developers (division of labor, separation of concerns, divide and conquer, blah blah...)

The current state of a

[2016-08-25 14:23] Glavin001 commented on #620
I hear you and it is currently my top priority. I have created a couple new projects:
- https://github.com/Glavin001/unibeautify
- https://github.com/Glavin001/unibeautify-cli

I will be completed rewriting Atom-Beautify as `Unibeautify` ([what do you think of the name?](https://github.com/Glavin001/unibeautify/issues/1) ) and hope to resolve ALL of these issues, including dynamic beautifiers ( #1

[2016-08-25 14:37] Glavin001 commented on #47
I am open to Pull Requests addressing concerns. However, at the current time I am unable to allocate time to this.

Applicable section of code: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/index.coffee#L212-L229

I would be happy to accept Pull Requests regarding:
- Improving README with more information
- Changing how analytics are tracked to ensure the user can said `ye

[2016-08-25 15:03] bonesoul commented on #1114
same here any ideas?

[2016-08-25 15:24] cortopy commented on #47
@Glavin001 the issue has to with the fact that Google has data about me which they and not you own. Anything that uses Google analytics faces this issue. Basically you're forcing users to submit data to a third party without them knowing or having consented to.

This borderline illegal in the EU. Also, in two years time, no data about European citizens can be stored in US servers, which is what's

[2016-08-25 16:41] Glavin001 commented on #47
Thank you for further explaining the issue. I definitely would like this resolved.
Please feel free to submit a Pull Request and I will review, merge, and publish it ASAP. If you have any questions about the source code, please let me know and I will be happy to help as much as I can. Thank you.

[2016-08-25 17:01] Glavin001 commented on #47
I have added a section to the top of the README: https://github.com/Glavin001/atom-beautify#important-notice-analytics
Please submit a Pull Request if you would like to improve the verbiage.

As said above, unfortunately I am unable to make the necessary changes (at this time) to Atom-Beautify such that there is an interface walking new users through the analytics and receiving confirmation. Googl

[2016-08-26 03:57] reyiyo opened #1155 "Add support for esformatter in javascript"
Will it be possible to add support for using esformatter to format javascript code?

[2016-08-26 04:03] Glavin001 commented on #1155
Pull Requests welcome!
See https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md#how-to-add-a-beautifier-for-a-language for details.

[2016-08-26 04:34] Glavin001 commented on #1086
Published to v0.29.11

[2016-08-26 04:35] Glavin001 commented on #1077
Published to v0.29.11

[2016-08-26 04:36] Glavin001 commented on #1008
Published to v0.29.11

[2016-08-26 04:39] Glavin001 commented on #1145
I recommend disabling beautify on save if it is causing you problems right now. The beautify on save feature has been improved many times in the hopes to resolve bugs and yet similar issues still arise. If you are able to figure out what is the cause, please submit a Pull Request.

Applicable code: https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L521-L567

Thank you!

[2016-08-26 05:05] garretwilson commented on #1008
Woo hoo! It works!!!! Thank you soooo much! One less irritation in my life...

[2016-08-26 07:13] derwaldgeist commented on #1114
Not sure why this was classified as an "enhancement". If the package overrides line-feeds unwantedly, IMHO this is a defect. I wouldn't mind if this wasn't limiting interchanging files between platforms substentially. Causes a lot of problems with diffing - and especially merging.

[2016-08-26 09:22] qianghaohao opened #1156 "apm install error"
gyp info it worked if it ends with ok
gyp info using node-gyp@3.4.0
gyp info using node@4.4.5 | win32 | ia32
gyp http GET https://atom.io/download/atom-shell/v0.37.8/node-v0.37.8.tar.gz
gyp http 200 https://atom.io/download/atom-shell/v0.37.8/node-v0.37.8.tar.gz
gyp http GET https://atom.io/download/atom-shell/v0.37.8/SHASUMS256.txt
gyp http GET https://atom.io/download/atom-shell/v0.37.8/node.lib

[2016-08-26 10:39] cortopy commented on #47
Thank you @Glavin001!! That was really quick and useful. Personally, I think that's all that's needed. User knows what's happening and can easily opt out/in. Very clear

[2016-08-26 10:40] prettydiff commented on #1156
This appears to be a distribution problem either with APM or your connection.  It does not appear to be related to Atom Beautify.

[2016-08-26 12:09] qwemaze opened #1157 "Weird behavior in presence of template literal"
Weird behavior in presence of template literal.

[code]

The beautified code should have looked like:

[code]

Here is a link to the `debug.md` Gist: https://gist.github.com/anonymous/d9766518dc9dceb14ea07fa3ee5c9a11

[2016-08-26 13:12] Glavin001 commented on #47
Excellent! I'm glad this works! I actually thought there was already mention of analytics in the README and that maybe it was too far down on the README, however it turns out that must have been a different project because there was not a note except in the [options documentation](https://github.com/Glavin001/atom-beautify/blob/master/docs/options.md#anonymous-analytics). Thank you for bringing th

[2016-08-26 13:12] Glavin001 commented on #1156
I recommend contacting https://github.com/atom/apm

[2016-08-26 13:12] #1156 closed

[2016-08-26 15:19] prettydiff commented on #1157
Just as an FYI only the whitespace not contained by the escape delimiters `${` and `}` must be preserved.  The contents of the escape delimiters should be beautified as normal JavaScript.

[2016-08-27 15:55] JamesCoyle opened #1158 "Issue when beautifying CSS"
Probably not the place to report this issue but it seems to happen with all three CSS Beautifiers.

This CSS

    .toolbar :first-child {
        display: none;
    }

should not be changed to this

    .toolbar:first-child {
        display: none;
    }

as those selectors are not equivalent. The first selects the first child element within `.toolbar` elements whereas the second selects any `.too

[2016-08-27 16:13] prettydiff commented on #1158
This is fine.  I will patch this into the next release of Pretty Diff and report this issue for the other two beautifiers.

[2016-08-27 16:20] JamesCoyle commented on #1158
Should be noted that is the case for all of the `:[first/last/nth]-child` and `:[first/last/nth]-of-type` selectors.

[2016-08-28 02:13] kevin-jj opened #1159 "can not beautify .rb file"
# Description

can not beautify .rb file using rubocop but manually can do it in command line using rubocop xxx.rb --auto-correct.

# Expected Results
To beautify the ruby code.

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/anonym

[2016-08-28 07:54] Hronom commented on #312
Any update?

[2016-08-28 14:49] #1088 closed

[2016-08-28 15:06] Glavin001 commented on #1159
Looks like an error occurred:
[code]

More specifically: `Could not find 'rubocop'`
Take a look at https://github.com/Glavin001/atom-beautify/issues/689 and https://github.com/Glavin001/atom-beautify/issues/548

[2016-08-28 16:55] 20zinnm opened #1160 "Beautify RiotJS Tags"
RiotJS's .tag worked well until this update. It looks like this (both on prettydiff and in Atom):

[code]

[2016-08-28 17:00] 20zinnm commented on #1160
This might be a prettydiff issue. Will post there.

[2016-08-28 17:12] 20zinnm commented on #1160
https://gist.github.com/anonymous/f6c56177ee3e2775453a35d2304d0b46 is the debug log, I fixed some HTML issues to.

[2016-08-28 19:23] prettydiff commented on #1160
The problem is the `<` in the `page<2` portion.  I need to add this to my unit tests.  This is likely a regression defect from enhanced support to JSP tags.

[2016-08-29 00:32] prettydiff commented on #1160
I am looking at the code sample provided in the debug.md.  I added `{` and `}` as attribute delimiters, but the result still doesn't look right.  I see a closing `</i>` tag, but I don't see its start tag.  Would you mind taking a look?  I put up the latest change at the following address

http://prettydiff.com/ignore/testlocation/?m=beautify

[2016-08-29 00:33] 20zinnm commented on #1160
@prettydiff I had the opening tag, but when I "beautified" it the tags got messed up. I must've forgotten to put it back.

[2016-08-29 00:36] 20zinnm commented on #1160
That site, @prettydiff, didn't have an option for Riot tags and presumed it to be XML.

[2016-08-29 01:47] lehug commented on #1097
in new version 1.9,it works,Thanks

[2016-08-29 01:47] #1097 closed

[2016-08-29 01:56] prettydiff commented on #1160
Yeah, don't worry about that.  Pretty Diff only has three parsers and only differentiates just enough to pick the right parser.  All other language options are just there in the case of syntax conflicts (if any).  In this case RiotJS only appears to conflict with JSX format, but I can distinguish between these two languages without additional configuration.

[2016-08-29 04:52] kevin-jj commented on #1159
migrating RVM to Rbenv fixs this issue.

Your have to get rubocop gem installed in the rvm global path to solve this issue if using RVM.

[2016-08-29 07:11] HawkingChan opened #1161 "w"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/3a53ceb2937ebe07c2f18aeb3ecb78d7

# Checkl

[2016-08-29 11:27] prettydiff commented on #1161
Could you be more specific as to the nature of the problem?

[2016-08-29 11:51] qwemaze commented on #1157
There's actually two things:
- extra indentation fore some reason at ```switch``` (it appears to happen only with JS Beautify)
- not beautified contents of ```${ }``` (applies for JS Beautify and Prettydiff)

[2016-08-29 12:30] achimbode commented on #1018
Me too. And it is really annoying, because it also inserts whitespaces between tags - leading to lots of "validateDOMNesting(...): #text cannot appear as a child of <tr>" (or tbody, etc.) warnings...

[2016-08-29 12:45] prettydiff commented on #1157
Pretty Diff appears to be beautifying code within the escape delimiters.  If you mean to have the extra spaces padding the `(` and `)` or `{` and `}` characters try Pretty Diff's *bracepadding* option.

[2016-08-29 12:55] qwemaze commented on #1157
Looks like PrettyDiff's spaces in paren not supported in atom-beautify
![](https://i.gyazo.com/0f59dc8bd916f8fd1e124a035e4b5232.png)

And if I use Pretty Diff as default beautifier it does this
[code]
All ```\n```'s and indentation inside template literals removed.

[2016-08-29 15:14] prettydiff commented on #1157
When I look at the original code sample I see two new lines in the template literal:

* The first before `Object.keys`
* The second after `.join(';')`

The first one is clearly within a template literal escape (immediately before `encodeURIComponent`) so there is no reason to preserve this white space as a part of the template literal unless there is a beautification rule about preserving as part

[2016-08-29 16:22] achimbode commented on #1018
Hi all,

thanks for reopening this. To make it easier to track this down (or point me to a simple config solution) I'll provide some additional information:

Problem: **Both beautyfiers (i.e. JS Beautify and Pretty Diff) insert whitespaces inside the tags as well as between tags - at least the second of which is obviously not tolerated by react.**

I have difficulties to believe that I am only the

[2016-08-29 17:34] bitwiseman commented on #1138
@prettydiff - so, this issue is not a jsbeautify issue, right?

[2016-08-29 17:51] prettydiff commented on #1138
@bitwiseman Let's presume its not a JSBeautify issue.  Once I can reproduce the problem then I will investigate further and reopen the JSBeautify issue if necessary.

[2016-08-29 18:14] bitwiseman commented on #1018
@achimbode
When I put your code into http://jsbeautifier.org/ (with `Support e4x/jsx syntax` checked), I get well-formatted output.
When I uncheck `Support e4x/jsx syntax`, I get the broken output you showed above.

Have you set enabled e4x/jsx support in JSBeautify in atom-beautify?

[2016-08-30 01:16] Glavin001 commented on #1161
This issue will be reopened once more useful information is provided. Thank you.

[2016-08-30 01:16] #1161 closed

[2016-08-30 01:35] Sinejov opened #1162 "addon apparently works, but does not write the php file"
# Description

addon apparently works, but does not write the file
# Expected Results

The beautified code should have looked like:
whitout spaces and with {} fixed (?)
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>
# Checklist
- [yes ] I

[2016-08-30 02:13] RomarioLopezC commented on #545
+1

[2016-08-30 05:48] #1159 closed

[2016-08-30 10:39] garygreen opened #1163 "Beautifying a file doesn't update atom's tab setting"
For example if you beautify a PHP file that was originally detected to use tabs and beautified it to PSR-2, Atom would still show as using tabs. Even once the file is saved, it's still using tabs. If you re-open the file, it will correctly detect it as using spaces.

The atom-beautify package should somehow tell atom that the file should now be formatted in 4 spaces, but it's not....

PS - I'm usi

[2016-08-30 11:23] ttsirkia commented on #1018
I'm still unable to reproduce this problem. Here is my debug gist:
https://gist.github.com/anonymous/2603a6bbe2ef96f1d42cd099e3effb09

[2016-08-30 11:31] ttsirkia commented on #1018
Make sure that correct language is set to the editor before using atom-beautify (Ctrl+Shift+L -> JavaScript (JSX))

[2016-08-30 12:16] achimbode commented on #1018
Hi all,
I am not really sure what it was, but it works now.
Thank you so much for your help!

@bitwiseman: could not find this in the Packages > atom-beautify settings - neither in atom-beautify > JavaScript settings nor in atom-beautify > JSX.

@ttsirkia Ctrl+Shift+L only had Babel ES6 JavaScript on offer, which was apparently selected by the Auto Detect mode.

I tried to find what actually cause

[2016-08-30 12:34] prettydiff commented on #1018
The problem is most likely related to setting the language to `Babel ES6 JavaScript` opposed to `JSX`.

[2016-08-30 14:44] OvermindDL1 commented on #545
Also looking for elixir support.  For note the vim plugin `vim-elixir` has support for reformatting elixir source, it can be used as an example implementation.

[2016-08-30 21:07] Glavin001 commented on #1163
Atom-Beautify intends to beautify/format the code based on the styles configured, such as via `.jsbeautifyrc` file, etc. This is useful for projects with multiple files that should all have clean code that looks the same. It does not detect any style settings from the current file and instead enforces the configuration set for the entire project.

[2016-08-30 21:19] garygreen commented on #1163
I think you possibly misinterpret the problem. Try to install the tab control package and then beautify an existing project from tabs to spaces, or vice versa - it will still show as using tabs/spaces until you close / open the file again.

[2016-08-30 21:39] Glavin001 commented on #1163
The problem is that [Tab Control](https://atom.io/packages/tab-control) does not update the status indicator to tabs/spaces after Atom-Beautify correctly beautifiers the code to tabs/spaces?

![image](https://cloud.githubusercontent.com/assets/1885333/18108094/1bbfa786-6ee1-11e6-99cf-c1b0f4dcc017.png)

[2016-08-31 02:21] nemchik commented on #333
Possibly https://danspowershellstuff.blogspot.com/2012/03/powershell-pretty-printer-code-cleaner.html ?

[2016-08-31 02:22] nemchik commented on #901
Just posted a possibility in https://github.com/Glavin001/atom-beautify/issues/333

[2016-08-31 02:36] Glavin001 commented on #1162
From your logs there is an error:

[code]

Your current configuration is:

[code]

I recommend you change your value for `level` from `PSR-2` and look at https://github.com/FriendsOfPHP/PHP-CS-Fixer for more options.

There is an issue that errors are currently being ignored for PHP-CS-Fixer: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/php-cs-fixer.coffee#L45
I think thi

[2016-08-31 08:27] phaibin commented on #1143
@seajean I meet the same issue. What change has you made?

[2016-08-31 14:04] dryaner commented on #1114
I have the same problem I need that all the files be enforce to LFs and when I use atom beautify change to CRLF....It's very frustrating. I have the eol to \n and its not working.

[2016-08-31 15:04] garygreen commented on #1163
@Glavin001 that's correct. Maybe it's a problem with the tab control package itself? Is beautify updating atom's tab setting when it beautify s the document?

[2016-08-31 16:22] Glavin001 commented on #1163
That is a [Tab Control](https://atom.io/packages/tab-control) issue. 😉

[2016-08-31 16:22] #1163 closed

[2016-08-31 16:24] Glavin001 commented on #1114
Could everyone please post their `debug.md` Gist so I could help debug this. Thank you.

[2016-08-31 16:40] mkermani144 opened #1164 "Support for ES6 destructuring"
It seems `atom-beautify` doesn't support ES6 destructuring:
Before applying `atom-beautify`:
[code]
After applying `atom-beautify`:
[code]
Any idea?

[2016-08-31 17:46] nsklyarov opened #1165 "Why Beatify JSX crashed?"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/09cbf5ad714732e0ebd9c6f0bc8cc074
# Checklist
-

[2016-08-31 18:58] prettydiff commented on #1165
In the code sample from the gist class CitySelect appears to be missing a closing curly brace.  I entered the code sample into the web tools for Pretty Diff and JSBeautify and neither crashed.  I would have to attempt to reproduce later in Atom using the inspector.

Adding @bitwiseman in case he is aware of anything.

[2016-08-31 19:00] prettydiff commented on #1164
What beautifier are you using?  It appears to work correctly with Pretty Diff but not JSBeautify.

@bitwiseman alerted for his awareness.

[2016-08-31 19:50] bitwiseman commented on #1165
I'm not aware of anything, but it looks like the "expected output" above looks like e4x is not turned on.

[2016-08-31 20:18] bitwiseman commented on #1158
@JamesCoyle @prettydiff - Please upgrade  to js-beautify@1.6.4.  This is fixed there.

[2016-08-31 20:24] bitwiseman commented on #1164
@mkermani144
If you try `brace-style=collapse-preserve-inline` you should get better behavior.
Just to make sure I understand, the beautified output you show still works, right? It just isn't what you expect.

[2016-08-31 20:43] prettydiff commented on #1158
@JamesCoyle You can get the latest dependencies by reinstalling Atom Beautify.  `apm install atom-beautify`

[2016-08-31 20:43] #1158 closed

[2016-09-01 02:52] seajean commented on #1143
@phaibin  go to the package setting and find the javascript column,  change the default beautifier to  Pretty Diff

[2016-09-01 03:00] phaibin commented on #1143
@seajean I works! Thanks!

[2016-09-01 07:31] mkermani144 commented on #1164
@bitwiseman Yeah, it works but it isn't what I want.

[2016-09-01 07:50] mkermani144 commented on #1164
@prettydiff Yes, Pretty Diff works for me.
@bitwiseman Using `brace-style=collapse-preserve-inline` works too.
So the issue is resolved.

[2016-09-01 07:50] #1164 closed

[2016-09-01 15:46] unamoralez commented on #1165
I got what it was. This happens when i try beatify * .js file containing syntax *.jsx

[2016-09-01 17:04] RocketSumit commented on #91
I just installed uncrustify using home-brew in`/usr/local/Cellar/uncrustify/0.63:` and it worked for me in mac. Use `brew install Uncrustify`.

[2016-09-01 17:53] Sobpek opened #1166 "atom-beautify"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/1ff3fb241230a18aba33659c424fd523

# Checkl

[2016-09-01 18:10] dryaner commented on #1114
here it's the debug.md from an example
https://gist.github.com/anonymous/a55fdc272657e21cce6d3461eab5b697

[2016-09-01 18:19] jasonivers opened #1167 "ERB - do/end should have inner code indented"
# Description

code inside do/end (<% do %> <% end %>) should be indented.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/d0a31ccd2bc9bd02b5a1230e49fd01b0
# Chec

[2016-09-01 18:20] jasonivers opened #1168 "ERB Beautify does not indent inside <% if %> and <% end %>"
# Description

When beautifying ERB files, indents inside <% if %> and <% end %> are removed.

This code should have the middle line indented:

[code]
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

https://gist.github.com/an

[2016-09-01 18:27] jasonivers opened #1169 "ERB - <%= %> tag should not break to a new line"
# Description

When beautifying an ERB file, the <%= %> tags should not break to a new line.
# Expected Results

The beautified code should have looked like:

[code]

[2016-09-01 19:01] prettydiff commented on #1166
Thank you for the debug.md file.  Could you be more specific in describing the problem?

[2016-09-01 21:00] Sinejov commented on #1162
I try levels PSR-0, PSR-1, PSR2 And synfony but nothing work...

PSR-0 : https://gist.github.com/anonymous/5b69d13f69076ae7724ceee349f5e4d4
PSR-1: https://gist.github.com/anonymous/7a0da4f55abef3bf9cc19a46d86744cb
symfony: https://gist.github.com/anonymous/c50f4f510107149575c9a949f36745fd

All PSR levels not defined to me :(.

symfony is working on code, but dont write on my file, there is the res

[2016-09-01 21:58] Glavin001 commented on #1162
Unfortunately, I am not a PHP nor Synfony user. I recommend you ask for help over at https://github.com/FriendsOfPHP/PHP-CS-Fixer as they would be able to help you much better than I would. Best of luck! 😃

[2016-09-01 22:10] Sinejov commented on #1162
Thanks.

[2016-09-02 00:45] jfletcher-nuxeo opened #1170 "Content inside <template> element no longer formatted in release : 0.29.11"
# Description

The results of beautification are not what I expect.  Source:

[code]

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/94f9ebc281dd0ab6945b56e41

[2016-09-02 16:25] prettydiff commented on #1169
I am looking into this issue and I am not sure I understand the defect.  I believe you are wanting all white space between text and a `<%=` trimmed to a single space character, **but why**?  Is this breaking something?  Should white space between the `<%=` tag and following text also be trimmed to a single space?

Before I proceed with code changes I would like to understand the implications and r

[2016-09-02 17:02] emileber commented on #1106
This was merged and published to v0.29.11

[2016-09-02 17:02] #1106 closed

[2016-09-02 21:35] Glavin001 commented on #1106
Thanks, @emileber !

[2016-09-02 22:31] tomasbedrich commented on #994
This bug also affects `@include` inside a `@mixin`:

[code]

So I think the `@` character can cause this problem.

[2016-09-02 22:52] prettydiff commented on #994
The problem is that Atom Beautify is using the latest version of Pretty Diff available from NPM (v1.16.37) from late April.  I have since fixed this problem around 5 June.  I am working on an alternative to NPM and promised to dedicate time to working through my current technical hurdle this weekend.

[2016-09-03 01:21] frynio opened #1171 "Indent does not work as it should with Uncrustify beautifier"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right! (there are 2 TABS (size 4) instead of just one)
4. I've editted 3 files : .jsbeautifyrc in source file directory in %U

[2016-09-03 17:17] giorgioriccardi commented on #1171
I had the same problem until yesterday when Atom was x.09
Today with Atom x.10 I did uninstall Beautify and after re-installing it I left all the settings to default.
So far so good, but I did not yet enable on save option for js and json. If it won't work I'll update this comment.
Hope it helps

[2016-09-03 19:35] Frynio commented on #1171
Dunno, still doesn't work

[2016-09-04 02:25] Glavin001 commented on #1166
This issue can be reopened once more information is provided.

[2016-09-04 02:25] #1166 closed

[2016-09-04 04:30] Glavin001 opened #1174 "Migrate to Unibeautify as core"
See https://github.com/Unibeautify/unibeautify

[2016-09-04 04:31] Glavin001 commented on #716
Atom-Beautify will be completely rewritten in TypeScript. Work has started: https://github.com/Unibeautify/unibeautify

[2016-09-04 04:31] #716 closed

[2016-09-04 04:33] Glavin001 commented on #664
This is possible as of moments ago: https://github.com/Unibeautify/unibeautify-cli
I have currently only implemented `Pretty Diff` beautifier: https://github.com/Unibeautify/beautifier-prettydiff
More to come! Please provide your feedback in Issues of the new repositories!

[2016-09-04 04:33] #664 closed

[2016-09-04 04:38] Glavin001 commented on #620
I have created the first beautifier for Unibeautify: https://github.com/Unibeautify/beautifier-prettydiff
It uses @prettydiff 's beautifier. Many more to come. I will be porting all of the existing Atom-Beautify beautifiers over to Unibeautify.
Each new beautifier (e.g. `beautifier-prettydiff`) will be able to support the following without changes:
- Atom ( https://github.com/Glavin001/atom-beauti

[2016-09-04 10:41] fmatosic commented on #634
+1 for built-in Slim support!

[2016-09-04 15:33] Glavin001 commented on #634
Please note that +1s do not help this feature become reality. Atom-Beautify requires a third-party beautifier to exist and be integrated into Atom-Beautify for use.

With that in mind, how you can turn this feature request into a feature is by:
1) finding a beautifier that works
2) submitting a Pull Request to Atom-Beautify such that you can use it

As noted, `pug-beautify` may work. I recommend t

[2016-09-04 15:36] vinaykumar2491 commented on #772
On Linux distributions use command line to install 'uncrustify' using apt-get, yum etc....
For eg.: In Ubuntu, run following command:
`sudo apt-get update` (optional)
`sdo apt-get install uncrustify`

[2016-09-05 02:48] Glavin001 commented on #457
I'm working on this feature for Unibeautify: https://github.com/Unibeautify/unibeautify/issues/4

Atom-Beautify will eventually be migrated over to Unibeautify, and therefore support this feature. See #1174.

[2016-09-05 02:54] Glavin001 commented on #1041
This will be supported by Unibeautify: https://github.com/Unibeautify/unibeautify/issues/4
Atom-Beautify will be migrating to Unibeautify in the near future ( #1174 ) and therefore support this feature.

[2016-09-05 02:54] #1041 closed

[2016-09-05 02:57] Glavin001 commented on #620
Closing this issue as Unibeautify will address it and Atom-Beautify will be migrating to Unibeautify in the near future: #1174

[2016-09-05 02:57] #620 closed

[2016-09-05 02:58] Glavin001 commented on #320
Atom-Beautify will be migrating to Unibeautify ( #1174 ) which will support beautifiers that are separated from the core ( #620 ) and therefore dramatically reducing file size and installation time. No more unwanted beautifiers! Only install what you need.

I am closing this issue in favour of following #1174 .

[2016-09-05 02:58] #320 closed

[2016-09-05 03:07] Glavin001 commented on #286
Moved to https://github.com/Unibeautify/unibeautify-options-importer/issues/2

Atom-Beautify will be migrating to using Unibeautify: #1174

[2016-09-05 03:07] #286 closed

[2016-09-05 09:52] MAYDAY1993 opened #1175 "beautify on save .vue file not work"
I just set preferences in atom-beautify about beautify on save ,and it worked fine with single html and js files,but when I run into Vue to check the beautify on save and change a .vue file and save it ,it didn't work !I'm wondering why,what's wrong with my settings?
the following is my setting
![image](https://cloud.githubusercontent.com/assets/14831051/18244199/5f43b592-7391-11e6-9fd4-8c1065e69f

[2016-09-05 10:31] manhhailua opened #1176 "JSX inline style error"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Real result

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>
# Checklist
- [x] I have trie

[2016-09-05 11:46] prettydiff commented on #1176
Would you mind creating Atom Beautify's debug.md file and pasting it into a gist?  I am not sure which beautifier you are using.

https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-05 19:28] l3ender commented on #27
This would be fantastic 👍

[2016-09-05 21:21] lee-dohm opened #1179 "Respect the new `core.telemetryConsent` configuration option"
# Description

In Atom v1.11.0-beta0 a new Telemetry Consent system was introduced. The user's decision is stored at `core.telemetryConsent`. The three possible values are `undecided`, `no` and `limited`. The intent is that consent is given **if and only if** `limited` is chosen. The atom-beautify package should respect this decision also.
# Expected Results

When `core.telemetryConsent` is set to

[2016-09-06 01:04] Glavin001 commented on #1179
Glad to see this built-in to Atom! If someone does not submit a Pull Request by this upcoming weekend, I'll implement it and publish a release. Thanks for letting me know!

[2016-09-06 01:08] Glavin001 commented on #47
Please subscribe to https://github.com/Glavin001/atom-beautify/issues/1179 for further updates. Atom-Beautify will be using Atom's `core.telemetryConsent` configuration option soon!

[2016-09-06 09:18] Akryum opened #1180 "[Vue Beautifier] Add preserve inline in braces option"
# Description

This new `brace_style` option should not add new lines in inlined attributes in objects, juste like it does for JavaScript (especially in imports).

Currently, we get:

[code]
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look ri

[2016-09-06 15:17] prettydiff commented on #1180
Could you please generate Atom Beautify's debug.md file?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-06 15:21] Akryum commented on #1180
https://gist.github.com/anonymous/f532f7ed37cfc10ec58a9b1b4e115328

[2016-09-06 20:06] emileber commented on #1114
My colleague was having the problem with the same project I was working on and we're both on windows 10. This project is forced to `lf` via a `.gitattributes` file.

The culprit was the [line-ending-selector](https://atom.io/packages/line-ending-selector) core package `Default line ending` option which was set to `OS default` on my colleague's computer.

[2016-09-07 03:17] manhhailua commented on #1176
My bad! Here it is!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/6b06def8f46cf3c504b7070a5b21c0c1

[2016-09-07 04:43] ccqgithub commented on #992
👍

[2016-09-07 19:26] phumberdroz commented on #924
@Glavin001 I think this issue can be closed.. For me it is working perfectly fine.

[2016-09-07 19:26] #924 closed

[2016-09-08 05:35] Mohammadaasim99 opened #1181 "Uncaught TypeError: Cannot read property 'setScrollTop' of null"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/2758c7700d3d34b8bfa4bfc576f24bfd

# Checkl

[2016-09-08 07:42] MAYDAY1993 commented on #1181
I came up with the same problem

[2016-09-08 09:09] MAYDAY1993 opened #1182 "in .vue file style lang="scss"Error: Source sample is missing"
I new a vue file and type 'template'->tab
![image](https://cloud.githubusercontent.com/assets/14831051/18343563/727bde76-75e6-11e6-989a-66bded645cea.png)
because I use scss  ,so I tried to change like this:
![image](https://cloud.githubusercontent.com/assets/14831051/18343598/9c3454b4-75e6-11e6-9d7b-68a4333dbd4b.png)
ok  changed it .
and I save the file use command+s,it turns out to be:
![image](h

[2016-09-08 10:47] prettydiff commented on #1182
Pretty Diff error.  I am working on a resolution.

[2016-09-08 10:57] prettydiff commented on #1182
I am having trouble reproducing would you mind producing the debug.md file for me?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-08 15:01] Ancisuce opened #1183 "Debug issue #1"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/5263b517e20d42642ab3832df4aa89e8

# Checkl

[2016-09-08 17:23] CraneJen commented on #1181
I came up with the same problem too

[2016-09-08 18:34] prettydiff commented on #1183
Would you mind describing the problem in more detail?

[2016-09-09 06:35] Moriarty02 commented on #1181
I came up with the same problem too

[2016-09-09 06:40] Mohammadaasim99 opened #1184 "Mohammed"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>

# Checklist

- [ ] I have tried uninstalling a

[2016-09-09 07:56] wyudong commented on #209
It must restart Atom to let custom `configPath` to take effect.

[2016-09-09 12:56] prettydiff commented on #1184
Closing as this does not appear to be a valid suggestion or bug report.

[2016-09-09 12:56] #1184 closed

[2016-09-09 16:09] alexkilla commented on #347
in OS X, just run pip install sqlparse.

[2016-09-09 16:36] cainaf commented on #1181
I came up with the same problem too

[2016-09-10 01:30] Glavin001 commented on #1181
Applicable line of code: https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L35

I will accept Pull Requests resolving this issue. Thanks!

[2016-09-10 01:34] Glavin001 commented on #209
@DanielJoyce : The current implementation caches `.csscomb.json` and would require reloading Atom to clear cache: https://github.com/Glavin001/atom-beautify/pull/623/files#diff-da1ec4e677f98ecd91454c8d30ff68eaR33
Using `.csscomb.cson` does not appear to cache and should work without reloading: https://github.com/Glavin001/atom-beautify/pull/623/files#diff-da1ec4e677f98ecd91454c8d30ff68eaR31
Please

[2016-09-10 14:09] gandm commented on #1018
@prettydiff I did a pull request https://github.com/Glavin001/atom-beautify/pull/1068 that adds my [language-babel](https://atom.io/packages/language-babel) grammar `Babel ES6 JavaScript` to the list of supported grammars but decided to remove the PR as my package also supports es2015, es2016, ESNext, JSX and Flow. I'm not sure if any beautifiers support this range of syntax. I could add the PR ba

[2016-09-10 14:40] Glavin001 commented on #1018
@prettydiff's beautifier and JS-Beautify likely support most, if not all of those already. The only thing missing would be mapping the language grammars for Atom to the appropriate language in Atom-Beautify. I'd recommend adding es2015, es2016, ESNext grammars to JavaScript language file in Atom-Beautify and JSX grammar to JSX language, if it is missing. I'm not sure about Flow, however.

[2016-09-10 16:42] JamesCoyle opened #1185 "Does nothing to incomplete HTML"
It seems that any HTML files without the html or body tags do not get beautified. It would be nice if they were appropriately indented regardless of whether they are fully formed HTML documents or not.

[2016-09-10 18:37] Glavin001 commented on #1185
Please follow the issue template provided. More specifically, adding a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-09-10 18:38] Glavin001 commented on #1185
/cc @prettydiff in case the beautifier being used is Pretty Diff.

[2016-09-10 19:16] JamesCoyle commented on #1185
Ah I just realized I'm using a `.php` file (out of habit) which is why the indentation isn't working.

[2016-09-10 19:16] #1185 closed

[2016-09-10 19:31] JamesCoyle commented on #1185
Why doesn't the html in PHP files get beautified?

[2016-09-10 19:59] Glavin001 commented on #1185
The PHP beautifiers don't appear to support HTML and then the HTML beautifiers don't support PHP.
Related issues:
- https://github.com/Glavin001/atom-beautify/issues/484
- https://github.com/Glavin001/atom-beautify/issues/457#issuecomment-162086934
- https://github.com/Unibeautify/unibeautify/issues/4

I am working on rewriting Atom-Beautify using a new core library, [Unibeautify](https://github.c

[2016-09-10 20:15] JamesCoyle commented on #1185
Could you not just run the HTML beautifier after the PHP one? I doubt I've exhaustively tried every eventuality but from my testing it seems to work well enough. The php tags should just be treated as a normal HTML tag from what I can see. An option in the PHP settings to also trigger a HTML beautification would be awesome.

Glad to hear it's being worked on though.

[2016-09-11 01:32] Glavin001 commented on #1185
Yeah I described the wrong feature 😜. There is one new feature for running a list of beautifiers (such as PHP then HTML or two different JavaScript beautifiers, etc) and another more complex feature for languages like Vue ( #722 ) that will detect different pieces as different languages and apply the appropriate beautifier. Regardless, languages such as PHP should be seeing an improvement in futur

[2016-09-11 07:34] ClancyA commented on #772
Hi, still having problems with this on my mac. Can someone please go through a step by step process?
Thanks

[2016-09-11 11:42] prettydiff commented on #1018
Is there an official link for flow?  When I search for this I only see a static data type checker.

[2016-09-11 11:45] prettydiff commented on #1185
@JamesCoyle I recently extended the js parser in Pretty Diff to support C#, Java, and TypeScript.  It is not currently on my agenda, but I could also extended it to support PHP.

[2016-09-11 12:08] gandm commented on #1018
@prettydiff  Yes flow is Facebook's open sourced it static type checker that adds new syntax to JavaScript in a way that is similar to Typescript. You presumably found the doc, but the syntax definitions start [here](https://flowtype.org/docs/quick-reference.html#primitives).

[2016-09-11 15:24] Glavin001 commented on #772
@ClancyA I'd recommend installing [`homebrew`](http://brew.sh/) and then running [`brew install uncrustify`, which is what Travis CI does to install Uncrustify](https://github.com/Glavin001/atom-beautify/blob/master/.travis.yml#L100).

[2016-09-11 18:23] julmot commented on #36
What is the preferred workaround in the meantime (for years)? Manually beautifying isn't really an option with many files.

[2016-09-11 18:55] Glavin001 commented on #36
@julmot : you could edit the `menus/atom-beautify.cson` file and uncomment the `Beautify Directory` command: https://github.com/Glavin001/atom-beautify/commit/f4b29167f1fc37e4c4f838a1ef75bc9eae2c6e6d
I believe Atom packages are installed in `~/.atom/packages` directory. So look for for a file with a possible path of `~/.atom/packages/atom-beautify/menus/atom-beautify.cson` and after you edit the f

[2016-09-11 19:39] Glavin001 commented on #36
Actually the preferred workaround is not a workaround and instead that someone submits a Pull Request to Atom-Beautify resolving the problems outlined in #213 😄 . I need someone who wants this feature to exist and is willing to contribute to ensure it is developed and supported. I need your help and contribution.

I am currently focusing my after-work-and-after-school hours on #1174 which will pro

[2016-09-12 03:33] gychg opened #1188 "why did not to beautify PHP?"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/8b034214bf18ab50ad05e400755465c1
# Checklist
-

[2016-09-12 03:46] Rouryi opened #1189 "Parsing: D:\TEMP\hoge as language C ???: Unable to create D:: Permission denied (13)"
# Description

I can't use atom-beautify because Permission denied.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

When I do debug Atom beautify, there are nothing copied. sorry.
D:/ATOM/uncrustify.exe
D:/ATOM/uncrustify.cfg

[2016-09-12 03:53] prettydiff commented on #1018
@gandm I will be supporting Flow in the next release of Pretty Diff (2.1.10).  It is similar to TypeScript, which Pretty Diff recently opened support for.

[2016-09-12 08:23] gandm commented on #1018
@prettydiff Sounds good. One thing, flow files, unlike Typescript, do not use specific file extension, and will typically use `.jsx`, `.js` and `.flow`. I'm not sure if this makes a difference to how I need to define my grammar.

[2016-09-12 09:51] sybrenstuvel commented on #482
I just got this error:

[code]

using atom-beautify 0.29.11 on Atom 1.10.2, running on Kubuntu Linux 16.04.

[2016-09-12 09:56] sybrenstuvel opened #1190 "Support gohtml"
# Description

atom-beautify currently (I tried version doesn't support files with grammar "HTML (Go)" and extension "gohtml". It would be great if it did!
# Expected Results

Here is an example of such a file:

[code]
# Steps to Reproduce
1. Possibly use atom-beautify 0.29.11 on Atom 1.10.2, running on Kubuntu Linux 16.04. That's what I did, anyway.
2. Add code to Atom editor
3. Run command `Atom

[2016-09-12 11:07] prettydiff commented on #1190
Where can I find documentation for this?  I need to know the difference between these:

    {{- end -}}
    {{- end}}
    {{end -}}
    {{end}}

[2016-09-12 22:38] astanciu opened #1191 "Where to set Pretty Diff options?"
I'm using the JSX PrettyDiff formatter, which per their docs, have a lot more options that can be set, such as `formatObject`. I cannot figure out where to set these extra options though.

I tried .jsbeautifyrc and .prettydiffrc but didn't seem to take.

[2016-09-13 01:27] Glavin001 commented on #1191
Pretty Diff is growing all of the time. Currently Atom-Beautify supports many of the options and is missing others: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/prettydiff.coffee#L10
If the option you want is unavailable, I recommend submitting a Pull Request to add support for it! I'd recommend taking a look at https://github.com/Glavin001/atom-beautify/blob/master/docs/

[2016-09-13 01:54] Glavin001 commented on #1191
I'm going to close this as a duplicate of https://github.com/Glavin001/atom-beautify/issues/524 which details other Pretty Diff beautifier options that need to be added.

[2016-09-13 01:54] #1191 closed

[2016-09-13 05:23] astanciu commented on #524
@prettydiff

Any docs that show where to put this file? you mention:

...but this is confusing in the context of Atom. Unless it's only meant to work as a cli tool

[2016-09-13 10:46] prettydiff commented on #524
@astanciu Just put everything in the .jsbeautifyrc file.  Atom Beautify consolidates all options into that one file.

[2016-09-13 11:55] astanciu commented on #524
I tried that, didn't work for some options. See:
#1191

[2016-09-13 14:40] Glavin001 commented on #524
@prettydiff : The current Pretty Diff beautifier within Atom-Beautify will only apply the options that are explicitly supported: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/prettydiff.coffee#L10-L43

[2016-09-14 07:36] patforna opened #1192 "Unable to Beautify Ruby files"
# Description

The results of beautification are not what I expect for **Ruby** files:

Although I can see the beautification pop up appear, when I run the `Atom Beautify: Beautify Editor` command, the contents of the file do not change.

Also, I can beautify other files (e.g. HTML) but can't get it to work with Ruby files (using Rubocop).

# Expected Results

The beautified code should have looke

[2016-09-14 08:20] patforna commented on #1192
Managed to solve this. The problem was that I was trying to use the rubocop gem that I had installed via rvm.

In the end, I just installed rubocop on the system ruby:

[code]

[2016-09-14 08:20] #1192 closed

[2016-09-14 13:33] cortopy commented on #802
@prettydiff Brace style options do not seem to have any effect with Pretty Diff. Was this fixed?

[2016-09-14 15:31] prettydiff commented on #802
Should be fixed.  The comment above says it was fixed with version 1.16.15 and Atom Beautify uses version 1.16.17.

[2016-09-14 15:40] xucaen commented on #394
So it would seem that everyone here has resolved the issues on Linux. But what about Windows? Today, I installed Atom, I have php installed (xampp) and I installed both atom-beautify and php-cs-fixer.  Here is the error I get:

See https://github.com/FriendsOfPHP/PHP-CS-Fixer for program installation instructions.
You can configure Atom Beautify with the absolute path to 'php-cs-fixer.phar' by set

[2016-09-15 11:03] cortopy commented on #802
In that case I think there has been a regression either in Pretty Diff or Atom Beautify. Using Atom Beautify 0.29.11 and Pretty Diff, Brace Style settings have no effect at all

I've tried using "bracepadding" in `.jsbeautifyrc` but I don't think that setting is ever parsed

[2016-09-15 11:14] Glavin001 commented on #524
For anyone waiting on options, I recommend that you submit a Pull Request yourself. It is very simple. For example: https://github.com/Glavin001/atom-beautify/pull/1193
Thanks!

[2016-09-15 11:15] Glavin001 commented on #802
Correct, `bracepadding` option is not yet supported. Waiting on PR: https://github.com/Glavin001/atom-beautify/pull/1193
See https://github.com/Glavin001/atom-beautify/issues/1191#issuecomment-246546211 for some more info on this. #524 has a list of unsupported options, although there are likely more now.

[2016-09-15 14:34] ShreyanshLodha opened #1194 "PHP code not beautifying on Windows"
# Description

I am a windows user using your Beautify, works beautifully on all the languages but I recently started development in PHP and I downloaded PHP-CS-FIXER and also I have set the location in the settings.
It run and give no error, but it does not beautify the code
I tried using PHPCBF but nothing works.

Please help me out.

[code]

[2016-09-15 17:44] valdrinkoshi commented on #1170
A workaround to this is use Pretty Diff as Default Beautifier (Atom Settings -> Packages -> Atom Beautify -> HTML -> Default Beautifier)

[2016-09-15 23:40] Glavin001 commented on #1170
Pretty Diff for the win! Thanks for letting us know @valdrinkoshi.

[2016-09-15 23:40] #1170 closed

[2016-09-16 03:52] sunlubo opened #1196 "Cannot read property 'error' of undefined"
I'm trying to beautify my markdown but I get the error saying "Cannot read property 'error' of undefined"

'atom' version: 1.10.2
'atom-beautify' version: 0.29.12

Error Info:
Cannot read property 'error' of undefined
TypeError: Cannot read property 'error' of undefined
  at /Users/sun/.atom/packages/atom-beautify/src/beautifiers/remark.coffee:42:10
  at Promise._execute (/Users/sun/.atom/packages

[2016-09-16 09:08] qwemaze opened #1197 "PrettyDiff's space in paren (bracepadding) unexpected behavior"
# Description

Unexpected in _space_in_paren (bracepadding)_ is:
- a space in empty parentheses
- square brackets not being processed
- if contents contain line break it's not processed, which is supposed to be a thing according to Pretty Diff docs, but still seems kind of lame to me, correct me if there's something to it

# Expected Results

[code]
# Debug

Here is a link to the `debug.md` Gist:

[2016-09-16 09:22] luisa123456 commented on #954
Long Path tool can resolve error messages like: path too long, cannot delete file, too long path, destination path is too long, etc.

[2016-09-16 09:24] luisa123456 commented on #860
Long Path tool can resolve error messages like: path too long, cannot delete file, too long path, destination path is too long, etc.

[2016-09-16 09:25] luisa123456 commented on #239
Long Path tool can resolve error messages like: path too long, cannot delete file, too long path, destination path is too long, etc.

[2016-09-16 12:20] prettydiff commented on #1197
Could you provide me a code example for the third bullet point?  This will ensure I am following you.  I also found an additional defect.  For some reason the final router.use was not getting the padding in the latest version of Pretty Diff.

[2016-09-16 12:31] mcarpenterjr commented on #1171
@Frynio I had the same problem while working with jinja html templates for python. If you look in the lower right corner atom displays the detected language for the document open in the editor, atom was detecting the document to be written in HTML(Angular) when it's actual type was plain HTML. This was throwing off beautify and it was using what ever beautify's default tab settings were.

[2016-09-16 12:31] qwemaze commented on #1197
Thanks for quick response!

Sample for third bullet point:
before
[code]
after
[code]

[2016-09-16 12:33] prettydiff commented on #1197
Thanks, I will work on this today.

[2016-09-16 16:59] atomr-web commented on #1181
I came up with the same problem too

[2016-09-16 17:16] Glavin001 commented on #1181
tl;dl: Did you run beautify and close the TextEditor tab quickly after? This could occur if beautification is in progress and tries to set the scroll position after you have closed your TextEditor tab.

---

Looking at the applicable section of code found at https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L33-L35

[code]

The reason is likely because the TextEditor View

[2016-09-16 17:35] odahcam opened #1199 "Don't work with composer global instalation of php-cs-fixer"
# Description

Nothing happens.
# Expected Results

The code obviously should be beautified.

[code]
# Steps to Reproduce
1. Install `php-cs-fixer` on Windows with Composer: `composer global install friendsofphp/php-cs-fixer`
2. Add code to Atom editor
3. Run command `Atom Beautify: Beautify Editor`
4. This  code was not beautified.
# Debug

Here is a link to the `debug.md` Gist: https://gist.gith

[2016-09-17 06:28] PSNAppz opened #1200 "Beautify Not Working in Laravel"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/c174a24461ec772819c7dea161b298b2
# Checklist
-

[2016-09-17 17:31] prettydiff commented on #1200
Could you provide a brief description of the problem?  This will help us know what to look for.

[2016-09-17 18:16] hocine commented on #1190
thanks, @prettydiff !

{{- end }} trims whitespace to the left of the {{ end }}

the docs are here [0] [1]

[0] https://golang.org/pkg/text/template
[1] https://golang.org/pkg/html/template

[2016-09-17 18:34] greentornado opened #1201 "Crystal language indent not working, (being fixed to 2 space indent)"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/b627c42b500d91146d6d158f8ecff945
# Checklist
-

[2016-09-17 18:49] oschwald opened #1202 "Beautify selection as another language"
As far as I can tell, there is no way to currently beautify a selection of code in a specific language that is different than the file's language. My primary use case for this feature would be beautifying SQL that is embedded in string literals, although I imagine it could also be useful for beautifying other embedded code or markup.

[2016-09-17 21:02] VladymyrVr opened #1203 "s"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/017b12d87a73728b77587e914c67e7bf

# Checkl

[2016-09-18 03:28] prettydiff commented on #1203
Thanks for the debug.md file.  Would you mind quickly describing the problem?  It will help us know what to look for.

[2016-09-18 03:30] prettydiff commented on #1202
Could you also provide a tiny code sample?  It will give us something to test against.

[2016-09-18 04:13] PSNAppz commented on #1200
When I try beautify in a blade.php file it just shows he loading image and nothing is changed.

[2016-09-18 05:14] guzuomuse commented on #1199
+1

[2016-09-18 05:14] guzuomuse commented on #1194
+1

[2016-09-18 14:43] oschwald commented on #1202
Sure, here are two made up examples where I'd like to be able to beautify the SQL within the other code:

[code]

[code]

[2016-09-18 16:40] Terminl3nt commented on #1196
yes I also found this bug, when  I save my markdown file.  I use the Atom Material  Theme

[2016-09-18 16:47] mikewesthad commented on #1196
Ditto - this bug only happens for me when using Remark. Tidy Markdown still works (though I find Tidy's formatting to be hard to read).

I had to install the last version `apm install atom-beautify@0.29.11` to get Remark working again.

[2016-09-18 17:58] streamworksaudio opened #1204 "Beautify HTML within PHP"
Hi,

Thanks for this great package!

I was wondering, is it possible (or is planned) to select some HTML within a PHP file and beautify it using the HTML beautifiers?

Cheers

[2016-09-18 22:36] Glavin001 commented on #1203
Once we have more information this issue can be reopened. Thank you.

[2016-09-18 22:36] #1203 closed

[2016-09-19 02:35] adamboche commented on #1181
That is true in my case

[2016-09-19 03:36] aruhirin opened #1206 "."
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/d3574aa6fefe89db35dca69dc8917bb7
# Checklist
-

[2016-09-19 05:01] alexlur commented on #1206
Would you mind describing the problem in more detail?

[2016-09-19 13:38] prettydiff commented on #1202
Perhaps a right click option *Beautify As...* that open a list of grammars.

[2016-09-19 18:42] Ancisuce commented on #1183
Sorry, my English level is low. So I don't remember how did & why did I send this issue to here. Can you close it?

[2016-09-19 19:07] prettydiff commented on #1183
Yes, thank you.

[2016-09-19 19:07] #1183 closed

[2016-09-19 19:14] geoffatcircle commented on #841
Tried installing on a Mac with Atom 1.10.2 and atom-beautify 0.29.12 will not ever finish installing.

[2016-09-20 05:14] aruhirin commented on #1206
Installing “emmet@2.4.3” failed.
help me plz.
[http://imgdb.kr/akdM](url)

[2016-09-20 09:02] prettydiff commented on #1206
It seems there are defects in the code sample that will interfere with beautification.  Consider this part from the code sample:

    2008년 9월 18일에 <미아>라는 하이브리드 팝이라는

The `<` and `>` should be encoded because `<미아>` looks like a tag.  Instead try: `&lt;미아&gt;`

[2016-09-20 09:20] ChrisSargent opened #1208 "Lost Ability to use CSSComb for .sass files"
It seems since the last update I can no longer select CSSComb for .sass files? But I can select it for .scss / .less / .css files.

If I change the config file manually with `default_beautifier: "CSScomb"` it gets deleted as soon as I start Atom.

[2016-09-20 09:20] prettydiff commented on #1206
Here is the code sample corrected: https://gist.github.com/prettydiff/9e640ad19cab23d8d4f4e801a2c010cf

[2016-09-20 09:39] ChrisSargent commented on #1208
Looks like this was maybe removed because of it not working correctly. Apparently the Sassconvert is much more reliable for sass files. And I've installed a separate CSSComb package for sorting. It's true I use to have some issues when running this on Sass files and it would corrupt some of the indents etc, which is hard to debug, and it didn't work for longer selectors.

[2016-09-20 09:52] prettydiff commented on #1208
Is there a change to the current settings you would recommend?

[2016-09-20 10:19] heruan opened #1209 "SQL beautify error"
Just installed `atom-beautify` 0.29.12 on Atom 1.10.2, restarted Atom and trying to beautify this SQL query: `select * from MyTable` but it fails and shows an empty red error box (see image).

![screen shot 2016-09-20 at 12 14 08](https://cloud.githubusercontent.com/assets/851745/18666441/30482628-7f2c-11e6-9b84-2537d9e4c048.png)

If I use `sqlformat` from a terminal, it works:
[code]

[2016-09-20 10:20] biffen opened #1210 "Detect C++14 as C++"
# Description

The [language-cpp14](https://atom.io/packages/language-cpp14) package provides a grammar called ‘C++14’. When a C++ header file is open and set to C++14, running the beautifier causes Uncrustify to assume the file is C, rather than C++. Uncrustify then often fails because there are non-C things in the file.

# Expected Results

A file set to C++14 results in Uncrustify treating it a

[2016-09-20 10:30] ChrisSargent commented on #1208
By the looks of it, I think the issues are in csscomb rather than the beautifier. As far as a change goes, I guess it would be nice to still select csscomb for sass files because it's very handy, but with the caveat that it's not 100% reliable (and then I guess I'll open an issue with them and see if we can get to the bottom of it :-)).

[2016-09-20 10:38] prajankya commented on #1181
Me Too..

[2016-09-20 11:38] prettydiff commented on #1208
Awesome!  Thanks for contributing.

[2016-09-20 11:38] #1208 closed

[2016-09-20 11:40] prettydiff commented on #1209
Could you do us a huge favor and generate the debug.md file?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-20 14:46] heruan commented on #1209
I've tried, after I select `Atom Beautify: Help Debug Editor` from the command palette Atom shows this message:

I click *Okay* but nothing happens (empty clipboard).

[2016-09-20 15:00] Glavin001 commented on #1209
It should create a Gist. There were issues that the Atom clipboard does not work sometimes so I commented that out ( https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L476 ) and switched to creating the Gist automatically and providing a message with the link.

An unexpected error may have occurred. Would you be able to try again with the JavaScript Developer Console open

[2016-09-20 15:04] Glavin001 commented on #1208
For those interested, CSSComd support could be added again by submitting a Pull Request reverting some of the changes made by https://github.com/Glavin001/atom-beautify/pull/1141

[2016-09-20 15:15] prettydiff commented on #1210
@biffen I opened a bug with the uncrustify project.  I am not very familiar with uncrustify and they are asking for more information.  Would you mind hopping into https://github.com/uncrustify/uncrustify/issues/763#issuecomment-248305327 and responding?

[2016-09-20 15:22] Glavin001 commented on #1210
Please add a link to the required `debug.md` Gist which includes debugging information that answers our most commonly asked questions: https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md#how-to-create-debugmd-gist
Thank you.

[2016-09-20 15:23] heruan commented on #1209
There is an error on the console, indeed:
![screen shot 2016-09-20 at 17 22 42](https://cloud.githubusercontent.com/assets/851745/18676734/f1a71ea8-7f56-11e6-97c6-74ab6e157677.png)

[2016-09-20 15:25] Glavin001 commented on #1210
Based on your issue description what needs to be done is add the `C++14` grammar to the `C++` language within Atom-Beautify: https://github.com/Glavin001/atom-beautify/blob/master/src/languages/cpp.coffee#L10
However, the `debug.md` is required to confirm this.

If this is the issue then please submit a Pull Request changing the grammar list for `C++`. See https://github.com/Glavin001/atom-beautif

[2016-09-20 15:31] Glavin001 commented on #1209
Thanks! It looks like `text` or more likely `result` is not a string when https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L453 is executed.
This is likely also causing the strange error message with SQL as shown above.

I'll try to make the appropriate fixes tonight so you can send us a complete `debug.md`.
For now, I recommend you take a look at https://github.com/Glavi

[2016-09-20 16:51] wollardj commented on #1181
Saw the same. In my case I was able to reproduce the issue on demand by using split views.

1. open a file
2. create a split pane (View -> Panes -> Split *)
3. open that same file in the new pane
4. make some changes to the file
5. close one of the panes (in my case I'd closed the newest pane)
6. save your changes in your remaining pane / tab.
7. _you should be looking at the error at this step_

[2016-09-20 17:13] biffen commented on #1210
@prettydiff I respectfully disagree. This is simply what @Glavin001 mentions; adding the `C++14` grammar to atom-beautify.

@Glavin001 How do I create a `debug.md` (the template doesn't say)? And is it *really* necessary? You seem to have a solution already.

[2016-09-20 17:16] prettydiff commented on #1210
@biffen https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-20 17:43] uonick commented on #808
How to enable beautify for volt?

[2016-09-20 18:23] Glavin001 commented on #1210
Thanks @prettydiff . That is the correct link. It appears my GitHub saved reply is outdated.

In the future please include a `debug.md` Gist which will provide answers to common questions we ask. However, this sounds like a simple missing grammar for the `C++` language file within Atom-Beautify. You can submit a Pull Request after you confirm the recommended fix works for you. Thanks!

[2016-09-20 18:34] prettydiff commented on #808
@uonick Submit a pull request adding support for Volt.  Look to some of the language files as examples.  You are going to need to specify, at the minimum: file extensions, name, grammar.

Here are some examples:

* twig - https://github.com/Glavin001/atom-beautify/blob/master/src/languages/twig.coffee
* xml - https://github.com/Glavin001/atom-beautify/blob/master/src/languages/xml.coffee
* html -

[2016-09-21 12:22] CJBrew commented on #793
Hi
I don't see any errors. But Rubocop does literally /nothing/ in this context, other than complain at me through the linter (which I've turned off) about things that its formatter ought to fix.  I've set up the path to my gem etc.

In order to diagnose it, how can I see any output that Rubocop might make via this plugin?

[2016-09-21 14:00] Glavin001 commented on #793
@CJBrew : Create a `debug.md` Gist which includes debugging information that answers our most commonly asked questions. See https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist for details.
Thank you.

[2016-09-21 18:13] augaug commented on #194
I too apparently need to manually add this path to autopep8, I'm assuming to the config.cson, how do I do this?

[2016-09-22 04:46] itiut commented on #645
+1. `terraform fmt` command is added in [v0.6.15](https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md#0615-april-22-2016).

[2016-09-22 13:10] chevalierc opened #1213 "Extra characters created on JS code frequently"
# Description

I have been using this add on for a while. Occasionally it adds extra characters (usually closing brackets but occasionally whole words). It recently picked up. Changing from js-beautify to pretty-diff didn't stop the issues.

# Expected Results

The beautified code should have looked like:
[code]
but produces
[code]

and ocassionaly stuff like this:
[code]

# Steps to Reproduce

1.

[2016-09-22 14:16] prettydiff commented on #1213
Would you mind generating the debug.md file?  This really helps us to reproduce the problem so that we can direct targeted guidance to all concerned parties.  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-22 16:30] tahmina8765 opened #1215 "Support Embedded Elixir"
# Description

I need beautification support for Embedded Elixir, because is template for elixir which use markup same as html
# Expected Results

The beautified code should have looked like same as html
# Example Code

[code]

Link: [http://www.phoenixframework.org/docs/templates](http://www.phoenixframework.org/docs/templates)

[2016-09-22 16:38] Glavin001 commented on #1215
Could you provide some links to documentation and/or example code so we can test? Thank you,

[2016-09-22 17:20] chevalierc commented on #1213
https://gist.github.com/anonymous/ccd9cc18973fc63eee2ade737be9f631

here you go. Its a good one, where its more then just adding brackets. Took a bit to happen on a file that didn't have corporate info

[2016-09-22 18:07] dacodekid commented on #1181
This is happening to me when I close a `Split` screen as @wollardj pointed out.

[2016-09-22 18:57] tahmina8765 commented on #1215
I have added link and also example code now.

[2016-09-22 21:12] prettydiff commented on #1213
I am looking at this and I see extra characters at the bottom of the original code sample that don't appear related to the above code:

    module.exports = {
        create: create
    }
    e
    }

    }

[2016-09-22 21:15] prettydiff commented on #1215
@tahmina8765 Could you try submitting some of the Embedded Elixir code samples through http://prettydiff.com/?m=beautify

If that works for you then this becomes a very simple enhancement.

[2016-09-23 09:04] tahmina8765 commented on #1215
Yes, it works perfectly fine, except it shows an error on elixir syntax <%= %>

[2016-09-23 11:22] prettydiff commented on #1215
@tahmina8765 Could you be more specific or provide an example of code that fails?  I will get a fix published in the next version.

[2016-09-23 12:26] quilicicf commented on #580
+1, would be really helpful !

[2016-09-23 12:39] tahmina8765 commented on #1215
Please check attached image. It works perfectly fine, but shows some red cross in left side.

[embeded-elixer.jpg](http://postimg.org/image/xh4t7awh7/)

Thanks for quick response.

[2016-09-23 12:55] tahmina8765 commented on #1215
By the way, according to contributors doc, I tried to added this language in following repository -
https://github.com/tahmina8765/atom-beautify

I can not understand how to test it, I have run it in travis-ci, and there is 2 jobs failed but not for my code.

[2016-09-23 13:15] prettydiff commented on #1215
Adding a new language for use with an existing beautifier should be a matter of a simple configuration update, such as: https://github.com/Glavin001/atom-beautify/blob/master/docs/add-languages-and-beautifiers.md#how-to-add-a-language

You can see all the other language file settings as examples in: https://github.com/Glavin001/atom-beautify/tree/master/src/languages

But, if you are continuing to

[2016-09-23 14:01] samueloph commented on #451
Well, there's https://github.com/hermanbergwerf/bashbeautify
but i didn't tried yet, so somebody needs to see if that's good enough.

[2016-09-23 17:03] quilicicf commented on #451
I've had a try at this with beautysh, the PR is here.
If there's another beautifier to plug, I can get a look does anyone know if bashbeautify is OK ?

Beautifysh does not enable configuring indentation which is sad and from what I've seen in bashbeautify, it doesn't do it either.

Any other options ?

[2016-09-24 00:18] steventhanna commented on #1181
I don't know if this is related, but I get the same error only when I have `end_with_newline: false` in my js beautify. If I set it to `true`, the error disappears.

[2016-09-25 01:26] kabircse opened #1223 "What is the solution for ubuntu 16.04"
# Description

The results of beautification are not what I expect.
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!
# Debug

Here is a link to the `debug.md` Gist: <INSERT GIST HERE>
# Checklist
- [ ] I have tried uninstalling and rei

[2016-09-25 05:07] Glavin001 commented on #1223
Please follow the [issue template](https://github.com/Glavin001/atom-beautify/blob/master/ISSUE_TEMPLATE.md) provided. More specifically, [adding a link to the required `debug.md` Gist](https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md#how-to-create-debugmd-gist) which includes debugging information that answers our most commonly asked questions.
Thank you.

[2016-09-25 15:34] physcocode opened #1224 "Issue with Debug"
# Description
Atom Beautifier: Help Debug Editor does not output anything

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Help Debug Editor`
3. Nothing is displayed after clicking ok.

![screen shot 2016-09-25 at 9 41 04 pm](https://cloud.githubusercontent.com/assets/7591484/18816490/cf7e592a-8368-11e6-8507-eddc473d0d9d.png)

[2016-09-25 16:04] physcocode opened #1225 "php-cs-fixer not working"
# Description

shows php-cs-fixer error even though its installed properly
![screen shot 2016-09-25 at 9 20 48 pm](https://cloud.githubusercontent.com/assets/7591484/18816373/0cfd7a9a-8366-11e6-93bc-e5bea5bb2780.png)

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. Php-cs-fixer not found!
# Debug

Nothing is output/gist is form  on Atom Beautify:

[2016-09-25 16:28] cbcoutinho opened #1226 "Fortran beautifier automatically UPPERCASE - not required"
# Description

In the past, all Fortran source files were written in UPPERCASE, but ever since Fortran 90 this hasn't been required. Having a bunch of UPPERCASE keywords thrown around your sources can get unnecessarily noisy - is there a possibility of adding an opt-out feature to this?
# Example

Currently, beautified code would look like this:

[code]

However, having source in lower case is als

[2016-09-25 16:46] cbcoutinho commented on #1226
As a secondary question: how does the beautifier actually work? I'm interested in adding support for fixed-form Fortran source files as well (related issue #544) - it doesn't seem like a terribly difficult task.

Due to the fact that .f77 is such a different file type than .f90 and above, would two separate beautifiers need to be created, or can you specify based on the file extension within the s

[2016-09-25 17:42] janbernloehr commented on #1226
1. Yes we can do that by generating the Lisp config on the fly according to user settings.

2. I am pretty sure that f77 files are supported by emacs as well.

I am very busy at the moment but if you would like to create a PR, I will definitely have a look into it.

[2016-09-25 17:52] #1181 closed

[2016-09-25 18:28] cbcoutinho commented on #1226
I'm not sure where to start, but I would like to learn. Is there a beautifier that has this functionality that I could expand on?

[2016-09-25 18:32] janbernloehr commented on #1226
The current implementation is using emacs. To start I would run the emacs against your f77 files.

[2016-09-25 18:32] #1224 closed

[2016-09-25 18:34] Glavin001 commented on #1209
I'm fixed the issue ( https://github.com/Glavin001/atom-beautify/issues/1224 ). Published to v0.29.13.

Please provide us with your `debug.md` at your convenience.

[2016-09-25 18:35] Glavin001 commented on #1224
Published to v0.29.13.

[2016-09-25 18:37] Glavin001 commented on #1181
Published to v0.29.13.

[2016-09-25 18:37] physcocode commented on #1224
Thank you so much 😁

[2016-09-25 18:41] cbcoutinho commented on #1226
This is the command I am supposed to run?

I don't know where '.emacs-batch-f90-indent' is.

[2016-09-25 18:43] janbernloehr commented on #1226
You can find the file here: https://github.com/Glavin001/atom-beautify/tree/master/src/beautifiers/fortran-beautifier

[2016-09-25 18:58] physcocode commented on #1224
@Glavin001 debug is now working perfect

[2016-09-25 19:14] physcocode commented on #1225
@Glavin001 Debug File: https://gist.github.com/anonymous/2ebcad7854e30b8640d7a032262a45e4
The path seems correct ! whats the issue?

[2016-09-25 21:44] Glavin001 commented on #1225
It looks like `cs_fixer_path` is not used for Mac/Linux only Windows: https://github.com/Glavin001/atom-beautify/blob/master/src/beautifiers/php-cs-fixer.coffee#L66

[code]

For Mac/Linux it uses the `PATH` environment variable:

[code]

I recommend adding `/Users/pranjalp/.composer/vendor/bin/` to your `PATH` and it should work. If not, re-run Help Debug Editor again and we can see what the next

[2016-09-25 21:55] Glavin001 commented on #580
Waiting on Pull Request to be merged: https://github.com/Glavin001/atom-beautify/pull/1220

[2016-09-25 21:59] Glavin001 commented on #654
Sounds like a duplicate of #451.
FYI, waiting on Pull Request: https://github.com/Glavin001/atom-beautify/pull/1220

[2016-09-25 21:59] #654 closed

[2016-09-25 22:00] Glavin001 commented on #580
Sounds like a duplicate of #451.

[2016-09-25 22:00] #580 closed

[2016-09-25 22:01] Glavin001 commented on #451
Waiting on Pull Request: https://github.com/Glavin001/atom-beautify/pull/1220

Very close to merging and publishing new version!

[2016-09-25 22:24] bemeurer commented on #451
@quilicicf I can make the customizable indentation happen I think, give me a week and if my real analysis course hasn't killed me by then I'll post an update here. Shouldn't be difficult.

[2016-09-26 05:54] vmuriart commented on #1196
Same problem on both .12 and .13, reverting to 0.29.11 did the trick

[2016-09-26 07:19] phumberdroz commented on #536
I want to approach this one...

Do you already have an idea how to store them ?

[2016-09-26 07:38] physcocode commented on #1225
Manually adding PATH to the paths file fixed the issue . Hats off to your support @Glavin001
10/10 to this package ! Thank you :)

[2016-09-26 07:38] #1225 closed

[2016-09-26 07:39] quilicicf commented on #451
@bemeurer That'd be awesome. I'll integrate the option in atom if need be when you release it in beautysh.

Good luck for your analysis course.

[2016-09-26 08:43] heruan commented on #1209
https://gist.github.com/625d4de6bb03a448c033f7ff2e2fe7a9

[2016-09-26 12:33] wsvdyk opened #1228 "cannot find module 'event-module'"
# Description

after update I get the followinging error

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.10.2
**Electron Version**: 0.37.8
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [atom-beautify](https://github.com/Glavin001/atom-beautify) package, v0.29.13

### Stack Trace

Uncaught Error: Cannot find module 'event-kit'

[code]

### Commands

[code]

### Confi

[2016-09-26 12:44] Glavin001 commented on #1225
Awesome to hear, @physcocode! Let me know if you need anything else. Hopefully the next version of Atom-Beautify will be less prone to these kinds of errors 😃 .

[2016-09-26 14:30] Glavin001 commented on #536
Since the history should be small (maybe 1-3 entries?), I was thinking store the History simply in memory (JS variable).

Take the file path as a key and map that to an array of 3 strings for history. Push next history item on save and keep the array short (3 entries max?).

[code]

With respect to Atom-Beautify and Unibeautify, I think for now this can be implemented within Atom-Beautify (so user

[2016-09-26 14:33] Glavin001 commented on #536
I'm going to close this as `wontfix` with the expectation that *someone* may develop another package for Atom which fixes this UX issue 😄 . When (if) someone does develop such a package, please provide a link to it here with a comment and I can add it to the README to recommend users to take a look.

[2016-09-26 17:05] Glavin001 commented on #1228
Try reinstalling Atom-Beautify and reloading Atom, as this often solves problems like this.

[2016-09-26 17:44] phumberdroz commented on #536
I have to disagree since if I do beatification on a file path (e.g. Right click the file/path and beautify) it would not have an Undo to Beginn with.. I might be able to hack into the save function and copy the old file before. (Have to do some research on that).

At least that is why I need this feature asap.

[2016-09-26 18:14] wsvdyk commented on #1228
thx that fixed it.

[2016-09-26 18:31] Glavin001 commented on #1228
Awesome, glad to hear! Thanks for letting us know.

[2016-09-26 18:31] #1228 closed

[2016-09-26 18:39] Glavin001 commented on #536
Shoot! You are correct. Thank you for reminding me. Here is the applicable code: https://github.com/Glavin001/atom-beautify/blob/master/src/beautify.coffee#L227

So I do still think a package for Atom could (and should) exist to solve the problem of Atom's Undo History being lost, however that is not (yet) this issue here.

I haven't thought too much about this feature. What are your ideas on how

[2016-09-26 20:43] Glavin001 commented on #1209
Looks like something went wrong running `sqlformat` (see bottoms of "Logs" section):

[code]

Instead of `cat Query.sql | sqlformat` can you try using the same way Atom-Beautify does.

[code]

[2016-09-26 21:07] phumberdroz commented on #536
I would like to replicate the file structure on beautification with file system if project root exists I would but it in a folder .atom-beautify/path/to/file.date otherwise I would store it in the plugin Folder under history something then save it somehow in the settings to get all the old files .. not so sure yet.

I still have to do some research.

[2016-09-26 22:27] Glavin001 commented on #536
I think creating a backup copy within the date is a good idea. I recommend something like https://www.npmjs.com/package/tmp or https://github.com/bruce/node-temp for creating the directory though, so it eventually gets cleaned up.

[2016-09-27 00:32] bemeurer commented on #451
@quilicicf How are you calling beautysh? I just checked, this should be super easy to implement.

[2016-09-27 00:41] Glavin001 commented on #451
@bemeurer see https://github.com/Glavin001/atom-beautify/pull/1220/files#diff-9721522e67f5b74bbdc14c9ec12e7f33R13 for implementation.

[2016-09-27 00:44] bemeurer commented on #451
@Glavin001 Got it. Making this happen.

[2016-09-27 01:36] bemeurer commented on #451
@Glavin001 @quilicicf Done. There will be some small changes in documentation. To sum it up:

1. Beautysh no longer creates a backup file automatically, you need the `-b` flag for that
2. The files to be beautified must follow the `-f` flag, i.e `-f foo.sh bar.sh foobar.sh ...`
3. Setting indentation is available with the `-i` flag. Default is 4

I'm finishing the changes, and will pull to the pro

[2016-09-27 02:05] bemeurer commented on #451
Done. New docs are up and the new version should already be up and running on PyPI. Hope this adds the functionality as you guys wanted. https://pypi.python.org/pypi/beautysh/3.0

[2016-09-27 02:05] gychg opened #1229 "loop “for” have a problem for PHP"
original::

transform::

[2016-09-27 02:44] DrakeXiang opened #1230 "Wrong indentation with chained jquery ajax"
# Description

I use [atom-jquery-snippets](https://github.com/james2doyle/atom-jquery-snippets) for jquery, everything worked out fine except when beautifying the ajax snippet generated from it, the indentation of the first parenthesis should be on the same level with $.ajax
# Expected Results

The beautified code should have looked like:

[code]
# Steps to Reproduce
1. Install [atom-jquery-snipp

[2016-09-27 05:55] jason-engage commented on #1020
Seriously why doesn't this work out-of-the-box? PHP files tend to have lots of html embedded.

[2016-09-27 07:13] quilicicf commented on #451
Nice. I'll try to take the changes today and update the PR.
Thanks @bemeurer !

[2016-09-27 07:47] extremeshok commented on #451
Fantastic work guys

_________________ eXtremeSHOK.com _________________

[2016-09-27 09:30] heruan commented on #1209
Seems like my `sqlformat` does not accept any of these options, I suspect my `sqlformat` is not the same script Beautify needs. This is my output:
[code]

Which `sqlformat` do I need?

[2016-09-27 09:40] heruan commented on #1209
Using https://github.com/andialbrecht/sqlparse it started working. Thank you for your support!

[2016-09-27 09:40] #1209 closed

[2016-09-27 10:47] garystafford commented on #1196
I concur, both 0.29.12 and 0.29.13 threw the following error with Markdown, using Remark. Reverting to 0.29.11 fixed the issue. Thank you @mikewesthad and @vmuriart!

[code]

[2016-09-27 12:26] prettydiff commented on #1230
@bitwiseman  It looks like the OP was wanting the `data` object to be on a single line.

[2016-09-27 13:05] bitwiseman commented on #1230
@prettydiff
This is a duplicate of #847.

The settings included:
[code]

The actual output was:
[code]

If the settings included this instead:
[code]

It becomes clear this is the same as #847:
[code]

[2016-09-27 13:31] Glavin001 commented on #1020
@jason-engage : This is a question for https://github.com/FriendsOfPHP/PHP-CS-Fixer . I recommend asking it there.

[2016-09-27 13:35] Glavin001 commented on #1020
@kylerdmoore: I think https://github.com/Glavin001/atom-beautify/issues/457 will address this once it is ready.

Maybe https://github.com/Glavin001/atom-beautify/issues/27 is what you're looking for.

[2016-09-27 13:36] Glavin001 commented on #1020
I am going to close this as a duplicate because there are other issues which are aimed at solving this problem with PHP+HTML and similar issues. I recommend subscribing to those issues and providing any feedback you have. Thanks!

[2016-09-27 13:36] #1020 closed

[2016-09-27 13:39] Glavin001 commented on #1209
You're very welcome! I hope to add version detection to future Atom-Beautify so as to resolve this issues. Glad to hear it is working for you now!

[2016-09-27 13:42] Glavin001 commented on #1196
Hmm this may be because of https://github.com/Glavin001/atom-beautify/commit/ba0988068e302da9be4e3734c5a282df989818f9

If someone submits a Pull Request reverting to a version of Remark that they confirm works I will merge and publish. Thank you!

[2016-09-27 14:48] DrakeXiang commented on #1230
@prettydiff
@bitwiseman was right, my issue is not about the data object, sorry my English made you think that way. I believe this pic could show you what I meant.
![sample](https://cloud.githubusercontent.com/assets/2898841/18878704/2ca90266-8504-11e6-8231-c1ccf44ee9a9.jpg)

[2016-09-27 19:07] chevalierc commented on #1213
are you asking me about the above? It does that alot..
Here is another example I just got...
[code]

[2016-09-27 19:12] prettydiff commented on #1213
@chevalierc When I looked at the debug.md file the original code sample already had the extra characters at the bottom.  That source sample is code that exists before the beautification operation, which means the defect is elsewhere.

[2016-09-27 19:13] chevalierc commented on #1213
[code]

[2016-09-27 19:16] chevalierc commented on #1213
I'll create a new debug next time. I'm very confident it is from this package. I only have 2 3rd party packages installed on my two machines and the odd out package is different for each machine. Ill try disabling that package as well.

[2016-09-27 19:17] prettydiff commented on #1020
I should look at extending Pretty Diff's JavaScript parser to also support PHP.  I have a PHP issue in Pretty Diff to open parsing to third party (non-JavaScript/non-Node) libraries asynchronously.  Extending support to PHP would be a far easier solution than revising the architecture of the entire application even if it opens superior scaling benefits.

[2016-09-27 19:40] Glavin001 commented on #1213
I recommend creating a small snippet of code that can reproduce this issue, generating the `debug.md` Gist and sharing it here, and also temporarily disabling Atom-Beautify, reloading Atom, and see if that fixes it.
It likely is Atom-Beautify. If so, we need a clean `debug.md` Gist and then we can tackle this issue.
Although I say "we" but it will probably be @prettydiff 😜

[2016-09-27 20:04] prettydiff commented on #1229
This is likely a problem with the beautifier.  Could you please generate the debug.md file so that we can direct this problem to the correct people?  https://github.com/Glavin001/atom-beautify/blob/master/docs/troubleshooting.md

[2016-09-28 11:43] hzcfy opened #1231 "的"
# Description

The results of beautification are not what I expect.

# Expected Results

The beautified code should have looked like:

[code]

# Steps to Reproduce

1. Add code to Atom editor
2. Run command `Atom Beautify: Beautify Editor`
3. This beautified code does not look right!

# Debug

Here is a link to the `debug.md` Gist: https://gist.github.com/a2ccdaf3668005fc5252278ba1fd9408

# Checkl

[2016-09-28 12:11] prettydiff commented on #1231
I can see your provided debug.md file.  There is not a description of the problem, so I am guessing the problem is the excess indentation inside the class.  Alerting @bitwiseman

[2016-09-28 13:27] jpluimers commented on #563
https://github.com/Glavin001/atom-beautify/blob/master/CHANGELOG.md badly needs updating. It mentions v0.29.0 and we're at least at v0.29.13 by now according to https://github.com/Glavin001/atom-beautify/releases without a simple way of finding out what has changed in between.

[2016-09-28 13:58] chevalierc commented on #1213
First wanted to say I greatly appreciate your guys package. Has made writing code so much more enjoyable.

Did some debugging this morning. I was thinking maybe the NPM package `nodemon` was causing the issue but disabling it did not stop the symptoms.

Disabling beautify for an hour I didn't have an issues unfortunately. I usually have the issue pop up around 20 minutes to some times immediately

[2016-09-28 17:28] kolintar commented on #397
index.js:15 Unhandled promise rejection Promise with error: Error: Could not find 'sqlformat'. The program may not be installed.
    at Sqlformat.module.exports.Beautifier.commandNotFoundError (/home/eric/.atom/packages/atom-beautify/src/beautifiers/beautifier.coffee:204:14)
    at /home/eric/.atom/packages/atom-beautify/src/beautifiers/beautifier.coffee:304:22
    at tryCatcher (/home/eric/.atom/